<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/73/goa 4.jpg" data-lightbox="roadtrip" data-title="Our Zindagi na Milegi Dobara Moment - Scuba" id="pic1"><img src="../images/73/goa 4.jpg" id="pic1"></a><p>Our Zindagi na Milegi Dobara Moment - Scuba</p>
            
            </div><div class="pin">
            <a href="../images/73/goa1.jpg" data-lightbox="roadtrip" data-title="Our perfect sunset silhouette" id="pic2"><img src="../images/73/goa1.jpg" id="pic2"></a><p>Our perfect sunset silhouette</p>
            
            </div><div class="pin">
            <a href="../images/73/goa8.jpg" data-lightbox="roadtrip" data-title="The signboard at the airport says it all" id="pic3"><img src="../images/73/goa8.jpg" id="pic3"></a><p>The signboard at the airport says it all</p>
            
            </div><div class="pin">
            <a href="../images/73/goa2.jpg" data-lightbox="roadtrip" data-title="The making of sand sculpture - Arambol beach id="pic4"><img src="../images/73/goa2.jpg" id="pic4"></a><p>The making of sand sculpture - Arambol beach</p>
            
            </div><div class="pin">
            <a href="../images/73/goa3.jpg" data-lightbox="roadtrip" data-title="The most expensive and distasteful fish – Arambol beach" id="pic5"><img src="../images/73/goa3.jpg" id="pic5"></a><p>The most expensive and distasteful fish – Arambol beach</p>
            
            </div><div class="pin">
            <a href="../images/73/goa6.jpg" data-lightbox="roadtrip" data-title="On the road - Christmas festivities" id="pic6"><img src="../images/73/goa6.jpg" id="pic6"></a><p>On the road - Christmas festivities</p>
            
            </div><div class="pin">
            <a href="../images/73/goa 5.jpg" data-lightbox="roadtrip" data-title="St. Anthony’s Siolim Church" id="pic7"><img src="../images/73/goa 5.jpg" id="pic7"></a><p>St. Anthony’s Siolim Church</p>
            
            </div><div class="pin">
            <a href="../images/73/goa7.jpg" data-lightbox="roadtrip" data-title="Koi - Calanguate" id="pic8"><img src="../images/73/goa7.jpg" id="pic8"></a><p>Koi - Calanguate</p>
            
            </div>
                       
                    </section>
                    
                    
</div>