<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109044/opmkyce0v6h6m8ggtngo.jpg"> <h5 class="attraction-sub-heading"><b>Top Station</b></h5>Located at about 32 kms from Munnar, top station is the highest point in Munnar and also falls on Kerala-Tamil Nadu border. You get to enjoy the sweeping view of the Western Ghats and the valley of Theni. During monsoon, the place offers a dramatic view of cottony soft clouds ‘below’ you, just a touch away. The place is also famous for Neelakurinji, a flower that blooms only once in twelve years (next set to bloom in 2018). When it blooms, the once green hills turn blue, which is a stunning sight only a lucky few get to rejoice in.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109036/dcdcdid5lvpynt5jbjuo.jpg"><h5 class="attraction-sub-heading"><b>Kundala Dam</b></h5>Asia’s first arch dam is located 20 kms from Munnar on the way to the Top Station. Kundala is famous for the cherry blossoms that appear twice a year. The calm atmosphere of Kundala is complimented by the tea plantations, the Kundala Lake, the golf course that belongs to Tata Tea Foundation and the remains of the old Munnar railway station. The dam offers many pedal boats, row boats and Kashmiri shikkara boats for rental. Aruvikkara waterfall is also nearby.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109042/yw3wz7ga0rztwjwszajg.jpg"> <h5 class="attraction-sub-heading"><b>Echo Point</b></h5>
                   People stop by this point on the way to Kundala dam to experience the wonderful phenomenon of natural echo. Due to its location, it echoes back your own words to you if you shout at it. But it isn’t just the echo that makes it popular, the lush greenery and the sight from the point is an added bonus.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109046/l9twozwphr37kwnymr4t.jpg"><h5 class="attraction-sub-heading"><b>Mattuppetty</b></h5>Located just 13 kms from Munnar, on the way to top station is Mattuppetty, a place cradled by the rolling grasslands and tea plantations. It houses the Shola forests, ideal for trekking and bird-watching. The Mattuppetty lake and dam are also major attractions. Another must-visit is the one of a kind dairy farm run by the Indo-Swiss Livestock Project.

</li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109044/khahilyofgbbxcf0duso.jpg"><h5 class="attraction-sub-heading"><b>Meeshappulimala</b></h5> The second highest peak in Kerala, Meeshappulimala is a beautiful region preserved entirely in its original state. It is by far the best place for an adventure-seeking couple in Munnar. But be warned, the 25km 2-way trek is not for the weak hearted. You will encounter various hurdles along the way in the form of rugged terrain, forest passes, streams, ice cold lakes and tiny leaches. But if you are persistent enough to reach the top, you will be rewarded with a stunning view of the entire valley below and the tranquillity associated with only those untouched places of earth left undisturbed by mankind. Trekking can be arranged with the help of KFDC officials who may even accompany you on this adventure trail.
                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109043/eef16q7hvvguulzdgb2f.jpg"><h5 class="attraction-sub-heading"><b>Anayirankal Dam</b></h5> Located 22 kms away from Munnar, these waterholes are the favourite spots of elephants, looking to quench their thirst. Boating and rafting are also popular in this reservoir, surrounded by the green tea and cardamom plantations and evergreen forests.
                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109035/lukhyeumoyz3y5qhfzsw.jpg"><h5 class="attraction-sub-heading"><b>Eravikulam National Park</b></h5> One of the most popular destinations for tourists in Munnar, Eravikulam National Park is a topical broadleaf forest park spread across 97 square km, located just 15 kms from Munnar. It houses various endangered species of flora and fauna, among which the Nilgiri Tahr holds the most importance. Travellers can trek from the base into the deep hilly forest, to enjoy the mesmerizing view of the misty valley below and to occasionally spot the Nilgiri Tahr grazing the grasslands. Orchids are found in abundance, but the most awaited season is the year Neelakurinji blooms to cover the hills in a blue envelope. You can spot small to medium streams and waterfalls on the way up.(Nayamakkad waterfall is a popular destination).
                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109043/vgivkom3trlizopkj1hk.jpg"><h5 class="attraction-sub-heading"><b>Kanthalloor</b></h5> Nestled in the Western Ghats, the salubrious climate and picturesque landscape makes Kanthalloor a popular tourist destination, just 40kms from Munnar. With farms of apples, oranges, blueberries, plums, strawberries and peaches, Kanthalloor has become a major farm tourism destination of Kerala. The protected Anamudi Sholai National Park surrounds Kanthalloor.
                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="http://res.cloudinary.com/shopo/image/upload/v1454109043/aalrmg7bdg2jwuoavton.jpg"><h5 class="attraction-sub-heading"><b>Marayoor</b></h5> This small rain shadow village lies 40 kms to the north of Munnar, and is the only place in Kerala with natural growth of sandalwood tress. This pristine region is less explored by tourists compared to other attractions. A children’s park formed under the shade of a single banyan tree is another beautiful spot. Various waterfalls also exist in the region, major ones being Lakkam waterfalls and Thoovanam waterfalls.
                    
                </li>


</ul>
</div>