<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Munnar is beautiful all year round. But the best time to visit Munnar would be just after the monsoons, starting from October when the temperature falls to a cool 11 degrees. Nights are cooler with temperatures dropping below 0 degree sometimes. It starts to get warm around March, and the summer stretches until May. This is followed by monsoon. Although most people prefer not to travel during the months of June to September, there is a certain charisma associated with Munnar during the rains- the mist that covers the landscape, streams that happen to spring out of nowhere and the waterfalls that double in size.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                15-28 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>