<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/60/img_6040.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/60/img_6040.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/60/img_6054.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/60/img_6054.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/60/mahabaleswar-munnar1.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/60/mahabaleswar-munnar1.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/60/mahabaleswar-munnar.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/60/mahabaleswar-munnar.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/60/Cover.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/60/Cover.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/60/img_8461.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/60/img_8461.jpg" id="pic6"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>