<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        There is no airport in Munnar. The nearest one is the Cochin International Airport, 110 kilometres away. Hiring a cab from the airport to Munnar is the most comfortable option. In case you arrive at the Madurai International Airport, which is 140 kilometres away from Munnar, you can board the state transport/private buses to get to Munnar.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                       KSRTC provides bus services to Munnar from all the major cities in Kerala.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       The nearest railway station is Aluva, which is 110kms away. Other nearby stations are Ernakulum railway station (130kms) and Madurai railway station (135 kms). You can board direct buses run by the Kerala State Road Transport Corporation (KSRTC)/Tamil Nadu STC (TNSTC) from these points.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       The best way to travel to Munnar is by own vehicle. The journey to Munnar is as good as Munnar itself. You will be greeted with amazing scenery along the way, and will be able to move at your own leisure. The road is generally in good condition, except in some remote hilly areas, which can only be traversed by front axle jeeps.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>