<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="http://static.laterooms.com/hotelphotos/laterooms/203432/gallery/naturezone-munnar_240220101235225260.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Nature Zone Resort, Munnar</div>
                        
                        Cost : 7,500-10,000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
    </div>
                    
                    
                </div>