<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">Sometimes managing a full time job in IT can be very stressful. Some of the obvious reasons being late night calls, the pressure to meet release schedules etc. So, whenever we get an opportunity we just escape from the monotonous city life to some exotic place and spend our weekend doing nothing. So, our destination for the long weekend was Munnar because of its tea estates, lush greenery and its stunning vistas.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The drive from Bangalore to Munnar is about 460 KM, dotted by beautiful waterfalls, national parks and wind mills (You can read : Road Trip Diary &ndash; Bangalore To Munnar ). It took us around 8 hours to reach Munnar with multiple pit stops, but the drive was completely worth it because of the amazing road and the views it offered.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We booked our stay at Nature Zone Resort which offers Tree Houses and Tents as accommodation which are fully equipped with all necessities. Our first choice was a Tree house but it was completely sold out for the weekend so we ended up with valley view tent.</p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal"><strong>The Journey:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">By the time we reached at Munnar , it had started to rain heavily. To our surprise the GPS showed that we had reached our destination but the resort was nowhere in sight. When we called up the resort, we were told that there was a jeep waiting for us near the KSRTC bus stop, which would take us to the resort. It was almost a 6 K.M. ride on muddy humpy roads, we kept jumping and praying that we reach the resort safely. One helluva drive.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">While in the morning, when we had to be back to the town we were little skeptical to take the route again but instead of getting scared, we actually enjoyed our journey through the winding roads&nbsp; lush green tea estate, not a single soul around and scenic view all around as far as the eye can see.</p>
<br> <p><img class="center-align-full-row" src="../images/60/mahabaleswar-munnar1.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Welcome:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">As soon as we arrived at the resort we were offered a welcome drink, which was a special preparation of coffee local to the region. It had a hint of jaggery and cinnamon and it tasted awesome.</p>
<br> <p><img class="center-align" src="../images/60/img_6040.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Room:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">The tent was spacious and had an attached toilet with 24-hour supply of hot water. The view of the valley from the tent was breathtaking. One could hear the gurgling sound of the water flowing in the brook nearby. The tent had a double bed, a dresser and two side tables. There was also an intercom in the room. The rooms were little damp because of the fact that the resort gets covered with clouds most of times.</p>
<br> <p><img class="center-align" src="../images/60/mahabaleswar-munnar.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>The View:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">The resort is mostly for people who want to spend time with nature away from the maddening hustle and bustle of the city with ample of places for some quality photography and enjoying solitude and tranquility.</p>
<br> <p><img class="center-align-full-row" src="../images/60/img_8461.jpg"></p><br>

<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">The resort has a small library from where you can borrow a book and find your own little corner in the resort to read, we are sure the bibliophile in you would be definitely be interested in this. Our favorite corner was the hammock amidst the clouds and trees.</p>
<br> <p><img class="center-align-full-row" src="../images/60/Cover.jpg"></p><br>
<br> <p><img class="center-align" src="../images/60/img_6054.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Food:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">The resort being on top a hill, left a little scope to explore local delicacies other than the resort. The restaurant was small and the food was OK , nothing exceptional and less variety. The restaurant was a two- storied structure with the kitchen at the lower level. One could see the kitchen through the gaps between the wooden floors of the restaurant overlooking the entire valley. The view was surreal.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Notes:</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">- The bed was bit damp due to the onset of monsoon and there were lots of insects .</p>
<p class="MsoNormal">- There was no spa, which was a disappointment</p>
<p class="MsoNormal">- No bar at the resort, so you need to order at the reception</p>
<p class="MsoNormal">- Roads to the resorts were muddy and narrow which can be maintained by the resort. But they wanted it to keep it as close to nature as possible. Can&rsquo;t complain on that but still we won&rsquo;t recommend taking toddlers</p>
<p class="MsoNormal">- Choice of food were limited</p>
<p class="MsoNormal">- Network Connectivity is very poor.</p>
<p class="MsoNormal">- If you are planning to visit during monsoon, wear comfortable shoes as there would be lot of walking to be done and quite slippery too</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Do we recommend?</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal">DEPENDS on your interest if you want to escape to the lap of nature, go on nature trails and spend your weekend lazing around or indulge in adventure activities, then you might love the place.</p>

<p><b><i>This extract has been compiled by Swati & Sam. Please visit their blogpage to read the original extract <a href="http://thetalesofatraveler.com/2014/11/06/resort-review-nature-zone-resort-munnar/"> here</a></i></b></p>
<br>    

                    
                       
                    </div>