<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <h5 class="attraction-sub-heading"><b>Hop on to the "Travel Story" section to see all Attractions</b>                    
                </li>
</ul>
</div>