<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      The best time to visit Rajasthan is during winters. The weather is cool all through the day and night and might get chilly if you visit during Dec-Feb. It&acirc;&#128;&#153;s a great time to enjoy sight-seeing during the day and snuggle up cozily during the night. Even monsoon months (July-Sep) are great if you both enjoy the rains. You&acirc;&#128;&#153;d see the colorful cities of the state in their real form with waters reflecting the pinks and reds of the monuments. Summer in Rajasthan are hot and should be avoided.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                17-30 degree C
                <br>Humidity 45%
                    
            </div>        
                    </li>
        
        </ul>
        </div>