<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Trip to Rajasthan can be started off with the capital - Jaipur. Jaipur has an international airport with direct flights from a few cities in the Middle East. The airport is located around 10 Kms from the main city. However, connecting flights via Delhi are the most popular. Flights from other major cities in India are easily available to and from Jaipur.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses to Jaipur are easily available from  major Indian cities. Delhi is the most common boarding point for buses to Jaipur. Government state run buses from Rajasthan State Road Transport Corporation ply very frequently from Delhi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                    Jaipur has a well-connected railway network and is connected to mall major cities in India. Multiple options are available, especially from Delhi and other neighbouring cities. In fact, a special luxury train called &acirc;&#128;&#156;Palace on Wheels&acirc;&#128;&#157; runs especially between Delhi and Jaipur. Although its expensive, it&acirc;&#128;&#153;s worth it to take the same considering you&acirc;&#128;&#153;re travelling with your special someone.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      Drives to Jaipur from Delhi and other nearby cities are quite popular, especially in good weather. Jaipur is well connected through an established road network. Routes could be taken going via National Highways 8, 11 or 12, which connect straight to Jaipur. Lovely view of the Aravalis on the way would offer quite a ride!
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>