<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
<p class="MsoNormal"><strong>1. Amer Fort and Palace &ndash; Jaipur</strong></p>
<p class="MsoNormal">This is the most well maintained and beautiful palace in Rajasthan. Walking in the footsteps of Raja Man Singh who built this beauty in the 16th century takes you back in time. If you&rsquo;re a romantic, this palace and its stories will make you fall in love. The most beautiful feature of the palace is the Sheesh Mahal (mirror palace) where the walls and ceilings are intricately carved with designs of exotic flowers and patterns inlaid with beautiful mirrors. Legend says that the queen wanted to sleep under the stars, so to fulfill his queens wishes the king built this palace to replicate the starry night sky of Amer. Burn a candle in this room and the entire room lights up with the brilliance of a thousand stars. I would do anything to go back in time and be a queen for a night to sleep in this beautiful palace</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic1 edited.jpg"></p><br>

<p class="MsoNormal"><strong>2. City Palace &ndash; Udaipur</strong></p>
<p class="MsoNormal">City Palace situated on the banks of lake Pichola is the largest palace in Rajasthan. The balconies and terraces of this palace provide beautiful views of the lake and the city. What&rsquo;s intriguing about this palace is the fusion of the Mughal and Rajput architecture as it was built over a period of 400 years. Can you imagine the stories these walls hide within them?</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 2 edited.jpg"></p><br>

<p class="MsoNormal"><strong>3. Indulge in local flavors</strong></p>
<p class="MsoNormal">The food in Rajasthan is fit for the kings. The cuisine is primarily vegetarian and delicious. You have to try an authentic Rajasthani thali and binge on street treats like kachori, jalebi, imarthi, mathri and sip on hot piping kulhad ki chai (chai served in teracotta cups). Below are some traditional specialties and local favorites we recommend.</p>
<p class="MsoNormal"><strong><em>Recommendations and Tips</em></strong></p>
<p class="MsoNormal"><strong><em>Udaipur</em></strong></p>
<p class="MsoNormal">&ndash; Dal bhati Churma and traditional Rajasthani thali at Krishna Dining Hall</p>
<p class="MsoNormal">&ndash; Lunch/Dinner at Jagat Niwas hotel and restaurant for beautiful views of the lake, you will not regret it!</p>
<p class="MsoNormal"><strong><em>Kumbhalgarh</em></strong></p>
<p class="MsoNormal">&ndash; Dinner buffets at Club Mahindra Kumbhalgarh were divine, we highly recommend staying at this beautiful property.</p>
<p class="MsoNormal"><strong><em>Enroute Jaisalmer</em></strong></p>
<p class="MsoNormal">&ndash; Stop in Pokhran at Ashapuri restaurant for some traditional specialties like Khoba roti, bajri roti with Lehsun chutney, Ker sangri and more.</p>
<p class="MsoNormal"><strong><em>Jaisalmer</em></strong></p>
<p class="MsoNormal">&ndash; Sweets and snacks at Dhanraj Ranmal Bhatia (try the Rasmalai) and Prem Stall for delicious chai and hot kesar milk.</p>
<p class="MsoNormal"><strong><em>Jodhpur</em></strong></p>
<p class="MsoNormal">&ndash; Janta Sweet Home for lip smacking chaat and quick snacks</p>
<p class="MsoNormal"><strong><em>Jaipur</em></strong></p>
<p class="MsoNormal">&ndash; Shreenath Lassiwala for the most delicious sweet lassi you&rsquo;ve ever tasted and Rawat Kachori for their famous Pyaaz Kachori (Onion Kachori)</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 3 edited.jpg"></p><br>

<p class="MsoNormal"><strong>4. Puppet show and folk dance at Bagore Ki Haveli &ndash; Udaipur</strong></p>
<p class="MsoNormal">This exuberant display of folk music and dance is a must do when in Udaipur. We came across a couple of folk dancers and musicians on our trip but this show set the bar. We loved every minute of this entertaining show from the puppeteer, fire dancers and singers but the highlight was the woman dancing on broken glass balancing clay pots on her head &hellip;it was unreal!!</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 4 edited.jpg"></p><br>

<p class="MsoNormal"><strong>5. Mehrangarh Fort &ndash; Jodhpur</strong></p>
<p class="MsoNormal">&ldquo;A Palace that might have been built by Titans and colored by the morning sun&rdquo; &ndash; Rudyard Kipling says it all too well. This ginormous fort in fiery red sandstone, resting atop a cliff overlooking the beautiful blue city is poetry in its purest form.</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 5 edited.jpg"></p><br>

<p class="MsoNormal"><strong>6. Kumbhalgarh Fort and The Great Wall of India</strong></p>
<p class="MsoNormal">Located 64 km from Udaipur and situated high among the Aravalli hills makes this one of the most impermeable forts in Rajasthan. The wall that encloses the fort is 36 km long which makes it the second longest continuous wall in the world after &ldquo;The Great Wall of China.&rdquo; This wall protects about 360 temples and the beautiful Badal Mahal (palace of clouds) which goes down in history as the birth place of the famous warrior Maharana Pratap.</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 6 edited.jpg"></p><br>

<p class="MsoNormal"><strong>7. Ranakpur Jain Temple</strong></p>
<p class="MsoNormal">This is an architectures dream. The intricate carvings in white marble have a magical and overly serene effect on the soul. This site deserves to be on the wonders of the world list. This temple is the perfect detour on the road trip from Udaipur to Jodhpur&hellip;Don&rsquo;t miss it!</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 7 edited.jpg"></p><br>

<p class="MsoNormal"><strong>8. Bada Baug &ndash; Jaisalmer</strong></p>
<p class="MsoNormal">A little away from the chaos of Jaisalmer city lies the resting place for the kings &ndash; Bada baug. The royal cenotaphs or chattris of the Maharaja&rsquo;s of Jaisalmer shimmer like golden umbrellas under the hot dessert sun. It&rsquo;s peaceful amidst the arid dessert and a beautiful spot to catch the sunset, watching&nbsp; the orange sunset light up the complex and transform the beautiful yellow limestone to gold is quite a sight&hellip;hence the name The Golden City.</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 8 edited.jpg"></p><br>

<p class="MsoNormal"><strong>9. Camel Safari Thar desert &ndash; Jaisalmer</strong></p>
<p class="MsoNormal">To be so close to the desert and not ride on camelback to see the sunset over the sand dunes of the great Indian Thar dessert would be a shame. You can choose to stay overnight in the desert in one of the many desert camping resorts or take a few hours excursion &ndash; which is what we did. One word of caution though, Jaisalmer is extremely touristy and catered towards foreign tourists. We looked at multiple options for desert camping and decided not to do so as it looked like a tourist trap, even the dinner and folk dance at one of the desert resorts was mediocre.</p><br>
<p><img class="center-align-full-row" src="../images/33/Pic 9 edited.jpg"></p><br>

<p class="MsoNormal"><strong>10. Handicraft Shopping</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal">Last but not least &hellip;shop till you drop at the zillion handicraft and fabric stores around the state. The handicrafts made in Rajasthan are famous and exported all over the world. Some items to check out are block printed fabrics from saris, scarves to linens, dhurri rugs, mirror work bags and jholas, traditional leather shoes and gold and silver jewelry. Jaipur is famous for beautiful handmade jewelry in precious and semi precious stones. If you don&rsquo;t want to put a dent in your pocket just window shop if you get a chance&hellip;the jewelry is stunning!</p>
<p><img class="center-align-full-row" src="../images/33/Pic 10 edited.jpg"></p><br>

<p><b><i>This blog has been compiled by Arwa Musu. Please visit their blog to read the original extract <a href="http://www.happytravellingfeet.com/top10rajasthanmustdos/"> here</a></i></b></p>
<br>
                    
                       
                    </div>