<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Surbhi_Palampur_Images/gardens.jpg"> <h5 class="attraction-sub-heading"><b>Baijnath Temple</b></h5>One of the main attractions around the region, Baijnath temple is around 15 Kms from Palampur. It is an ancient temple dedicated to lord Shiva. It&acirc;&#128;&#153;s not just the temple that&acirc;&#128;&#153;s beautiful but the surroundings too. It has a lovely garden like area with lush green grass shimmering in the winter season. The drive to the temple is also lovely with picturesque views to behold!<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Surbhi_Palampur_Images/tea%20gardens%20attarctions.jpg"><h5 class="attraction-sub-heading"><b>Tea Gardens</b></h5>Palampur is called the tea-capital of North India for a reason. It has a wide spread of such gardens could be viewed in and around the hill city. A short stroll through the gardens with a view of snow clad Dhauladhar range in the background could be the highest point of your trip to Palampur. The beauty of the shimmering green blanket of leaves with a few orange trees sprinkled across the area is breathtaking!
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"> <h5 class="attraction-sub-heading"><b>Paplung Sherabling Monastry</b></h5>
                  It&acirc;&#128;&#153;s a beautiful monastery with 8 stupas with larger than life sized Buddha statues. Around 700 monks stay and study there. The monastery is beautifully made with Tibetan architecture and has a soothing and calming atmosphere.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Surbhi_Palampur_Images/Sohni_mahiwal_1.jpg"><b>Shoba Singh Art Gallery</b><br>
                   Shobha Singh is renowned Indian artist highly acclaimed for his painting &acirc;&#128;&#152;Sohini Mahiwal&acirc;&#128;&#153; who spent his life at Andretta, near Palampur. Many of his art pieces have been displayed at his cozy home at Andretta.

                    
                </li>
</ul>
</div>