<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        If you&acirc;&#128;&#153;re a snowfall couple, Palampur could be a small pretty hill station to cherish that. The temperatures in winters (November-February) go down to subzero levels and you could have lovely view of the snowclad Dhauladhar range. Other months are nice to visit too, with temperatures remaining comfortably within 8 degrees to 30 degrees.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                11-23 degree C
                <br>Humidity 36%
                    
            </div>        
                    </li>
        
        </ul>
        </div>