<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/dhauladhar.jpg" data-lightbox="roadtrip" data-title="Glimpse of snow capped Dhauladhar range"><img src="../images/Surbhi_Palampur_Images/dhauladhar.jpg" id="pic1"></a>
                           <p>Glimpse of snow capped Dhauladhar range</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/drive.jpg" data-lightbox="roadtrip" data-title="Beautiful driveway from Pathankot to Palampur"><img src="../images/Surbhi_Palampur_Images/drive.jpg" id="pic2"></a>
                           <p>Beautiful driveway from Pathankot to Palampur</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Surbhi_Palampur_Images/Temple.jpg" data-lightbox="roadtrip" data-title="Baijnath Temple"><img src="../images/Surbhi_Palampur_Images/Temple.jpg" id="pic2"></a>
                           <p>"Baijnath Temple"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/gardens.jpg" data-lightbox="roadtrip" data-title="Lush green gardens surrounding Baijnath Temple"><img src="../images/Surbhi_Palampur_Images/gardens.jpg" id="pic4"></a>
                           <p>Lush green gardens surrounding Baijnath Temple</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg" data-lightbox="roadtrip" data-title="Lovely gardens at Taragarh Resort under sweet winter sunlight"><img src="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg" id="pic7"></a>
                           <p>Lovely gardens at Taragarh Resort under sweet winter sunlight</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/Nature%20walk.jpg" data-lightbox="roadtrip" data-title="Nature walks at Palampur"><img src="../images/Surbhi_Palampur_Images/Nature%20walk.jpg"></a>
                           <p>Nature Walks at Palampur</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/Taragarh.jpg" data-lightbox="roadtrip" data-title="Taragarh Resort"><img src="../images/Surbhi_Palampur_Images/Taragarh.jpg"></a>
                           <p>Taragarh Resort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg" data-lightbox="roadtrip" data-title="Beautiful Tea gardens at Palampur"><img src="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg"></a>
                           <p>Beautiful Tea gardens at Palampur</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/The%20Buddha.jpg" data-lightbox="roadtrip" data-title="The huge Buddha statue at Paplung Sherabling Monastry"><img src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"></a>
                           <p>The huge Buddha statue at Paplung Sherabling Monastry</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>