<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Gaggal Airport at Dharamshala is the closest airport, around 40 Kms from Palampur. The drive is beautiful with the view of lovely tea gardens. Taxis and cabs are easily available from the airport.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      State run buses operated by Himachal Pradesh State Road Transport Corporation (HPSRTC) ply regularly from nearby cities. Delhi to Palampur is around 480 Kms and buses take 8-10 hours to reach.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Although Palampur has its own railway station, it not very well connected to other cities. Pathankot is the well-connected closest train station to Palampur, around 120 Kms away. Taxis are available from Pathankot to Palampur easily and the 3-4 hour drive is enchanting. You would not get disappointed with the lovely views the driveway has to offer.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       If you&acirc;&#128;&#153;re planning a road trip from Delhi, you could take Delhi-Panipat-Karnal-Ambala route which would lead you straight to Banur Road, after which you can take a right and hit Palampur via Nangal-Kangra-Nagarkota. The drive would be long and hence you could take a few leisurely breaks in between.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>