<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Long weekend!!! Long Weekend!!! Buzzing around the corridors of our office, me and my husband decided to make a short trip to Palampur, in the lap of Kangra valley in Himachal.</p>
<br>
<p>We took a night train from Delhi to Pathankot and reached Pathankot Cantt at 6:30 in the morning. From there we headed to Palampur via taxi. The 4 hour long drive was extremely scenic with tea gardens, green meadows all around, little streams flowing across, pine trees standing tall and Dhauladhar Range enclosing the valley.</p>
<br>
                          <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg"></p>
<br>
            <p>We finally we reached our destination Taragarh palace in Palampur. Taragarh palace is beautiful heritage resort in the midst of forest acquired by royal family of Jammu and Kashmir.</p>
<br>
             <img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/Taragarh.jpg"> <br><br>
            <p><b>Day-1</b></p>
            <p>The day went by pretty much relaxing and catching up with each other after our busy schedules in Delhi. We went for short nature walk in the nearby area. In the evening we went to Kaya-Kalp Naturopathy Center to take a relaxing massage followed by Shirodhara session. The session was extremely rejuvenating for both of us! Must needed relaxation together :)</p>
<br>
             <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/Nature%20walk.jpg"></p>
<br>
            
            <p><b>Day-2</b></p>
            <p>After a heavy breakfast at the resort, we took off to Baijnath Temple. It&acirc;&#128;&#153;s an ancient temple built during the time of Pandavas about 5000 years ago. A small trail downhill leads to a rivulet where devotes usually take a bath before to go the sacred temple. The temple in itself has a very serene atmosphere.</p>
<br>
                    <img class="center-align" src="../images/Surbhi_Palampur_Images/Temple.jpg">
            <img class="center-align" src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"><br><br>    
<p>While coming back suddenly we saw a group of paragliders who told us that a world cup tournament for paragliding was going to take place at Bir so they were all practicing. Astounding things happen at all beautiful places around the world! We ended our day with a late evening romantic nature trail around the resort!!! It was lovely spending time together and relaxing the lap of nature.</p>
<br>
            <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg"></p>
<br>
            
             <p><b>Day-3</b></p>
<br>
<p>We woke up and saw snow clad mountains shimmering in the sun. We learnt that it had snowed heavily up there on the mountains last night. Locals told us that during winters and spring Dhauladhar Range looks spectacular and are also known as &acirc;&#128;&#152;Silver Mountains&acirc;&#128;&#153;. We were lucky to have a glimpse of the same.</p>
<br>
             <img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/dhauladhar.jpg"><br><br>
<p>Then we headed to Shoba Singh Art Gallery. Shobha Singh is renowned Indian artist highly acclaimed for his painting &acirc;&#128;&#152;Sohini Mahiwal&acirc;&#128;&#153; who spent his life at Andretta, near Palampur. Many of his art pieces have been displayed at his cozy home at Andretta.</p>
<br>
    <img class="center-align" src="../images/Surbhi_Palampur_Images/Sohni_mahiwal_1.jpg">
           <img class="center-align" src="../images/Surbhi_Palampur_Images/neugal.jpg"> <br><br>  
    <p>After lunch, we went to Neugal Cafe&acirc;&#128;&#153; in Palampur. The caf&Atilde;&copy; is really known for its food and ambiance. However, it turned out to be a big disappointment. The caf&Atilde;&copy; was in a really shabby condition and looked dark and dull.</p>
<br>
            <p>Finally at 4 PM, we headed to Pathankot to catch our train to Delhi. For me the drive back was one of the high points &acirc;&#128;&brvbar;listening to soft music and gazing at the marvel of nature. It was an absolutely beautiful and a much needed break for us from work and everything else!<br><br>


                    </p>
                       
                    </div>