<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/41/mud.jpg"> <h5 class="attraction-sub-heading"><b>Cycling tour in the forest</b></h5>It was a lot of fun to get back on the bicycle and make our legs work. Riding through the coffee and cardamom plantations was a wonderful experience. <br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/41/Painted-snail.jpg"><h5 class="attraction-sub-heading"><b>Nature Walk</b></h5>The Taj property had a naturalist who took us along to explore the forest. Don’t expect to see any mammals. Enjoy serenity on this walk and hear the leaves rustle as you take every step.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://www.birding.in/images/Birds/rajiv/mwthrush.jpg"> <h5 class="attraction-sub-heading"><b>Birding</b></h5>
                   Within the first few hours of being at the Taj, you will suspect that there is a school boy who is following you and whistles each time you step out! It’s the malabar whistling thrush – a dark blue /blackish shy bird. I also went for a birding walk and chipped a hello to the woodpeckers, kingfishers and finches.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/41/Outdoor-pool.jpg"><h5 class="attraction-sub-heading"><b>Pampering in the spa</b></h5>Taj has an outdoor pool and a fully equipped spa. Excellent treatments and great service. If you wish to spend some extra money, this is the place!

</li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/41/chef.jpg"><h5 class="attraction-sub-heading"><b>Food… Food… more food… And off course drinks!</b></h5>I did a short two hour course on Thai cooking with the head chef at Taj while Ankur did a bar tending course – I enjoyed the drinks. Vegetarian food was no problem at all. In fact, I was on a lactose free diet then- the chef ensured that my diet was maintained! Must try, if you are in Coorg, is coffee made the traditional way – thick with the sweetness of jaggery. I could dunk myself in it!
                    
                </li>
</ul>
</div>