<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Coorg is situated at an altitude of ~3500 feet. As we Indians like to say ‘It is a hill station!’. A lot of local tourists gravitate towards Coorg during the summer months of April to June to escape the heat of the plains. In the winter months of November to March, Coorg is cold, but not even close to the temperatures that the European winter throws up; minimum temperatures do not drop below 10 degrees Celsius. It is perfect time to bask in the sun and enjoy the local coffee. Summer and winters are typically considered to be the best time to visit Coorg.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                13-30 degree C
                <br>Humidity 66%
                    
            </div>        
                    </li>
        
        </ul>
        </div>