<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        There is no airport in Coorg. Mangalore, Bangalore and Mysore are airports around this destination. From the airport to your destination in Coorg – there is only one mode of transport – road. You can either ask your hotel to arrange for the pick and drop or speak to private taxi owners at the airport of in the city that you land.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                       Plenty of bus options are available from Mangalore, Bangalore and Mysore to Coorg. Direct buses from other smaller cities are also available including both state run and private bus options.
                        </div>
                    </li>
                    
            
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       The road route from Manglore, while shorter, is not really the best. There are loads of twists and turns and it is prone to blockages during rainy season. Bangalore to Coorg is the route that most people follow, which is widely recommended.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>