<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">There is an explicable joy in staying at a plantation &ndash; green paddy fields, enticing mango orchards, flowering stretches of mustard or dwarf coffee plants. Coorg let&rsquo;s you experience this joy, without hordes of tourists clambering at your heels!</p><br>
<p><img class="center-align-full-row" src="../images/41/Paddy-fields.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Us being us, decided to visit the town in the rainy season (July to September). This is typically considered off season &ndash; and we wonder why? As we approached Coorg, we were transported to another world &ndash; misty hills, lush greenery, patter patter rain drops, chirping of birds&hellip; Nature in all her bounty!</p><br>
<p><img class="center-align" src="../images/41/water-drops.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We decided to spoil ourselves silly in this trip and stayed at the Vivanta by Taj. We have stayed in leading five star chains across the globe &ndash; nothing beats Taj hospitality. Every request that you make is honoured &ndash; assuming you haven&rsquo;t asked for the Moon and realise that they are not genies!</p><br>
<p><img class="center-align-full-row" src="../images/41/taj.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The property is built on an area of 180 acres, of which, only 35 acres have been constructed as yet. It is an ecofriendly property and there is no air conditioning in any of the rooms &ndash; we did not even feel the need to have one! The rooms are air cooled in summers; and in winters &ndash; simply close the windows! Every room is an independent cottage made using natural materials &ndash; looks a little run down from the outside but meets every five star standard on the inside. Highly recommend this place!</p><br>
<p><img class="center-align" src="../images/41/Buddha-garden.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The trip to Coorg was fun and Ankur wants to go there again during winters. However, the next destination that I want to visit in South India is Munnar &ndash; to watch the Kurunji flowers bloom in 2017! As always&hellip; send me an e-mail if you need any further details. Glad to help!</p>
<p>&nbsp;</p>
<p class="MsoNormal">Let the travellers&rsquo; tribe grow!</p><br>

<p><b><i>This blog has been compiled by Sonia & Ankur. Please visit their blog to read the original extract <a href="http://www.tickingthebucketlist.com/2014/06/coorg-green-misty-land.html"> here</a></i></b></p>
<br>

                    
                       
                    </div>