<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      Best time to visit Goa is during Winters (October-February). This time of the year offers a pleasant weather and draws in tourists and festivities. However, don't worry, the fun of North Goa is in it's crowd, when it's time to forget, chill at a shack with a drink and party! The weather in winters is dry and relatively cool, the sea is calm and clear, and all the facilities, from resorts and restaurants to beach shacks and parties, are open for business.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                18-30 degree C
                <br>Humidity 77%
                    
            </div>        
                    </li>
        
        </ul>
        </div>