<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>Day-1</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We&rsquo;re currently in Goa once again and no better place than this to reminisce about our last trip to&hellip; Goa! That&rsquo;s right: we have a love affair with this part of India and it&rsquo;s turning more into some sort of committed relationship.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">There aren&rsquo;t that many places in this word that, for some reason or the other, keep on calling us back, offering such a sense of relaxation and &ldquo;oh man, we&rsquo;re soooo chilled&rdquo; vibes. Nope! It has nothing to do with drugs, which Goa (or at least north Goa) tends to be famous for. It&rsquo;s just that Goa is simple yet damn cool!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Plus there is a romantic side to it. I remember our first trip over here as if one of those idyllic romantic escapes girly magazines write about. And the truth is that the combination of beach, lovely sunsets, candle light dinners with feet buried in the sand and beach huts make Goa a very appealing destination for people with a tender side, just like us! And you don&rsquo;t even need to spend such a big amount of money to live &ldquo;the honeymoon life-style&rdquo;.</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0203.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We spent last Christmas and New Years divided between north and south Goa. The last time we had come to Goa (as an escape from Dubai), we had spent our time in the south and only ventured into the north one of the days. They are surprisingly different. The north, closer to the capital and bigger towns, receives more locals and tourists from abroad. The beaches tend to be crowded, the streets congested, it&rsquo;s dirtier and the over-all feel is entertaining, but not &ldquo;paradise like&rdquo;. That&rsquo;s why the south wins for our taste: it&rsquo;s generally more unspoiled and invites you to lounge as if you were just taken out of a travel agent&rsquo;s brochure.</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0224-710x539.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">In north Goa, we stayed near Calangute. Considering that we were traveling with a bunch of friends (Dushi, Ayush and Avinash) it made sense to stay under one roof. It&rsquo;s not like we wanted to save money by eating in or something of the sort&hellip; when in Goa, eat out as much as you can! Whether it&rsquo;s north, south or centre, the food over here just tends to be delicious! I don&rsquo;t know if it&rsquo;s the freshness of the ingredients, the way people cook or if the chilled state of mind also helps awakening the palate, but every dish we always have in Goa&rsquo;s beach shacks is a gastronomic experience!</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0225.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">On the gourmet side of things, we started of with Tibetan momos, quite common around here because of all the emigrants. That&rsquo;s why you&rsquo;ll find so much Israeli food as well. Goa attracts passing by travelers and others that, falling in love with it, eventually settle and start businesses too.</p><br>
 <p><img class="center-align-full-row" src="../images/44/momosmia e.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>CALANGUTE BEACH</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">It was Christmas day and Goa has mainly Christian population. Of course there were going to be crowds!&hellip; Our first day at the beach was not the relaxing experience we were looking for, but oh boy, was it entertaining!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">For starters, I couldn&rsquo;t really put myself in a bikini and sun bathe as the number of men roaming around the beach and the local customs that I always like to follow, didn&rsquo;t make it any appealing. But that didn&rsquo;t stop me from getting more attention than I could handle. While Ashray and Dushi were sipping drinks in one of the beach shacks, I decided to go near the water to click some photos. But I ended up being the one photographed&hellip; First, a man asked me to take a photo with his baby. For good luck or who knows for what! Then he took a photo with me&hellip; and right after with an older man who appeared to be his dad or uncle. And then a couple of friends nearby who also decided to politely invite me for a drink in the sand (which I declined) after clicking their photo with me too. And so on&hellip; until I realized I was getting my photo taken with a group of about 12 men! I kid you not. I guess this is what Bollywood stars must feel like. In India, the fact that you look different can attract people&rsquo;s curiosity. I know what some of you might be thinking: &ldquo;huhhh, God knows what they&rsquo;re going to do with your photo!&rdquo; To be honest, I don&rsquo;t think they&rsquo;re going to do anything naughty, considering their other 11 friends are also in the shot&hellip; and at the end of the day I was also taking people&rsquo;s photos (without asking), so I guess it&rsquo;s a give and take situation.</p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">As this photoshoot took a while, Ashray suddenly appeared to make sure the Indian ocean hadn&rsquo;t carried his fiancee away!.. And you know what? Some guys also started taking photos with him. It was a big, fat photo party in there. Click, click, click&hellip; Merry Christmas!</p><br>
 <p><img class="center-align" src="http://bkpk.s3.amazonaws.com/wp-content/uploads/2013/03/goa-dudes.jpeg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Between Kingfishers and fresh lime sodas, another moment of pure entertainment presented itself before our eyes. This is typical India: always capable to surprise and amuse you, with silly yet hilarious situations!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">One would think that would have been enough entertainment for one day, but hell no! We&rsquo;re in Goa and it&rsquo;s Christmas&hellip; this is just getting started!</p><br>
 <p><img class="center-align-full-row" src="http://bkpk.s3.amazonaws.com/wp-content/uploads/2013/03/dushi.jpeg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">On the beach shack where we were having drinks and snacks there were roaming people offering massages to customers. One fat man was getting coconut oil rubbed all over him, which didn&rsquo;t make for a very appetizing sight.</p><br>
 <p><img class="center-align-full-row" src="http://bkpk.s3.amazonaws.com/wp-content/uploads/2013/03/ashrays-face.jpeg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">And then all of a sudden&hellip; we saw a Domino&rsquo;s Pizza delivery guy delivering pizzas to the family sitting at the restaurant we were at! Pizza delivery at the beach? In someone else&rsquo;s restaurant?! If it makes it any less weird, they also ordered lobster from the actual restaurant we were all sitting at.. but just the fact that they were mixing lobster and pizza says something funny about their taste&hellip;</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0251.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Meanwhile, we purchased some fresh pineapple from a kid (10 rupees per slice!) and were happy watching the sun go down.</p><br>
 <p><img class="center-align" src="../images/44/DSC_0258.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>AN EVENING WITH CRAZY CAT LADY!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Later on we went into town. Our mission: to rent some bikes to explore the countryside. If you&rsquo;re a white person and you&rsquo;ve been to India, you&rsquo;d know that, same like me, you&rsquo;re fucked when it comes to negotiating prices. It doesn&rsquo;t matter how experienced and agile you are with words&hellip; your color is going to bring you down as the prices go up! After quotes of 800 and 1000 rupees, I hid inside some souvenir shops and let Ashray and Dushi deal with this business. Not much later, they had rented us a couple of bikes for 500 rupees a day each, from a guy that was high as Santa when he travels in his reindeer sleigh!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">And because this is Goa and this is the Goan life-style, it was time to relax again&hellip; We were sitting outdoors and it was dark, when a freaky lady approached us: &ldquo;can you spare some money for the cats and dogs?&rdquo; Cats and dogs? In a country with so many people dying of hunger you really think I&rsquo;m going to give money for cats and dogs? Plus: have you seen how many restaurants are here all round? Cats and dogs can certainly feed on left-overs and still get obese! If only this was a normal lady, we could have had a normal conversation like that, but it wasn&rsquo;t the case. Ashray told her he already has a dog that he treats well back home and we do not want to contribute. &ldquo;Where is your dog?&ldquo;, she enquired. &ldquo;In Delhi!&ldquo;, Ashray said, although I wonder why she cared. And then the bomb exploded! &ldquo;People in Delhi are rapists!&ldquo;. &ldquo;Not everyone is a rapist, there are rapists like anywhere else in the world&ldquo;, I tried to make things soft as I saw Ashray&rsquo;s eyes filling with rage. But no, this lady was totally looking for it: &ldquo;I am a journalist [looking like a beggar, yesssss right!], I know! And I&rsquo;ll tell you more! All Indians are thieves and liars&hellip; [and then the worst had to come]&hellip; just like the niggaz!&rdquo; OMG. Ashray just replied: &ldquo;Get out of there, leave us alone!&rdquo; &ldquo;What do you think, that I&rsquo;m your sister? You can&rsquo;t talk to me like that!!&ldquo;. &ldquo;Yes I can, it&rsquo;s a free country! You know what? Go feed yourself to the cats and dogs&ldquo;, Ashray finally said. As the lady was walking away and I was trying to close my mouth that was looking something like this :O she still had to say to me: &ldquo;Be careful, they&rsquo;re going to take all your money!&ldquo;. People will see a gora with an Indian man and assume he&rsquo;s just trying to get you for the bucks. How little she knows. And in all of this, Dushi was still sipping his coffee&hellip; What next? We ordered some fried calamari and eventually decided to move to a near-by restaurant for some Goan prawn curry.</p>
<p class="MsoNormal">&nbsp;</p><br>
 <p><img class="center-align-full-row" src="../images/44/guys e.jpg"></p><br>

<p class="MsoNormal">DAY 1 DONE!&nbsp;</p>
<p class="MsoNormal">NOT BAD, RIGHT? :)</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Day-2</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal"><strong>BAGA, ANJUNA&hellip; AND GANGNAM STYLE!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Once Calangute wasn&rsquo;t really that relaxing and now we had bikes, we decided to go and explore the beaches of north Goa.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Fist stop: Baga. This is where Goa&rsquo;s fame as party land started, way back in the 60s. In good north Goa style, it&rsquo;s overcrowded and even more during Christmas and New Year&rsquo;s, considering this is the peak season.</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0273.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Anjuna beach, on the other hand, feels like a good compromise between action and peace. During the day the beach is calm enough, there are cows lazying around and reminding you that you&rsquo;re still in India, there are families, young people&hellip; a good mix of &ldquo;a little bit of everything&rdquo;. The Anjuna wednesday flea market is over-rated though. They have whatever other souvenir places have by the beach (clothes, hippie accessories, decoration items, etc), but just that there&rsquo;s more of it! And at night Anjuna feels like a different world! The vibes go from chilled to psychotropic, the lighting goes neon and the crowds behave like they&rsquo;re always hungry for more.</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0266.jpg"></p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0263.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Talking about &ldquo;hungry for more&rdquo;, our friend Ayush arrived in the meantime, opening doors for the usual craziness that tends to happen when he&rsquo;s around. That was the night when Gangnam Style became the official song of this trip. Call me commercial or pop or whatever you want, but I do think that Psy (and this song) rock! Is it that special, is it such an out of the world musical composition? Probably not. But the fact that, for once, one of these pop phenomena comes from Asia instead of the USA, makes me happy. It means, on a fairly bizarre level, that the world is increasingly opening up to other cultures. So this phenomena is not as stupid as it might seem on the surface. And I like the happy contagious vibes of the track too!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>CANDOLIM</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We spent some hours in Candolim beach on the same day that the famous Sunburn festival was taking place. Although Ayush was eager to go and shake it nicely like he only knows how to do [they say he probably learned with Shakira...], we opted for spending the evening at the beach, watching the sun go down and eventually stuffing ourselves with tandoori goods.</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0270.jpg"></p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0280.jpg"></p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0281.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>VAGATOR AND WARMING UP FOR SOUTH GOA!</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">Vagator was our good-bye spot for north Goa and it was actually a great beach to hang out at!</p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0307.jpg"></p><br>
 <p><img class="center-align-full-row" src="../images/44/DSC_0311.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Not nearly as visited as the previous spots we had been at, it reminisced of the good old hippie times that Goa must have once lived but that have meanwhile been buried in the hype that surrounds this coastal area.</p><br>
 <p><img class="center-align" src="http://bkpk.s3.amazonaws.com/wp-content/uploads/2013/03/ayushposer.jpeg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal"><strong>North Goa: you were good to us. But the south awaits us, with its chilled vibes that can&rsquo;t ever stop luring us into that delicious thing that goes like <em>&ldquo;do nothing and enjoy every second of it&ldquo;!</em></strong></p><br>

<p><b><i>This blog has been compiled by Ashray and Zara. Please visit their blog to read the original extract <a href="http://bkpk.me/christmas-at-the-beach-north-goa-part-12/"> here</a></i></b></p>
<br>     
                       
                    </div>