<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      March end to June is the best time to visit Leh for people who prefer to have smooth bike rides in pleasant weather. The temperatures are comfortable. However, for adventure seekers and snowfall lovers, November to February is good. If you&acirc;&#128;&#153;re a trekking couple, try the Chadar trek between January to March. July and August are monsoon months and should be avoided. 
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>

                8 - -2 degree C
                <br>Humidity 27%
                    
            </div>        
                    </li>
        
        </ul>
        </div>