<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/56/water crossing 1.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/56/water crossing 1.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/56/1280px-Khardunglasign18380.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/56/1280px-Khardunglasign18380.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/56/k top board.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/56/k top board.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/56/k top.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/56/k top.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/56/water crossing.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/56/water crossing.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/56/DSC_0390.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/56/DSC_0390.jpg" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/56/us at k top.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/56/us at k top.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/56/us 2.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/56/us 2.jpg" id="pic8"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>