<h3 class = "center-align-place">Ride to Khardung La - One of the World’s highest Motorable roads</h3><br>
<h4 class = "center-align-place"><i>By<a href="http://www.aworldofcolors.blogspot.in/2015/10/ride-to-khardung-la-one-of-worlds.html"> Archana Natrajan</a></i></h4>
<hr>
