<div class="parent-null">
            <div class="col-md-2"></div>
            <div class="col-md-8">
<ul>
<% @image_hash.each do |key, value| %>
<li>
    
    <img src="<%= key.to_s %>" height="200px"> <%= value.to_s %>

</li>
<% end %>

</ul>


</div>
<div class="col-md-2"></div>
</div>