<div class="parent-null">
            <div class="col-md-2"></div>
            <div class="col-md-8">

<% @user_array.each do |user| %>
<li> <a href="/all_stories?user_id=<%= user.id.to_s %>"><%= user.id.to_s + " " + user.name + " "%></a></li>
<% end %>




</div>
<div class="col-md-2"></div>
</div>