<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg"> <h5 class="attraction-sub-heading"><b>Mysore Palace</b></h5>The most popular attraction of Mysore city is the Royal Mysore Palace. It is known to be one of the biggest and most beautiful palaces of India. Designed by the British architect Henry Irwin, the palace has a blend of Hindu, Islamic and Gothic style of architecture. It&acirc;&#128;&#153;s a three storey building with a tower which goes as high as five storeys. The palace flaunts intricately carved mahogany ceilings, beautiful marble flooring, luxuriously designed gold and silver plated door and furniture and a kaleidoscope of beautiful paintings and portraits. The Palace is now converted into a museum and is open for visits throughout the year. During Sundays, public holidays and on the occasion of Dussehra, the Palace is illuminated with more than 98000 electric bulbs for one hour in the evening and looks amazingly majestic and beautiful.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg"><h5 class="attraction-sub-heading"><b>Chamundi Hills</b></h5>Located around 12 Kms from Mysore, Chamundi Hills is majorly known for its temple Chamundeshwari Temple. There is a stairway of around 1000 steps up to the hill where the temple is located. The temple has many structures which are of significant historical importance. It has a giant structure of Nandi &acirc;&#128;&#147; the bull known to the vehicle of Lord Shiva which is around 5m tall and is known to be carved out of a single granite rock.
                    
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"><h5 class="attraction-sub-heading"><b>Mysore Zoo</b></h5>Located in the heart of the city is the Mysore Zoo which is very popular among the localites unlike zoos of many other cities. This owing to a wide variety of rare animal species found at the zoo. It&acirc;&#128;&#153;s spread across a huge area and has animals such as Zebras, Giraffes, Gorillas, Tigers and many rare bird species too. The zoo offers a buggy service and even has small snacks and souvenir counters. Karanji Lake which is again a beautiful spot is located near the zoo itself and witnesses some rare migratory birds during the season.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hina_Mysore_Images/Brindavan%20garden.jpg"> <h5 class="attraction-sub-heading"><b>Brindavan Gardens</b></h5>
                  Brindavan Gardens are located around 20 Kms from the Mysore city. It is built near river Cauvery and attracts a lot of tourists and localites as a famous picnic spot. The garden flaunts some of the most exquisite arrangement of unique flowers and topiaries. The garden also has beautiful fountains and also presents a musical show in the evenings &acirc;&#128;&#147; a lovely harmony of water with music and lights.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20pak.jpg"><b>Mysore Pak</b><br>
                   How can you Mysore trip be complete without tasting Mysore Pak? Let your diet plan alone for a while and savor this mouth-watering sweet dish when you&acirc;&#128;&#153;re in Mysore. Prepared in pure ghee, sugar, gram flour and cardamom, this sweet is widely enjoyed by the localites and is even available in other cities as a popular sweet.

                    
                </li>
</ul>
</div>