<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       Cities around Bangalore in South Karnataka mostly enjoy good weather all through the year. The temperatures mostly remain comfortable and pleasant. However, the best time to visit Mysore is September end to February. The day time remains pleasant and the night are slightly chilly with temperatures going down to 12 degrees. In fact visiting during the Navratras and Dussehra in October-November could be the best since Mysore has a special ambiance of festivities and celebration during that time.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                17-23 degree C
                <br>Humidity 90%
                    
            </div>        
                    </li>
        
        </ul>
        </div>