<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Hina_Mysore_Images/Mysore%20Palace.jpg" data-lightbox="roadtrip" data-title="The famous Mysore Palace"><img src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg" id="pic2"></a>
                           <p>"The famous Mysore Palace"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Brindavan%20garden.jpg" data-lightbox="roadtrip" data-title="Lovely musical fountains at Brindavan Gardens"><img src="../images/Hina_Mysore_Images/Brindavan%20garden.jpg" id="pic4"></a>
                           <p>Lovely musical fountains at Brindavan Gardens</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg" data-lightbox="roadtrip" data-title="Chamundeshwari Temple"><img src="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg" id="pic7"></a>
                           <p>Chamundeshwari Temple</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Karanji%20Lake.jpg" data-lightbox="roadtrip" data-title="Karanji Lake"><img src="../images/Hina_Mysore_Images/Karanji%20Lake.jpg"></a>
                           <p>Karanji Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/marigold.jpg" data-lightbox="roadtrip" data-title="The lovely marigold farms on way to Mysore"><img src="../images/Hina_Mysore_Images/marigold.jpg"></a>
                           <p>The lovely marigold farms on way to Mysore</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Mysore%20pak.jpg" data-lightbox="roadtrip" data-title="Mysore Pak"><img src="../images/Hina_Mysore_Images/Mysore%20pak.jpg"></a>
                           <p>Mysore Pak</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Mysore%20zoo.jpg" data-lightbox="roadtrip" data-title="Tigers resting at Mysore Zoo"><img src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"></a>
                           <p>Tigers resting at Mysore Zoo</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Nandi.jpg" data-lightbox="roadtrip" data-title="Nandi - vehicle of Lord Shiva at Chamundeshwari Temple"><img src="../images/Hina_Mysore_Images/Nandi.jpg"></a>
                           <p>Nandi - vehicle of Lord Shiva at Chamundeshwari Temple</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Palace%20evening.jpg" data-lightbox="roadtrip" data-title="Mysore Place on a Sunday Evening"><img src="../images/Hina_Mysore_Images/Palace%20evening.jpg"></a>
                           <p>Mysore Place on a Sunday Evening</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>