<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                  Mysore&acirc;&#128;&#153;s Mandakalli airport is a domestic one and is not connected to all major cities in India. The best way to reach Mysore through air is via Bangalore. Flights to Bangalore are very frequent and easily available after which a connecting flight to Mysore could be taken or a taxi/ cab could be hired from Bangalore to Mysore.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses to Mysore from nearby cities such as Bangalore (150 Kms), Coonoor (150 Kms), Coimbatore (200 Kms) and Mangalore (250 Kms) are easily available. Both staterun and private buses are available. Drive to Mysore is a good one considering the road network around the city is well established.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Mysore has a train station of its own which is connected to major cities nearby. Most of the major trains stop at Mysore including Shatabdi Exp, Sharavathi Exp, Mysore Exp and Chamundi Exp. Cabs are easily available out the railway station to the city.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      This is one of the most preferred and popular means to come to Mysore. Since Mysore is located at a convenient distance from major nearby cities, you could easily drive down in your own or rented vehicle while enjoying the long drive, especially if the weather is good. Many couples come to Mysore for a weekend getaway from nearby cities, mainly Bangalore which is only 150 Kms away. The drive is lovely and takes around 3 hours one way through NH 275.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>