<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>There was a time, when one could be happy with just the weather, the mouth-watering &amp; well-priced south indian breakfast and the rocking evenings at the breweries, pubs and discs at Bangalore.</p>
<br>
            <p>But now, travelling for more than 5-7 kms to visit a new eatery/ pub is an absolute no-no, given the traffic conditions. So what do we do if we don't want to go for yet another movie or visit a new brewery on this weekend??!!</p>
<br>
            <p>Life is outside!! Staying at Bangalore, you have plethora of options for one or two day get aways. The roads are in a good shape- just apt for a short road trip.</p>
<br>
            <p>One such Sat morning, fed up of the mundane weekends, we decided to get out of Bangalore. Getting back by monday- early morning was an obvious criterion in deciding the destination considering it had to be a weekend only trip and we had to get back to work on Monday.</p>
            <p>Let's go to Mysore! Why Mysore?? 3 hours happy drive, not very crowded, beautiful resorts and some nice places to visit.</p>
<br>
            <p><b>Day-1</b></p>
            <p>Mysore is approximately 140-150 km from Bangalore. Getting out from Bangalore to the Mysore road can be a little messy sometimes due to traffic. En-route, we stopped at Kamat for a quick snack. Kamath Lokaruchi is a famous eating joint on Bangalore - Mysore highway. We tried the authentic thali served on banana leaves and it was superb!</p>
<br>
             <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/Kamat.jpg"></p>
<br><br>
            
            <p>We reached Mysore by 4pm. We booked our stay at the Windflower Resorts and Spa. After a long drive, when you check into a hotel/ resort- that's the time when you are scanning it against your criteria/ expectation- this place seemed to be an instant reward. A nice, light fragrance filled the reception area- the surrounding area comprised of duplex houses on either side of rectangular water channel.</p>
<br>
                    <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Resort.jpg"><br><br>    
<p>A personal staircase led to our room on the first floor. The balcony opened to the pond- A set of comfortable chairs with a small table- just perfect for an evening with some light music with drinks. We decided to have a lazy day- so we went for swimming, booked the spa (availed discounts) and had an evening at the balcony- as we imagined on entering the room.</p>
<br>
            <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/resort%20pond.jpg"></p>
<br><br>
            <p><b>Day-2</b></p>
            <p>This day was our activity day!</p>
<p>After the breakfast at the resort, we decided to visit the Mysore zoo during the day. It's in the city itself and witnesses many tourists on a daily basis. It is also popular among the locals as a picnic spot. The zoo actually has many rare animal species and we enjoy strolling through the walk way in plesant weather! There is a small snacks corner in the end where we relaxed and grabbed a quick bite.</p>
<br>
      <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"></p>
<br><br>
            <p>After the zoo, we went for a quick visit to Lake Karanji which is very close to the zoo and is managed by the zoo authority itself. It's a beatiful spot to relax away from the hustle-bustle and enjoy some nice conversations.</p>
<br>
             <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Karanji%20Lake.jpg"><br><br>
<p>In the evening, we went to the famous and opulant Mysore Palace. Its huge and majestic dominating the Mysore skyline. The interriors are as beautiful and lavish as the exterriors. We also took a walk in the beautifully maintained garden area outside. The palace is open for visitors on all days between 10 AM and 5:30 PM. Although it's lit up on Sunday evenings, it is beautiful to see it getting lit in just a stroke. One can either read about the history online or hire a guide to know the background.</p>
<br>
 <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg"><br><br>
    <p>Overall it was a super fun day. We retired at the open restaurant at the resort with light live music, breezy evening and candle light dinner to top it all! The food and ambiance of the place was perfect - just what we needed!</p>
<br>
            <p>We checked out early morning at around 530 and were back by 8am-just in time for office. Believe it or not- there were no monday morning blues- on the contrary I was fully geared up...! Looking forward to yet another unplanned weekend- out of bangalore!</p>
<br><br>


                    
                       
                    </div>