<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/44/DSC_0203.jpg"> <h5 class="attraction-sub-heading"><b>Calangute Beach</b></h5>Calangute is the most popular holiday destination in Goa. Calangute Beach is colloquially known as the Queen of all the Beaches. Excellent accommodation facilities are available, particularly at the tourist resorts and cottages. The beach has some of the most amazing shacks in Goa. Although it’s not the cleanest or peaceful beaches, the place has a unique vibe to it altogether.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/44/DSC_0266.jpg"><h5 class="attraction-sub-heading"><b>Anjuna Beach</b></h5>A popular beach area adjacent to Chapora fort. Anjuna is known for  the magnificent Albuquerque mansion built in 1920, flanked by octagonal towers and attractive Mangalore tiled roof. Anjuna is not just a historical beach, but also a beach popular for its all-nighter shack parties. Curlies is one of the oldest shacks at Anjuna, with amazing ambiance and great pocket friendly food options. The beach also flaunts unique flea markets with cheap handmade accessories, Goan souvenirs, clothes and many more knick-knacks. 
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/44/DSC_0307.jpg"> <h5 class="attraction-sub-heading"><b>Vagator Beach</b></h5>
                   It is a popular beach dominated by Chapora Fort to the north. To the south of Vagator is Calangute beach. Not nearly as visited as the previous spots we had been at, it reminisced of the good old hippie times that Goa must have once lived but that have meanwhile been buried in the hype that surrounds this coastal area.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/44/DSC_0281.jpg"><h5 class="attraction-sub-heading"><b>Candolim Beach</b></h5>Candolim beach in Goa is well known as one can find some of the best seafood in Goa out here. The beach has multiple shacks and beach restaurants that serve lip smacking food and drinks. The long and straight Candolim beach is dotted with dunes that offer little shelter. Also offering comfortable accommodation at the Candolim beach in Goa are the many hotels, guest houses and beach resorts. One of the most popular attractions at Candolim is the water sports. Don’t miss out on para-gliding, banana boatride, motorboat, bumpy ride, and many more!
</li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/44/DSC_0273.jpg"><h5 class="attraction-sub-heading"><b>Baga Beach</b></h5>This is where Goa’s fame as party land started, way back in the 60s. In good north Goa style, it’s overcrowded and even more during Christmas and New Year’s, considering this is the peak season. However, the beach is quite popular for water sports. We'd recommend Candolim for the same since it's less crowded and cleaner.
                    
                </li>
</ul>
</div>