<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        Goa is well connected by air routes from all major Indian cities. The flights are easily and frequently available from Bombay and Delhi. Goa has an international airport at Dabolim. The distance from Margao to Dabolim airport is 29 Kms.

                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                       Multiple bus options are available from major cities in Maharashtra to Goa. Buses from Mumbai to Goa are the most common with both private and state run buses plying daily. It's best to take an overnight bus which would take around 8 hours to reach Goa from Mumbai.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Wathar is the closest train station to Mahabaleshwar/ Panchgani which is around 60 Kms away. However, the most convenient station would be Pune itself, which is very well connected to other major Indian cities. Cab could be taken from Pune to the hill station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Mumbai is just 12-hour driving distance away from Goa. So whenever you are looking for a beach getaway, you can take off to the best that India has to offer. The approximate distance from Mumbai to Goa is 590km. There are 2 routes to drive down from Mumbai to Goa: Route 1: NH-4 Pune – Kolhapur route and Route 2: NH-17 now renumbered as NH 66 Chiplun – Ratnagiri Konkan route

                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>