<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    
                      <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/74/pic5.JPG" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        John's Boat Tours</div>
                        
                        Cost : Rs.13,000-15,000
                        </div>
                    </li>
                        
                    </ul>
                    
                    
                    </div>
                    
                    
                </div>