<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">I went to India seeking balance, as many do. I knew just the place I should go to find my equilibrium &ndash; the land of Susagade; a Goan word roughly meaning contented, relaxed and slower living. I wanted to immerse myself in the culture and discover the unexpected in Goa, known mainly for its amazing beaches. One such offbeat and little known part of Goa is its backwaters &ndash; canals that connect to the magnificent and abundant Mandovi River.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic2.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">I&rsquo;ve talked about my love of slower travel before and especially my affection for train travel, but I think I have found a new love. There can be few lovelier ways to get about than traveling by Houseboat on placid river ways. Especially when those backwaters and canals belong to Goa and you glide past the lush Indian jungle and watch the stunning orange glow of a Goan sunset.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Houseboats are typically the domain of Kerala &ndash; a beautiful, sleepy place in India but crowded with other canal boats. So when I learned that you can have the same experience in Goa but with less crowding and without sharing the river with other travellers or boats, I was excited to get going.</p><br>
 <p><img class="center-align" src="../images/74/pic3.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After exploring Goa for a few days, the bright, beautiful, chaotic buzz was leaving us feeling a little overloaded, so we were ready for some peace and tranquility. The notable calm descended almost immediately after our driver dropped us off, seemingly in the middle of nowhere. Our guides took our bags and invited us to follow them through the trees, where all that could be heard was the tweeting of birds above our heads.</p><br>
 <p><img class="center-align" src="../images/74/pic4.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Feeling excited and intrigued we followed until we emerged from the trees and the most stunning view appeared of the river, with the sun majestically glistening off it. Sat bobbing on the water&rsquo;s edge was a small passenger boat waiting to take its cargo to the stunning floating hotel we could see waiting for us. Known in India as Riceboats, they are crafted from wood with thatched roofs and make a really striking, exotic silhouette on the horizon. They have a vintage charm to them, despite it being a brand new boat, that reminded me of the same romanticism I feel about steam trains.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic5.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">As we glided through the water closer still, the ladders were lowered ready for us to climb aboard our home for the next couple of days.&nbsp; Once aboard our crew greeted us warmly, including Captain Vishnu, who would safely steer us along the backwaters and Veddi, who would be our guide and barman for the journey. We were guided to our double room with en suite shower room, of which there were just three rooms onboard the boat. The small number of rooms creates the ambience for friendly camaraderie with your fellow travellers, as we found in our group, or the opportunity for solace, if alone or in a couple.</p><br>
 <p><img class="center-align" src="../images/74/pic6.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We gasped at how lovely the rooms were &ndash; each with a comfy double bed, cosy seating area for two and the best thing of all, a large open window, covered only by a mosquito net, which looked straight out onto the river, providing the most stunning view. The bathroom offered a nice surprise by having a modern, fully functioning shower, toilet and wash basin &ndash; far from the basic experience we had expected. The rooms each had large ceiling fans, which between this and the window we found kept us perfectly cool but we were told that they are even installing air conditioning for next season.</p><br>
 <p><img class="center-align" src="../images/74/pic7.JPG"></p><br>
 <p><img class="center-align" src="../images/74/pic8.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">fter we&rsquo;d settled into our rooms, we were given a tour of the rest of the Houseboat, taking in the dining area, with a view most restaurants would kill for but could never provide from land, and the upper deck, which had sun loungers for soaking up the rays and a seating area. Captain Veddi offered us a drinks menu and we proceeded to order our favourite tipples, already starting to get used to the excellent service we would become accustomed to on board. They have a mixture of local and branded spirits, beers and apperitifs on board that are all included in the price, which provides very good value.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic10.JPG"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic11.jpg"></p><br>
 <p><img class="center-align" src="../images/74/pic12.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We sat chatting with the other lovely guests of our special floating retreat and discovered they all had a connection to Yorkshire, but one of the couples now lives in Goa. We laughed about how small the world is when you&rsquo;re from the UK&rsquo;s biggest county! With a fresh round in hand, Captain Vishnu set sail but the rivers were so placid we felt like we were gliding, even flying, without a ripple even breaking the surface. The Rice Boat moved up river next to palm trees that leaned so far over they looked like they might fall right in. We peered over the side into mangroves that contain an abundance of wildlife, including the beautiful Kingfisher bird. We were even told to keep our eyes peeled for crocodiles as they sometimes lurk in the shady groves!</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic14.JPG"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic17.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We shared stories, snapped pictures and enjoyed some drinks until the sun started to glow amber on the horizon. It hung like a burning globe in the sky for what felt like a lifetime, casting a rosy glow over the river and jungle beyond. Nature offered its breathtaking swan song for the day, fading into the milky night sky. Feeling relaxed and in awe of the beauty around us, dinner was soon announced downstairs and our tummies rumbling, we made our way down to the dining table. The Houseboat contains a full kitchen, which is bigger than in most London flats, and so we were excited for the meal ahead.</p><br>
 <p><img class="center-align" src="../images/74/pic18.JPG"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic22.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The food is served family style, with bowls of delicious local food placed in the middle to convivially pass around to your new friends and again, it is all included in the price of the trip. There was freshly caught tuna and spiced chicken for the carnivores (them) and mushroom xacutti, steaming rice, naan breads and more for the herbivore (me) but it was so delicious everybody had some. We ordered a few bottles of wine to share, which were a small additional cost and a lovely night ensued with the group sharing stories of family and travel adventures around the world, with a few dodgy Yorkshire jokes thrown in for good measure.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic23.JPG"></p><br>

<p class="MsoNormal">The stars shone like diamonds in the sky without any major urbanisation nearby to provide light pollution, so we used our new friend&rsquo;s telescope to stargaze. After trying the local liquors, such as Cashew Fenni (a sort of vodka) and Honeybee (a brandy that is about &pound;1.19 by the bottle out there!) to round off the evening, we headed to bed full, a little tipsy and content. We moored for the evening and listening to the river lapping against the boat and the sounds of the jungle beyond provided the perfect lullaby to rock us to sleep, with a cool breeze drifting across our cheeks.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic25.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The sunrise crept in through the open window and we woke to a gorgeous shimmery waterside view.&nbsp; Veddi announced that before breakfast we could visit a traditional village and experience Goa like a local.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic26.jpg"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic27.JPG"></p><br>


<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;We dressed excitedly and waited for our little boat to transfer us to the village. As we pulled up it felt like we&rsquo;d landed in a beautiful, lost, tropical world, with dense palm trees all around us. As we tip toed through the trees, almost afraid to make a noise in this silent paradise, the sleepy village was just waking up ahead of us. Brightly coloured Portuguese style villas shone out between the trees and resident pooches and moggies stretched out, yawning indulgently.</p><br>
 <p><img class="center-align" src="../images/74/pic28.JPG"></p><br>
 <p><img class="center-align" src="../images/74/pic30.JPG"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic29.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We passed a beautifully decorated Banyan Tree, the sacred tree for India, which had been decorated by the Hindu wives in the village in honour of their husbands, which seemed so romantic. I hoped that the wives got similar tokens of affection at other times in the year. After a fascinating wander we headed back to the Riceboat in search of some tasty morsels to curb our hunger.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic31.JPG"></p><br>
 <p><img class="center-align" src="../images/74/pic33.JPG"></p><br>
 <p><img class="center-align" src="../images/74/pic34.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;We were offered a choice of eggs for breakfast and we each chose omelettes, which were delicious. After many rounds of jam on toast and tea, we made our way to the top deck to enjoy the sun and catch up on some reading. Passing so many Hindu temples, pink coloured chapels, white churches and village children waving to us from the banks, proved too interesting to keep my nose stuck in my book, so I just enjoyed the world passing us by. It really is one of the most peaceful and relaxing ways to spend a couple of days.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic35.JPG"></p><br>
 <p><img class="center-align-full-row" src="../images/74/pic36.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">They keep fishing rods on deck for those inclined to give it a go, as there are some enormous and poisonous fish in the river, so naturally the men got stuck straight in! One of the group caught a spotted dog fish, which are known to be a bit prickly, so after one of the crew safely removed the hook we threw him back in to join his pals.</p><br>
 <p><img class="center-align-full-row" src="../images/74/pic37.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Before we knew it, it was time for lunch and once again a delightful family style feast was served up, including pickles, poppadums, rice, a vegetable curry and some fish. The bar then reopened for those not feeling too delicate from the previous evening. We set sail again to enjoy the rest of our stay aboard this beautiful, romantic, peaceful Houseboat, where your every care is taken care of and all you need to do is just embrace Susagade.</p><br>
 <p><img class="center-align" src="../images/74/pic38.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The trip costs 6700 rupees (&pound;67) per person per night, which includes all drinks (apart from wine) and food, a village walk, your room and of course, the scenic river cruise along the backwaters of Goa, which we thought was excellent value for money for such a special, unique experience.</p><br>
 <p><img class="center-align" src=" ../images/74/pic39.JPG"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Top tip: There are two boats you can stay on&ndash; one with two bedrooms and ours with three and had a shaded canopy on the upper deck. Depending on what you are seeking or how big your group is, ask for the most appropriate boat for you.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">*Our tour was offered through John&rsquo;s Boat Tours. This is a collaborative post but all views are honest and my own.</p>
<br>
            
            <p><b><i>This is an extract from Samm's personal travel blog, "The Inspiration Highway". To refer to her original account on Goa Backwaters, please visit her blog page<a href="http://theinspirationhighway.blogspot.in/2016/04/sailing-secret-backwaters-of-goa.html"> here</a></i></b></p>
<br><br>
                    
                       
                    </div>