<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Tanvi_Udaipur_Images/City%20palace.jpg"> <h5 class="attraction-sub-heading"><b>The City Palace</b></h5>The huge palace complex is built over lake Pichola. The construction of the palace was started by Maharana Udai Singh when he moved to Udaipur. Over the next 40 decades, the kinds of Mewar created new structures inside owing to which the Palace exhibits a mixed architectural style. The palace has many beautiful sections including The Bari Pol (the big gate), Suraj Gokhada, Mor Chwak, Rajya Angan and more. The main part of the Palace has now been converted into a museum displaying a large and diverse array of artefacts.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Tanvi_Udaipur_Images/jagmandir%20palace%20fullview.jpg"><h5 class="attraction-sub-heading"><b>Jagmandir Palace</b></h5>It&acirc;&#128;&#153;s a beautiful three storied palace built on the island in Lake Pichola. Also known as the &acirc;&#128;&#152;Lake Garden Palace&acirc;&#128;&#153;, it was used as a summer resort by the royal Mewar family or for hosting their functions and festivities. The Palace infact is open to guests to hold private parties. It&acirc;&#128;&#153;s a destination used by guests across the world to hold events and functions. The palace is beautiful and grand and has a majestic feel to it which makes one fall for the royal aura.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Tanvi_Udaipur_Images/Jagdish%20temple.jpg"> <h5 class="attraction-sub-heading"><b>Jagdish Temole</b></h5>
                  It is one of the prominent tourist attractions of Udaipur. The temple is reached by a steep, elephant flanked staircase. The wonderful carvings and images of Lord Vishu are seen all over the temple. The temple also has a big brass image of Garuda facing the main structure.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Tanvi_Udaipur_Images/kumbalgarh%20fort.jpg"><b>Kumbhalgarh Fort</b><br>
                   One of the most important forts of Rajasthan, Kumbhalgarh Fort is located around 64 Kms from Udaipur. The fortress is under the protection of the Aravali range, encircled within thirteen mountain ranges. The construction of the fort extends to almost 36 Km, which is stated to be the second largest wall after the Great Wall of China. The fort has beautiful historic structures with magnificent temples and gardens. It&acirc;&#128;&#153;s a great drive from Udaipur and could offer you an amazing peaceful historical experience.

                    
                </li>
</ul>
</div>