<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       Months from October to March are considered best to visit the city. The beauty of the lake comes alive in winters, mainly in November-February. There is slight chill   in the weather during this time, perfect for a lovely romantic trip!
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                18-31 degree C
                <br>Humidity 48%
                    
            </div>        
                    </li>
        
        </ul>
        </div>