<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Tanvi_Udaipur_Images/City%20palace%20balcony.jpg" data-lightbox="roadtrip" data-title="View from the balcony of the majestic City Palace"><img src="../images/Tanvi_Udaipur_Images/City%20palace%20balcony.jpg" id="pic2"></a>
                           <p>"View from the balcony of the majestic City Palace"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/city%20palace%20gate.jpg" data-lightbox="roadtrip" data-title="Bari Pol - the grand gate at the entrace of the City Palace"><img src="../images/Tanvi_Udaipur_Images/city%20palace%20gate.jpg" id="pic4"></a>
                           <p>Bari Pol - the grand gate at the entrace of the City Palace</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/City%20palace.jpg" data-lightbox="roadtrip" data-title="The City Palace main view"><img src="../images/Tanvi_Udaipur_Images/City%20palace.jpg" id="pic7"></a>
                           <p>The City Palace main view</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/devra%20garden.jpg" data-lightbox="roadtrip" data-title="Enjoying a stroll through the gardens of Devra"><img src="../images/Tanvi_Udaipur_Images/devra%20garden.jpg"></a>
                           <p>Enjoying a stroll through the gardens of Devra</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/devra%20udaipur.jpg" data-lightbox="roadtrip" data-title="Hotel Devra"><img src="../images/Tanvi_Udaipur_Images/devra%20udaipur.jpg"></a>
                           <p>Hotel Devra</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/jag%20mandir%20palace.jpg" data-lightbox="roadtrip" data-title="View of the lake from Jagmandir Island Palace"><img src="../images/Tanvi_Udaipur_Images/jag%20mandir%20palace.jpg"></a>
                           <p>View of the lake from Jagmandir Island Palace</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/Jagdish%20temple.jpg" data-lightbox="roadtrip" data-title="The prominent Jagdish Temple"><img src="../images/Tanvi_Udaipur_Images/Jagdish%20temple.jpg"></a>
                           <p>The prominent Jagdish Temple</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/jagmandir%20palace%20fullview.jpg" data-lightbox="roadtrip" data-title="Jagmandir Palace"><img src="../images/Tanvi_Udaipur_Images/jagmandir%20palace%20fullview.jpg"></a>
                           <p>Jagmandir Palace</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/kumbalgarh%20fort.jpg" data-lightbox="roadtrip" data-title="Kumbhalgarh Fort 64 Kms from Udaipur"><img src="../images/Tanvi_Udaipur_Images/kumbalgarh%20fort.jpg"></a>
                           <p>Kumbhalgarh Fort 64 Kms from Udaipur</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/lake%20pichola%20day.jpg" data-lightbox="roadtrip" data-title="The beautiful Lake Pichola"><img src="../images/Tanvi_Udaipur_Images/lake%20pichola%20day.jpg"></a>
                           <p>The beautiful Lake Pichola</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/lake%20pichola%20dusk.jpg" data-lightbox="roadtrip" data-title="Dusk view of the lake amidst beautiful lighting"><img src="../images/Tanvi_Udaipur_Images/lake%20pichola%20dusk.jpg"></a>
                           <p>Dusk view of the lake amidst beautiful lighting</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Tanvi_Udaipur_Images/lake%20view%20from%20rooftop%20restaurant.jpg" data-lightbox="roadtrip" data-title="Lake view from rooftop of a restautant closeby"><img src="../images/Tanvi_Udaipur_Images/lake%20view%20from%20rooftop%20restaurant.jpg"></a>
                           <p>Lake view from rooftop of a restautant closeby</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>