<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Udaipur&acirc;&#128;&#153;s Maharana Pratap Airport is located just 22 Kms from the city and has domestic flights from other Indian cities such as Jaipur, Delhi, Mumbai, Kolkata, etc. Flights from Mumbai and Delhi are quite frequent.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses from connecting cities are available readily. Udaipur has a well-established and smooth road network. Delhi is at a distance of 650 Kms from Udaipur. Autos are the right medium to commute from going to one part of the city to another.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Direct trains are available to Udaipur from Delhi, Mumbai, and Kolkata. If you&acirc;&#128;&#153;re coming from other cities, you could change at Ahmedabad or Kota railway stations.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Udaipur is connected to Delhi and Mumbai via National Highway 8. The drive is around 10-11 hours from both cities with a distance of around 650-700 Kms. You could drive down with ample small breaks in between. Even rented cars are a good option. Rented two wheelers and four wheelers are available in Udaipur at reasonable rates.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>