<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Since this was a secret trip and our families don&acirc;&#128;&#153;t know about it, I'm changing names here for privacy so that our tech savvy parents don't come running after us with bullets!</p>
<br>
<p>Rahul and I decided to go for our first couple trip before I flew to the US for my next big career break. This was the time to test if we could survive a long distance relationship, so as a small parting gift, we decided to spend some lone time at a beautiful place. And what could be better than the Lake City known for its lovely romantic sites &acirc;&#128;&#147; Udaipur.</p>
<br>
                          <p><img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/lake%20pichola%20day.jpg"></p>
<br>
            <p>We decided to stay at a heritage resort called Devra maintained by a royal family. The resort was beautiful and was situated in the outskirts of the main city and had perfect calm and peaceful ambiance! </p>
<br>
             <img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/devra%20udaipur.jpg"> <br><br>
            <p>The day we reached, we started off our site seeing with visiting the Royal Palace. I must say, it is a beautiful with splendid view of the open courtyards, intricate architecture and detailing on the walls and the celling and a thoroughly royal and majestic feel in the whole environment of the palace.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/City%20palace.jpg"></p>
<br>
            
            <p>From here our adventure began (adventures not in terms of huckleberry fin ones, but the real adventures in our relationship). To start with, my sandals broke while we were on our way to the Royal Palace. I gave Rahul a romantic cum cute look and asked him to pick me up in his arms. However, he is a very shy sort of a boyfriend and was completely embarrassed by the idea. He simply refused to do as I say. The funny part however was that I was surprised to hear a native woman walking in front of us giggle away giving us a naughty look while eavesdropping our conversation. I never thought small town women could be comfortable hearing such things in public... But that made both of us go pink with embarrassment. But later, we thought of it as a lovely and cute memory!</p>
<br>
                    <img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/lake%20view%20from%20rooftop%20restaurant.jpg"><br><br>    
<p>We drove around the city and then went to the Lake. Whatever has been said about the splendid beauty of the Lake is not enough! It will leave you spell bound when you witness it live with your own eyes. We enjoyed a romantic boat ride in the lake and then planned on taking a stroll through the beautiful gardens adjoining the Lake.</p>
<br>
            <p><img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/jagmandir%20palace%20fullview.jpg"></p>
<br>
            
<p>We were walking in the lawns holding hands while the breeze was talking to us of our lovely times in our ears. We planned to go back to the resort. Here came by our second adventure. As soon as we walked inside the room and I took off my sandals, a dog game running inside the room and took away my sandals. Yes, a dog (it doesn&acirc;&#128;&#153;t matter that it was the pet of the owners). Both Rahul and I are not very fond of big dogs and yet, Rahul ran after the dog to get my sandals back. Thankfully the helper came to our rescue. Phew! All things apart, the resort in itself was great and comfortable. It is owned and maintained by a retired Army Major and his wife. They are and extremely polite and courteous.</p>
<br>
             <img class="center-align-full-row" src="../images/Tanvi_Udaipur_Images/devra%20garden.jpg"><br><br>
<p>Finally just when we were in a mood to end our day in a perfect way, we found a petty issue big enough to spark off a fierce fight! We fought as if we were on verge of break-up It wasn&acirc;&#128;&#153;t the best or the expected way to end out day fighting! Honestly, I thought of it as an end this relationship. However, the next day at 4 AM, Rahul woke up he had the epiphany (this is what he narrated later) that I am the one he wanted to spend his life with, and that he loved me from the bottom of his heart. He kissed me incessantly waking me up and apologising for the previous night.</p>
<br>
 
    <p>It's been 2 years since then, we not only survived the long distance, but rather grew stronger and are about to get married now. Udaipur was by far the most memorable and beautiful trip of mine with Rahul. A truly unforgettable experience for the kind of place it was and for the kind of memories it gave us.</p>
<br><br><br>


                    
                       
                    </div>