<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Sri Lanka has a balmy, pleasant climate. The country has two separate monsoons - main southwest (‘YALA’) monsoon from April/May to September in the west and southwest coasts and hill country and the less severe northeast (‘MAHA’) monsoon from November to March in the east coast. Due to this, the best time to visit the east coast would be April/May to September. Likewise, the west and south coasts and highlands would be the most welcoming from December to March.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                23-32 degree C
                <br>Humidity 58%
                    
            </div>        
                    </li>
        
        </ul>
        </div>