<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>Misty morning</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">A slight chill filled the air. Sun rays peeked through the morning mist floating around the luscious green Amaya Hills. Up here, it was silent; except for the birds and the monkeys saluting each other. Down below in the valley, the city stirred. It was a typical Sri Lanka morning and the start of another HDYTI adventure.</p>
<br><p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-40.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-49.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We headed north from Kandy to explore the ancient Sigiriya Rock Fortress. The noise of rush hour traffic gradually increased as we descended Amaya Hills. Soon we were surrounded by hordes of young wide-eyed children being rushed off to school on every available form of transportation. Dogs lazed about, having an early morning sun bath before probably wandering off to forage food (there seemed to be dogs everywhere we went!). Whitewashed stupas (structures of Buddhist significance) dotted the city landscape. Locals on their way to work paused to pay obeisance. Old men in sarongs slowly made their way to wherever old men went to in the mornings, while the younger men walked briskly past, looking smart in their European styled trousers and shirts.</p>
<br><p><img class="center-align-full-row" src="../images/70/Kandy-to-Sigiriya.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We hit a set of traffic lights and suddenly noticed a bit of excitement just outside our car. Someone was excitedly pointing at Eulanda and making gestures which we decoded to mean that they were referring to her hair. She didn&rsquo;t think too much about it at the time but her hair would become an object of fascination to the locals throughout our trip. Every one wanted to know if her hair was real. In response we would answer, &ldquo;Yes!&rdquo; and I would do a double act by taking off my sun hat to show my balding head in contrast. This always elicited a laugh.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: There are street dogs everywhere but they are mostly docile and will ignore people. As we didn&rsquo;t spend any considerable time walking on the open roads, we weren&rsquo;t too bothered by them. However if you plan to do lots of walking on open roads or in remote areas, getting a rabies shot before you travel to Sri Lanka is advisable.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p><b>Can we all just get along please?</b></p>
<p class="MsoNormal">&nbsp;</p>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-74.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-292.jpg"></p><br>

<p class="MsoNormal">Our trip towards Sigiriya took us through Matale, a multi-cultural, multi-religious town which is home to the colorfully decorated Hindu temple, Sri Muthumariamman Thevasthanam, which dates back to the 1800s. Sri Lanka is a diverse country that is home to four main religions: Buddhism, Hinduism, Islam and Christianity. We chatted to Jai, our guide, about the different cultural layers within Sri Lanka. He explained that the Sinhalese, the major, native ethnic group are mainly Buddhist. The Tamil population is mainly Hindu (their origins traceable to South India). The Moors, who migrated from Arab lands, brought with them Islam. The Portuguese came in 1500s and settled in the coastal areas which accounts for the existence of Catholicism in those areas. The Dutch followed in the mid-1600s, chased out the Portuguese and also settled in the coastal areas. The British arrived in the late 1700s, chased out the Dutch and remained till 1948 bringing with them the Anglican faith. Matale is an excellent example of how these different layers co-exist peacefully in Sri Lanka. Meanwhile, Jai continued to astonish us with his knowledge of history and local culture.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Although we did not have time to explore the inside of the Hindu temple, we found out that this is allowed. Note however that it costs 100 Rs for a tour of the outside and 250 Rs for the inside. Well worth a look if you have the time.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Rock, step, step&hellip;more steps and the reward</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-250.jpg"></p><br>

<p class="MsoNormal">Past Matale, we journeyed on to Sigiriya, which is a few miles north of Dambulla, a large regional wholesale food market which was already bustling with early morning trade. Sigiriya (aka &lsquo;The Lion Rock&rsquo;) is an ancient palace and rock fortress. The actual palace was built (circa 5th century BC) by King Kasyapa, on the summit of this absurdly shaped monolith (What was the dude thinking?!). The palace at the top is protected by other natural and man-made rock installations such as the aptly named Serpent&rsquo;s Head from which large boulders could be dropped on enemy heads (however we think that any attackers would probably have died from the exhausting climb anyway). The area surrounding the rock bears the remnants of what was once a set of beautifully landscaped water gardens, rock pools, fountains and walkways.</p>
<p class="MsoNormal">&nbsp;</p>
<p><img class="center-align" src="../images/70/Sri-Lanka-WEB-282.jpg">
<img class="center-align" src="../images/70/Sri-Lanka-WEB-263.jpg"><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-276.jpg"></p><br>

<p class="MsoNormal">This is not an easy climb and takes the better part of an hour (or two depending on your fitness) to complete. There are four levels to navigate to get to the palace at the top. The ground level, the fresco gallery, the lion&rsquo;s paws and finally, the summit palace itself. Between each level, there are a considerable number of steps to climb and crowds of tourists to navigate. The reward for the arduous climb however is the amazing view from the top of Sigiriya and the feeling that you&rsquo;re walking in the sky.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: A few bottles of water, sensible shoes with good grip, sun block and either a hat or sun shades should be all you need to do this climb.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Jai tackled the steps like a mountain goat&hellip;hopping from one to the other and pausing frequently to make sure we were keeping up. The early part of the climb took us through a pathway shaped interestingly like the crack between the buttocks of a prehistoric rock giant. When Kasyapa built this place, he had the rock surfaces painted with strangely alluring images of topless women. Legend has it that these now fading frescoes were images of his wives&hellip;almost 500 of them! Rumored to be a bit of a mad playboy, Kasyapa&rsquo;s reign was cut short by the murky events of 5th century BC politics. As the seat of power moved elsewhere, Sigiriya became a famous attraction for locals and travellers who inscribed ancient graffiti on the once shining surfaces of the &lsquo;Mirror Wall&rsquo; (another vanity feature installed by Kasyapa). Their poetry, which according to historians, was mostly written in an ancient Sinhalese dialect is said to celebrate the majestic sight that Sigiriya once was. An example (with translation) of their graffiti is shared below:</p>
<p style="margin: 0cm 0cm 0.0001pt; text-align: center; line-height: 19.5pt; vertical-align: baseline; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;" align="center"><span style="font-family: 'Courier New'; color: maroon; border: none windowtext 1.0pt; mso-border-alt: none windowtext 0cm; padding: 0cm;">Si raju yasasa siri; Tubu mulu lov pattiri; Nilupulasun asiri; Balumo Sihigiri (translated means &ldquo;We saw at Shigiri the king of lions, whose fame and splendour remain spread in the whole world, and the wonderful damsels with eyes (like) blue lilies&rdquo;).</span></p>
<p style="margin: 0cm 0cm 0.0001pt; text-align: center; line-height: 19.5pt; vertical-align: baseline; outline: 0px; box-sizing: border-box; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;" align="center"><span style="outline: 0px;"><span style="font-size: 7.5pt; font-family: 'Noto Sans', serif; border: 1pt none windowtext; padding: 0cm;">Source: The Island, published by Upa;i Newspapers, Sri Lanka, 7th February 2008</span></span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">According to Jai, long after Kaysapa&rsquo;s glory days had ended, Sigiriya became a Buddhist monastery in (circa) the 13th century. The monks however decided the topless women were bad for business and got rid of many of them. Neglect, weather and vandalism destroyed many more frescoes and large parts of the palace structure. Sigiriya was later abandoned for centuries and lost in history until the late 1800s. What remains of it is now protected by the government.</p>
<br><p><img class="center-align" src="../images/70/Sri-Lanka-WEB-278.jpg">
<img class="center-align" src="../images/70/Sri-Lanka-WEB-277.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Historians speculate that the full head of a lion, built out of the rock, once served as the grand entrance to the palace itself. However, all that is now left of it is a set of gigantic lion&rsquo;s paws on either side of two tall pillars. Only Kasyapa and his women were allowed past these lion&rsquo;s paws.</p>
<p class="MsoNormal">&nbsp;</p>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-279.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-280.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-51.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-262.jpg"></p><br>

<p class="MsoNormal">The walkways and stairs wrap around the rock itself. As you climb, you won&rsquo;t be mistaken if you make comparisons with scenes from the 1984 movie &lsquo;Indiana Jones and the Temple of Doom&lsquo; (which by the way was actually shot on location further south in Kandy, Sri Lanka). Reaching the top of Sigriya was an achievement and we were instantly rewarded with a visit by a cheeky monkey and spectacular views of the surrounding tropical forest which spread as far as the eye could see.</p>
<br><p><img class="center-align" src="../images/70/Sri-Lanka-WEB-257.jpg">
<img class="center-align" src="../images/70/Sri-Lanka-WEB-261.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-252.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-255.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Sigiriya is all about the climb. There are lots and lots of steps. Although a tasking effort, we saw lots of parents and small children enroute (although sometimes they had to be carried) so this is adventure is certainly doable as a family.</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal"><em>HDYTI Tip: Although it is possible to navigate the Sigiriya fortress without a guide, it is useful to have one. We had Jai so we didn&rsquo;t need one. The ticket office can recommend approved guides but their services can be pricey so be sure to negotiate. There are also many &lsquo;independent guides&rsquo; loitering about the place and they will try to persuade you to use them. Firmly say &lsquo;No&rsquo; as using these non-licensed guides could set you back considerably. We heard that some arhaeological sites in Sri Lanka require you to buy photo permits before being allowed to take photos. We (and seemingly everyone else) didn&rsquo;t have to buy any permits and no one seemed to mind. In these days of mobile phone cameras, I suspect they&rsquo;ve ditched this policy&hellip;in Sigiriya at least.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>The spices of life</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The Dambulla Cave Temple (another point of interest) was nearby but after all that Sigiriya climbing, we decided to give that a miss. After the exertions of Sigiriya, Jai wisely took us to a buffet style restaurant just outside the protected area (HDYTI Tip: A buffet meal for two with desert and drinks came to 2,600 Rs (approximately $20 USD with a 10% tip).</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Refueled and rested, we headed back towards Kandy and stopped again in Matale to visit the Ranweli Spice Garden. The agenda included a tour of the spice garden and a Sri Lankan curry demonstration.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Surrounded by lush vegetation, we were introduced to our guide, a bony sort of man with a strong grip and no smile who turned out to be extremely knowledgeable about the medicinal properties of the plants. Although we fully expected a sales pitch, we were quite impressed as he explained (with demonstrations where possible) how plant and spice combinations could be used for everything from natural sunblock and antioxidants to laxatives and skin regenerators. For example, he promised that a mix of turmeric, cloves and cinnamon is supposedly good for curing joint pains; a mix of wild asparagus is the touted remedy for varicose veins, a combination of honey and red pineapple will burn excess fat and a mix of sandalwood and aloe vera will leave your skin looking like a baby&rsquo;s bottom.</p>
<br><p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-265.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">To test one of these many assertions, I decided to be a willing guinea pig for a demonstration of the incredible natural hair removal properties of a mix of turmeric powder, lavender oil and aloe gel. After 10 minutes and the confirmed loss of some leg (not head) hair, we were treated to a &lsquo;free&rsquo; (cue: tip expected) relaxing shoulder and head massage and some warm herbal tea (cue: more sales pitching).</p>
<br><p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-266.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Sri Lanka is world-famous for its rare spices and herbs so we were excited to try a traditional and very simple vegetable curry which was made right in front of us.</p>
<br><p><img class="center-align" src="../images/70/Sri-Lanka-WEB-288.jpg">
<img class="center-align" src="../images/70/Sri-Lanka-WEB-284.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Spice gardens in Sri Lanka can be hit-and-miss. However, this place is certainly worth a quick look on your way from Sigirya. The tour itself is free. However apart from leaving a tip for the tour guide, don&rsquo;t be pressured into the extras (i.e., massage or tea) or into buying anything at their store except you really want to. Do not buy any tea from here. If proper Ceylon tea is what you&rsquo;re after, then head towards Nuwara Eliya.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Batik secrets</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">With what little energy we had left, we stopped at a Batik factory for a whistle-stop tour of their facility and a quick insight into the secrets behind the production of their lovely hand-drawn designs. Our guide informed us that it takes 3 days to produce a handkerchief size print, 5 days for a scarf, 3 weeks for a sari and 1 month for a full table cloth.</p>
<br><p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-71.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/70/Sri-Lanka-WEB-70.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">A few more Rupees lighter, we headed back towards Kandy to spend our very last night at Amaya Hills before heading to the tea country of Nuwara Eliya.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal"><strong>HDYTI Toe Rating: 3/5 &ndash; the climbing felt good but there was a lot of it!</strong></p>

<br><p><b><i>This extract has been compiled by Omo & Eulanda. Please visit their blogpage to read the original extract <a href="http://heydipyourtoesin.com/sigiriya-between-a-rock-and-a-spice-place/"> here</a></i></b></p><br>
                    
                       
                    </div>