<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       If you're looking for respite in summer months, it would be great to visit Dharamshala. April-June are actually the most commonly visited months in here. July-September could be the best time if you both are monsoon lovers and love romancing in the rains. The shimmering greens of the place add perfect beauty to the inherently lovely surroundings. November-February could be the months for winter lovers. Dharamshala is perfectly chilly and gorgeous!
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                2-20 degree C
                <br>Humidity 41%
                    
            </div>        
                    </li>
        
        </ul>
        </div>