<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/75/Daharamshala tea gardens - Copy.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/75/Daharamshala tea gardens - Copy.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/75/Dharamshala view.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/75/Dharamshala view.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/75/Naddi Sunset View.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/75/Naddi Sunset View.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/75/horizon villa outside.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/75/horizon villa outside.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/75/balcony.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/75/balcony.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/75/Bagsu Falls.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/75/Bagsu Falls.jpg" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/75/Dalai lama Buddha zoom.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/75/Dalai lama Buddha zoom.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/75/Gyutu monastery.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/75/Gyutu monastery.jpg" id="pic8"></a>
            
            </div><div class="pin">
            <a href="../images/75/Dal Lake.jpg" data-lightbox="roadtrip" data-title="" id="pic9"><img src="../images/75/Dal Lake.jpg" id="pic9"></a>
            
            </div><div class="pin">
            <a href="../images/75/St Johns.jpg" data-lightbox="roadtrip" data-title="" id="pic10"><img src="../images/75/St Johns.jpg" id="pic10"></a>
            
            </div><div class="pin">
            <a href="../images/75/Horizon villa room.jpg" data-lightbox="roadtrip" data-title="" id="pic11"><img src="../images/75/Horizon villa room.jpg" id="pic11"></a>
            
            </div><div class="pin">
            <a href="../images/75/Indique.jpg" data-lightbox="roadtrip" data-title="" id="pic12"><img src="../images/75/Indique.jpg" id="pic12"></a>
            
            </div><div class="pin">
            <a href="../images/75/Prayer wheels.jpg" data-lightbox="roadtrip" data-title="" id="pic13"><img src="../images/75/Prayer wheels.jpg" id="pic13"></a>
            
            </div><div class="pin">
            <a href="../images/75/horizon-villa-south interrior.jpg" data-lightbox="roadtrip" data-title="" id="pic14"><img src="../images/75/horizon-villa-south interrior.jpg" id="pic14"></a>
            
            </div><div class="pin">
            <a href="../images/75/Gyutu.jpg" data-lightbox="roadtrip" data-title="" id="pic15"><img src="../images/75/Gyutu.jpg" id="pic15"></a>
            
            </div><div class="pin">
            <a href="../images/75/shutterstock_182859620.jpg" data-lightbox="roadtrip" data-title="" id="pic16"><img src="../images/75/shutterstock_182859620.jpg" id="pic16"></a>
            
            </div><div class="pin">
            <a href="../images/75/Gyutu interrior.jpg" data-lightbox="roadtrip" data-title="" id="pic17"><img src="../images/75/Gyutu interrior.jpg" id="pic17"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>