<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                  Closest airport to Alleppey is Kochi, around 70 Kms away. Since Kochi is an international airport and one of the major cities in Kerala, it is well connected to other Indian cities. Flights are frequently available to and from Kochi. Cabs are available outside Kochi airport to Alleppey. However, since private cabs are not available, the charges of the airport cabs are fixed and a little on the higher side.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Alleppey has a good and well connected road network. State run buses ply frequently from other major cities in Kerala. Private Volvos are also available from nearby cities in other states to Alleppey such as Bangalore, Chennai, Coimbatore and Mysore. 
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Alleppey has its own railway station. However, it is not directly connected to cities outside Kerala. Connecting trains to Alleppey via Kochi and Thiruvananthapuram could be taken from other Indian cities. Cabs are easily available outside the train station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      You could even rent a car and visit Allepey from nearby cities such as Kochi, Kottayam, Kozikhode or Trivandrum. In fact many people come to Allepey over a long drive from Bangalore, Mysore and Coimbatore. National Highway 47 is smooth and well connected and offers the beholders some of the most amazing views of the palm trees, Arabian coastline and small canals and backwaters.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>