<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Khajjiar%20Meadow.jpg"> <h5 class="attraction-sub-heading"><b>Khajjiar Lake and meadow</b></h5>For people who have never visited this place, the meadow is going to be an instant favourite! It&acirc;&#128;&#153;s an amazingly beautiful picturesque enclosure of a huge ground carpeted with lush green grass, surrounded by think green Deodar forest in all directions. Khajjiar Lake is right in the middle of the meadow with a wooden bridge constructed across the lake. The place is an enchanting beauty!<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Khajjiar%20Meadow%20Self.jpg"><h5 class="attraction-sub-heading"><b>Adventure activities at Khajjiar</b></h5>Activities in Khajjiar include Horse riding, Para-gliding and Zorbing are the most common ones. There are many small eating joints across the area serving typical hill station food &acirc;&#128;&#147; Maggie, eggs and chai. However, many small restaurants serve proper food. There are small shops selling Tibetan and Himachal Pradesh specific handicrafts around the same place. People enjoy going for treks and nature walks around the meadow area.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Kwality%20Restaurant.jpg"> <h5 class="attraction-sub-heading"><b>Gandi Chowk Market</b></h5>
                   Mainly the mall road of Dalhousie, but popularly known as Gandhi Chowk market has many small shops ranging from the ones selling typical wooden goodies to the ones selling momos. There are many popular restaurants which were established around 40 years back still serving at the market &acirc;&#128;&#147; mainly Kwality Restaurant and the well-known Dalhousie Caf&Atilde;&copy;, a small snacks corner. There are a few Tibetan stores too selling local handicrafts and lovely woollen items such has mittens and gloves.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Boating%20point.jpg"><h5 class="attraction-sub-heading"><b>Chamera Lake</b></h5>Around 35 Km from Dalhousie, lies the Chamera Lake. It is an artificial lake built across Chamera Dam.  The place has its own charm owing to beautiful flower gardens located across the boundary of the lake and small kiosks at the entrance selling souvenirs and snacks. The Lake is mainly popular for its boating. The boat seats around 30-40 people in one go and covers the perimeter of the lake in around 20-30 minutes.

</li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Dainkund%20Peak%20temple.jpg"><h5 class="attraction-sub-heading"><b>Dainkund Peak</b></h5> Dainkund Peak is around 10 Km ahead of Dalhousie. There is a 45 minutes long beautiful trek from the starting point to the Pholani Devi Temple at the top of the hill. The trek will take you across narrow roads amidst clouds and fog to the peaceful temple. There are several view-points mid-way where you could stop, sit and absorb the lovely views being captured from top of the hills. There are many devotees that pay a visit to the temple including both visitors and localites.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Kalatop.jpg"><h5 class="attraction-sub-heading"><b>Kalatop Sanctury</b></h5>Kalatop is around 10 Km from Dalhousie. It is located in the Chamba district and is a huge enclosure/ forest of pine, fir and deodar trees. The forest is so think that even in daytime, the sunlight didn&acirc;&#128;&#153;t reach through the trees to the ground, hence the name &acirc;&#128;&#156;Kala&acirc;&#128;&#157; top. It is an authorized wildlife sanctuary and you would require a valid permit from DFO of Chamba which is necessary for any vehicle to enter. It&acirc;&#128;&#153;s better to take an authorized cab since they have the required licenses. Kalatop is home to many wild animals and it is not recommended to go for a trek uphill without a guide. The place also has government resorts which should be prebooked well in advance in case you plan to stay there.
                    
                </li>
</ul>
</div>