<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Summer season (March-May) is usually the time when many people visit the hill station as a respite from the city heat. Monsoons (June-Sep) offer a great view of the place with intermittent showers and pleasant weather. Perfect time to enjoy the hill station is winter season (Oct-Feb). The weather is chilly and temperatures go down to 1 degree. Cosy bon-fires can be enjoyed during this season.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                23-13 degree C
                <br>Humidity 51%
                    
            </div>        
                    </li>
        
        </ul>
        </div>