<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Barney%20at%20the%20medow.jpg" data-lightbox="roadtrip" data-title="The beautiful Khajjiar meadow"><img src="../images/Khajjiar_Dalhousie_images/Barney%20at%20the%20medow.jpg" id="pic1"></a>
                           <p>The beautiful Khajjiar meadow</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Boating%20point.jpg" data-lightbox="roadtrip" data-title="Chamera Lake Boating Point, 35 Km from Dalhousie"><img src="../images/Khajjiar_Dalhousie_images/Boating%20point.jpg" id="pic2"></a>
                           <p>Chamera Lake Boating Point, 35 Km from Dalhousie</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Khajjiar_Dalhousie_images/Dainkund%20Peak%20temple.jpg" data-lightbox="roadtrip" data-title="The beautiful Pholani Devi Temple on top of Dainkund Peak"><img src="../images/Khajjiar_Dalhousie_images/Dainkund%20Peak%20temple.jpg" id="pic2"></a>
                           <p>The beautiful Pholani Devi Temple on top of Dainkund Peak</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Dainkund%20Treak.jpg" data-lightbox="roadtrip" data-title="Trek to the Dainkund peak top with narrow roads amidst lovely views"><img src="../images/Khajjiar_Dalhousie_images/Dainkund%20Treak.jpg" id="pic4"></a>
                           <p>Trek to the Dainkund peak top with narrow roads amidst lovely views</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Deodar%20Manor%20from%20outside.jpg" data-lightbox="roadtrip" data-title="Guest House Deodar Manor from outside"><img src="../images/Khajjiar_Dalhousie_images/Deodar%20Manor%20from%20outside.jpg" id="pic6"></a>
                           <p>Guest House Deodar Manor from outside</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Deodar%20Manor%20Veranda.jpg" data-lightbox="roadtrip" data-title="Huge lovely wooden balcony attached to rooms at the Deodar Manor"><img src="../images/Khajjiar_Dalhousie_images/Deodar%20Manor%20Veranda.jpg" id="pic7"></a>
                           <p>Lovely wooden balcony attached to rooms at the Deodar Manor</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Flower%20garden%20at%20Boating%20point.jpg" data-lightbox="roadtrip" data-title="Lovely Flower Garden near the boating point at Chamera Lake"><img src="../images/Khajjiar_Dalhousie_images/Flower%20garden%20at%20Boating%20point.jpg"></a>
                           <p>Lovely Flower Garden near the boating point at Chamera Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Grand%20View%20Hotel%20balcony.jpg" data-lightbox="roadtrip" data-title="Amazingly well maintained gardens at the Grand View property"><img src="../images/Khajjiar_Dalhousie_images/Grand%20View%20Hotel%20balcony.jpg"></a>
                           <p>Amazingly well maintained gardens at the Grand View property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Kalatop.jpg" data-lightbox="roadtrip" data-title="Deodar Trees at Kalatop"><img src="../images/Khajjiar_Dalhousie_images/Kalatop.jpg"></a>
                           <p>Deodar Trees at Kalatop</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Khajjiar%20Meadow%20Self.jpg" data-lightbox="roadtrip" data-title="Scenic view of the beautiful Khajjiar meadow"><img src="../images/Khajjiar_Dalhousie_images/Khajjiar%20Meadow%20Self.jpg"></a>
                           <p>Scenic view of the beautiful Khajjiar meadow</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Kwality%20Restaurant.jpg" data-lightbox="roadtrip" data-title="The famous Kwality Restaurant at Gandi Chowk Market"><img src="../images/Khajjiar_Dalhousie_images/Kwality%20Restaurant.jpg"></a>
                           <p>The famous Kwality Restaurant at Gandi Chowk Market</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/Meadow%20view%20from%20top.jpg" data-lightbox="roadtrip" data-title="View of the Khajjiar meadow from the top"><img src="../images/Khajjiar_Dalhousie_images/Meadow%20view%20from%20top.jpg"></a>
                           <p>View of the Khajjiar meadow from the top&gt;
                       </p>
</div>
                       
                        <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/View%20of%20the%20hills%20from%20Dalhousie.jpg" data-lightbox="roadtrip" data-title="View of the hills while taking a walk at Gandi Chowk at dusk"><img src="../images/Khajjiar_Dalhousie_images/View%20of%20the%20hills%20from%20Dalhousie.jpg"></a>
                           <p>View of the hills while taking a walk at Gandi Chowk at dusk&gt;
                       </p>
</div>
                        
                           <div class="pin">
                           <a href="../images/Khajjiar_Dalhousie_images/View%20from%20Veranda.jpg" data-lightbox="roadtrip" data-title="View of the snow capped Himalayas from The Deodar Manor balcony"><img src="../images/Khajjiar_Dalhousie_images/View%20from%20Veranda.jpg"></a>
                           <p>View of the snow capped Himalayas from The Deodar Manor balcony&gt;
                       </p>
</div>
                        
                    </section>
                    
                    
                    </div>