<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Long distance right after the relationship starts flowering is hard. Being away for too long just isn't our thing. One month into long distance, we planned to go for another trip. Both of us prefer the hills to beaches. Plus, since summer was taking its toll on both of us, on me in Delhi and on him in Indore, we planned to go to a hill station. It took us 2 hours of internet surfing and a few conversations over Gtalk to finalize Dalhousie as our destination and plan the whole trip.
 </p> <br>     

<p>Our plan was to spend 4 days and 3 nights at Dalhousie itself. We looked up a few hotels and found the Grand View Hotel to be the best. It ranked #1 on TripAdvisor and got great reviews. Considering we were meeting after a long time, it had to be special. So we went ahead with the best! The booking went through TravelGuru and the payment was made. However, when we called the Hotel next morning to confirm, the manager informed that they were fully booked for the first night and couldn't take the booking. She was courteous and suggested we get our refund from TravelGuru, book the hotel directly for two nights and stay in Khajjiar the first night. We happily agreed since she shifted us to the Royal Suite in the same cost (which was awesome). Also, we liked the plan of visiting Khajjiar since it was only 20 Km from Dalhousie. Ultimately, it all turned out to be a blessing in disguise! :)</p>
<br>
            <p><b>Day-1</b></p>
            
                  
            <p>Barney took a flight to Delhi and I went to the airport to receive him. Longingness to see each other increased further when I first went to the wrong terminal! When I finally met him, we hugged and simply grinned looking at each other. It was silly but it had been the first time we were meeting after a big break. It was obvious to have such involuntary reactions.</p>
<br>
             <p><img class="left-align" src="../images/Khajjiar_Dalhousie_images/UCH.jpg"></p>     
            <p>Barney wanted to have butter chicken. We relished a nice big meal at United Coffee House at Connaught Place and left for ISBT from where our bus was to depart at 7:30 PM. The bus wasn&acirc;&#128;&#153;t very comfortable but sitting next to Barney in the bus brought back Hampi memories. We chatted in the bus and held hands and all but there were people around and we didn&acirc;&#128;&#153;t want to make a scene so we were cautious in that way. The bus journey was slightly tiring. Around 6 in the morning, we reached Dalhousie. There are many cabs available from the bus stop. We hired one to Khajjiar for 800 bucks and within an hour or so reached our hotel &acirc;&#128;&#147; the Deodar Manor. What a place!</p>
<br>
             <p><img class="right-align" src="../images/Khajjiar_Dalhousie_images/Deodar%20Manor%20from%20outside.jpg"></p>
            <p>Deodar Manor is more of a homestay than a hotel. It has just 4 spacious rooms and is a bungalow converted into a commercial property. The cottage is made of wood and is maintained by Hanut Bal, the owner of the property.  Every room has a nice big balcony attached. We were quite hungry when we reached and straight away went to a small dining room where Raju, the care taker of the place, cooked us some nice parathas and eggs. We asked him to get our coffee upstairs. Barney and I had a nice time sitting in the balcony, sipping hot coffee and enjoying a lovely Himalayan view in perfect chilly weather. After catching some sleep, we left for the meadow. </p>
<br>
                    <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Khajjiar%20Meadow%20Self.jpg">   
                
<p>Khajjiar is called the Switzerland of India for a reason. It&acirc;&#128;&#153;s a huge meadow with a carpet of sparkling green grass surrounded by Deodar trees of different shades of green in all directions. There is a small lake in between with a wooden bridge over it, however, not very well maintained. There are small kiosks and Maggie joints. We sat on the grass, chatted and clicked some pictures. It is a beautiful place where you could while away your time away from the city. We took a long walk across the meadow and went up to the bridge too. <br><br>
       
   <img class="right-align" src="../images/Khajjiar_Dalhousie_images/View%20from%20Veranda.jpg">
</p>
<p>When it started to get dark, we walked upto to our Guest House. We asked Raju to give us a cup of tea each at the balcony. We sat there with on the wooden chairs in dim yellow lights, overlooking the Himalayas. Hanut, the owner of the place joined us. He&acirc;&#128;&#153;s a nice host and we enjoyed having a conversation with him. Raju&acirc;&#128;&#153;s wife had made chicken for dinner. We enjoyed a nice homely meal and came up to our room. It was amazing snuggling inside the blanket cosily in chilly weather and watching a movie on the laptop together. What fun! :)</p>
<br>
            
              <p><b>Day-2</b></p>
           <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Grand%20View%20Hotel%20balcony.jpg">
<p>Next morning, after breakfast, we left for meadow in the morning for a quick walk. Hanut arranged for a taxi for us which took us to Dalhousie. We reached the Grand View Hotel around 12 PM. The bell boy escorted us to our Royal Suite and let me tell you, the room stood up to our expectations. It had a big living room with sofas and a dining table. The next was a spacious bed room with an attached bathroom with Jacuzzi. French windows offered us a great view of the Himalayas. The hotel had an awesomely maintained pretty garden too. We walked down to the Gandhi Chowk market area to the famous Kwality Restaurant for lunch. We went back to the hotel and enjoyed a nice long conversation in the room. The buffet dinner at The Grand View has many options to choose from but the food taste isn&acirc;&#128;&#153;t very good. However, there were no second thoughts on the beauty and comfort of the hotel!</p>
<br>
            
            <p><b>Day-3</b></p>
     
<img class="right-align" src="../images/Khajjiar_Dalhousie_images/Boating%20point.jpg">
<p>We took an itinerary from the Hotel reception to see where all we could visit. We decided on going to Chamera lake, which is around 35 Km down from Dalhousie. There was a government managed pre-paid taxi booth right outside our hotel. We booked a taxi to and fro. It was a nice long ride to the lake. The driver had some good Bollywood music (never mind cheesy). Nice music, lovely views of the valley with humongous mountains on one side and deep green gorges on the other, comfort of Swift Dzire (much better than other cabs), Barney and me! What could be better?<br>
We stopped on way at one of the dhabas for lunch where I embarrassed Barney by making him my model for photoshoots. We reached Chamera Lake and decided to go boating since the place didn&acirc;&#128;&#153;t have anything else. The boat was huge and seated around 40 people in one go. We enjoyed nice conversations about our respective families while the boat covered the perimeter of the lake and got us back.
</p>
<br>

                    <img class="left-align" src="../images/Khajjiar_Dalhousie_images/View%20of%20the%20hills%20from%20Dalhousie.jpg">
                    <p>It had started drizzling slightly. We had Maggie at one of the stalls outside before going back to the hotel. Since I needed to shop for souvenirs for my friends, I dragged Barney to the market with me. He waited while I haggled for the prices for typical wooden jewellery boxes and coasters available at all possible mall roads at Hill stations in India. Btw, Barney dislikes shopping to a great extent! :p We grabbed a quick bite at Caf&Atilde;&copy; Dalhousie, a small snack corner. The walk back to the hotel was a unique one. On one hand the view of the hills from the road was lovely, which seemed like thousands of starts studded inside the big mountains, on the other, our talks went a little melancholic since Barney spoke something about his past. You know how things get when it goes to Ex's, and being posessive isn't the best trait for one to have. However, our endless conversations continued over the buffet dinner at the hotel and in bed before we went off to sleep. All at peace, in the end :)</p>
<br>
            
               <p><b>Day-4</b></p>
            <img class="right-align" src="../images/Khajjiar_Dalhousie_images/Dainkund%20Treak.jpg">

<p>Based on the itinerary, we planned on visiting two places &acirc;&#128;&#147; Dainkund Peak and Kalatop. We hired a cab. Dainkund peak is around 10 Km from Dalhousie. There is around 45 minutes of trek from the point where cabs stop to the top &acirc;&#128;&#147; where the temple is situated. We walked along the narrow route amidst the fog and the clouds. It was getting chillier with every passing minute. We stopped at two view points midway and sat down to enjoy the view of Dalhousie from the top, which was breathtakingly beautiful. The small temple at the top was peaceful and serene and saw many devotees coming every day, especially during the season. We sat at one of stalls overlooking an awesome view and had Magge and chai &acirc;&#128;&#147; the combination of these two especially in chilly weather in the hills gives one a different level of satisfaction altogether!</p>
<br>
            
 <img class="left-align" src="../images/Khajjiar_Dalhousie_images/Kalatop.jpg">
<p>Next we left for Kalatop. We took a guide out there to walk us to the top. We had a nice time talking to him, enjoyed a few laughter moments too while he gave us the historical snippets of the place. We even asked him to click a few typical romantic pose pictures of ours while we stopped there for some time. We were to catch a train back to Delhi right after from Pathankot station. </p>
            <p>The journey was coming to an end. In the train we looked through all the pictures we had clicked during the trip and wondered when we would meet next. At that time, we didn&acirc;&#128;&#153;t know we would in fact catch up again, just after 2 weeks :)</p>
<br><br>


                    
                       
                    </div>