<div class="banner">
            <%= render "/ct_controller/topnav" %>
		
			<div class="banner-bottom left-right-margin">
                <h3 class = "center-align-place">About the Creators</h3>
                <hr>						
            </div>
</div>
    <div class="parent-null">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-text blog-text">
        
        They say people don’t get over their first love. Wasn’t very true in our case. We both had our respective pasts. We got over it when we met each other during out post-graduation at Indian 
School of Business. Something clicked, we fell in love and, life has been a fairy-tale since then!
We started dating officially two months before our convocation and have been living in different 
cities since then. However, the so called “long-distance” hasn’t been very successful in keeping us 
apart. We travel and meet almost every fortnight and make up for the distance. Hence, the 
brainchild – coupletrips.in <br>
We want couples to fall in love all over again by discovering themselves and each other over travel.
<br><br>
Since our families don’t know yet of our personal developments, we’ve kept our identity hidden. 

We’ll lift the veil soon. Meanwhile, you can call us Betty and Barney :)
    </div>
    <div class="col-md-3"></div>
    </div>