
<div class="banner">
		
							<div class="banner-infoa">
                                <div class="collapse navbar-collapse main-top">
                                    <nav class="navbar remove-margin">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                
                                <a class="navbar-brand" href="./index.html"><img class="logo-ct"  src="/images/CT-Logo-2heart.png" />   </a>
                                            </div>
                                            
                                            <ul class="nav navbar-nav">
                                                <li><a href="/about.html">About Us</a></li>
                                                <li><a href="/share.html">Share Your Trip</a></li>
                                                <li><a href="/contact.html">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>

									<div class="man">
                                        <br><br>
    <h3> <b>A COMMUNITY FOR LOVERS WHO TRAVEL </b></h3>
                            <a href="./share.html">    <Button class="gradient btn-primary top-button">Share Your Trip</Button> </a>

                                        
										<div class="clearfix"></div>
									</div>


							</div>

			<div class="banner-bottom left-right-margin">
					<div class="bottom-grids">
						<div class="col-md-3">
							<div class="photo" style="background:url('/images/Khajjiar_Dalhousie_images/Barney%20at%20the%20medow.jpg'); background-size: cover">
                                
                                <a href="places/Khajjiar-Dalhousie.html" class="fill-div">
                                
                                <div class="place-title place-title-2">KHAJJIAR <br>  DALHOUSIE</div>
                                
                                
                                </a>
                                
                                
                            
                            
                            
                            </div>
                            
                        </div>
                        
                        <div class="col-md-3">
							<div class="photo" style="background:url('/images/Hampi_images/hampi_index_cover.jpg'); background-size: cover">
                            
                            <a href="places/hampi.html" class="fill-div">
                                <div class="place-title">HAMPI</div>
                            </a>
                            </div>
								
								
								
				</div>
						
                        
                        <div class="col-md-3">
							<div class="photo" style="background:url('/images/Ananthagiri_images/driveway_cover.jpg'); background-size: cover">
                                
                                
                                
                                
                            <a href="places/Ananthagiri.html" class="fill-div">
                                <div class="place-title">ANATHGIRI</div>
                            </a>
                            </div>
						</div>
                        
                        
						<div class="clearfix"></div>
					</div>
			</div>
    
  
</div>
