


<div class="banner">
		
							<div class="banner-infoa">
                                <%= render "/ct_controller/topnav" %>

									<div class="man">
                                        <br><br>
    <h3> <b>A COMMUNITY FOR LOVERS WHO TRAVEL </b></h3>
                            <a href="./share.html">    <Button class="gradient btn-primary top-button">Share Your Trip</Button> </a>

                                        
										<div class="clearfix"></div>
									</div>


							</div>

			<div class="banner-bottom left-right-margin">
					<div class="bottom-grids">
                          <div class="col-md-3">
							<div class="photo" style="background:url('./images/Ananthagiri_images/driveway_cover.jpg'); background-size: cover">
                                
                                
                                
                                
                            <a href="./places/ananthgiri.html" class="fill-div">
                                <div class="place-title">ANANTHAGIRI</div>
                            </a>
                            </div>
						
                        </div>
                        
                        <div class="col-md-3">
							<div class="photo" style="background:url('./images/Hampi_images/hampi_index_cover.jpg'); background-size: cover">
                            
                            <a href="./places/hampi.html" class="fill-div">
                                <div class="place-title">HAMPI</div>
                            </a>
                            </div>
								
								
								
				</div>
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Khajjiar_Dalhousie_images/Barney%20at%20the%20medow.jpg'); background-size: cover">
                                
            <a href="./places/khajjiar_dalhousie.html" class="fill-div">          
                <div class="place-title place-title-2">KHAJJIAR <br>  DALHOUSIE</div>
            </a> 
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Hyd_Images/Hyd%20char%20minar.jpg'); background-size: cover">
                                
            <a href="./places/hyderabad.html" class="fill-div">          
                <div class="place-title place-title">HYDERABAD</div>
            </a> 
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Lonavala_Images/Cover%20pic%20Lonavala.jpg'); background-size: cover">
                                

            <a href="./places/lonavala_khandala.html" class="fill-div">          
                <div class="place-title place-title-2">LONAVALA <br>  KHANDALA</div>
            </a> 
        </div>
    </div>
                        <div class="col-md-3">
        <div class="photo" style="background:url('./images/Neha_Lansdowne_Images/drive.jpg'); background-size: cover">
                                

            <a href="./places/lansdowne.html" class="fill-div">          
                <div class="place-title place-title">LANSDOWNE</div>
            </a> 
        </div>
    </div>
                        
                        <div class="col-md-3">
        <div class="photo" style="background:url('./images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg'); background-size: cover">
                                

            <a href="./places/palampur.html" class="fill-div">          
                <div class="place-title place-title">PALAMPUR</div>
            </a> 
        </div>
    </div>
                 
                         <div class="col-md-3">
        <div class="photo" style="background:url('./images/Moheth_Kodaikanal_Images/kodai%20mountain%20view.jpg'); background-size: cover">
                                

            <a href="./places/kodaikanal.html" class="fill-div">          
                <div class="place-title place-title">KODAIKANAL</div>
            </a> 
        </div>
    </div>
    
  
    <div class="col-md-3">
         <div class="photo" style="background:url('./images/Tanvi_Udaipur_Images/jag%20mandir%20palace.jpg'); background-size: cover">
                                

            <a href="./places/udaipur.html" class="fill-div">          
                <div class="place-title place-title">UDAIPUR</div>
            </a> 
        </div>
    </div>
                        
                        
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Archana_Leh-Ladhak_Images/Leh%20cover.jpg'); background-size: cover">
                                

            <a href="./places/leh_ladakh.html" class="fill-div">          
                <div class="place-title place-title-2">LEH <br>  LADAKH</div>
            </a> 
        </div>
    </div>
                        
                        
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Neha_Kanha_Images/Kanha%20Cover.jpg'); background-size: cover">
                                

            <a href="./places/kanha_nationalpark.html" class="fill-div">          
                <div class="place-title place-title-2">KANHA <br>  NATIONAL PARK</div>
            </a> 
        </div>
    </div>
                        
                        
    <div class="col-md-3">
        <div class="photo" style="background:url('./images/Charles_Manali_Images/Manali%20Cover.jpg'); background-size: cover">
                                

            <a href="./places/manali.html" class="fill-div">          
                <div class="place-title place-title">MANALI</div>
            </a> 
        </div>
    </div>
                        
               

                    
						<div class="clearfix"></div>
					</div>
			</div>
    
  
</div>



<!-- Modal -->


