<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/52/leh model hall of fame.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/52/leh model hall of fame.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/52/Leh to Lamayuru NH 1D.png" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/52/Leh to Lamayuru NH 1D.png" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/52/enroute lamayuru.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/52/enroute lamayuru.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/52/nimu to saspol.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/52/nimu to saspol.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/52/Leh to Lamayuru NH 1D edited.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/52/Leh to Lamayuru NH 1D edited.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/52/DSC_0123.JPG" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/52/DSC_0123.JPG" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/52/A proud Yd.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/52/A proud Yd.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/52/sangam.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/52/sangam.jpg" id="pic8"></a>
            
            </div><div class="pin">
            <a href="../images/52/hall of fame memorial.jpg" data-lightbox="roadtrip" data-title="" id="pic9"><img src="../images/52/hall of fame memorial.jpg" id="pic9"></a>
            
            </div><div class="pin">
            <a href="../images/52/IMG_20150719_145307_HDR.jpg" data-lightbox="roadtrip" data-title="" id="pic10"><img src="../images/52/IMG_20150719_145307_HDR.jpg" id="pic10"></a>
            
            </div><div class="pin">
            <a href="../images/52/moonland lamayuru.jpg" data-lightbox="roadtrip" data-title="" id="pic11"><img src="../images/52/moonland lamayuru.jpg" id="pic11"></a>
            
            </div><div class="pin">
            <a href="../images/52/nubra on framde.jpg" data-lightbox="roadtrip" data-title="" id="pic12"><img src="../images/52/nubra on framde.jpg" id="pic12"></a>
            
            </div><div class="pin">
            <a href="../images/52/lamyuru 1.jpg" data-lightbox="roadtrip" data-title="" id="pic13"><img src="../images/52/lamyuru 1.jpg" id="pic13"></a>
            
            </div><div class="pin">
            <a href="../images/52/bike repair.jpg" data-lightbox="roadtrip" data-title="" id="pic14"><img src="../images/52/bike repair.jpg" id="pic14"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>