<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/45/FullSizeRender (1).jpg"> <h5 class="attraction-sub-heading"><b>Ishestar Stables</b></h5>The Ishestar Stables located in Hafnarfjörður, a 15 minute drive from the capital, Reykjavik, are one the more famous attractions in Iceland. As the title suggests, the Stables comprise horses of one of the rarer breeds in the world, the Icelandic horse. They are known for their comfortable gait, which makes riding them easier. Hafnarfjörður, the Town in the Lava, is lined with wildly shaped lava formations. Black rocks hover the landscape with houses standing off the boulders. <br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/45/4.jpg"><h5 class="attraction-sub-heading"><b>Fontana Geothermal Spa</b></h5>Head over to Laugarvatn for a relaxing experience in the Fonatana Geothermal spa. The facility was established way back in 1929. Hot steam emanating from the ground in the various steam baths on site, nature seems to heal with an enriching experience. The added benefit is the chance to witness one of the most singular sights in the world, The Northern lights.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/45/2.jpg"> <h5 class="attraction-sub-heading"><b>The Northern Lights</b></h5>
                  Although there is a possibility that the Northern Lights may not grace you with its presence, travelling during the equinoxes will significantly boost the odds. The night sky sprayed with colors like a canvas of nature, the sight is surreal for folks from the more temperate regions.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/45/IMG_2586.jpg"><h5 class="attraction-sub-heading"><b> Laugavegur Street</b></h5>Laugavegur is the shopping destination for tourists in the capital. Lined with cafes, art galleries and prestigious shops selling Icelandic attire, souvenirs and post cards. Traditional Icelandic houses are visible along the street. It has however lost its sheen due to the rising popularity of shopping malls in Reykjavik. The rooted themes of the street though make it a popular choice among tourists. 
</li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://vegantravelagent.com/wp-content/uploads/2011/06/hallgrimskirkja.jpg"><h5 class="attraction-sub-heading"><b>Hallgrimskirkja Church</b></h5>Hallgrimskirkja Church towers Reykjavik as one of the most iconic landmarks of the city. The construction of this massive Lutheran church was completed in 1986, although the tower was constructed much earlier. The main attraction in the church is the gargantuan pipe organ, capable of filling the church complex with a range of tones. The statue of Leifur Eiriksson, the first European to discover America stands in front of the church.
                    
                </li>
</ul>
</div>