<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        The best time to visit Iceland is during Winters so that you can witness the cosmic phenomenon of the elusive Northern Lights. Winter also boasts a beautiful backdrop for glacier hikes, geothermal baths and Arctic horseback rides. In summer, all of these elements are available except for the Northern Lights. 

            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                -2 - 4 degree C
                <br>Humidity 60%
                    
            </div>        
                    </li>
        
        </ul>
        </div>