<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        Keflavik International Airport is the largest airport in Iceland, with connecting flights usually from Canada and Ireland. It is a major hub for international transportation of the country. The airport has a historical significance, being originally commissioned by the USA	 during World War II to facilitate bombers.
                            </div>
                    </li>
                    
                    
                
                </ul>
                    
                    
                </div>