<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    
 Booking a hotel in the city center (any one will do, as most seem up to high Scandinavian standards) gives you the freedom to walk the shopping and entertainment districts, cutting down on transport fees, and giving you instant access to cozy restaurants where you can share a romantic seafood meal, and low-lit pubs where you'll listen to soft Indie music and gossip over a Gull.                 
                    
                    
                    </div>
                    
                    
                </div>