<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">With Valentine&rsquo;s Day just around the corner, the only thing you need to know when planning a romantic getaway is: Hot baths and cool lights. I mean, there hasn&rsquo;t been a better recipe for spicing things up since champagne and strawberries. That's why you and your boo are&nbsp; packing your suits and snow boots and heading to Iceland; to experience the signature Scandinavian &ldquo;hyggelig&rdquo; (or coziness) that's bound to stoke that amorous fire.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">It worked for us. Even though my husband and I didn't have long to experience the one-of-a-kind aesthetic of this Arctic Circle Aphrodite, from the moment we booked airfare (starting at $99 through IcelandAir or WOW Air), to the second we landed in SLC to go home to our toddler, we never wanted for anything that we didn't get on this loveboat vacay.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>It's convenient</strong></p>
<p class="MsoNormal">Lucky for us weekenders, Icelandic tourism revolves around the &ldquo;stopover&rdquo; - short trips while going to or from Europe and America. Their model creates efficiency at every turn. For example, Buy a $76 round-trip ticket for two and the FlyBus buy take you door-to-door from the airport to your Reykjavik hotel, so you waste no time getting onto your sightseeing. Plus, an abundance of jam-packed day tours allow you to accomplish ample adventuring in limited time.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The first important element of a successful couple&rsquo;s trip is the hotel. Booking a hotel in the city center (any one will do, as most seem up to high Scandinavian standards) gives you the freedom to walk the shopping and entertainment districts, cutting down on transport fees, and giving you instant access to cozy restaurants where you can share a romantic seafood meal, and low-lit pubs where you'll listen to soft Indie music and gossip over a Gull.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>It's exotically romantic</strong></p>
<p class="MsoNormal">We chose to come in Winter so we could witness the cosmic phenomenon of the elusive Northern Lights. Winter also boasts a beautiful backdrop for glacier hikes, geothermal baths and Arctic horseback rides. In summer, all of these elements are available except for the Northern Lights.</p><br>
 <p><img class="center-align" src="../images/45/2.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We booked all of our excursions from our hotel, surprisingly incurring no extra fees. Tourism is the number one industry in Iceland, so it's no surprise that the same convenient airport bus - FlyBus - also shuttled us to and from our every excursion; right to our hotel door. Our first tour landed us at nearby IsHestar stables, where they geared us up, head to toe, and led us on a romantic ride through snow-covered lava fields atop the iconic Icelandic horse. A relic from the Age of the Vikings, the Icelandic horse&rsquo;s good nature and surefootedness make for a safe companion for first-time and experienced riders alike. After our scenic ride, my husband and I cozied up over free coffee atop fur-covered chairs at the stable house. We paid 11400 KR each, or $88 USD.</p><br>
 <p><img class="center-align-full-row" src="../images/45/FullSizeRender (1).jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>The northern lights make a great proposal setting.</strong></p>
<p class="MsoNormal">Our next tour took us from our hotel to a renowned geothermal spa called Fontana (3400 KR each, or $26 USD). In the open-air, mineral-rich waters, my husband and I laughed and cuddled as we marveled at the Northern Lights establishing a faint, Milky Way-looking presence in the starlit sky. We simmered in the steam room and saunas next, feeling rejuvenated as we boarded the bus to go Northern Lights hunting; a tour that cost us 6400 KR each; about $50 USD. Though we saw them faintly at the spa, as we got further outside of Reykjavik, we saw the real light show. Huddling together in below-freezing temps, my husband and I gasped and wept as we watched green and pink solar flares build up into a striking, dancing watercolor on a black, frosty canvas. At one point, tears in his eyes, my husband got down on one knee and asked me to marry him again. Our frozen lips kissed; sealing in a night we&rsquo;ll never forget.</p><br>
 <p><img class="center-align" src="../images/45/4.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our third day saw us meandering the hoppin&rsquo; Laugavegur street; shopping and popping into quaint cafes as we people-watched our way across town. We paid 900 KR each, or $7 USD to see the breathtaking view of Reykjavik and all its colorful houses from atop the Hallgrimskirkja, which, next to the Rubix cube-like Harpa Concert Hall, is arguably the coolest building in the city as it mimics a Viking sword piercing the sky. On our way back to the hotel, we were spoiled by the glow of a sunset that lasted for ages! There's actually a plus to those short, six-hour days of winter sunlight; the whole time, it's virtually half sunrise, and half sunset.</p><br>
 <p><img class="center-align-full-row" src="../images/45/IMG_2586.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">Having been treated to Icelandic hospitality in cozy coffee houses, steamed up with each other in hot baths, and held one another in awe under the life changing lights, it's safe to say this land of Fire and ice ignited something in my husband and I that had been buried under diaper changing and doctor&rsquo;s appointments. Sometimes it takes a sub-zero shock to the system to remember what's really important in life, and, even as you're staring into the cosmos at the Aurora Borealis, you realize the real beauty is the bond with person sharing it all with you.</p>

                    
                       
                    </div>