<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <h4 class="attraction-sub-heading">The Fort is the attraction. Built over many hills, visiting the entire Fort complex can easily take over a day. Do visit the various temples inside it, as well as the old mint, now only standing as walls.                    
                </li>
</ul>
</div>