<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   The closest airport to Chitradurga is Hubli which is 190 Kms away. Bangalore airport, which is much more convenient is around 220 Kms away.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses from Bangalore are available till Chitradurga.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                   The closest train stations from Chitradurga are Bangalore (200 Kms away) and Ballenahalli train station (250 Kms away). Taxis from these stations could be availed till Chitradurga.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      Driving to Chitradurga would be the most convenient route, especially if you love long drives. Pick up your car and get set go. The distance from Bangalore is around 200 Kms and from Mumbai is 750 Kms.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>