<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">While on long road trips, we always map the route and stopovers beforehand to make sure we have the maximum fun and comfort. So on one such long road trip between Mumbai and Coonoor, we decided on stopping over at Chitradurga, Karnataka, a reasonably in the middle of the route destination. We didn&rsquo;t know much about Chitragurga but for it&rsquo;s windmills and that there was an old fort.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">But when we went and saw the fort, our jaws dropped. It was one of the most amazing fort ruins we have ever seen. Built in stages between the 17th and 18th century by various dynasties like the Rashtrakutas Chalukyas, Hoysalas and Nayakas, the beautiful fort was like a self sustained town built over several hills and overlooking a flat valley. They fort was later captured by Hyder Ali and together with his son Tipu Sultan they strengthened it. The fort is made of many concentric walls for added security and houses a citadel, a mosque, various ancient temples, granaries, an old mint, water reservoirs, palace for the kings and quarters for the rest of the staff.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Folk legend has it that a man-eating giant by the name of Hidimbasura lived on the Chitradurga hill and terrorised everyone. When the Pandavas came with their mother Kunti during their exile, Bhim fought with and stayed Hidimba and returned the area to peace.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">The fort, built amongst boulders (said to have been used in the legendary battle between Bhima and Hidimbasura), is a sight to watch and explore. An architectural delight, the views from the fort are gorgeous. Do take out at least a whole day and reach early in the morning.</p>

                    
                       
                    </div>