<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg"> <h5 class="attraction-sub-heading"><b>Amber Fort</b></h5>Also called Amer Fort owing to its location in Amer, which is around 10 Kms from main Jaipur city. One of the most acclaimed forts in our country, the beautiful structure was built by Raja Moan Singh in sixteenth century. Built in red sandstone and marble, the fort looks grand and majestic with a perfect blend of Hindu-Muslim architecture. The fort is very intelligently constructed with the main entrance facing the east from where a magnificent view of the sunrise can be observed. Take a walk through various sections including Sheesh Mahal, Sila Devi Temple etc. will leave you both mesmerized and lost in the history. Do not miss the elephant ride upto the fort. Crossing through the lovely views of the fields and forests on the foothills of Aravalis on the elephant together will sure give you a beautiful experience.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"><h5 class="attraction-sub-heading"><b>Nahargarh Fort</b></h5>This fort served as a summer retreat fort the royalty. Since its structured around 600 ft above the main Jaipur city, the fort offers an amazing view of the city from the top. If you&acirc;&#128;&#153;re the romantic type (we believe we all are to certain extent), wait till the dusk and see get a birds eye view of the Jaipur city with lights shimmering and glittering while you two could canoodle amidst the lovely ambiance! The place has dine-out options, main one called Padao, where you two could enjoy a nice meal with drinks.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Gaurav_Jaipur_images/jal_mahal.jpg"> <h5 class="attraction-sub-heading"><b>Jal Mahal</b></h5>
                 Yet another beautiful monument in Jaipur is Jal Mahal, located around 5 Kms before Amer. It&acirc;&#128;&#153;s a beautiful palace constructed in middle of Man Sagar Lake. The fort is apparently five storeys but only one floor lies above water, the rest being submerged. The top floor flaunts a lovely garden where you could take a short stroll. The best time to visit Jal Mahal is Dusk during sunset when the lovely orangish yellow hues of the sky get resonated by the waters giving a lovely and mesmerizing view!
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg"><b>Chokhi Dhani</b><br>
                   If by any chance you skip visitng Jaipur during festive celebrations, worry not because this place celebrates the vibrant and colourful culture of the city day in and day out, every day. A five star rated hotel built in a form of a local Jaipur village is sure to give you an amazing experience of the city &acirc;&#128;&#147; be it the food or the folk dances, the festivities and celebration. From puppet shows to folk dances, Choki Dhani is sure to enthral you with a vivid colourful vibe of the city. Do not miss having the special Rajasthani Thali rich with local flavours and variety. Or ever better, plan your stay at this place and we&acirc;&#128;&#153;re sure you both will love it!


                    
                </li>
</ul>
</div>