<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg" data-lightbox="roadtrip" data-title="The beautiful Amer Fort made in sandstone and marble"><img src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg" id="pic2"></a>
                           <p>The beautiful Amer Fort made in sandstone and marble</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Chokhi%20Dhani%20Thali.jpg" data-lightbox="roadtrip" data-title="Chokhi Dhani"><img src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani%20Thali.jpg" id="pic4"></a>
                           <p>Chokhi Dhani</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg" data-lightbox="roadtrip" data-title="The Special Rajasthani Thali at Chokhi Dhani"><img src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg" id="pic7"></a>
                           <p>The Special Rajasthani Thali at Chokhi Dhani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/elephant.jpg" data-lightbox="roadtrip" data-title="Elephant Ride at Amer Fort"><img src="../images/Gaurav_Jaipur_images/elephant.jpg"></a>
                           <p>elephant Ride at Amer Fort</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/jal_mahal.jpg" data-lightbox="roadtrip" data-title="Evening view of the beautiful Jal Mahal"><img src="../images/Gaurav_Jaipur_images/jal_mahal.jpg"></a>
                           <p>Evening view of the beautiful Jal Mahal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg" data-lightbox="roadtrip" data-title="Nahargarh Fort"><img src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"></a>
                           <p>Nahargarh Fort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/View%20from%20Nahargarh%20Fort.jpg" data-lightbox="roadtrip" data-title="Birds eye view of Jaipur City from Nahargarh Fort"><img src="../images/Gaurav_Jaipur_images/View%20from%20Nahargarh%20Fort.jpg"></a>
                           <p>Birds eye view of Jaipur City from Nahargarh Fort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg" data-lightbox="roadtrip" data-title="Hawa Mahal"><img src="../images/Gaurav_Jaipur_images/Hawa%20Mahal.jpg"></a>
                           <p>Hawa Mahal</p>
                       </div>
                        
                       
                        
                    </section>
                    
                    
                    </div>