<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Rajasthan, India&acirc;&#128;&#153;s western frontier holds many tourist attractions in its fold. Jaipur, Jodhpur, Ajmer, Udaipur, and Pushkar being a few from the elite list. No wonder it is among one the states with highest influx of foreign travellers.</p>
<br>

            <p>The common thread among all these places is the subtle glimpse in the grandeur past of these places. Love is in the air and hence it makes them an ideal destination for all love birds to flock through. My fianc&Atilde;&copy;, Srishti and I were sure that a visit to Rajasthan beckons for
us to spend some quality time together, more specifcally Jaipur.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Mansingh%20hotel.jpg"></p>
<br>
            
            <p><b>Day-1</b></p>
            <p>The first leg of visit was a short 2 day stay in Jaipur which turned out to be our short exposure to the city&acirc;&#128;&#153;s glorious past. Our stay was arranged at Hotel Man Singh which is suitably located in the city. The room was comfortable with a courteous staff.
</p>
<br>
<p>Jaipur is famous for its forts and palaces and it would have been a crime to miss witnessing these monuments. We hired a Cab and went straight away to Amber Fort. Some of the scenes of the Bollywood movie Jodha Akbar were shot at Amber fort and a first look at the fort justifies the
selection. The guided tour took around 90 minutes and we traversed through the Diwan-e-Aam, Diwan-e-Khas, its beautiful courtyards. Glass engravings have been used beautifully. In certain sections of the palace, beautiful wall art is still present telling its own stories.</p>
<br>
            <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg"></p>
<br>
            
            <p>It was then followed by a visit to the Nahargarh Fort. It stands tall overlooking the city of Jaipur. I am sure a view of the city from the fort in the night would have been beautiful but unfortunately we were a bit short on time. Srishti was elated as this was her first visit to any old fort.
</p>
<br>
             <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"></p>
<br>
<p>We had our dinner at Chokhi dhani in the evening. For those who haven&acirc;&#128;&#153;t experienced this before, this is a must while your stay at
Jaipur.</p>
<br>      
            
            <p><b>Day-2</b></p>
<p>TThe second day started with a a visit to Jal Mahal. A treat to the eyes, it is situated bang in the middle of the Man Sagar Lake in
Jaipur. We didn&acirc;&#128;&#153;t go inside the same and spend some time at the banks of the lake itself. After that we went to The famous Hawa Mahal. I had
read about this from my childhood in various text books, and was quite excited at this opportunity. The first looks of the palace though
disappointed. I had imagined a more grand structure but the actual structure was nowhere close to my imaginations. We spend around 30 mins at Hawa Mahal and most of the time was spend in taking a few selfies of ours.</p>
<br>
             <img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Hawa%20Mahal.jpg"><br><br>
            <img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/jal_mahal.jpg"><br><br>
<p>After this we went to the Albert Hall Museum. The museum is spread over two floors and holds some very old artefacts pertaining to the
history of Rajasthan. For those who find visiting museums mundane may skip this. We even went to Jal Mahal, which was a beautiful experience in itself. Its a fort situation in middle of a lake which offers a beatiful view.</p>
<br>
            <p> We could not cover places like Jantar Mantar, Jaigarh Fort due to paucity of time. However this trip to Jaipur was a refreshing experience as it is different from the run of the mill beach destinations, hill stations.</p>
<br><br><br>


                    
                       
                    </div>