<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg"> <h5 class="attraction-sub-heading"><b>Bhullatal Lake</b></h5>This is an artificial lake dedicated to the youth of Garhwal Rifles who helped in construction of the lake. One of the most scenic and lovely places in Lansdowne where you could spend some quiet time with your loved one enjoying the boat ride or taking a stroll through the lush green gardens. There are small kiosk like open cafes where you could relish light snacks or sip hot coffee while you enjoying long conversations.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/View%20point.jpg"><h5 class="attraction-sub-heading"><b>Tip N Top Viewpoint</b></h5>One of the most mesmerising viewpoints in Lansdowne, Tip N Top will give you a majestic panoramic view of the Himalayas and some parts of Shivalik. It&acirc;&#128;&#153;s located high up in the ridge area and is one of the most popular destinations for people visiting Lansdowne. You could cherish the breathtakingly amazing view of the sunset with your special someone and spend a great time among the lovely view of the mountains.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg"> <h5 class="attraction-sub-heading"><b>Tarkeshwar Mahadev Temple</b></h5>
                  This is a temple located amidst deep woods and think forests on the way back from Lansdowne, around 40 Kms away. The temple has quiet and soothing surroundings and hence one of the perfect places to visit away from the crowd. There is a short walk in the woods of around 1 Km to the temple from the parking area. It could be a great excursion from Lansdowne especially if you&acirc;&#128;&#153;re on a bike with your loved one. The road is smooth and curvy with view of the lovely green valleys on the side.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG"><b>St. Mary's Church</b><br>
                    Built by Colonel Hume during the British Rule, St. Mary&acirc;&#128;&#153;s Church has a Victorian feel to it. It&acirc;&#128;&#153;s vintage architecture and serene interiors would calm you down instantly. The Church also showcases a video show on the rich history of Lansdown hill city and is a must watch when you visit the place.

                    
                </li>
</ul>
</div>