<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        TCompletely depends on your taste as to when to visit Lansdowne. The weather is awesome for most part of the year. If you like respite from Delhi summers, April-June would be the best months to take a break in the pleasant weather. Monsoons (from July-Sep) are beautiful too since the think green trees shine and make everything look lovely around. For people who enjoy the chilly weather, Oct-March would be the best time to visit. The temperatures go down to even 0 during winter months with snowfall.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                22-10 degree C
                <br>Humidity 75%
                    
            </div>        
                    </li>
        
        </ul>
        </div>