<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg" data-lightbox="roadtrip" data-title="Bhullatal Lake"><img src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg" id="pic1"></a>
                           <p>Bhullatal Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG" data-lightbox="roadtrip" data-title="Cheetal Grand, the popular stop-point midway"><img src="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG" id="pic2"></a>
                           <p>Cheetal Grand, the popular stop-point midway</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg" data-lightbox="roadtrip" data-title="Long drive in the midst of think green forests and mountains"><img src="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg" id="pic2"></a>
                           <p>"Long drive in the midst of think green forests and mountains</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG" data-lightbox="roadtrip" data-title="St. Mary's Church"><img src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG" id="pic4"></a>
                           <p>St. Mary's Church</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg" data-lightbox="roadtrip" data-title="Sunrise on Delhi roads enroute Lansdowne"><img src="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg" id="pic7"></a>
                           <p>Sunrise on Delhi roads enroute Lansdowne</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/View%20point.jpg" data-lightbox="roadtrip" data-title="Tip N Top Viewpoint at Lansdowne"><img src="../images/Neha_Lansdowne_Images/View%20point.jpg"></a>
                           <p>Tip N Top Viewpoint at Lansdowne</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg" data-lightbox="roadtrip" data-title="Tarakeshwar Temple"><img src="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg"></a>
                           <p>Tarakeshwar Temple</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>