<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                    Jolly Grant Airport in Dehradun is around 150 Kms from Lansdowne. Flights from Delhi to Dehradun are available on a daily basis. A cab or rented vehicle can be taken from Dehradun to Landsdowne.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Lansdowne has a well-connected road network from nearby cities. Buses to Kotdwar, Pauri and Dugadda are easily available from Delhi and other nearby cities. All these destinations are between 40 to 60 Kms from Lansdowne which can be covered through a taxi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Lansdowne doesn&acirc;&#128;&#153;t have its own railway station. However, Kotdwar station is around 40 Kms away. Kotdwar is a well-connected with most of the cities of India. Taxis are easily available from the railway station to Landsdowne.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       This is the most preferred and fun way to reach Lansdowne. It is around 250 Kms from Delhi and is reachable within a 5-6 hour drive. The most preferred route is via NH119 going via Meerut, Mawana, Ramjat and Meerapur. Another popular route is via Binjor, Kotdwar, Dogadda to Lansdowne.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>