<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Delhi is a perfect place to plan a weekend getaway due to its proximity to some of the awesomest hill stations up in the North. However, finding a perfect soothing place is always a task. It was only a few months after our marriage that I and my dear hubby, Kunal, decided to take a break. We had been thinking of a weekend holiday and a road trip was long overdue. So, one fine weekend we spontaneously planned to explore the Mother Nature in the arms of Lansdowne.
 </p>
<br>
<p>It hadn&acirc;&#128;&#153;t been very long since we went for our Honeymoon to Mauritius and hence we thought of inviting our couple friends too. We proposed this idea to Kunal and Garmia, who too got married recently. They gladly agreed and the plan took off!</p>
<br>
                          <p><img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg"></p>
<br>
            <p>We took our own car and started off early morning at 6 AM from Delhi. We picked up our friends at Rithala metro station, Rohini from where we hit the Outer Ring Road straight towards the Jahangir Puri Industrial Area. The beautiful journey began with an early morning super smooth long drive.</p>
<br>
             <img class="center-align" src="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG">
           <img class="center-align" src="../images/Neha_Lansdowne_Images/cheetal%20grand%202.jpg"> <br><br>     
            <p>We were chit-chatting and munching the yummy cheese sandwiches I had made early morning. We played the classic antakshari, sang songs, chatted and even took a nap! Then came our first halt at Cheetal Grand Muzaffar Nagar at around 9 AM, where we freshened up and had breakfast. After the halt, we swapped the driving seats so that no one gets drained out by the time we reach.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/gulab%20jamun.jpg"></p>
<br>
            <p>On our way to Lansdowne, we had to cross Bijnor, one of the busiest cornets of UP. It&acirc;&#128;&#153;s a huge task in itself to cross that area owing to the poor condition of roads and pathetic traffic management. However, once we crossed that area, we picked up speed back again! We reached Nagina which is famous for its mouthwatering Gulab Jamuns. We stopped by to relish them even though we weren&acirc;&#128;&#153;t really hungry! Couldn&acirc;&#128;&#153;t miss them!</p>
<br>
                    <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg"><br><br>    
<p>After a while came Kotdwar from where we actually started getting the hill-station-like feel. The purity in the air, beautiful smell of mountains and view of the deep brown hills on the side makes you feel that you&acirc;&#128;&#153;re in the other side of the world altogether! I am personally a nature lover and more of a &acirc;&#128;&#156;Beach person&acirc;&#128;&#157;, but going back to mountains is something I always cherish. And this time, in the company of Kunal, it was even more special :)</p>
<br>
<p>Kotdwar to Lansdowne is just 40 Kms but the hilly roads with steep turns take took us around an hour to reach.  Since it was a super spontaneous plan, we hadn&acirc;&#128;&#153;t booked the hotel and thought of doing it on the spot. The first one we saw was The Garhwali Inn. But it did not attract us much. It had a lonely ambience and was situated in an isolated corner with nothing was around it. We then went inside towards the Lansdowne market with typical mall-road feel.</p>
<br>
             <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Check.jpg"><br><br>
<p>We then checked out the Fairydale Resort built inside an ancient hill house with wooden flooring. It had small rooms but had a nice peaceful ambiance. The best thing about the resort was it didn&acirc;&#128;&#153;t seem commercial money making place at all and had only booking on the spot option. It was a lovely view from the windows. We all found the place really nice and checked in the resort around noon time. We relaxed in our cosy rooms for a while and thought of taking the meal plan along with room rent. The resort had a small in-house kitchen and they cooked on demand as per guests&acirc;&#128;&#153; requests. We got ready and had a nice homely meal in the dining area. What could be more perfect then savouring home-like Rajma Chawal in a peaceful area surrounded by hills and trees with the perfect mountain smell?</p>
<br>
    <img class="center-align" src="../images/Neha_Lansdowne_Images/Lake%202.jpg">
           <img class="center-align" src="../images/Neha_Lansdowne_Images/Lake%204.jpg"> <br><br>  
    <p>We left the resort and first went to Bhullatal Lake. It&acirc;&#128;&#153;s a beautiful lake surrounded by hills and evening is a perfect time to visit the place. We enjoyed independent boat ride and clicked lots of pictures! Kunal is not much of a pictures person. So he is the one who becomes the photographer between both of us.</p>
<br>
           <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg"><br><br>
<p>There was a small play area for children with colourful swings. Garima and I are both crazy about swings and planned to explore the garden. The four of us then went to small roadside open restaurant, more like a kiosk, where we sat in the misty mountainy evening! We had a great time among our gossips, leg-pulling, laughter, silly jokes over our perfect snack &acirc;&#128;&#147; Maggie. We came back to the resort at night and had dinner there itself. Nothing better than having romantic conversations in the balcony of a cosy room with slight chill in the air and amazing coffee to give us company!</p>
<br>
            <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/View%20point.jpg"><br><br>
            <p>The government has been engaged in regular checking and maintenance of the caves and hence we noticed a few artificially constructed structures inside the caves. Since it&acirc;&#128;&#153;s one of the most popular destinations at Lonavala, the place was slightly crowded.</p>
<br>
           <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG"><br><br>
            <p>On our way back from there, we visited St. Mary&acirc;&#128;&#153;s Church. It&acirc;&#128;&#153;s known for its soothing and peaceful ambiance. And when we went there, it really stood up to what we had expected. Its Victorian make makes it look amazingly beautiful and gives the Church a vintage feel. On top of that, the interior of the Church is serene and calm and makes one forget everything. We even watched a short film which portrayed Lansdowne&acirc;&#128;&#153;s history.</p>
<br>
            <img class="center-align" src="../images/Neha_Lansdowne_Images/couple.jpg"> 
            <img class="center-align" src="../images/Neha_Lansdowne_Images/lake%203.jpg"> <br>
                <p>The end to our trip had just come. We started off our drive to Delhi around 3 PM. We also stopped and visited Tarkeshwar Temple and Santoshi Mata Temple enroute. We reached back comfortably at night around 10 PM. It was a short, yet one of the most wonderful weekend trips I&acirc;&#128;&#153;ve had with Kunal!</p>
<br><br><br>
            


                    
                       
                    </div>