<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      Srinagar is one destination which has its own charm in every month of the year. Summers from April to June will give you a big respite from the city heat. However, the most beautiful time to visit Kashmir is winters – from October to March, when you could see the beauty of the place coming to life at its best. Temperatures tend to go down to sub-zero levels. Snow-capped mountains, frozen waters of the Dal Lake and lovely Tulips at the gardens will make you fall in love with the place! It’s the best time to stay at a sung warm shikara and enjoy the beauty of nature to the best extent.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                0-20 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>