<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Srinagar has an airport of its own which is well connected to other major Indian cities. Most of the flights are connected via Jammu. Indian Airlines and Jet Airways have regular daily flights.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                    Srinagar has a well-connected road network from other Indian cities. State run and private buses ply frequently from other cities to Srinagar. 
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                    Srinagar doesn’t have a train station of its own. However, there are 2 train stations close to the city – Udhampur station and Ramnagar station both in Jammu & Kashmir around 140 Kms away from Srinagar. However, the most well connected train station is Jammu Tavi which is around 300 Kms from Srinagar. 
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      You could drive to Srinagar from Jammu via National Highway 1-A which is well connected and an all-weather road. The distance is around 300 Kms but there are ample facilities on the way for food and stay across the highway for a smooth long drive.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>