<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>Nov 16:</strong></p>
<p class="MsoNormal">Arrived at the airport in Srinagar, it was chilly and quiet. I could tell the air was a lot fresher than the rest of India. Right away I knew I would like this place, we left the airport and our driver knew who we were and he started shouting our name and took us to our car. We drove through Srinagar towards Dal Lake where we will be staying on a houseboat. The beautiful thing about the north of India is you do not feel like you are in India, the air was fresh, people were kind, and vehicles were waiting for one another. We took a little shikara boat [Canoe] ride over to the houseboat and were served tea and bread and just relaxed for the rest of the night.</p><br>
<p><img class="center-align" src="../images/40/shikara.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Nov 17:</strong></p>
<p class="MsoNormal">We had a good start to our day eating eggs and naan overlooking Dal lake. Soon after we packed our bags for the lake tour, we explored the local bazaar and ate lunch on the shikara. The day was very relaxing and peaceful and made me like Srinagar a lot more.</p><br>
<p><img class="center-align-full-row" src="../images/40/shikara both 2.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/40/food.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Once we got home though it all changed.. We knew we were going to have to meet with the manager of the houseboat and figure out our plans for the rest of Srinagar. We weren&rsquo;t sure how much it would cost, we hoped for a reasonable price but of course it turned out to cost an arm and a leg for the day trips. We eventually negotiated a better deal where both sides win but we are still paying an arm and one of my calves and you know how big my calves are. Bottom line is we are living on a beautiful houseboat but kind of feel like prisoners. If we want to do anything we have to book it through the houseboat, it almost feels like I am in a drug deal gone wrong. I have only 13 days left in India; I will do my best to enjoy the time I have left.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Future advice:</strong> Do not book a tour through India or anywhere else that you want to explore. You do not know if you will like the country or things will change and you will not be able to get your money back.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Nov 18:</strong></p>
<p class="MsoNormal">Today we left the house boat thinking we would be walking through the Gypsy valley but once we arrived we realized we would be going on a hike up a mountain. I started the hike completely dead 6 weeks of being a beach bum and a fat asian tourist was not good on my body. At a certain point up the mountain we ended up riding ponies so that we could make it to the peak before it got dark. I felt bad for those ponies they were working so hard, we even swapped ponies, so one pony didn&rsquo;t have to carry me the whole time. Being a pony is hard&lt;/3. The mountain was called Banihal Pass 9,291 ft.</p><br>
<p><img class="center-align-full-row" src="../images/40/horse joesef.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/40/horse.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">12 Full days left in India&hellip;.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Nov 20:</strong></p>
<p class="MsoNormal">I have turned savage. I no longer act like a kind Canadian, I do not tip unless they deserve it now. Today we finished 3 days of the shittiest tours I have ever been on and I felt bad and tipped our guide who barely spoke English&hellip; I was told we would get a good English-speaking guide. I felt bad and tipped him AND THEN HE HAD THE AUDACITY TO ASK ME FOR MORE FOR HIS DRIVER WHEN I ALREADY PAID HIS TOUR COMPANY A SHIT LOAD OF MONEY TO GO ON SOME &ldquo;TREKS&rdquo; MORE LIKE SHITTY NATURE WALKS THAT I COULD FKN DO IN BC FOR FREE? BECAUSE I WAS TRAPPED ON A STUPID ASS BOAT IN SRINAGAR.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Well this is just part of travelling you learn to deal with the shit and make do. I am fine because I have Alexa here to suffer with me then she gets a laugh when I rage at all these Indians, about their horrible service and how they would continue to try and lie to me as I call them out on every single lie. The most recent lie, &ldquo;oh sorry the internet is not working because we are too high up on a mountain&rdquo;&hellip;.. and who the hell asks for a tip then after being given a tip for their shitty service they ask for more?</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Nov 21:</strong></p>
<p>&nbsp;</p>
<p class="MsoNormal">Well I am finally leaving Srinagar, travelling by car and bus to Dharamshala, once I arrive there I will only have a week left in India. Going to a new city will be good for me Srinagar has turned me evil and I need to give India another chance to not make me mad before I leave.</p>

<p><img class="center-align-full-row" src="../images/40/dal lake.jpg"></p><br>
<p><img class="center-align-full-row" src="../images/40/valley view 2.jpg"></p><br>

<p><b><i>This blog has been compiled by Joesef. Please visit his blog to read the original extract <a href="https://joesefsworld.wordpress.com/2015/12/02/srinagar/"> here</a></i></b></p>
<br>
                    
                       
                    </div>