<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>A Kandyan wedding</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">Quite randomly, there was a wedding photography shoot taking place early in the morning as we checked out from Amaya Hills. The lovely couple, dressed in traditional and distinctly elaborate Kandyan wedding regalia, sparkled in the morning sun. The whites of their costumes contrasted beautifully with the soft hue of blue from the swimming pool in the background as they twirled and preened in response to their photographer&rsquo;s direction. Amidst requests from excited hotel guests for photos, we wished them &lsquo;Ayubowan&rsquo; and left them to enjoy their day and their future.</p>
<br><p><img class="center-align-full-row" src="../images/72/SL-Wedding.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Distances between points of interest in Sri Lanka means that you need to plan your day carefully if you expect to visit more than two places in different cities. Expect 2 to 3 hours of driving between cities.</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal"><em>* If you&rsquo;re interested in learning more about wedding traditions in Sri Lanka visit these other blogs to see women&lsquo;s and men&lsquo;s fashion</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>The hills are alive with&hellip;tea!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We drove south east towards Nuwara Eliya (&lsquo;meaning City of Light&rsquo;), a major tea growing region in Sri Lanka famous for its export quality tea. The picturesque views on the drive from Kandy to Nuwara Eliya are a delight to behold and form a major attraction for the Sri Lankan visitor. From Kandy, the drive briefly descends into flat territory before gradually rising into enchanting hills and mountains, interspersed with lush valleys, shimmering waterfalls and the ubiquitous Mahaweli River. The climate felt distinctly European; perfect for growing tea. This is perhaps why Nuwara Eliya is sometimes known as &lsquo;Little England&rsquo;. The British influence in the region is reinforced by armies of pine trees which, according to Jai, were introduced by the British and are not native to Sri Lanka.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-225.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">As we drove yet higher, suddenly every hill in sight morphed into a tea plantation. Introduced by the British in the 1800s, tea is probably the biggest source of foreign exchange for the country. The hills are alive with the stuff; growing in perfect rows like soldiers on parade and stretching endlessly into the distance. The plantations belong to tea estates, most of which have distinctly English or Scottish names such as Mackwoods and Kenilworth; the Mackwoods company have their name emblazoned high up on the hills in the fashion of the famous Hollywood sign. Many of these estates also offer hotel accommodation and &lsquo;tea tourism&rsquo; which provides major income for the region.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: When looking for hotel accommodation in Nuwara Eliya, you can choose to stay in the Nuwara Eliya town (which has some fine hotels) and join day excursions up to the plantations. Alternatively, you could stay on a plantation (many still retain their original colonial style) and explore the local area.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Strong tea? No! Strong women!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Jai explained to us that to preserve its unique quality, Ceylon tea is picked mainly by hand and is largely the job of the rural (mainly Tamil) women in the region. It is common to see rows upon rows of workers, hunched over with tea sacks hung from their backs moving slowly like ants between rows of tea bushes trying to meet their daily picking quotas under the punishing Sri Lankan sun. We wondered what the men did while the women worked. The labour equation somehow seemed imbalanced. However Jai explained that the men who worked on the plantations mostly handled the more labour intensive tasks such as welding and operating heavy machinery. They also generally took care of the business side of the operation. According to Jai, alcoholism is a worrying problem among the menfolk on the estates.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-233.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The women plantation workers start their &lsquo;careers&rsquo; around the age of 15 and typically retire at 55. It is not uncommon for young girls, their mothers and grandmothers to all work on the same estate. The estates which employ them provide basic barracks-style housing, healthcare and access to basic education for the children. However, the conditions for the plantation side women workers are not great. At the end of their day in the fields, the women head to a processing centre and are paid per kilogram. With a growing economy providing access to better paying (and less labour intensive) jobs, and the younger (hopefully better educated) generation opting for life away from the plantations, we wondered what would happen to the traditional tea picking industry in the next 20 years.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-293.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Part of our itinerary for the day included a visit to the 150 year old Glenloch Tea Factory. Unfortunately, we arrived too late to catch their afternoon buffet but managed a quick meal before embarking on a tour of their factory. A young lady with a mechanical voice delivered her routine presentation, explaining the different aspects of production. We learned that tea is produced from three parts of the plant: the bud is used for Ceylon white tea and is picked first thing in the morning; the first leaf is harvested for Ceylon green tea; and a combination of buds and leaves makes Ceylon black tea. Back at the tea shop after the tour, we were disappointed that we weren&rsquo;t asked what type of tea we wanted for our complimentary tea tasting. A lady appeared from nowhere and simply plonked down two lukewarm cups of tea in front of us without a word. Regardless, we still picked up a few boxes of merchandise to sample later.</p>
<br><img class="center-align" src="../images/72/Sri-Lanka-WEB-294.jpg">
<img class="center-align" src="../images/72/wpid-wp-1429083878563.jpg">

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Perhaps the most interesting part of the tour happened when, as we stepped into the production area which was staffed by women (where were the men again?), suddenly work stopped. We realised that everyone was starting at us. Eulanda and I took a quick glance at each other to make sure we didn&rsquo;t have tea leaves sticking out of our pockets. The women then broke into giggles of excitement with lots of hand gestures pointing towards Eulanda&rsquo;s hair. I was suddenly standing next to a woman who had the power to interrupt Sri Lanka&rsquo;s tea production with her hair! Note to self: Find a Sri Lankan movie producer and pitch a new movie role starring Eulanda and her hair. Perhaps we could turn this hair novelty into money somehow :-)</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Suranga the fruit craftsman</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our final destination on this leg of the trip was located on the outskirts of Nuwara Eliya, in a little, unspectacular town called Ragala. After navigating the cramped main roads, we endured a bone-jarring ride along a narrow stretch of rocky road. Just as we thought that our travel plans were about to come undone, we were greeted by the oasis that is the Stafford Bungalow; a colonial style building located in its very own tea estate. For miles round, it is surrounded by lush green hills covered with tea like a skin. The staff welcomed us with Hawaii style garlands made of tea plants and offered us genuine smiles that warmed our hearts. The only thing missing at that moment was a set of drums and a dance troupe :-)</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-228.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-121.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-230.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Situated in a valley of sorts, February mornings in this area can be chilly and misty. However, as soon as the sun comes out, there is no better place to have breakfast than on the well-manicured lawns overlooking tea farms, regaled by the sound of birds and running streams; Mother Nature&rsquo;s own soundtrack. There is nothing else for miles around. If we were looking for the perfect place to escape the world, we had found it.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-229.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-231.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-226.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-303.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We got to know the staff personally. Suranga, the very talented head waiter crafted some beautiful fruit platters for us. Parakkram, the ever smiling manager, supported by a team of excellent chefs, provided us with a very personal experience. According to Parrakkram, they use mostly local produce for their food including growing their own vegetables which meant that we got served lots of fresh produce.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Stafford Bungalow offers free walking tours of the surrounding tea plantation. They are so flexible that you can choose whatever time of the day you want to do this.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Choose your own adventure&hellip;Ouch! Not that one!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">On our second day in Ragala, we were not too keen to endure another long drive. The original plan had been to visit the Horton Plains National Park and Worlds End, a magnificent UNESCO heritage site and go waterfall chasing. However, that would have required a 7am start and a 3 hour drive from Ragala. This change of plan meant that the day opened up and we could choose our own adventure. We chose to explore the surrounding village.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-116.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Upon request, the manager of the Stafford Bungalow had arranged for two mountain bikes for us. Before setting out we performed preliminary checks and found that the brakes on Eulanda&rsquo;s bike were not completely safe. As we couldn&rsquo;t find the manager at the time we planned to set out, we discussed whether it was sensible to proceed. Mind said, &ldquo;No!&rdquo; while heart said, &ldquo;Let&rsquo;s Go!&rdquo; Seeing as I have a history of falling off bikes (I&rsquo;ll tell you about my Golden Gate fall one day) and since Eulanda was the more skilled rider, she opted to ride the dodgy bike with the caveat we would not take any unnecessary risks. We set out to ride 1 to 2 kilometres into the village and immediately hit dirt roads as the tarred section gradually began to disappear. The ride was initially smooth and we stopped a few times to take in scenery along the way; with pristine blue skies and green hills as far as the eye could see.</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-299.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-298.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We rode for almost 1 kilometre until we hit some particularly rough downhill sections. Eulanda stopped a few times and complained about the brakes getting worse. At that point we should have stopped and turned back. However our sense of adventure overtook being sensible and we thought to give it 10 more minutes before heading back. The next section of the path was particularly rocky with more downhill slopes. Suddenly, Eulanda raced past me and disappeared into the distance. I didn&rsquo;t realise that she was having difficulty stopping. Sensing a classic &lsquo;Omo bike fall&rsquo; coming, I got off my bike and decided to walk and catch up with her. As soon as I turned the corner, I saw her sprawled across the road in a heap, with the bike on top of her. My heart missed several beats and I mentally began to beat myself up for not listening to common sense. The front wheel of the faulty bike had been caught in a ditch and unable to stop, she threw her body weight to her right, onto the rocky road, to avoid being thrown off head first. It seemed the lesser of the two evils at the time.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">I rushed up to her and found her bleeding and swounded in several places with a nasty bump on her head (which took three weeks for the swelling to dissipate). Soon a small crowd of villagers gathered to find out if she was OK. With a few grunts and hand gestures we somehow managed to explain what had happened. One of the ladies sent for some antiseptic cream and we collectively administered first aid as much as we could. We feared a concussion but thankfully, it turned out that she wouldn&rsquo;t need any serious medical attention. After a brief rest, we headed back to the lodge. I pushed two bikes up and downhill as two of the village women formed a guard of honour and walked with Eulanda for most of the way.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The entire experience brought us down from the heady heights of excitement to the reality of potential perils that could occur during travel. A fellow blogger, Oneika The Traveller, brilliantly shared her views on the importance of community in times of difficulty. We were very grateful for the immediate concern and attention of the villagers. They didn&rsquo;t know us and we didn&rsquo;t look like them nor could we speak their language. However, in our moment of adversity, we became brethren. God bless them!</p>
<br><p><img class="center-align-full-row" src="../images/72/Sri-Lanka-WEB-301.jpg"></p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Accidents happen. Always listen to your mind and not your heart and take sensible risks. If it doesn&rsquo;t feel right, don&rsquo;t do it! For this trip we had packed some antiseptic cream and other minor essentials for cuts and bruises. It is worth bringing a few basic first aid items for the more adventurous trips.</em></p>

<br><p><b><i>This extract has been compiled by Omo & Eulanda. Please visit their blogpage to read the original extract <a href="http://heydipyourtoesin.com/sri-lanka-kandy-to-nuwara-eliya/"> here</a></i></b></p><br>

                    
                       
                    </div>