<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg"> <h5 class="attraction-sub-heading"><b>Bryant Park</b></h5>If you love flowers, well this is your paradise. Here, there is a special section of roses, where you can find approximately 740 of its varieties. Boasting of over 325 species of trees, cactuses and shrubs, this park appears like a gorgeous rainbow when all its flowers bloom. This botanical park is located near a lake and is famous for its annual Horticulture Show.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg"><h5 class="attraction-sub-heading"><b>Coaker's Walk</b></h5>A kilometer long pathway along the edge of a steep slope, it offers breathtaking views of Dolphin&acirc;&#128;&#153;s Nose, Pambar River, and even the city of Madurai. It opens 7 am onwards, so try and get there early to catch the sunrise together! It&acirc;&#128;&#153;s one of the most beautiful experiences to enjoy a romantic walk amidst lovely orange shades in the sky. Might sound clich&Atilde;&copy;, but totally worth it!
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"> <h5 class="attraction-sub-heading"><b>Waterfalls at Kodai</b></h5>
                  Kodaikanal has earned quite a reputation for its ethereal waterfalls like the Bear Shola Falls, Silver Cascade, Glen Falls, and Fairy Falls. The many waterfalls in Kodaikanal make a great romantic outing and discovering all of them is more than just a day's job!
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg"> <h5 class="attraction-sub-heading"><b>The Kodai Lake</b></h5>
                   It is the most popular place in Kodaikanal. A star shaped lake where you can enjoy the evening with pedal bots, row boats or just cycle around the lake on a bicycle (you will have a lot of fun cycling in Kodaikanal).  Rent out a row boat or a pedal boat and just spend the evening lazily just enjoying each other&acirc;&#128;&#153;s company enveloped in the pristine beauty of nature together.

                    
                </li>
</ul>
</div>