<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Kodaikanal has a year-round pleasant weather being a hill station. However, the peak season is from November to January. The minimum temperatures go down to 8-10 degrees hence making the environment perfect for a nice romantic trip! If you&acirc;&#128;&#153;re in mood for a quiet trip then January should be avoided since it&acirc;&#128;&#153;s very commonly visited at the time of Pongal celebrations.<br>
                    March to May are summer months. Temperatures range from 34-20 degrees. It&acirc;&#128;&#153;s a pleasant weather to enjoy the outdoors. Monsoons in Kodai are beautiful too (June to Sep). The rich flora comes alive during this time and pure fragrant air makes the whole ambiance lovely!
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                11-20 degree C
                <br>Humidity 88%
                    
            </div>        
                    </li>
        
        </ul>
        </div>