<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg" data-lightbox="roadtrip" data-title="Bryant Park gleaming in midst of lovely flowers all over"><img src="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg" id="pic1"></a>
                           <p>Bryant Park gleaming in midst of lovely flowers all over</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg" data-lightbox="roadtrip" data-title="Coaker's Walkway at sunrise"><img src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg" id="pic2"></a>
                           <p>Coaker's Walkway at sunrise</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg" data-lightbox="roadtrip" data-title="Delicious homemade chocolates at Kodai"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg" id="pic2"></a>
                           <p>"Delicious homemade chocolates at Kodai"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg" data-lightbox="roadtrip" data-title="Cobwebs of branches glistening on surface of lovely Kodai Lake"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg" id="pic4"></a>
                           <p>Cobwebs of branches glistening on surface of lovely Kodai Lake</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/kodai%20mountain%20view.jpg" data-lightbox="roadtrip" data-title="The majestic Kodai Mountain view"><img src="../images/Moheth_Kodaikanal_Images/kodai%20mountain%20view.jpg" id="pic7"></a>
                           <p>The majestic Kodai Mountain view</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Kodai%20village%20view.jpg" data-lightbox="roadtrip" data-title="Kodai Village view"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20village%20view.jpg"></a>
                           <p>Kodai Village view</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg" data-lightbox="roadtrip" data-title="Waterfalls at Kodaikanal"><img src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"></a>
                           <p>Waterfalls at Kodaikanal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/terraced%20fields%20at%20kodai.jpg" data-lightbox="roadtrip" data-title="Terraced fields at Kodaikanal"><img src="../images/Moheth_Kodaikanal_Images/terraced%20fields%20at%20kodai.jpg"></a>
                           <p>Terraced fields at Kodaikanal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/twilight%20view%20of%20kodai%20lake.jpg" data-lightbox="roadtrip" data-title="Twilight view of the Kodai Lake"><img src="../images/Moheth_Kodaikanal_Images/twilight%20view%20of%20kodai%20lake.jpg"></a>
                           <p>Twilight view of the Kodai Lake</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>