<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   The nearest airport is Madurai, around 120 Kms away. It takes 3 hours to reach Kodaikanal if you take a bus, which are quite frequent. If you don&acirc;&#128;&#153;t have a flight to Madurai, then you can fly to Coimbatore which is around 150 Kms away. Coimbatore is well connected to all major Indian cities.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Frequent buses are available from nearby cities such as Chennai, Pondicherry and Coimbatore and Madurai. Kodaikanal is well connected via motorable roads on which many private and state run buses ply.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       The closest station to Kodaikanal is the one on Kodai Road. It is around 100 Kms away from Kodaikanal. Taxis are easily available from the railway station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       You can always make it a road trip and enjoy the drive to Kodai. A long drive, but it would be a great way to start a weekend getaway if you both enjoy driving. The drive from Chennai is 439 Kms and from Bangalore its 310 Kms. Kodaikanal is one of the most popular road trip destinations from Madurai considering it&acirc;&#128;&#153;s only a 3-3.5 hours drive.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>