<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Moheth_Kodaikanal_Images/Fern%20Creek%20Stay.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Fern Creek</div>
                        
                        Cost : 8000-10000
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Moheth_Kodaikanal_Images/le-poshe-by-sparsa.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Le-Poshe by Sparsa</div>
                        
                        Cost : 6000-8000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>