<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
            <p><b>Take the Coaker&acirc;&#128;&#153;s Walk!</b></p>
<p>Remember those long winding walks that you two used to take some time back, but lost its attraction in the hustle bustle of everyday? Well, it&acirc;&#128;&#153;s time to bring back some old memories with the Coaker&acirc;&#128;&#153;s Walk! A kilometer long pathway along the edge of a steep slope, it offers breathtaking views of Dolphin&acirc;&#128;&#153;s Nose, Pambar River, and even the city of Madurai. It opens 7 am onwards, so try and get there early to catch the sunrise together! It&acirc;&#128;&#153;s one of the most beautiful experiences to enjoy a romantic walk amidst lovely orange shades in the sky. Might sound clich&Atilde;&copy;, but totally worth it! :)</p>
<br>
                          <p><img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg"></p>
<br>
            <p><b>Chocolate in the Market</b></p>
            <p>A trip is never complete without some local shopping and Kodaikanal doesn&acirc;&#128;&#153;t disappoint. If you are lovers of chocolate (Duh! Who isn&acirc;&#128;&#153;t?), then you are going to have a chance to enjoy some amazing homemade chocolate, something that is unique to Kodai. Buy a slab, find a bench and enjoy it together! Chocolate &amp; romance always go together :)</p>
            <p>You can also buy some glass made goods &amp; also some wooden goods in Kodai.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg"></p>
<br>
            
            <p><b>Want to impress with some flowers? Bryant Park is your place.</b></p>
            <p>If you love flowers, well this is your paradise. Here, there is a special section of roses, where you can find approximately 740 of its varieties. Boasting of over 325 species of trees, cactuses and shrubs, this park appears like a gorgeous rainbow when all its flowers bloom. This botanical park is located near a lake and is famous for its annual Horticulture Show.</p>
<br>
            
             <p><b>Who doesn&acirc;&#128;&#153;t like Waterfalls?</b></p>
<p>Kodaikanal has earned quite a reputation for its ethereal waterfalls like the Bear Shola Falls, Silver Cascade, Glen Falls, and Fairy Falls. The many waterfalls in Kodaikanal make a great romantic outing and discovering all of them is more than just a day's job!</p>
<br>
             <img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"><br><br>
            
            <p><b>The Kodai Lake</b></p>
            <p>It is the most popular place in Kodaikanal. A star shaped lake where you can enjoy the evening with pedal bots, row boats or just cycle around the lake on a bicycle (you will have a lot of fun cycling in Kodaikanal).  Rent out a row boat or a pedal boat and just spend the evening lazily just enjoying each other&acirc;&#128;&#153;s company enveloped in the pristine beauty of nature together.</p>
<br>
           <img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg"> <br> <br>
    <p>These are just a few of the amazing places you can enjoy in Kodaikanal together. You can explore the mysterious Devil&acirc;&#128;&#153;s Kitchen, hike the Dolphin&acirc;&#128;&#153;s nose, trek the 80 mile round trekking route of kodai, experience history in the Dolem&acirc;&#128;&#153;s cave and many more, Kodaikanal is ready to leave you &amp; your loved one spell bound! </p>
<br><br>


                    
                       
                    </div>