<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/30/Triund edited.jpg"> <h5 class="attraction-sub-heading"><b>Triund Hill Trek</b></h5>Although this is more a part of Mcleodganj, this isn’t too far from Dharamshala (18 Kms). If you’re trekking couple, this would be one of the best trekking experiences up in the hills of Himachal. The starting point of the trek is Galu and the stretch is around 10 Kms long. Taxi till Mcleodganj or Galu can be taken easily from Dharamshala. This trek would offer you some of the most amazing views of the Kangra Valley, especially at the top, which is around 1100 meters high. The length of the trek would take you around 1.5-2 days. Tents could be pitched anywhere along the way. There are small cafes and kiosks all along.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/30/Namgyan edited.jpg"><h5 class="attraction-sub-heading"><b>Namgyal Monastery</b></h5>One of the most peaceful and scenic places in Dharamshala, Namgyal Monastery was established in 16th century by the third Dalai Lama. It houses more than 200 monks and has an amazing blend of the Tibetan and Kangra culture. With snowcapped mountains in the background, breathtaking views of the Kangra valley can be seen from here. Visit to this place one morning, sit inside the prayer hall while the monks play the instruments and hum the soothing tunes of Tibetan prayers. You’ll love the experience!
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/30/norbulinka institute edited.jpg"> <h5 class="attraction-sub-heading"><b>Norbulikgka Institute</b></h5>
                  Located around 8 Kms from Dharamshala, this institute is dedicated to preservation of Tibetan culture. It’s a beautiful institute with lovely gardens, outdoor seating café with delicious Tibetan food options, museum which preserves Tibetan art and literary forms and a prayer hall with a big gold Buddha stupa. It’s peaceful and can calm you both down away from the city crowd.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/30/Bhagsu Falls edited.jpg"><b>Bhagsu Falls and Bhagsunath Temple</b><br>
                   One of the most beautiful streams in Dharamshala, this waterfall has a fresh and clean cascade of more than 30 feet during peak time. No wonder this is one of the most common tourist destinations of Dharamshala. It may be crowded when you visit during the peak season, but the lovely view of the valley surrounding the falls and the experience of taking in the dip in the crystal clear waters is totally worth it. There’s a climb upto Shiva Café from Bhagsu falls – an amazing place to take a drag and chill.

                    
                </li>
</ul>
</div>