<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="http://img.lifeisoutside.com/getaways/1814/actual-images/hotel-inclover-53863.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Hotel Inclover, Dharamshala</div>
                        
                        Cost : 5,000-8,000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
    </div>
                    
                    
                </div>