<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Nov 24: Leaving Srinagar was a nightmare&hellip; we paid for a driver and our own vehicle so that we could travel for 9 hours through the mountains comfortably but the guy we paid lied to us and tried to make us jump in a car with 7 Indians at 6 in the morning. I called him and raged at him then we finally got our own car and hopefully that guy lost his job for lying and trying to scam us.</p><br>
<p>We drove from Srinagar to Jammu and took a bus that dropped us off at 2 in the morning in a town outside of Dharamshala.. WE WERE TOLD OTHER PEOPLE WOULD BE GETTING OFF WITH US.. they yelled at us at 2 am to get off and that we are in Dharamshala&hellip; I walk outside it was pitch dark, nothing was open, no cab no rickshaw no Indians around&hellip; we walked around hoping we would find a hotel with a phone or a gas station but nope nothing.. then we ended up waiting in an ATM booth because it was the only place that had light. We sat there for an hour or so then finally a cab pulled over to sleep and I was able to wake him up and get a ride into Dharamshala and up to Mcleodganj to our hotel.</p><br>
<p>Recap&hellip;. The other tourist agents and hotel managers told us to write an email to their boss about the Indian guy named Ahmad who lied and tried to trick us so that he could get fired because he has been doing this too so many people and his only actual job is to pick tourists up from the airport..</p><br>
<p>Finally in Dharamshala in Mcleodganj which is upper Dharamshala where the Dalai Lama chills.. was actually great. SOOO peaceful, this place is filled with Tibetan people so they are not constantly asking you for your money, if we look at their shops they aren&rsquo;t up in our faces trying to get us to buy everything. We even talked to a local who said we could meet the Dalai Lama if we bring our passports to the temple and set up an appointment. I asked her if we had to pay to see him? She just asked what why? I told her because everywhere in India they want your money&hellip; she just laughed. DHARAMSHALA so far has been gooood&hellip;. It is a home away from India.</p><br>
<p>Nov 29: I arrived in Varanasi. I leave India on Dec 1. Cannot Wait. However I did eat really good Lassi here.</p>
<p>Dec 1: Currently sitting in a rickshaw blasting my music. The ride to the airport is going to take about an hour which gave me an hour to realize I am leaving India forever. This is probably one of the best moments I have had in the last two weeks. Next stop is Kathmandhu.</p><br>

<p><b><i>This blog has been compiled by Joesef. Please visit his blog to read the original extract <a href="https://joesefsworld.wordpress.com/2015/12/02/dharamshala/"> here</a></i></b></p>
<br>

                    
                       
                    </div>