<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Leh airport is a military airport with stricter checking and security. The flights are available from major Indian cities. However, regular flights are available only from Delhi, Srinagar and Jammu. Most of the flights from other cities are connecting via Delhi. Indian Airlines operates 3 flights/week from Delhi, 2 flights/week from Jammu and 1 flight/week from Srinagar. Other carriers are Jet Airways that provides 6 flights/week and Go Air that operates daily flights between Leh-Delhi. Cabs are available from Leh airport easily. 
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                    Buses could be taken to Leh via Srinagar or via Manali. The route via Srinagar is through the Srinagar-Leh highway and via Manai is through Manali-Leh highway. These are open only from June to October end. Buses are also available from Jammu. Either ways, the ride to Leh is quite adventurous and full of picturesque views all along the way. The ride is long and might take upto 2-4 days from Delhi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                     The nearest railway station from Leh is Kalka from where cabs could be taken to Manali going through Shimla. Pathankot and Chandigarh are stations which come next. However, bus ride from these stations to Leh can take as long as two-three days and isn&acirc;&#128;&#153;t the best way to reach Leh. 
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      If you're a duo who loves adventure, hit the road and ride to Leh. Rent a motorbike or if you have a cruiser of your own, nothing like it! Even a jeep/SUV is quite popular when it comes to riding in Leh. Driving to Leh and within Leh is a thrilling experience and you'll love if you're an adventure couple. The route you could take is either via Jammu or via Keylong and Sarchu after reaching Manali. The journey from Kashmir valley to Leh, via Kargil is approximately 434 km, (open for traffic from June to November) and can be traversed by car/jeep that can be hired from Srinagar. An alternative is to start the trip from Manali (Manali-Leh is approximately 474 km, and is open for traffic from mid-June to October). The journey from Manali to Leh would absolutely be complimented with stunning sights along the way and may take up to 19 hours to complete. You may hire Maruti Gypsy or Jeep taxis from Manali.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>