<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">Day 8 was our journey from Pangong Tso to Leh via Hemis Monastery, Shey and Stok Palace. We had planned to see the sunrise in the morning from Pangong lake but we were so deep in sleep that we completely forgot about the sunrise. Usually it happens quite early in Ladakh. It was around 4:00 to 4:30 AM that day and we woke up only after 5:30 AM. The view from the tent outside was extremely beautiful. The lake looked bluish-green again and it certainly was wonderful. We had roughly estimated the time to reach Leh so we had another hour to have breakfast and leave from Pangong Tso. It was an extremely lazed out morning for us because there weren't any major tourist attractions for that day, which we wanted to see, so we decided to keep our plans ad-hoc. We sat together outside our tent sipping hot tea and enjoyed the warmth of the morning sun. The chilling breeze and the calm view of the ethereal Pangong lake was like a balm on our tired souls. We felt extremely rejuvenated and relaxed after waking up on one such morning when we were going to be driven around again. All we had to do was to have a heavy brunch, pack our luggage and leave.</p>
<br><p><img class="center-align-full-row" src="../images/58/IMG_20150725_072239_HDR.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/DSC_0513.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After making our good luck symbol at Spangmik we left, bidding happy good bye to the calm and the beautiful Pangong Tso. This process includes, stacking up stones in odd numbers.</p>
<br><p><img class="center-align-full-row" src="../images/58/good luck .jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The route was the same which we took while coming to Pangong. On our way back we stopped for a while to admire the cute Himalayan Marmots, who were seen either scurrying across from one burrow to the other or basking in the sun. They are quite commonly seen in the Himalayan and the Tibetan plateau region but very shy creatures.</p>
<br><p><img class="center-align-full-row" src="../images/58/HM 1.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/Hm3.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We travelled continuously for 3-4 hours and slept most of the time during the journey. After having delicious and warm breakfast one couldn't stay awake. The next stop was at Hemis Monastery at around lunch time.</p>
<br><p><img class="center-align-full-row" src="../images/58/pangong to leh .jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/pangong to leh 3.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/pangong to leh 1.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Hemis Monastery , is the largest monastic institution in Ladakh, founded in 1630 by the 1st Taktsang Repa, a great yogi of the Drukpa Lineage, under the patronage of King Sengge Namgyal. Hemis houses a great number of invaluable and historical cultural and religious artifacts, including images, scriptures and artwork. Every few years, a small and selected fraction of this priceless collection is put on display in the Hemis Museum, which was envisaged, designed and commissioned by the His Holiness the present Gyawang Drukpa, spiritual head of the Drukpa Lineage. ( Courtesy : www.drukpa-hemis.org/ http://www.drukpa.org/index.php/en/). Going to every complex in the Hemis Monastery took time although we were quick to move around the place. There are 12 complexes inside the Monastery which are open for visitors.</p>
<br><p><img class="center-align-full-row" src="../images/58/hemis 2.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After the Hemis Monastery visit we went to Shey Palace which is closer to Leh. It was around 3:00 PM, when we were at Shey Palace. After an exhausting ascend to the top of the palace through narrow and winding steps we realized that Shey Palace had nothing much left to be explored by tourists. The palace/monastery/gompa is all ruins now, which was once the King's palace. Not much had been done to maintain the palace and we did not find anything interesting to see except for the view. There is only a small Buddhist temple inside the complex on top. Initially, the monastery was noted for its giant copper with gilded gold statue of a seated Shakyamuni Buddha.</p>
<br><p><img class="center-align-full-row" src="../images/58/DSC_1024.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Near Shey palace and on the opposite side of the road is the Thiksey Monastery which looks majestic, old and beautiful but we were so disappointed after going to Shey Palace that we did not want to repeat the same experience. If you have time , you should visit Thiksey Monastery.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We couldn't go to Thiksey Monastery so I am posting some of the pictures which Yd took during his visit to Thiskey Monastery in 2012.</p>
<br><p><img class="center-align-full-row" src="../images/58/thiksey 1.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/thiksey.jpg"></p><br>
<br><p><img class="center-align-full-row" src="../images/58/route.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">So, based on our driver's suggestion we went to Stok Palace, instead which was our last place of visit for the day. Stok Palace is the place where the the King and the Queen of Ladakh, that is the Royal family currently live. There is a part of the palace/monastery which is left for tourists to explore and a part where no one is allowed. The quest to know about the ancient life of the royal families in Ladakh brought us here and it was an informative tour. The tour guide was one of the staff from the palace who worked for the royal family living there. We enjoyed our evening cup of tea/coffee at the open terrace restaurant in the palace. While we were heading towards Leh, we finally got a call from Apoorv and Tom saying that they would meet us in Leh, in our hotel after they got Tom's bike repaired. We were relieved to hear a positive response from them after a long time. Having been out of contact and not knowing anything about them for days together, had left us very anxious. We wanted to meet them before we left for Bangalore. We reached our hotel in Leh at around 6:00 PM. It was quite late for us to visit the Leh Palace so we had to skip that visit but it is a must visit in Leh.&nbsp; I would prefer travellers to include Leh Palace in Day 1 of their travel itinerary when they visit Leh, Ladakh.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">While we waited for Apoorv and Tom we packed our bags and kept them ready for the next day. We would have to leave for the airport by 7:00 AM, the next day. Finally, we got to meet Apoorv and Tom and were able to listen to their travel adventure which was more tiring and extensive that ours. We decided to have dinner La Piazzetta, which apparently was a good joint for dinner. Meanwhile, the guys returned the bikes to Apex Adventures and joined us for dinner.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We walked to the restaurant chit-chatting on a cold evening through the same lanes which seemed strange to us eight days back. In just eight days the place seemed just like ours. Fort road, Leh was just like the lane leading to our house and Hotel Druk was like a home-stay we owned in Ladakh. We had become so used it that it was difficult to say good bye to this magical land. Dinner wasn't that great but it was an evening well spent in good company of friends and a cozy ambiance.</p>
<p>&nbsp;</p>
<br><p><img class="center-align-full-row" src="../images/58/IMG_20150725_225152.jpg"></p><br>
<p>The morning after was a beautiful see-you- soon good bye to Ladakh.</p><br>

<p><b><i>This extract covered only Day-8 of Archana's trip to from Pangong Tso Lake to Leh picked from her personal travel blog - "My Colorful Life". To read the original extract, please visit her blog page <a href="http://www.aworldofcolors.blogspot.in/2016/01/leh-to-pangong-tso-last-and-most.html"> here</a></i></b></p>
<br>

                    
                       
                    </div>