<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/36/Fort1.jpg"> <h5 class="attraction-sub-heading"><b>Pratapgarh Fort</b></h5>The fort is located around 22 Kms from the Mahabaleshwar city and it of immense historical significance. It was constructed by Chhtrapati Shivaji Maharaj and flaunts some of the most amazing views of the green valleys of Mahabaleshwar. The fort also houses the very old Bhavani Temple and a huge statue of Shivaji which is witnessed after a climb of a total of 450 steps. It’s not just the fort which looks amazing, but also the route to the fort, which has beautiful views of the Sahyadris all along. <br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/36/savitri point.jpg"><h5 class="attraction-sub-heading"><b>Old Mahabaleshwar with scenic view-points</b></h5>Located around 13 Kms from the main Mahabaleshwar city, lies Old Mahabaleshwar, which has some of the most stunning view points around the area along with some old monuments and temples. Some of the most amazing viewpoints include – Marjorie Point, Monkey Point and Savitri Point which overlook the lovely view of the Savitri valley and the river. A few more points located in the vicinity include Echo Point, Window Point, Tiger Spring Point, and Aurther’s Seat Point. Each point has its own unique significance and offers beautiful view of the majestic mountains and deep valleys of the hill station.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/36/mapro garden.jpg"> <h5 class="attraction-sub-heading"><b>Mapro Garden and Mazaana Chocolate Factory</b></h5>
                   It would be a crime to visit Mahabaleshwar and not visit the Mapro Garden and Chocolate Factory. Located on Mahabaleshwar – Panchgani road, this place definitely adds life to the life in Mahabaleshwar. Mapro is one of the most eminent producers of strawberry and other fruit based products in India. And this place is one of the biggest sales outlets of all Mapro and Mazaana products. It has a huge garden with strawberry plantations and also has counters for sampling and sale of Mapro products. They have top-class customer service and supremely delicious products. The place also has a food-court serving delicious snacks such as cheese sandwiches, pizzas, finger chips and ofcourse, fresh strawberry cream and ice cream. You definitely don’t want to miss this one!
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/36/tapola view.jpg"><h5 class="attraction-sub-heading"><b>Tapola</b></h5>Popularly known as Mini Kashmir, Tapola is located around 30 Kms from main Mahabaleshwar city. The route to Tapola is nothing short of breathtakingly beautiful. The road was narrow and had some of the most beautiful views of the valley – the beautiful deep green hills embellished with shimmering blue strip of the Koyana River below. Tapola is a beautiful setting with Shiv Sagar Lake in between with a stretch of around 80 Kms surrounded by small islands. You could catch up on some water sports including boating, motor boat, scooter boat etc. out there. Some of the most visited points include Treveni Sangam Point and Koyana Dam. Special River Camps are available for couples who’d want to spend some time at Tapola.

</li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/36/parsi point.jpg"><h5 class="attraction-sub-heading"><b>Panchgani</b></h5> Just 20 Kms from Mahabaleshwar lies Panchgani, a yet another beautiful hill station overlooking the Sahyadris. Some of the most beautiful points located in Panchgani include Parsi Point, Table Land and Sydney Point – all of which have lovely view of the majestic mountains and valleys.
                    
                </li>
</ul>
</div>