<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Mahabaleshwar has year round pleasant weather. However, the weather comes alive mainly from November to January, especially if you’re a winter couple. The minimum temperatures go down to 8-10 degrees making the it a perfect setting for a nice romantic trip! Summers approach in March and continue till mid-June with maximum temperature hovering around 30 degree. It’s pleasant enough to enjoy the outdoors. June to September are monsoon months and should be avoided as the place is prone to landslides during that time. However, it isn’t as bad as it sounds. If you enjoy rains as a couple, you could enjoy the lovely views of the Sahyadris amidst light drizzle.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                15-28 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>