<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/36/brightland outdoor.jpg" data-lightbox="roadtrip" data-title="View of the Brightland Resort's outside seating restaurant - Pavillion" id="pic1"><img src="../images/36/brightland outdoor.jpg" id="pic1"></a>
            
                <p>View of the Brightland Resort's outside seating restaurant - Pavillion</p>
            </div><div class="pin">
            <a href="../images/36/savitri point.jpg" data-lightbox="roadtrip" data-title="View of the Sahyadris from Savitri Point in Old Mahabaleshwar" id="pic2"><img src="../images/36/savitri point.jpg" id="pic2"></a>
            
                <p>View of the Sahyadris from Savitri Point in Old Mahabaleshwar</p>
            </div><div class="pin">
            <a href="../images/36/market.JPG" data-lightbox="roadtrip" data-title="Mahabaleshwar Market" id="pic3"><img src="../images/36/market.JPG" id="pic3"></a>
            
                <p>Mahabaleshwar Market</p>
            </div><div class="pin">
            <a href="../images/36/the sizzler place.jpg" data-lightbox="roadtrip" data-title="The Sizzler Place at Mahabaleshwar Market serving delicious sizzlers and more" id="pic4"><img src="../images/36/the sizzler place.jpg" id="pic4"></a>
            
                <p>The Sizzler Place at Mahabaleshwar Market serving delicious sizzlers and more</p>
            </div><div class="pin">
            <a href="../images/36/Fort1.jpg" data-lightbox="roadtrip" data-title="View of the Pratapgarh Fort from the top" id="pic5"><img src="../images/36/Fort1.jpg" id="pic5"></a>
            
                <p>View of the Pratapgarh Fort from the top</p>
            </div><div class="pin">
            <a href="../images/36/enroute fort.jpg" data-lightbox="roadtrip" data-title="Breathtaking view of the deep valleys enroute Pratapgarh Fort" id="pic6"><img src="../images/36/enroute fort.jpg" id="pic6"></a>
            
                <p>Breathtaking view of the deep valleys enroute Pratapgarh Fort</p>
            </div><div class="pin">
            <a href="../images/36/Fort2.jpg" data-lightbox="roadtrip" data-title="Chhtrapati Shivaji's statue at Pratapgarh" id="pic7"><img src="../images/36/Fort2.jpg" id="pic7"></a>
            
                <p>Chhtrapati Shivaji's statue at Pratapgarh</p>
            </div><div class="pin">
            <a href="../images/36/tapola view.jpg" data-lightbox="roadtrip" data-title="Stunning view of the valley with Koyana River on way to Tapola" id="pic8"><img src="../images/36/tapola view.jpg" id="pic8"></a>
            
                <p>Stunning view of the valley with Koyana River on way to Tapola</p>
            </div><div class="pin">
            <a href="../images/36/lake.jpg" data-lightbox="roadtrip" data-title="Shiv Sagar Lake at Tapola" id="pic9"><img src="../images/36/lake.jpg" id="pic9"></a>
            
                <p>Shiv Sagar Lake at Tapola</p>
            </div><div class="pin">
            <a href="../images/36/mapro icecream.jpg" data-lightbox="roadtrip" data-title="The yummilicious fresh strawberry cream with ice cream served at Mapro Garden" id="pic10"><img src="../images/36/mapro icecream.jpg" id="pic10"></a>
            
                <p>The yummilicious fresh strawberry cream with ice cream served at Mapro Garden</p>
            </div><div class="pin">
            <a href="../images/36/chocolate factory.jpg" data-lightbox="roadtrip" data-title="Mazaana Chocolate Factory at Mapro Garden" id="pic11"><img src="../images/36/chocolate factory.jpg" id="pic11"></a>
            
                <p>Mazaana Chocolate Factory at Mapro Garden</p>
            </div><div class="pin">
            <a href="../images/36/brightland cottage room.jpg" data-lightbox="roadtrip" data-title="The beautiful cottage room at Brightland Resort" id="pic12"><img src="../images/36/brightland cottage room.jpg" id="pic12"></a>
            
                <p>The beautiful cottage room at Brightland Resort</p>
            </div><div class="pin">
            <a href="../images/36/route to mahab.jpg" data-lightbox="roadtrip" data-title="Crossing the highway from Mumbai to Mahabaleshwar" id="pic13"><img src="../images/36/route to mahab.jpg" id="pic13"></a>
            
                <p>Crossing the highway from Mumbai to Mahabaleshwar</p>
            </div><div class="pin">
            <a href="../images/36/Mapro counter.jpg" data-lightbox="roadtrip" data-title="The colorful counters with Mapro Products at the sales outlet" id="pic14"><img src="../images/36/Mapro counter.jpg" id="pic14"></a>
            
                <p>The colorful counters with Mapro Products at the sales outlet</p>
            </div><div class="pin">
            <a href="../images/36/sunrise.jpg" data-lightbox="roadtrip" data-title="Witnessed sunrise early morning on Sion-Panvel Expressway" id="pic15"><img src="../images/36/sunrise.jpg" id="pic15"></a>
            
                <p>Witnessed sunrise early morning on Sion-Panvel Expressway</p>
            </div><div class="pin">
            <a href="../images/36/parsi point.jpg" data-lightbox="roadtrip" data-title="The beautiful Parsi Point at Panchgani" id="pic16"><img src="../images/36/parsi point.jpg" id="pic16"></a>
            
                <p>The beautiful Parsi Point at Panchgani</p>
            </div><div class="pin">
            <a href="../images/36/rajmachi.jpg" data-lightbox="roadtrip" data-title="View of the Rajmachi Point at Lonavala on way to Mahabaleshwar" id="pic17"><img src="../images/36/rajmachi.jpg" id="pic17"></a>
            
                <p>View of the Rajmachi Point at Lonavala on way to Mahabaleshwar</p>
            </div><div class="pin">
            <a href="../images/36/aurther seat point.jpg" data-lightbox="roadtrip" data-title="Aurther's Seat Point at Old Mahabaleshwar" id="pic19"><img src="../images/36/aurther seat point.jpg" id="pic19"></a>
            
                <p>Aurther's Seat Point at Old Mahabaleshwar</p>
            </div><div class="pin">
            <a href="../images/36/mapro garden.jpg" data-lightbox="roadtrip" data-title="The beautiful and lively Mapro Garden" id="pic20"><img src="../images/36/mapro garden.jpg" id="pic20"></a>
            
                <p>The beautiful and lively Mapro Garden</p>
            </div>
                       
                    </section>
                    
                    
</div>