<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        The closest airport to Mahabaleshwar/ Panchgani is Pune, around 120 Kms away. You could even take a flight to Mumbai, 250 Kms from Mahabaleshwar and take a cab or rent a car from there while enjoying the long drive.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                       Plenty of bus options are available from Mumbai and Pune to Mahabaleshwar. Both state run and private buses are available from there. The ride from Mumbai would take around 6 hours and from Pune would take around 3 hours.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Wathar is the closest train station to Mahabaleshwar/ Panchgani which is around 60 Kms away. However, the most convenient station would be Pune itself, which is very well connected to other major Indian cities. Cab could be taken from Pune to the hill station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       A long drive to Mahabaleshwar/ Panchgani from Mumbai or Pune is always the best option. If you have a car, you could straightway take the Mumbai Pune Expressway, which is straight and smooth and hits Mahabaleshwar directly after Lonavala and Pune. However, if you’re more adventure crazy and want to go for a bike ride, take NH4 after hitting Sion-Panvel expressway in Mumbai and you’re sorted. A few small breaks in between are always good!
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>