<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Lonavala_Images/Lonavala%20Lake.jpg"> <h5 class="attraction-sub-heading"><b>Lonavala Lake</b></h5>Lonavala Lake is located on the way to from the main town to the view-points such as Lion&acirc;&#128;&#153;s point. The lake can be seen through a bridge constructed over the lake area. It&acirc;&#128;&#153;s a beautiful spot for people to stop by and enjoy the cool breeze in a picturesque location. The beauty of the lakes comes live during the monsoons when it fills up to the brim. Relish the sweet corn bhuttas being sold by small hawkers sprawling around the place.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Lonavala_Images/Lions%20point.jpg"><h5 class="attraction-sub-heading"><b>Lion's Point</b></h5>One of the most talked about destinations in Lonavala, this is a beautiful view-point which is around 15 Km from the main town. There is a short trek up to the hill from where a panoramic and majestic view of the deep green valley awaits you. One actually sees clouds passing by giving one a feeling of floating on the clouds amidst cool breeze! It&acirc;&#128;&#153;s a supremely romantic spot for all you lovely couples!
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Lonavala_Images/Karla%20exterior.jpg"> <h5 class="attraction-sub-heading"><b>Karla Caves</b></h5>
                  One of the oldest caves in the country, Karla caves is a beautiful and historically significant site. It is an important and one of the largest Buddhist temples in India. The exterior of the temple has natural water flowing from the top which gives a waterfall like look to the cave entrance. Temple of Goddess Ekvira and a huge Buddhist worship hall is also built inside the caves.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Lonavala_Images/Rajmachi.jpg"><h5 class="attraction-sub-heading"><b>Rajmachi Point</b></h5>Rajmachi Point is located in Khandala and is around 6 Km from Lonavala. It is a point which offers a breathtakingly amazing view of deep green hills with numerous strips of waterfalls embellishing the valley. Many tourists stop by and sit across this lovely location sipping hot tea and enjoying some lip smacking local food available on make shift stalls sprawled across the place. .


                    
                </li>
</ul>
</div>