<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        The real beauty of both the hill stations comes live during monsoons and winters. July to September see heavy rains at these places when the lush green hills and misty fragrant air spead their wonder. The Lakes become completely full come to life during monsoons. Even months from October to March are amazingly beautiful. Since minimum temperature goes down to 10 degrees, the slight chill in the air feels lovely! However, summer months from April to June are slightly hot and humid with maximum temperature soaring upto 40 degrees.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                34-21 degree C
                <br>Humidity 88%
                    
            </div>        
                    </li>
        
        </ul>
        </div>