<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Highway%20Roadside.jpg" data-lightbox="roadtrip" data-title="Sion-Panvel expressway with lovely green valleys on both sides of the road"><img src="../images/Lonavala_Images/Highway%20Roadside.jpg" id="pic1"></a>
                           <p>Sion-Panvel expressway with lovely green valleys on both sides</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/About%20to%20reach%20Lonavala.jpg" data-lightbox="roadtrip" data-title="Steep roads surrounded by deep greens on both sides as we approached Khandala"><img src="../images/Lonavala_Images/About%20to%20reach%20Lonavala.jpg" id="pic2"></a>
                           <p>Steep roads surrounded by deep greens on both sides as we approached Khandala</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Lonavala_Images/Lonavala%20Lake.jpg" data-lightbox="roadtrip" data-title="Relishing cool &amp; fragrant breeze at Lonavala Lake bridge point"><img src="../images/Lonavala_Images/Lonavala%20Lake.jpg" id="pic2"></a>
                           <p>Relishing cool &amp; fragrant breeze at Lonavala Lake bridge point</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Lions%20point.jpg" data-lightbox="roadtrip" data-title="Breathtakingly awesome view of the valley from Lion's Point"><img src="../images/Lonavala_Images/Lions%20point.jpg" id="pic4"></a>
                           <p>Breathtakingly awesome view of the valley from Lion's Point</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Karla%20exterior.jpg" data-lightbox="roadtrip" data-title="Exterior structure of Karla Caves"><img src="../images/Lonavala_Images/Karla%20exterior.jpg" id="pic6"></a>
                           <p>Exterior structure of Karla Caves</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Waterfall%20Karla.jpg" data-lightbox="roadtrip" data-title="Natural waterfall on the climb-up way to Karla Caves"><img src="../images/Lonavala_Images/Waterfall%20Karla.jpg" id="pic7"></a>
                           <p>Natural waterfall on the climb-up way to Karla Caves</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Karla%20worship%20hall.jpg" data-lightbox="roadtrip" data-title="Dome like structure inside the Buddhist workship hall at Karla Caves"><img src="../images/Lonavala_Images/Karla%20worship%20hall.jpg"></a>
                           <p>Dome like structure inside the Buddhist worship hall at Karla Caves/p&gt;
                       </p>
</div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Karla%20worship%20hall%202.jpg" data-lightbox="roadtrip" data-title="Beautiful detailed engravings on walls of the worship hall"><img src="../images/Lonavala_Images/Karla%20worship%20hall%202.jpg"></a>
                           <p>Beautiful detailed engravings on walls of the worship hall</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Rajmachi.jpg" data-lightbox="roadtrip" data-title="Rajmachi point at Khandala with a mesmerising view of the deep green valleys"><img src="../images/Lonavala_Images/Rajmachi.jpg"></a>
                           <p>Rajmachi point at Khandala with a mesmerising view of the deep green valleys</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Chikki.jpg" data-lightbox="roadtrip" data-title="Maganlal Chikki, one of the most popular Chikki brands in Lonavala"><img src="../images/Lonavala_Images/Chikki.jpg"></a>
                           <p>Maganlal Chikki, one of the most popular Chikki brands in Lonavala</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Friends%20of%20Barney.jpg" data-lightbox="roadtrip" data-title="The couple gives us a cute shot at Rajmachi point"><img src="../images/Lonavala_Images/Friends%20of%20Barney.jpg"></a>
                           <p>The couple gives us a cute shot at Rajmachi Point</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Lonavala_Images/Black%20clouds-2.jpg" data-lightbox="roadtrip" data-title="Black clouds surround us on our way back from Lonavala to Mumbai"><img src="../images/Lonavala_Images/Black%20clouds-2.jpg"></a>
                           <p>Black clouds surround us on our way back from Lonavala to Mumbai</p>
                       </div>
                
                        
                    </section>
                    
                    
                    </div>