<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                    Lohegaon Airport in Pune is the closest to Lonavala and Khandala which is around 66 Km away. However, Mumbai International Airport is also located at a comparable distance of around 90 Km. Khandala and Lonavala are easily accessible from both the cities through Mumbai-Pune Expressway.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      By road is one of the best and most beautiful ways to reach Lonavala and Khandala. Buses are available from Mumbai and Pune at regular intervals with drops to both Lonavala and Khandala.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Khandala and Lonavala both have their own railway stations which are well connected to other major cities in the country. Most of the express trains that pass through Pune and Mumbai stop at Khandala or Lonavala.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       The Road is the most recommended way to travel to these two beautiful towns. Mumbai and Pune both are perfect destinations to start your long drive or ride to the hill stations. Mumbai-Pune expressway offers a perfectly smooth and amazing driving experience amidst lush green hills. However, if you're on a bike or two-wheeler, you can take NH4 after crossing Khopoli via Sion-Panvel Expressway.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>