<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>We had been longing for a bike trip since quite some time. Barney had a bike back in Hyderabad and we used to love going out for short drives outside the campus. After we moved to different cities, we couldn&acirc;&#128;&#153;t do the same anymore as Barney left his bike in Hyderabad with his cousin.
 </p>
<br>
<p>After moving to Navi Mumbai, he thought of getting a new bike. Just a month later, he gifted himself (and indirectly me) Royal Enfield Thunderbird 350. Everything about the bike is so special &acirc;&#128;&#147; the looks, the feel, the performance and the fact that it was a cruiser, which meant we could easily go for a bike trip without the fear of getting drained by the end of it. Cruiser bikes are comfortable and are meant for long leisurely rides. The next instant plan was to go for a bike trip to a nearby hill station and that&acirc;&#128;&#153;s when we decided it was going to be Lonavala.</p>
<br>
            
            <p><b>Day-1</b></p>
            
                  
            <p>We planned to leave early morning from Navi Mumbai. The distance to Lonavala is around 55-60 KM. The plan was to leave around 8 AM. Murphy once said (Or at least I think so) that if the first thing gets delayed, the rest of the planned activities get dragged too. The Domino Effect! Sigh! We woke up late and then everything else took more time than expected. We planned to carry only a small backpack with one pair of clothes and other small necessary things. We finally left Vashi at 10:30 AM. It was already sunny by the time we left but the coolness and freshness in the air made up perfectly for the heat.  </p>
<br>
             <p><img class="center-align-full-row" src="../images/Lonavala_Images/highway.jpg"></p>
<br>     
            <p>Mumbai-Pune Expressway is the best and straight route to Lonavala/ Khandala from Mumbai. However, since two wheelers are not allowed on the expressway, we planned to take NH4 going via Panvel Bypass road. Once we hit Panvel, we started witnessing fewer vehicles on the road and that&acirc;&#128;&#153;s when our ride picked a great form. Halfway through the ride, we saw lovely greens on both side of the road. The beautiful green hills appeared on one side of the road as we approached Lonavala.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Lonavala_Images/About%20to%20reach%20Lonavala.jpg"></p>
<br>
            <p>After we hit NH4 towards Lonavala - Khandala exit, the air in itself became much cooler. It was already 1.5 hours since we&acirc;&#128;&#153;d been riding without break and we didn&acirc;&#128;&#153;t even feel the need to take a break. Barney was comfortably riding the bike and I was clicking pictures of lovely landscapes alongway.</p>
<br>
                    <img class="center-align-full-row" src="../images/Lonavala_Images/Zara.jpg"><br><br>    
<p>We had booked Zara&acirc;&#128;&#153;s Resort in Khandala for that day and we reached the place at dot 12:00 PM. We had made the booking through Make My Trip and availed a great discount. We got a good room with big French windows facing the swimming pool. We ordered light snacks and waited for the rain to stop.</p>
<br>
   <img class="center-align" src="../images/Lonavala_Images/Lonavala%20Lake.jpg">
           <img class="center-align" src="../images/Lonavala_Images/Lake%20bhutta.jpg"> <br><br>
<p>We left as soon as it slowed down to a light drizzle. We checked out a few attractions online and planned to go to Lion&acirc;&#128;&#153;s Point and Bushi Dam. Although we lost our way for a short whole, it wasn&acirc;&#128;&#153;t as bad since we were enjoying the cool dewy breeze and slight drizzle while crossing through the moist green valleys of Lonavala. On our way to Lion&acirc;&#128;&#153;s point, we stopped by Lonavala Lake. It&acirc;&#128;&#153;s a bridge which leads higher up to the hills. It&acirc;&#128;&#153;s a beautiful spot and many visitors had parked their vehicles there, and were enjoying the cool breeze, picturesque views and clicking pictures. We relished the sweet corn bhuttas at the spot while it was still drizzling slightly.</p>
<br>
             <img class="center-align-full-row" src="../images/Lonavala_Images/Lions%20point.jpg"><br><br>
<p>The road towards Lion&acirc;&#128;&#153;s Point was slightly jammed since many people from Mumbai had come to Lonavala for the long weekend. There is a short trek up to hills where the view point is located. The view from the top is breathtakingly beautiful: Deep green hills amidst clouds and lovely fragrant breeze. We stayed there for a while and took a short stroll through the area before trekking down to the parking area. Out there, I could recall the lyrics of Higher by one of my ever favourite bands, Creed:</p>
            <p><i>Up high I feel like I'm alive for the very first time</i></p>
            <p><i>Set up high I'm strong enough to take these dreams</i></p>
            <p><i>And make them mine...</i></p>
<br>
    
    <p>On our way back, we stopped by a small open make shift caf&Atilde;&copy; and had chai and vada pav &acirc;&#128;&#147; perfect bliss in the rains!</p>
            <p>Plans for later were already set &acirc;&#128;&#147; we planned to spend a lazy evening watching India v/s South Africa T20 match at the resort itself. We ordered soup and food in the room and had fun watching the match alongside. So what if India lost the match, the day was special and just perfect!</p>
<br>
            
            
              <p><b>Day-2</b></p>
           <img class="center-align-full-row" src="../images/Lonavala_Images/Karla%20exterior.jpg"><br><br>
<p>We woke and got ready early since we planned to cover a few places before leaving Lonavala. We had buffet breakfast at the resort&acirc;&#128;&#153;s caf&Atilde;&copy;. The plan was to cover Karla Caves in the morning. Hence we checked out early and left. The weather was absolutely clear since morning. It was a smooth ride to Karla after which the road steeped slightly and the caves were higher up. Coincidently we bumped into Barney&acirc;&#128;&#153;s college friend who had come to visit Lonavala with his fianc&Atilde;&copy;e. We four go together and climbed up to the peak where the temple and the caves are located. We first visited the temple which is dedicated to Goddess Ekvira. The exterior of Karla Caves is beautiful. A natural stream of water flows down giving a lovely waterfall effect to the structure.</p>
<br>
            <img class="center-align-full-row" src="../images/Lonavala_Images/Karla%20interior.jpg"><br><br>
            <p>The government has been engaged in regular checking and maintenance of the caves and hence we noticed a few artificially constructed structures inside the caves. Since it&acirc;&#128;&#153;s one of the most popular destinations at Lonavala, the place was slightly crowded.</p>
<br>
            <img class="center-align" src="../images/Lonavala_Images/Karla%20worship%20hall.jpg">
            <img class="center-align" src="../images/Lonavala_Images/Chikki.jpg">    <br><br>
            <p>We paid a small entry fee to go inside the big worship hall. Prayers were conducted inside the hall in the days of Christ AD 20. There was a huge dome like structure right in the center of the hall which looked grand and beautiful.</p>
<br>
            <p>After Karla, we headed back to Lonavala where we grabbed a leisurely lunch at Rama Krishna restaurant at Pune. The place was jam packed. No wonder the food was pretty good. We had standard vegetarian north Indian meal. Visit to Lonavala is incomplete without buying the special Maganlal Chikki. We stopped by and bought a few packets of chikki and jelly sweets and headed back to the resort.</p>
<br>
            <img class="center-align-full-row" src="../images/Lonavala_Images/Rajmachi.jpg"> <br> <br>
                <p>we picked up our backpack and visited Rajmachi Point before heading back to Mumbai. It&acirc;&#128;&#153;s a beautiful point which offers a wonderful view of the deep green gorges amidst clouds. Small strips of waterfalls embellished the valley on one side. We were glad we came to the place in the evening before heading off.</p>
<br>
            <img class="center-align-full-row" src="../images/Lonavala_Images/Black%20clouds-2.jpg"><br><br>      
                <p>Our ride back to Mumbai was an absolute delight. The weather had become cloudy. We literally crossed through deep dark clouds with the chill in the dewy air hitting our faces as we rode down the hills. It started drizzling before we reached Panvel. We planned to stop by at one of the dhabas and waited for the rain to stop. However, the rain became heavier with every passing minute. Barney and I decided to let go and had a perfect romantic bike ride! It took us around 1 hour after hitting Panvel to reach Mumbai. We got completely drenched in the rain! Even though that&acirc;&#128;&#153;s not what we&acirc;&#128;&#153;d planned, it turned to be an absolutely amazing experience.</p>
<br>
            <p>For us, it was an amazing and fun bike trip we&acirc;&#128;&#153;d had in a long time and we loved every bit of it :)</p>
<br><br>
            


                    
                       
                    </div>