<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/63/sicily-ragusa-ibla.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/63/sicily-ragusa-ibla.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-pool.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/63/sicily-pool.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-flat.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/63/sicily-flat.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-water-break.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/63/sicily-water-break.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-town.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/63/sicily-taormina-town.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-secca.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/63/sicily-secca.jpg" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-dinner.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/63/sicily-dinner.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-modica.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/63/sicily-modica.jpg" id="pic8"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-drive.jpg" data-lightbox="roadtrip" data-title="" id="pic9"><img src="../images/63/sicily-drive.jpg" id="pic9"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-eggplant.jpg" data-lightbox="roadtrip" data-title="" id="pic10"><img src="../images/63/sicily-eggplant.jpg" id="pic10"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-church.jpg" data-lightbox="roadtrip" data-title="" id="pic11"><img src="../images/63/sicily-taormina-church.jpg" id="pic11"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina.jpg" data-lightbox="roadtrip" data-title="" id="pic12"><img src="../images/63/sicily-taormina.jpg" id="pic12"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-parm.jpg" data-lightbox="roadtrip" data-title="" id="pic13"><img src="../images/63/sicily-parm.jpg" id="pic13"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-secca-lunch.jpg" data-lightbox="roadtrip" data-title="" id="pic14"><img src="../images/63/sicily-secca-lunch.jpg" id="pic14"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-map.jpg" data-lightbox="roadtrip" data-title="" id="pic15"><img src="../images/63/sicily-map.jpg" id="pic15"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-etna-sunset.jpg" data-lightbox="roadtrip" data-title="" id="pic16"><img src="../images/63/sicily-etna-sunset.jpg" id="pic16"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-etna-sunrise.jpg" data-lightbox="roadtrip" data-title="" id="pic17"><img src="../images/63/sicily-etna-sunrise.jpg" id="pic17"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-olives.jpg" data-lightbox="roadtrip" data-title="" id="pic18"><img src="../images/63/sicily-olives.jpg" id="pic18"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-harvest.jpg" data-lightbox="roadtrip" data-title="" id="pic19"><img src="../images/63/sicily-harvest.jpg" id="pic19"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-bamboo.jpg" data-lightbox="roadtrip" data-title="" id="pic20"><img src="../images/63/sicily-bamboo.jpg" id="pic20"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-hotel.jpg" data-lightbox="roadtrip" data-title="" id="pic21"><img src="../images/63/sicily-taormina-hotel.jpg" id="pic21"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-walls.jpg" data-lightbox="roadtrip" data-title="" id="pic22"><img src="../images/63/sicily-walls.jpg" id="pic22"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-guides.jpg" data-lightbox="roadtrip" data-title="" id="pic23"><img src="../images/63/sicily-guides.jpg" id="pic23"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-gate.jpg" data-lightbox="roadtrip" data-title="" id="pic24"><img src="../images/63/sicily-taormina-gate.jpg" id="pic24"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-theater.jpg" data-lightbox="roadtrip" data-title="" id="pic25"><img src="../images/63/sicily-taormina-theater.jpg" id="pic25"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-route.jpg" data-lightbox="roadtrip" data-title="" id="pic26"><img src="../images/63/sicily-route.jpg" id="pic26"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-ragusa-ibla-dome.jpg" data-lightbox="roadtrip" data-title="" id="pic27"><img src="../images/63/sicily-ragusa-ibla-dome.jpg" id="pic27"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-taormina-sea.jpg" data-lightbox="roadtrip" data-title="" id="pic28"><img src="../images/63/sicily-taormina-sea.jpg" id="pic28"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-directions.jpg" data-lightbox="roadtrip" data-title="" id="pic29"><img src="../images/63/sicily-directions.jpg" id="pic29"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-pillbox.jpg" data-lightbox="roadtrip" data-title="" id="pic30"><img src="../images/63/sicily-pillbox.jpg" id="pic30"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-town.jpg" data-lightbox="roadtrip" data-title="" id="pic31"><img src="../images/63/sicily-town.jpg" id="pic31"></a>
            
            </div><div class="pin">
            <a href="../images/63/sicily-cemetery.jpg" data-lightbox="roadtrip" data-title="" id="pic32"><img src="../images/63/sicily-cemetery.jpg" id="pic32"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>