<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">A big thank you to VBT Bicycling and Walking Vacations for providing this adventure where we can tour AND eat all the delicious food we want without worrying about the calorie count! As always, all opinions are our own.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We love riding our trusty steeds (GypsyNester parlance for bicycles) - we feel it's the best way to see a new place at the perfect pace.</p>
<p class="MsoNormal">We carry our bikes on our RV when we're in the States, or rent them when in far off lands, and make our own itineraries at our own pace.</p>
<p class="MsoNormal">But we have never experienced a real bicycle tour - until now.</p>
<p class="MsoNormal">And we're doing it in a part of Italy that we have never before visited!</p>
<p class="MsoNormal">Ride along with us as we pedal back in time on the Mediterranean island of Sicily.</p>
<p class="MsoNormal">We'll begin at Mt. Etna and work our way through the spectacular Greek, Roman and Moorish influenced villages dotting the southern coast of this unique island that was at the crossroads of ancient seafarers.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong><span style="font-size: 12.0pt; mso-bidi-font-size: 11.0pt; line-height: 115%;">DAY ONE: Clinging to Cliffs, Rockin' with the Ancient Greeks and Romans, and Curing Jet Lag in Taormina</span></strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After landing in Catania, we made our way north along the coast and climbed -- clinging to sheer cliffs -- up to the town of Taormina.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Taormina was once one of Sicily's most important cities, and remained so for a millennia because of its strategic position high on a hill and the nearly impenetrable Saracen Castle guarding it from above.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Loving the schedule that allowed us to see the city at our own first-travel-day pace, we hoofed it on foot to the Ancient Greek Theatre, a must see in Taomina. Originally constructed around 300 BC, the Romans rebuilt it several centuries later and we saw evidence of the marble columns of the Greeks amongst the intricate brickwork of those of Rome.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The heart of Taomina lies between two main gates inside the ancient walls. This stretch of medieval road thrives as a major destination for tourists from all over the world.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Visitors stroll along the picturesque street and intriguing alleyways, or enjoy incredible views of Mount Etna, one of the most active volcanoes in the world, from several piazzas.</p>
<p class="MsoNormal">We captured the mythical volcano as the setting sun lit up the mountain's tufts of smoke rising from her summit. No wonder Etna has been designated a UNESCO World Heritage Site.</p>
<p>&nbsp;</p>
<p class="MsoNormal">At the end of a long day's journey, nothing conquers jet lag like a true Italian pizza, a glass of vino, and a plush place to lay one's head.</p>

                    
                       
                    </div>