<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Alleppey_Images/chinese%20nets.jpg"> <h5 class="attraction-sub-heading"><b>Fort Kochi</b></h5>Fort Kochi is a region towards the south west of main Cochin City. It is an old place and is mainly known for its old distinct Portuguese architecture and ambiance &acirc;&#128;&#147; The small colourful hut like houses among the palm trees, small rose and bougainvillea bushes outside homes, and small roadside open shacks serving seafood and beer. Main places to visit around the area include the "Chinese Nets" along the coastline, Matancherry&acirc;&#128;&#153;s Dutch Palace and Jewish Synagogue, organic spice markets and Churches such as St. Francis Church and Santa Cruz Cathedral Basilica Church. It is around 60 Kms from Alleppey and can be visisted for a day before coming to Alleppey.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Alleppey_Images/backwater%20city.jpg"><h5 class="attraction-sub-heading"><b>Alleppey Backwaters</b></h5>The backwaters in Alleppey are one of the most popular tourist attractions in Kerala. The boats start from one particular point near Alleppey market. Take a private boat for 3-4 hours and relax as the boat passes through silent waters, palm and rice plantations and quiet and calm villages. The boat usually takes the route taken by the participants during the prominent Nehru Trophy Boat race that happens annually at Alleppey on the occasion of Onam in August. These backwaters extend to Punnamada lake which then flows into the Arabian sea.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Alleppey_Images/Alleppey%20beach.jpg"> <h5 class="attraction-sub-heading"><b>Alleppey Beach</b></h5>
                  It is a popular picnic spot for the localites and tourists visiting Alleppey. The beach is clean and had has typical Kerala clayey and fine sand which is awesome to walk on unlike the prickly sand which sticks to your skin. The beach also has small street food shacks across the shoreline serving bhajjis &acirc;&#128;&#147; pakoras made of banana and chilli which are commonly savoured by the localites. People usually go for houseboat cruises from Alleppey beach to enjoy the lovely view on the boat for 3-4 hours.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Alleppey_Images/marari.jpg"><b>Marari Beach</b><br>
                   Marari beach is around 11 Kms away from the main Alleppey town. It&acirc;&#128;&#153;s a beautiful non crowded beach perfect for a romantic walk along the shoreline during sunset. The beach has crystal clear waters and perfect sand for a lovely long walk. Since the beach is located at a beautiful non-commercial locations, a few resorts have come up in the last few years which are located facing the beach and could be perfect for a romantic holiday.

        </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Alleppey_Images/houseboat%20attractions%20(2).jpg"> <h5 class="attraction-sub-heading"><b>Houseboat Stay</b></h5>
                 One of the most popular attractions of Alleppey is houseboat stay. Owing to the recent popularity of the concept, there are many houseboats you&acirc;&#128;&#153;d find loitering in the still waters of Alleppey along the backwaters, lakes and beaches. Staying in a houseboat is a unique experience in itself since you could enjoy lovely views of the backwaters while staying in the boat. Houseboats now come with fully furnished living rooms, bed rooms, functional kitchens and washrooms and even balconies with beach chairs.
    
        </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Alleppey_Images/Toddy.jpg"> <h5 class="attraction-sub-heading"><b>Toddy</b></h5>
                 It&acirc;&#128;&#153;s a local Kerala drink which can also be described as Palm Wine. It is made by fermenting the extracts of coconut flower and coconut milk. Amount of alcohol present in Toddy is up to a maximum of 8%. However, please ensure you&acirc;&#128;&#153;re buying it from an authorized shop because adulterated versions of Toddy are also available at local stores. Toddy can act as a perfect refresher to your trip! Take out those two wine glasses, pour some Toddy sitting by the lakeside enjoying the lovely view and enjoy some lovely conversations! Of course, you&acirc;&#128;&#153;ll hold hands once you&acirc;&#128;&#153;re tipsy :)
                </li>
                </ul>
        </div>