<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      Winters are a good time to visit Alleppey (from October to February) since the weather is pleasant and lovely. However, one downside of coming during on-season is that the place would be slightly more crowded than other months of the year. Alleppey is also visited often during Monsoons (July end to September) since the place offers breathtakingly amazing views with glistening greens and lovely skies. However, summer months should be avoided owing to heat and humidity during those months.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                22-30 degree C
                <br>Humidity 78%
                    
            </div>        
                    </li>
        
        </ul>
        </div>