<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Randomly browsing through Facebook one day, I came across a sponsored ad by one of the hotel booking apps. The picture was of a heritage backwater resort at Alappuzha, Kerala. It caught my eye instantly &acirc;&#128;&#147; the location, the greenery around the place, the picture of a couple relaxing on the houseboat balcony. My involuntary reaction &acirc;&#128;&#147; I shared the link with Barney that very moment. And that&acirc;&#128;&#153;s when we decided that our next holiday destination would be Kerala.</p>
<br>
                          <p><img class="center-align-full-row" src="../images/Alleppey_Images/heritage%20resort.jpg"></p>
<br>
            <p>When we finalized the dates we would want to meet, we sat down with our laptops that night at our respective homes, and over two hours of discussion over FB messenger, planned our trip and made our bookings. Kerala is a huge state with multiple holiday destinations. Since we like to chill and enjoy one place to its maximum extent, we planned on covering only Alleppey. The final plan was to go to Kochi, stay there for a day and then go to Alleppey to spend the remaining four days.</p>
<br>
            <p><b>Day-1</b></p>
            <p>We booked early morning flights to Kochi from our respective cities. We ensured we pick flights that land around the same time. One of Barney&acirc;&#128;&#153;s friends had suggested Fort Kochi as a place we should stay in Kochi owing to its interesting Portuguese architecture and ambiance. I reached Kochi around 11 and waited for Barney at the airport itself. Waiting for him kills even more when I know he would appear any moment. His flight got delayed slightly but seeing him after a month is such a delight! :)</p>
<br>
            <p>We took a taxi from the airport to Fort Kochi which is 47 Kms away. Taxi ride was all about catching up on each other&acirc;&#128;&#153;s office work. We decide henceforth that we won&acirc;&#128;&#153;t talk about office for the rest of the trip. It took us approximately 2 hours to reach Fort Kochi. The place had a very distinct Goan feel to it - the palm trees, colourful Portuguese style houses, the roses and bougainvillea outside homes, and slight smell of the sea like moisture in the air.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/colonies.jpg"> <br><br>
            <p>We reached our hotel &acirc;&#128;&#147; No 18, which too looked like an old heritage hotel. We had decided we would chill a lot during the trip including long naps, and watching movies together. Since we were both quite hungry, we ordered lunch in our room itself and connected our hard disk to the LED TV. Eating together in the bed with a movie playing alongside &acirc;&#128;&#147; what better! We were both extremely tired and took a long nap and got up only in the evening.</p>
<br>
             <p><img class="center-align-full-row" src="../images/Alleppey_Images/no18.jpg"></p>
<br>
            
            <p>Since Fort Kochi is a small non-commercial place, it closes down fairly early. Hence, we couldn&acirc;&#128;&#153;t do any sight-seeing that day. We strolled through the streets outside. The feel of the place is very Goa like, sans the loud crowd - the hut style houses, small outside seating shacks serving seafood and beer, small shops selling antiques and silk sarees, expats sitting in groups at shacks.</p>
<br>
                    <img class="center-align-full-row" src="../images/Alleppey_Images/cochin%20fort%20restautant.jpg"><br><br>    
<p>We decided to have dinner at a restaurant called &acirc;&#128;&#156;Cochin Fort&acirc;&#128;&#157;. We ordered lemon coriander soup, Kerala steamed rice and chicken. However, the highlight was the Fish Tikka. Barney is not much for a fish fan but this time, fish was the best dish on the table for him. There&acirc;&#128;&#153;s something special when it comes to fish in Kerala. It can literally convert a fish-hater to a fish-lover. We walked back to our hotel which was just a kilometre away. The day was over enjoying the movie along with a hot cup of coffee we ordered from the late night hotel caf&Atilde;&copy;. Come morning, we would go out sight-seeing!</p>
<br>
            <p><b>Day-2</b></p>
            
<p>We woke up slightly early (very unlike us) and had an awesome American breakfast at the hotel caf&Atilde;&copy; &acirc;&#128;&#147; eggs sunny side up, fresh fruits, chicken sausages and coffee.  The plan was to roam around and see a few places at Fort Kochi. The hotel manager helped us with a few places we could see around. He handed us a map of Fort Kochi and showed us where all we could go. We started off with &acirc;&#128;&#156;Chinese nets&acirc;&#128;&#157; called <i>cheenawala</i> in Kerala&acirc;&#128;&#153;s native language. Every morning, fishermen in Kerala catch fish using these humungous structures made of wood and net. The view of these men standing up on huge bamboo sticks and catching fish on water bodies reflecting the blues of the sky and floating green water plants was nothing short of breathtakingly beautiful. We wished we could catch the view during sunrise.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/chinese%20nets.jpg"><br><br>
<p>We then walked to Santa Cruz Cathedral Basilica Church. That&acirc;&#128;&#153;s the beauty of the place &acirc;&#128;&#147; since it&acirc;&#128;&#153;s a small city, you could cover all it on foot. The church is known to be one of the most impressive churches in India with respect to its old gothic architecture and its sheer magnificence. The huge ceilings and lovely colours inside makes it look all the more beautiful.</p>
<br>
    <img class="center-align" src="../images/Alleppey_Images/basilica.jpg">
               <img class="center-align" src="../images/Alleppey_Images/basilica%20outside%20(408%20x%20726).jpg"><br><br>
    <p>We then planned to hire an auto who could take us out to all the major points at Fort Kochi. The auto first took us to the well acclaimed St. Francis Church which is known to be the resting ground of Vasco Da Gama. His remains were later sent to Lisbon. However, the church still attracts many visitors. We then moved to Fort Kochi beach, which isn&acirc;&#128;&#153;t too apt for playing in the waters since it&acirc;&#128;&#153;s a rocky beach. However, it does have a nice walkway. We even witnessed an ongoing shoot of a local film out there. We took a short stroll enjoying coconut water and then took off in our auto. </p>
<br>
            
              <img class="center-align-full-row" src="../images/Alleppey_Images/shooting.jpg"><br><br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/fort%20kochi%20beach.jpg"><br><br>
            <p>Next we visited Indo Portuguese Museum and Matancherry which is mainly known for the Dutch Place, the Jew town and the Synagogue.</p>
<br>
<img class="center-align-full-row" src="../images/Alleppey_Images/museum.jpg"><br><br>
            <p>The next stop was the organic spice market. Although both of us aren&acirc;&#128;&#153;t too knowledgeable when it comes to fragrance and feel of the real organic spices, we tried to look intelligent when the lady at the shop explained us the difference! :)
We spent a good half an hour there and shopped for spices for our respective homes. The auto guy then dropped us back to our hotel, where we checked out and took our cab to Allepey, which is 60 Kms away.</p>
<br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/spice%20market.jpg"><br><br>
            <p>The route from Fort Kochi to Allepey is all along the Arabian coastline. We crossed typical Kerala villages, small backwaters, and palm and rice plantations. It was a beautiful drive. Our driver Freddie taught us a little bit of Malayalam on the way. We reached Alleppey in around 2 hours. The resort we had booked for our remaining stay was &acirc;&#128;&#156;Deshadan Backwater Resort&acirc;&#128;&#157; which in fact comes before the main Allepey area. We absolutely loved the first look of the resort and its location. Since it was already evening when we reached the place, we decided to rest for the remaining time. We ordered food in the room and played a nice movie. Just before sleeping, we sat by the swimming pool under the moonlit sky! It was all just very perfect :)</p>
<br>
            
            <p><b>Day-3</b></p>
            <p>Our plan was to cover main Alleppey city this day. We got up leisurely and had a nice breakfast at the resort open caf&Atilde;&copy;. One thing Kerala is extremely popular for is the Ayurvedic Massage and Spas. Before booking the hotel, we had checked that Deshadan has Ayurvedic Massage Center too. Hence, after breakfast, we went to the massage parlour and got a 45 minute session of full body massage done. It&acirc;&#128;&#153;s an immensely relaxing experience &acirc;&#128;&#147; all you got to do is lie down, close your eyes, relax your body and enjoy the massage in a room with perfect peaceful ambiance, sweet incense fragrance and light soothing music. A nice long steam bath acts as perfect icing on the cake!</p>
<br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/Spa.jpg"><br><br>
            <p>We left for the city in the auto, who dropped us at the Main Alleppey market area. We thought of grabbing lunch somewhere and hence went to this restaurant called &acirc;&#128;&#156;Makkhani&acirc;&#128;&#157; which served kebabs and curries with typical Kerala style masala.</p>
<br>
            <p>After a nice long meal, we planned to hit the boat! Backwater boat-ride is what makes Alleppey what it is. You&acirc;&#128;&#153;ll see many boat owners coming and haggling with you trying to rent their boats to you. We settled for a 3 hour private boat ride for 800 bucks &acirc;&#128;&#147; which turned out to be an awesome deal! Our boat also had two long beach chairs where we lied down as the boat passed through silent waters, palm and rice plantations and quiet and calm villages. We also saw the route taken by the participants during the prominent Nehru Trophy Boat race that happens annually at Alleppey on the occasion of Onam in August. We didn&acirc;&#128;&#153;t realize how three hours passed as the boat loitered in the waters. We asked the boat guy to stop in the middle at one of the waterside cafes from where we could pick ginger tea and bring it to our boat. The caf&Atilde;&copy; owner introduced us to two of his pet eagles who had been staying with him for almost 4 years! Lovely views, peaceful surroundings, Barney and me! Ah, what a lovely time!</p>
<br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/backwater%20city.jpg"><br><br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/backwaters%20boatride.jpg"><br><br>
            <p>It was evening by the time we got back to Alleppey city. We decided to visit Alleppey beach. Unfortunately we missed the sunset but the beach turned out to be a pleasant surprise. It was not only cleaner that we expected but the sand too wasn&acirc;&#128;&#153;t prickly. It was smooth and clayey. It was dark and we didn&acirc;&#128;&#153;t want to go in the water by then. There was ample crowd at the beach &acirc;&#128;&#147; mostly localites having fun with their families or groups of friends and couples. The beach has numerous small street food shacks serving bhajji &acirc;&#128;&#147; fried banana and chilli pakoras, which are amply savoured by the localites. Barney and I took coffee and walked on the beach for a short while. This was our first time at a proper beach after we had gone with our college group as friends. It brought back Goa memories and how we had sneaked out for a walk on the beach the night we figured we have feelings for each other. </p>
<br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/Alleppey%20beach.jpg"><br><br>
            <p>We took an auto back to the resort, ordered a nice meal in our room and relished the same while watching another movie.</p>
<br>
            <p><b>Day-4</b></p>
            <p>One benefit of complimentary buffet breakfasts &acirc;&#128;&#147; they make you get up on time! We woke up just in time for the buffet breakfast after last night&acirc;&#128;&#153;s late movie. This day&acirc;&#128;&#153;s plan was to pretty much stay at the resort and laze around. We had flights back next day and this realization struck me that our holiday was coming to an end. After a shower, we took a short stroll through the resort. The resort doesn&acirc;&#128;&#153;t have a big property with respect to area but is beautifully located and constructed. It has a lovely view of the lake with clouds casting silhouettes in the deep blue water, the turquoise blue swimming pool, almost extending to the boundary of the lake where the houseboats could be seen lingering lazily. We could see small boats with fishermen catching fish, the greens of the resort with lovely wooden hut like structures built alongside &acirc;&#128;&#147; everything offered a perfect setting for nice relaxed lazy Sunday afternoon.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/deshadan.jpg"><br><br>
            <img class="center-align-full-row" src="../images/Alleppey_Images/room.jpg"><br><br>
<p>We sat on the bench facing the lake and then took turns to lie on the hammock; all while chatting and having light hearted conversations. For lunch, we ordered Karimeen Pollichathu, which is an extremely popular dish savoured by Keralites. And with Barney&acirc;&#128;&#153;s newly found love for fish, we absolutely loved the meal.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/fish.jpg"><br><br>
            <p>We took an auto to Marari beach at around 4:30, which is around 15 Kms away. It&acirc;&#128;&#153;s a beautiful beach with doesn&acirc;&#128;&#153;t witness much crowd. There were a few localites and a few expats hanging out there. Barney and I walked along the shoreline and watched the crystal clear Arabian waters hit the shore and go back extending to infinity. We bought some cheap rum called Aristocrat on our way back since it was a dry day and we didn&acirc;&#128;&#153;t want to miss out on our one-night-alcohol-night fun. The rum worked like a wonder! We played music alongside and had a great time with chicken biryani to give us company.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/marari.jpg"><br><br>
            
            <p><b>Day-5</b></p>
            <p>Even though we slept late the night before, we work up sharp at 6 for we didn&acirc;&#128;&#153;t want to miss out on watching the sunrise by the lakeside from our resort. And must say, it was an amazingly beautiful sight. It was slightly cloudy due to which we couldn&acirc;&#128;&#153;t see the sun properly but looking at the whole setting, it seemed like the orange hues of the sky were being resonated by the lake perfectly well. Loved sitting on the bench with Barney and watching the sunrise with the cool breeze touching our faces.</p>
<br>
             <img class="center-align-full-row" src="../images/Alleppey_Images/sunrise.jpg"><br><br>
            <p>After getting ready, we checked out and took a cab back to Kochi Airport. We stopped by Lulu Mall at Kochi to shop since we had around two hours to spare and have lunch. We reached the airport and it was time to say goodbye to Kerala, and to each other. Barney&acirc;&#128;&#153;s tradition of gifting a book with a promise to finish it by the next time we meet makes goodbyes a little less harder than they actually are.</p>
            <p>We had the same flight till Mumbai from Kochi, after which he left and I took the same flight back to Delhi. I didn&acirc;&#128;&#153;t feel like letting him go when we stopped over. My heart just said &acirc;&#128;&#147; <i>&acirc;&#128;&#156;All right Mumbai, I am dropping my love here with you. But, I will be back to see him soon&acirc;&#128;&#157;</i> :)</p>
<br><br><br>
            

                    
                       
                    </div>