<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/64/sicily-taormina.jpg"> <h5 class="attraction-sub-heading"><b>Taormina</b></h5>Taormina is a coastal town about an hour’s drive Catania. The once-important city held prominence during the medieval era due to strategic location of Saracen Castle, sitting on a high hill overlooking the city. The Ancient Theatre stands as a symbol of preservation of long lost architecture. The complex was originally built by the Greeks and later refurbished to some extent by the Romans, who added some of their ideas but didn’t uproot the Greek remnants. The classical beauty of Taormina found admirers among literary greats like Yeats and Hemmingway.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/64/sicily-ragusa-ibla.jpg"><h5 class="attraction-sub-heading"><b>Ragusa</b></h5>Down south of Taormina lies Ragusa, built between two deep valleys. The city is divided into two areas, Higher Ragusa and Lower Ragusa or Ragusa Ibla a. A deep gorge divides these two areas within the city. In 1693, the city was ravaged by an earthquake taking 5000 lives. Most of the cities iconic baroque-style sites were built during the restoration, along with the rest of the city. Ragusa Ibla boasts the lion share of the city’s attractions. Also known as the baroque city, the lower half of Ragusa maintains the very charm of the medieval era travelers crave for in Sicily.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/64/sicily-secca.jpg"> <h5 class="attraction-sub-heading"><b>Punta Secca</b></h5>
                   Down in the countryside lies Punta Secca, a small fishing village playing host to some fine traditional Sicilian restaurants. The picturesque town is great for hikers who’ll be in for some terrific sights.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/64/sicily-pool.jpg"><h5 class="attraction-sub-heading"><b>Kallikoros Country Resort</b></h5>Kallikoros provides exceptional lodging facilities. Their unique farm-to-table dining remains a famous feature. It lies at a small stretch from neighboring towns like Ragusa and Noto.

</li>
</ul>
</div>