<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">We love riding our trusty steeds (GypsyNester parlance for bicycles) - we feel it's the best way to see a new place at the perfect pace.</p>
<p><img class="center-align" src="../images/64/sicily-route.jpg"></p>

<p class="MsoNormal">We carry our bikes on our RV when we're in the States, or rent them when in far off lands, and make our own itineraries at our own pace.</p>
<p class="MsoNormal">But we have never experienced a real bicycle tour - until now.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-town.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">And we're doing it in a part of Italy that we have never before visited!</p>
<p class="MsoNormal">Ride along with us as we pedal back in time on the Mediterranean island of Sicily.</p>
<p class="MsoNormal">We'll begin at Mt. Etna and work our way through the spectacular Greek, Roman and Moorish influenced villages dotting the southern coast of this unique island that was at the crossroads of ancient seafarers.</p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal"><strong>DAY ONE: Clinging to Cliffs, Rockin' with the Ancient Greeks and Romans, and Curing Jet Lag in Taormina</strong></p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-drive.jpg"></p>

<p class="MsoNormal"><em>The road from Catania to Taormina is an intricate system of bridges and tunnels that works it way up the mountain</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After landing in Catania, we made our way north along the coast and climbed -- clinging to sheer cliffs -- up to the town of Taormina.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Taormina was once one of Sicily's most important cities, and remained so for a millennia because of its strategic position high on a hill and the nearly impenetrable Saracen Castle guarding it from above.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina-town.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Loving the schedule that allowed us to see the city at our own first-travel-day pace, we hoofed it on foot to the Ancient Greek Theatre, a must see in Taomina. Originally constructed around 300 BC, the Romans rebuilt it several centuries later and we saw evidence of the marble columns of the Greeks amongst the intricate brickwork of those of Rome.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina-theater.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The heart of Taomina lies between two main gates inside the ancient walls. This stretch of medieval road thrives as a major destination for tourists from all over the world.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina-gate.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Visitors stroll along the picturesque street and intriguing alleyways, or enjoy incredible views of Mount Etna, one of the most active volcanoes in the world, from several piazzas.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina-church.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>The city is a blend of the old, and the very old as the ancient castle looms above the more "modern" churches</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">We captured the mythical volcano as the setting sun lit up the mountain's tufts of smoke rising from her summit. No wonder Etna has been designated a UNESCO World Heritage Site.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-etna-sunset.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">At the end of a long day's journey, nothing conquers jet lag like a true Italian pizza, a glass of vino, and a plush place to lay one's head.</p>
<br> <p><img class="center-align" src="../images/64/sicily-taormina-hotel.jpg"</p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>Hotel Villa Belvedere, with its incredible sea-and-Etna views proved the perfect place to lay it down!</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal"><strong>&nbsp;DAY TWO: Fabulous Sea Vistas, Funny Translations, and Finding Out if We Have the Right Stuff</strong></p>
<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">Not being nearly adjusted to the time change, we awoke before sunup. The good news was that this gave us more time to spend in Taormina. Peering off of our balcony at dawn we found Etna basking in the red glow of sunrise, blowing new puffs of smoke to greet the day.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-etna-sunrise.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">That inspired us to set out for a morning walk. The botanical garden, only a few steps from Hotel Belvedere, was splendid in the crisp air. The overlook at the edge of the garden gave us a fantastic view of Naxos and the bay below us, as well as the Ionian Sea and the mainland &ldquo;toe&rdquo; of Italy&rsquo;s boot about to kick us on Sicily.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-taormina.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Refreshed, we hit the hotel&rsquo;s hearty breakfast buffet before setting out on our bus journey to the southern city of Ragusa, which will serve as our base for the next couple of days as we will begin our cycling adventure.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Before our initial shake-down run on the bikes we met our VBT expert guides and comedy team, Marco and Edoardo, for a safety check and introduction to the bicycles.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-guides.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">This included some handy Italian words and phrases - bicicleta means bicycle, girate a sinestra means turn left. We were a little confused by the inclusion of dove la spiaggia topless on our cheat sheet of useful phrases since, no matter where the topless beach may be, it seems a little chilly for those kind of shenanigans this time of year.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Chilly or not, we will be keeping our tops on, thank you very much.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-water-break.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>Dry stone walls, farm villas, and cows - love it!</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">Just to make sure everything was in proper working order (including ourselves) we took a quick five-mile ride across the countryside.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-walls.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Not only were the bikes superb, but the scenery on this little test run was molto bene. Wow, look how fast we picked up the lingo!</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-dinner.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">At dinner, Veronica had her first legitimate carbo load for tomorrow&rsquo;s big ride. We can think of no better way than feasting on Italy's fabulous bread and pasta!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>DAY THREE: Lessons Learned from an Olive, A Giant Pillbox, 35 miles of Pure (Mostly Downhill) Goodness, and a Lit-up Baroque City</strong></p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-map.jpg"></p><br>

<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">We start our first full day of riding with a briefing / history and geography lesson / comedy routine from Marco and Edoardo. As entertaining and informative as they were, the meat of the matter was mostly detailing our route for the day.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-directions.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>David the Navigator pours through the route, pen cap in mouth. Did we make it through the day without getting lost?</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">And what a day it was, thirty-five miles from start to finish! Luckily, most of it was downhill.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We set out toward the sea, riding through the highland agricultural region of south Sicily. One of the main crops is olives. David decided that if cured olives that have been lying around for who knows how long are good, ones fresh from the tree must be great.</p>
<br> <p><img class="center-align" src="../images/64/sicily-olives.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">All we can say is ladies and gentlemen do not try this at home! An uncured green olive could be the most bitter thing on the entire planet, perhaps even the universe.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our path led us through two nature preserves filled with a wide variety of plants including a dense bamboo forest.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-bamboo.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Weaving our way through the villages as we descended to the coast, we came upon a World War II era bunker. The pillbox was used by machine gunners to guard the little road. From the lack of any signs of damage, and the remote location, it doesn't look as though it saw any combat action.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-pillbox.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We certainly earned our hearty lunch in the seaside town of Punta Secca.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-secca.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The Spaghetti alla Siciliana, which we judged by its name to be a regional specialty, certainly lived up to expectations with rustic sausage, sun-dried tomatoes, and zucchini. The seafood ravioli was loaded with fresh fruits of the surrounding seas.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-secca-lunch.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">For our evening enchantments, we rode the bus from our headquarters for the next few days, the Poggio del Sole Resort, into the town of Ragusa Ibla for an architectural walking tour.</p>
<br> <p><img class="center-align" src="../images/64/sicily-ragusa-ibla.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We met with our guide, Lea, and she led us up the ancient main street while explaining how the baroque city was rebuilt after the devastating earthquake of 1693.</p>
<br> <p><img class="center-align" src="../images/64/sicily-ragusa-ibla-dome.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Dominating the village is the church of San Giorgio, designed by architect Rosario Gagliardi. The cathedral was built from 1739&ndash;1775 to replace the original that had only one doorway left after the disaster. Most impressive, especially at night while bathed in blue light, was the large neoclassical dome that was added in 1820.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Whew! We're gonna sleep tonight!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>DAY FOUR: What Happens if We Can't Make it Up a Hill?, Do Our Bikes Rock?, When Can We Have Chocolate?, and What is an Extra Virgin Olive?</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Today&rsquo;s ride is described as &ldquo;a little more challenging&rdquo; by our intrepid leaders, Marco &amp; Edoardo, at our morning briefing. This prompts David to inquire as to what happens should we feel the need to wimp out at some point along the way.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The van is always ready to assist should that hill up ahead might be one too many.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Marco assures us that no humiliation accompanies deciding that one might have had enough for the day.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Again, today most of our course was downhill through picturesque countryside. It happens to be olive harvest time in Sicily, so we rode through numerous groves while farmers knocked the fruit off of the trees into nets waiting on the ground.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-harvest.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Later in the day, we stopped in at a mill where the olives are ground and pressed into the finest olio di olive. The process is actually fairly simple, once cleaned the olives are crushed, then pressed, then run through a centrifuge to separate the oil from the pulp and water.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">It all happens on one assembly line. Fresh olives go in one side and extra virgin oil comes out the other.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-cemetery.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>The mountainside cemetery of Scicli, a UNESCO World Heritage Site</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">There were a few shall we say challenging hills on the route, but nothing we couldn&rsquo;t handle - at least until we were facing one with a flat tire. Then it became an uphill battle.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Within minutes, Marco had the inner tube replaced with the speed and precision of a Tour de France pit crew.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-flat.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;Oh well, there went our excuse for not climbing the hill.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-modica.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>Modica, yet another UNESCO World Heritage Site!</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">The reward at the end of our morning ride made it all worth it, a tasting and tour of Sicily&rsquo;s oldest chocolate maker, Antica Dolceria Bonajuto in Modica. They have been processing cocoa beans using the methods of the Aztecs since 1880, and the rustic chocolate that results in a fantastic taste treat.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The afternoon's ride took us to the oil presses and then to our lodging for the next couple of days, Kallikoros Country Resort.</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-pool.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The resort features farm-to-table dining, and we got a chance to see eggplant parmigiana prepared step by step as the resort's chef&nbsp; demonstrated the proper Sicilian way to make the classic Italian dish. Then, even better, we ate it!</p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-eggplant.jpg"></p>
<br> <p><img class="center-align-full-row" src="../images/64/sicily-parm.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>A big thank you to VBT Bicycling and Walking Vacations for providing this adventure where we can tour AND eat all the delicious food we want without worrying about the calorie count! As always, all opinions are our own.</em></p><br>

<p><b><i>This extract has been compiled by David &Veronica. Please visit their blogpage to read the original extract <a href="http://www.gypsynester.com/sicily.htm"> here</a></i></b></p>
                    
                       
                    </div>