<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg" data-lightbox="roadtrip" data-title="View from the flight while landing in Leh"><img src="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg" id="pic2"></a>
                           <p>View from the flight while landing in Leh</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg" data-lightbox="roadtrip" data-title="The snow capped mountains as seen while landing"><img src="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg" id="pic4"></a>
                           <p>The snow capped mountains as seen while landing</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/A%20part%20of%20the%20Lamayuru%20monastery%20captured%20from%20the%20hotel's%20terrace.jpg" data-lightbox="roadtrip" data-title="A part of the Lamayuru monastery captured from the hotel's terrace"><img src="../images/Archana_Leh-Ladhak_Images/A%20part%20of%20the%20Lamayuru%20monastery%20captured%20from%20the%20hotel's%20terrace.jpg" id="pic7"></a>
                           <p>A part of the Lamayuru monastery captured from the hotel's terrace</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Alchi%20Monastery.jpg" data-lightbox="roadtrip" data-title="Alchi Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Alchi%20Monastery.jpg"></a>
                           <p>Alchi Monastery</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Bike%20ride%20from%20Alchi%20to%20Likir.jpg" data-lightbox="roadtrip" data-title="Bike ride from Alchi to Likir"><img src="../images/Archana_Leh-Ladhak_Images/Bike%20ride%20from%20Alchi%20to%20Likir.jpg"></a>
                           <p>Bike ride from Alchi to Likir</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Breathtaking%20view%20of%20the%20Tso%20Moriri.jpg" data-lightbox="roadtrip" data-title="Breathtaking view of the Tso Moriri"><img src="../images/Archana_Leh-Ladhak_Images/Breathtaking%20view%20of%20the%20Tso%20Moriri.jpg"></a>
                           <p>Breathtaking view of the Tso Moriri</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Buddha%20Statue%20at%20Likir%20Monastry.jpg" data-lightbox="roadtrip" data-title="Buddha Statue at Likir Monastry"><img src="../images/Archana_Leh-Ladhak_Images/Buddha%20Statue%20at%20Likir%20Monastry.jpg"></a>
                           <p>Buddha Statue at Likir Monastry</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg" data-lightbox="roadtrip" data-title="Experience the peace at the Shanti Stupa"><img src="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg"></a>
                           <p>Experience the peace at the Shanti Stupa</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Hall%20of%20Fame%20Memorial.jpg" data-lightbox="roadtrip" data-title="Hall of Fame Memorial"><img src="../images/Archana_Leh-Ladhak_Images/Hall%20of%20Fame%20Memorial.jpg"></a>
                           <p>Hall of Fame Memorial</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Just%20after%20Snowfall.jpg" data-lightbox="roadtrip" data-title="View just after snowfall"><img src="../images/Archana_Leh-Ladhak_Images/Just%20after%20Snowfall.jpg"></a>
                           <p>View just after snowfall</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lamayuru%20to%20Alchi%20route.jpg" data-lightbox="roadtrip" data-title="Lamayuru to Alchi route"><img src="../images/Archana_Leh-Ladhak_Images/Lamayuru%20to%20Alchi%20route.jpg"></a>
                           <p>Lamayuru to Alchi route</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lone%20Horse%20Trotting.jpg" data-lightbox="roadtrip" data-title="Lone Horse Trotting viewed on way to Tso Moriri"><img src="../images/Archana_Leh-Ladhak_Images/Lone%20Horse%20Trotting.jpg"></a>
                           <p>Lone Horse Trotting viewed on way to Tso Moriri</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg" data-lightbox="roadtrip" data-title="Lord Buddha's statue at Shanti Stupa"><img src="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg"></a>
                           <p>Lord Buddha's statue at Shanti Stupa</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Pic%20of%20the%20two.JPG" data-lightbox="roadtrip" data-title="Taking a break after long bike ride"><img src="../images/Archana_Leh-Ladhak_Images/Pic%20of%20the%20two.JPG"></a>
                           <p>Taking a break after long bike ride</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Prayer%20Wheels%20in%20Alchi%20Monastery.jpg" data-lightbox="roadtrip" data-title="Prayer Wheels in Alchi Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Prayer%20Wheels%20in%20Alchi%20Monastery.jpg"></a>
                           <p>Prayer Wheels in Alchi Monastery</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Sangam%20Point%20-%20Confluence%20of%20the%20Zanskar%20River%20and%20Indus%20River.jpg" data-lightbox="roadtrip" data-title="Sangam Point - Confluence of the Zanskar River and Indus River"><img src="../images/Archana_Leh-Ladhak_Images/Sangam%20Point%20-%20Confluence%20of%20the%20Zanskar%20River%20and%20Indus%20River.jpg"></a>
                           <p>Sangam Point - Confluence of the Zanskar River and Indus River</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20flags%20and%20the%20snow.jpg" data-lightbox="roadtrip" data-title="The flags and the snow"><img src="../images/Archana_Leh-Ladhak_Images/The%20flags%20and%20the%20snow.jpg"></a>
                           <p>The flags and the snow</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20Proud%20Bikers.jpg" data-lightbox="roadtrip" data-title="The proud bikers"><img src="../images/Archana_Leh-Ladhak_Images/The%20Proud%20Bikers.jpg"></a>
                           <p>The proud bikers</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Thiksey%20Monastery.jpg" data-lightbox="roadtrip" data-title="Thiksey Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Thiksey%20Monastery.jpg"></a>
                           <p>Thiksey Monastery</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Us%20at%20Khardungla%20Top.jpg" data-lightbox="roadtrip" data-title="Us at Khardungla Top"><img src="../images/Archana_Leh-Ladhak_Images/Us%20at%20Khardungla%20Top.jpg"></a>
                           <p>Us at Khardungla Top</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>