<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>We were a group of six- Three couples who travelled to Ladakh in mid July 2015 from Bangalore. We took a flight from Bangalore to Delhi and from Delhi we took a flight to Leh, Ladakh. Indigo and Go Air flights gave us reasonable rates for travelling to Leh and back. We booked our tickets four months in advance. We had to halt in Delhi airport overnight in order to take the early morning flight to Leh, the next day. Apparently flights do not land in Leh after 2:00 PM.  It was a self-planned trip with detailed inputs from Yd, who had been on a bike trip to Leh from Delhi in 2012. 
</p>
<br>
            <p> We had a fixed yet tentative itinerary which helped in covering decent number of the places in Ladakh.  I say tentative because when in Ladakh nothing can be predicted. It is always better to have back up plans and also one should have the presence of mind to change the trip itinerary ad hoc depending on the weather conditions. July mid is considered as an ideal month for travelling to Ladakh but despite taking enough precautions and planning well we had to face the unexpected too.  Well, how can one not expect adventure in Ladakh?</p>
<br>
            
            <p>Only after visiting Ladakh I realized why Yd keeps telling me that if given a chance he would love to travel to Ladakh every year. Every trip experience will be different and the place is certainly magical. One week is not enough to explore the entire region. Some places are totally at the mercy of nature and also being preserved by the locals and the travellers who want Ladakh to remain as surreal as ever. Although over the last 2 years, travellers, bike riders and trekkers have increased, which is good for the Ladakh and J&amp;K Tourism but hoping they do not destroy the beauty of the place.
</p>
<br>
             <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg"></p>
<br>
             <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg"></p>
<br>
            
            <p>Our accommodation in Leh was booked at Hotel Druk, Fort Road. We were allotted 3 rooms in the first floor. It is a family run hotel and maintained very well. The rooms were neat and clean with hot water facility, clean washroom and also clean rugs. You won&acirc;&#128;&#153;t find fans or air conditioners in many hotels here because it is not required. The sun shines bright but the breeze is cool. The nights can become pretty cold. The hotel staffs-Dawa&acirc;&#128;&#153;s family members were very friendly and helpful. Whatever we asked they were always ready to provide us. They serve tea, breakfast, dinner and lunch with prior information. The menu comprised of dal &acirc;&#128;&#147; chawal (the staple food for the vegetarians there), roti-sabzi, pickle and papad. There are many restaurants available for good food in Leh but we preferred having dinner in our hotel most of the time. Mainly because it rained in the evening and also we were too tired to travel anywhere after a day&acirc;&#128;&#153;s travel.</p>
<br>
               
<p>We rented out bikes from Apex Adventure Tours . They have their rental shop with a garage in the Leh market. Their contact is available online. We had to pay an advance amount to book the bikes for rent before 15 days of our travel. On the first day they gave us Royal Enfield 350 cc Bullet since the 500 cc Thunderbirds were undergoing maintenance. These bikes were enough for travelling around in Leh. They give helmets and also saddle bags. Saddles bags are at an extra cost. For long distance travel saddle bags are really important because the pillion rider cannot carry a heavy backpack for a long time.</p>
<br>
            
            <p>We bought the Leh district&acirc;&#128;&#153;s and Ladakh&acirc;&#128;&#153;s map in order to get a clear picture of the route.  Our first meal in Ladakh was at the World Garden Cafe. The ambiance was good and everything that we ordered was really tasty.</p>
<br>
            
                  <p>We had just enough time to visit the Shanti Stupa on day 1. It was getting cloudy and we could expect a heavy rainfall any time. It was sunny in some areas while there were also areas with dark clouds ready for a downpour.</p>
<br>

<p>The first bike ride in Leh to Shanti Stupa was a great way to begin our journey. This was built based on a Japanese order and was inaugurated by Dalai Lama - A stupa that was built as a symbol of world peace. The view from the stupa is really exotic. It is just about 3-4 kms from Fort Road. I wish we could have visited the Shanti Stupa at night to view it decorated with lights. The pictures I have seen are really beautiful. </p>
<br>
            
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/View%20of%20Shanti%20Stupa%20from%20the%20Changspa%20Road.jpg"></p>
<br>
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg"></p>
<br>
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg"></p>
<br>
            
            
<p>The ride gave us the first taste of being free. It took us one day to absorb into the beauty of the place. Since we saw dark clouds hovering around in some areas we left early from there. The evening was quite relaxed. While Saveen and Yd waited for almost an hour to withdraw money at the ATM and Viren and Spiti went in search for buying raincoat, Deepa and I spent time shopping for earrings at the local market. The collection of stone and beaded jewellery was extremely good. We bargained and got a decent deal for few of them. I  was so engrossed in shopping for the stone jewellery that I did not have time to click a picture of the colourful market. We later headed to a shop to buy Pashmina and Ladakhi woollen shawl. </p>
<br>
<p>After the mini shopping  spree we had coffee and snacks in one of the restaurants in Leh market. We bought the Buddhist colourful prayer flags for the three bikes from a shop there. Later, we collected the 500cc Thunderbirds from Apex adventure. Yd, Saveen and Viren were too excited to ride on their 500cc&acirc;&#128;&#153;s. We took our helmets and saddle bags and left before it started raining. Savy-Deepa, Yd and I reached but Viren and Spiti had not reached yet. Suddenly, Yd got a call from Viren saying that his bike had some starting trouble so he was stuck there. (Only Airtel/Vodafone post-paid or only BSNL network works there). There are also many no network zones. So it is better to keep the family members informed about our whereabouts whenever network is available.)</p>
<br>
 
    <p>The problem in Viren&acirc;&#128;&#153;s bike was rectified by the mechanic but this minor incident was just the introduction to bike related problems in our trip. I guess every biker would be able to relate to these situations.  After dinner we packed ourselves up to take a good nap and be prepared for the next day&acirc;&#128;&#153;s journey to Lamayuru. Dawa suggested us to start early the next day and come back to Leh on the same day so that we could have the day after dedicated for white water rafting in the Zanskar River. However, our plan was to stay back at Lamayuru and try river rafting on our way back to Leh. I had booked Hotel Niranjana in Lamayuru as a backup option if we were planning to stay back for the night. We had not paid an advance so if at all we had to stay back we had a hotel accommodation fixed for us.</p>
<br>
            
             <p>It took a long time for me to understand the routes, directions and the locations of the places were going to visit. Generally, when it comes to travelling to new destinations I do a lot of research about the place but with the Ladakh trip I did not get into the details. I had left everything to Yd for a change. I just did a rough check of the places around on the map to have a fair idea about our destinations. I think I wanted to be surprised. I now feel that I did the right thing by not having any expectations about the trip because I got more than what I could have even imagined.</p>
<br>
            
            <p><b><i>This extract covered only Day-1 of Archana's trip to Ladakh picked from her personal travel blog - "My Colorful Life". To continue reading the interesting account on her adventures and experiences, please visit her blog page <a href="http://aworldofcolors.blogspot.in/search?q=ladakh&amp;max-results=20&amp;by-date=true"> here</a></i></b></p>
<br>

                    
                       
                    </div>