<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/53/lamayuru 2.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/53/lamayuru 2.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/53/alchi.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/53/alchi.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/53/alchi prayer wheels.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/53/alchi prayer wheels.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/53/likir to leh.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/53/likir to leh.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/53/terrace in hotel niranjana.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/53/terrace in hotel niranjana.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/53/lamayuru.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/53/lamayuru.jpg" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/53/monastery view from hotel.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/53/monastery view from hotel.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/53/likir monastery.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/53/likir monastery.jpg" id="pic8"></a>
            
            </div><div class="pin">
            <a href="../images/53/lamayuru to alchi route.jpg" data-lightbox="roadtrip" data-title="" id="pic9"><img src="../images/53/lamayuru to alchi route.jpg" id="pic9"></a>
            
            </div><div class="pin">
            <a href="../images/53/Painting on the roof walls outside - alchi.jpg" data-lightbox="roadtrip" data-title="" id="pic10"><img src="../images/53/Painting on the roof walls outside - alchi.jpg" id="pic10"></a>
            
            </div><div class="pin">
            <a href="../images/53/morning sky.jpg" data-lightbox="roadtrip" data-title="" id="pic11"><img src="../images/53/morning sky.jpg" id="pic11"></a>
            
            </div><div class="pin">
            <a href="../images/53/alchi to likir.jpg" data-lightbox="roadtrip" data-title="" id="pic12"><img src="../images/53/alchi to likir.jpg" id="pic12"></a>
            
            </div><div class="pin">
            <a href="../images/53/mustard plants.jpg" data-lightbox="roadtrip" data-title="" id="pic13"><img src="../images/53/mustard plants.jpg" id="pic13"></a>
            
            </div><div class="pin">
            <a href="../images/53/apricots.jpg" data-lightbox="roadtrip" data-title="" id="pic14"><img src="../images/53/apricots.jpg" id="pic14"></a>
            
            </div><div class="pin">
            <a href="../images/53/skyline.jpg" data-lightbox="roadtrip" data-title="" id="pic15"><img src="../images/53/skyline.jpg" id="pic15"></a>
            
            </div><div class="pin">
            <a href="../images/53/IMG_0443.jpg" data-lightbox="roadtrip" data-title="" id="pic16"><img src="../images/53/IMG_0443.jpg" id="pic16"></a>
            
            </div><div class="pin">
            <a href="../images/53/buddha statue likir.jpg" data-lightbox="roadtrip" data-title="" id="pic17"><img src="../images/53/buddha statue likir.jpg" id="pic17"></a>
            
            </div><div class="pin">
            <a href="../images/53/DSC_0680.jpg" data-lightbox="roadtrip" data-title="" id="pic18"><img src="../images/53/DSC_0680.jpg" id="pic18"></a>
            
            </div><div class="pin">
            <a href="../images/53/view of likir.jpg" data-lightbox="roadtrip" data-title="" id="pic19"><img src="../images/53/view of likir.jpg" id="pic19"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>