<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Kanha_Images/Sleeping%20positions%20of%20the%20mighty%20cat.jpg"> <h5 class="attraction-sub-heading"><b>Tiger Spotting</b></h5>William Blake certainly asked all the right questions in his poem &acirc;&#128;&#152;The Tyger&acirc;&#128;&#153; as he wrote about the creation of one of the most gorgeous creatures of the animal kingdom &acirc;&#128;&#147; The Tiger. Seeing this magnificent creature in flesh and blood is an experience unlike any other. Whether it is while walking around in a slow graceful gait marking its territory, or sitting in the cool shade unaffected by the veering eyes and the numerous clicking camera lenses, or during the cold blooded hunt for its prey; heck, even while it is sleeping! &acirc;&#128;&#147; finding a tiger in the wild feels as rewarding as can be.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg"><h5 class="attraction-sub-heading"><b>Barasingha Deer</b></h5>Kanha is also the only forest in India which is home to the Barasingha deer. Recognizable by it&acirc;&#128;&#153;s majestic antlers, it has typically 6 tines on one side, thereby making it 12 (bara) tined (singha). Also known as a swamp deer or hard swamp deer, it can graze by sticking its head underwater for up to 10 to 15 min. Villages situated in the core zone were evacuated to create a natural habitat for the precious Barasingha which was on the verge of extinction.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Kanha_Images/Indian%20bison%20(Gaurs)%20grazing,%20a%20rhesus%20macaque%20and%20a%20peacock,%20langurs%20perched%20on%20a%20fallen%20branch,%20snake%20spotting.jpg"> <h5 class="attraction-sub-heading"><b>Rich Wildlife</b></h5>
                  Kanha boasts of a rich variety of wildlife such as langurs, leopards, spotted deer, sambar dear, bears, bisons, sloth bear, peacocks and numerous other birds. In the picture you'll see Indian bison (Gaurs) grazing, a rhesus macaque and a peacock, langurs perched on a fallen branch, spotted snakes.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Kanha_Images/Wooly%20necked%20stork,%20golden%20oriole,%20black%20drongo,%20bluejay.jpg"><b>Bird Spotting</b><br>
                   Kanah is also a known destination for bird spotting and nature walks. In the picture you see Wooly Necked Stork, Golden Oriole, Black Drongo and Bluejay.

                    
                </li>
</ul>
</div>