<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       The peak safari season falls in summers and winters and the park is open from 16th October to 30th June, and closed in the monsoons. Since the safaris are done in open jeeps, monsoons make it impossible to have a good experience. The National Park is mostly closed during the monsoon months.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                30-19 degree C
                <br>Humidity 84%
                    
            </div>        
                    </li>
        
        </ul>
        </div>