<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg" data-lightbox="roadtrip" data-title="Beauty in symmetry. The rare Barasingha deer"><img src="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg" id="pic2"></a>
                           <p>Beauty in symmetry. The rare Barasingha deer</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Kanha%20Cover.jpg" data-lightbox="roadtrip" data-title="The think forest wuth towering Sal trees"><img src="../images/Neha_Kanha_Images/Kanha%20Cover.jpg" id="pic4"></a>
                           <p>The think forest wuth towering Sal trees</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Langur%20perched%20on%20%E2%80%98Fire%20of%20the%20Forest%E2%80%99%20tree.jpg" data-lightbox="roadtrip" data-title="Langur perched on &acirc;&#128;&#152;Fire of the Forest&acirc;&#128;&#153; tree"><img src="../images/Neha_Kanha_Images/Langur%20perched%20on%20%E2%80%98Fire%20of%20the%20Forest%E2%80%99%20tree.jpg" id="pic7"></a>
                           <p>Langur perched on &acirc;&#128;&#152;Fire of the Forest&acirc;&#128;&#153; tree</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg" data-lightbox="roadtrip" data-title="Safari jeeps waiting to enter the park"><img src="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg"></a>
                           <p>Safari jeeps waiting to enter the park</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Sunrise%20over%20the%20Kanha%20forest%20meadows.jpg" data-lightbox="roadtrip" data-title="Sunrise over the Kanha forest meadows"><img src="../images/Neha_Kanha_Images/Sunrise%20over%20the%20Kanha%20forest%20meadows.jpg"></a>
                           <p>Sunrise over the Kanha forest meadows</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg" data-lightbox="roadtrip" data-title="Tiger pug marks"><img src="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg"></a>
                           <p>Tiger pug marks</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg" data-lightbox="roadtrip" data-title="Views from the safari jeep"><img src="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg"></a>
                           <p>Views from the safari jeep</p>
                       </div>
                        
                        
                        
                    </section>
                    
                    
                    </div>