<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   You could fly to Jabalpur and then drive down to Kanha. Direct flights from Mumbai and Delhi are available with one flight per day. The benefit of going via Jabalpur is that you can visit the Dhuandhar falls and Bhedaghat there. 
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     The closest cities to Kanha where buses could reach are Jabalpur (176 Kms) and Gondia (200 Kms). Buses could be taken from major cities to these places after which a cab would have to be taken to reach Kanha National Park. Other nearby cities include Bilaspur (245 Kms), Nagpur (270 Kms) and Raipur (350 Kms).
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                      Vidharbha Express super-fast express train runs a daily service from Mumbai CST to Gondhia. Departure time: 7:30 pm, reaches Gondhia by 11 am. From Gondhia, you could travel in cabs. If possible, you could ask the hotel/ resort to arrange a cab for you. It a 3 hour long drive covering 110 km.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Driving to Kanha from one of the nearby cities in Madhya Pradesh should be okay. However, taking a ride in the summer season might not be the best idea. The cities from where the drive could be started are Raipur, Jabapur or Nagpur. Usually people drive down to Kanha from Indore via Jabalpur via NH12.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>