<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20Taj%20Banjaar%20Tola.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Taj Banjaar Tola</div>
                        
                        Cost : 20,000-35,000
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20The%20Baagh.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Baagh Retreat</div>
                        
                        Cost : 5,500-10,000
                        </div>
                    </li>
                        
                         <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20Baghira.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Baghira Log Huts</div>
                        
                        Cost : 5,500-8,000
                        </div>
                    </li>
                        
                </ul>
                    
    </div>
                    
                    
                </div>