<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>We had a rather enterprising forest guide Naresh, who in an attempt to explain the forest geography, made this rather creative sketch while we had stopped for breakfast during our safari. A clearer map of the sketch is shown adjacently.</p>
<br>

                          <p><img class="center-align-full-row" src="../images/Neha_Kanha_Images/kanha-map.jpg"></p>
<br>
            <p>Kanha is divided into three main zones &acirc;&#128;&#147; Kanha, Kisli and Mukki, and can be accessed from the gates of that area. Recently, a fourth gate entering the Sarahi zone in the north of the forest has been opened up. The light green area is the core zone and the darker shade represents the buffer zone where the villages and resorts are located. Only part of the core zone (left of the red line)  is accessible to the general public for the safari, thereby reducing the chances of spotting a tiger by that much more.</p>
<br>
           
            <p><b>The Safari Routine</b></p>
<br>
            <p>The morning alarm wakes you at 4:45 am to freshen up (don&acirc;&#128;&#153;t bother bathing, as you will get dirty on the safari) and assemble at the reception where tea/coffee awaits. Once you&acirc;&#128;&#153;ve packed yourself in the open air jeeps that seat about 7 people (including the driver), you set off at about 5:15 am to enter the core area through one of the gates. You reach the gate, thinking you are the probably the first ones to reach, but there is a beeline of jeeps waiting to be cleared by the forest officials.</p>
<br>
             <p><img class="center-align" src="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg"></p>
<br>
            
            <p>Kanha reserve is much stricter that the others for following the rules of the safari &acirc;&#128;&#147; which means an identity check of who is travelling, allocating of the zones to your particular jeep and penalizing those for violating the zones /timings of the safari. A guide will hop on to your jeep and sit in his allocated seat (at the back). Having a guide on each safari is a great thing as they have a trained eye for spotting camouflaged animals/birds, spotting pug marks and a keen ear to identify alarm calls &acirc;&#128;&#147; possibly the only two tools available to zero in on the tigers possible location. Of course they also know the forest landscape well and know which watering hole is the tiger&acirc;&#128;&#153;s favourite, in case you catch a glimpse, quenching his/her thirst.</p>
<br>
                    <img class="center-align-full-row" src="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg"><br><br>    
<p>Tigers normally hunt at dawn and tend to wander about freely before the sun comes out, which is when they retreat to the cool shady spots. Hence the importance of a morning safari which lasts till 11 am. At around 10 am we park at a forest establishment in the core zone for breakfast. The afternoon routine is the same except you start at 3 pm after lunch and hope to catch the beauty of the setting sun on the forest horizon. Of course you must exit before 6:30 pm which is the perfect time to sip on some chai at a local tea stall and share stories about the respective safaris.</p>
<br>
            <p><img class="center-align-full-row" src="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg"></p>
<br>
            <p><b>Our Experience</b> </p>
<br>         
<p>I&acirc;&#128;&#153;m a fan of first rain showers, but not when I&acirc;&#128;&#153;m on a Tiger safari. It was a sultry day in Kanha, but the rain gods decided to show up and spoil our party, sending any hope of seeing tigers to take cover deep inside the forest. On the upside however, we saw dancing peacocks in the beautiful rainy milieu of the forest combined with the sweet scent of wet soil mixed with the fragrance of the sal &acirc;&#128;&#147; a real welcome treat. After two safaris, we had become sort of experts at tracking the tiger through the alarm calls and pug marks, but it remained shy. We could tell from a distance whether the approaching jeep had a sighting and many times, hand gestures and raised eyebrows replaced questions.</p>
<br>
            <p>But it wasn&acirc;&#128;&#153;t until the third safari in the Kanha zone, when within a matter of seconds, as we followed the alarm calls, 15 jeeps had stopped in a line whispering loudly amidst the sound of camera clicks akin to paparazzi attack, pointing to an area about 20 yards away &acirc;&#128;&#147; a 2 year old male tiger, having a little afternoon siesta somewhat like a little kitten. He raises his head to see what the commotion is all about through one open eye, turns around, stops midway with all four paws in the air for a few seconds, turns again and goes back to sleep.</p>
<br>
             <img class="center-align-full-row" src="../images/Neha_Kanha_Images/Sleeping%20positions%20of%20the%20mighty%20cat.jpg"><br><br>
<p>Somewhere through the silent noises, we could hear our heartbeats loud and clear. The jinx was finally broken, and when the other jeeps asked us &acirc;&#128;&#156;Tiger dikha kya?&acirc;&#128;&#157; our jubilant voices could finally exclaim &acirc;&#128;&#156;Haan! Dikh gaya&acirc;&#128;&#157;</p>
<br>
            
            <p><b><i>This is an extract from Neha's personal travel blog, "The Wanderer's Ways". To further read her interesting account on Kanha, please visit her blog page<a href="https://thewanderersways.wordpress.com/2014/05/31/kanha-national-park-tiger-game-reserve/#more-66"> here</a></i></b></p>
<br><br>


                    
                       
                    </div>