<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Akanksha_Mumbai_Images/Gateway%20edited.jpg"> <h5 class="attraction-sub-heading"><b>The Gateway of India</b></h5>As clich&Atilde;&copy; though it may sound, Gateway of India is one of the most beautiful monuments in India. Not just owing to its beautiful structure, but also because of location and feel of the place. Constructed during the British rule in India, the monument has a very colonial feel. With Arabian see at the back, the monument faces the renowned Taj Hotel. Bring your spouse during the sunrise and you both are sure to fall in love with the view. The beautiful colossal structure amidst hundreds of pigeons feeding on the grain kept regularly by the local Mumbaikars every morning and lovely orangish-yellow sea at the back. 6 AM is the best time to visit the monument and sit by the sea and take a stroll through the walkway since it&acirc;&#128;&#153;s peaceful and not too crowded.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg"><h5 class="attraction-sub-heading"><b>Marine Drive</b></h5>Whatever has been written or talked about Marine Drive so far is certainly not enough, because with some places, you fall short of words to describe what being there would actually feel like. Being in Mumbai, one is sure to get sick of the traffic jams and frantic city life. However, a visit to Marine drive away from the crowded Central Mumbai to spend some quality time with your special someone is sure to calm you down. Marine Drive is a 3 Km long stretch from Nariman Point, the southern tip of Mumbai to Malabar hills, where it merges into Chowpaty beach. It&acirc;&#128;&#153;s a C Shaped promenade and people come and sit facing the sea extending to the horizon. The place is always bustling with hawkers&acirc;&#128;&#138;- chai walas, coffee walas, candies, ice cream stands and most of all&acirc;&#128;&#138;&acirc;&#128;&#148;&acirc;&#128;&#138;tons of families, college students, groups of friends and couples. All of these people brought together by their plain and simple love for the cool sea breeze which wouldn&acirc;&#128;&#153;t stop! At night, Marine Drive is called the &acirc;&#128;&#156;Queen&acirc;&#128;&#153;s Necklace&acirc;&#128;&#157; because the promenade arranged with streetlights looks like a string of jewels when viewed from a distance.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Akanksha_Mumbai_Images/Banda%20Worli%20Sea%20Link.jpg"> <h5 class="attraction-sub-heading"><b>Bandra-Worli Sea Link</b></h5>
                  Not a destination as such, but something you wouldn&acirc;&#128;&#153;t want to miss driving on while you&acirc;&#128;&#153;re with your special someone in Mumbai. The bridge connecting Bandra to Worli was constructed recently in 2009 and hence a perfect example of the blend of modern technology with picturesque beauty. It&acirc;&#128;&#153;s the first cable bridge connecting roads over the sea. Although the drive won&acirc;&#128;&#153;t be too long, but it offers a lovely view on a nice breezy evening. A must-check-out road when you&acirc;&#128;&#153;re both out on a drive or a bike ride!
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Akanksha_Mumbai_Images/Eat%20outs.jpg"><b>Eat Outs spread across the city</b><br>
                   There is no dearth of awesome eating and hanging out joints in Bombay, Some of Akanksha&acirc;&#128;&#153;s favourites (and definitely the not to miss ones) are mentioned here.
<p>1.	Bombay Salad Co, Linking Road &acirc;&#128;&#147; Small place, could be difficult to find. Especially for vegans who just can&acirc;&#128;&#153;t get over their love for salads and juices. They&acirc;&#128;&#153;re all organic and are fetched fresh from the farm every day.</p>
<p>2.	Eddie&acirc;&#128;&#153;s, Pali Hill &acirc;&#128;&#147; Go for Sangria Pitcher!</p>
<p>3.	Hard Rock Caf&Atilde;&copy;, Lokhandwala &acirc;&#128;&#147; Do we need say more?</p>
<p>4.	Quench, Reclamation &acirc;&#128;&#147; You&acirc;&#128;&#153;d love the food! Go for anything!</p>
<p>5.	Candies, Reclamation &acirc;&#128;&#147; Best snack and breakfast place. Go for Pali Hill outlet, its grander!</p>
<p>6.	Silver Beach Caf&Atilde;&copy;, Juhu &acirc;&#128;&#147; Go for Spark Fizz, an amazing blend of sparkling wine and lemon juice</p>
<p>7.	5 Spice, Hill Road &acirc;&#128;&#147; Although it&acirc;&#128;&#153;s a family restaurant, but it serves the best Chinese you would ever have in Mumbai</p>
<p>8.	Theobroma, Linking Road &acirc;&#128;&#147; Favorites are walnut brownies and dense loafs</p>


                    
                </li>
</ul>
</div>