<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       It is best to visit Mumbai during winter months &acirc;&#128;&#147; from November to February. The weather remains pleasant with temperature doing down to a minimum of 9-10 degrees. Mumbai doesn&acirc;&#128;&#153;t get colder than that. Day time remains peasant too. However, summer months are usually bad considering high levels of heat and humidity witnessed by Mumbai from late March to May. June to September are monsoon months. Although Mumbai monsoons are considered to be ultra-romantic, you won&acirc;&#128;&#153;t like them if you&acirc;&#128;&#153;re not rain loving couple. Mumbai rains are very unpredictable and continue for a long time. However, if you love rains, nothing better getting drenched while having a gola at Juhu Chowpaty beach.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                26-36 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>