<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Akanksha_Mumbai_Images/juhu.jpg" data-lightbox="roadtrip" data-title="Lovely view of Juhu Beach during sunset"><img src="../images/Akanksha_Mumbai_Images/juhu.jpg" id="pic2"></a>
                           <p>Lovely view of Juhu Beach during sunset</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Marine%20drive%20day.jpg" data-lightbox="roadtrip" data-title="Speding dayout at Marine Drive"><img src="../images/Akanksha_Mumbai_Images/Marine%20drive%20day.jpg" id="pic4"></a>
                           <p>Speding dayout at Marine Drive</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg" data-lightbox="roadtrip" data-title="Nightview of Marine Drive during the night amidst buzzing citylights"><img src="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg" id="pic7"></a>
                           <p>Nightview of Marine Drive during the night amidst buzzing citylights</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Prithvi%20cafe.jpg" data-lightbox="roadtrip" data-title="Cafe at Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/Prithvi%20cafe.jpg"></a>
                           <p>Cafe at Prithvi Theatre</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/prithvi%20theatre%20irish%20coffe.jpg" data-lightbox="roadtrip" data-title="The moast amazing Irish Coffee at Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/prithvi%20theatre%20irish%20coffe.jpg"></a>
                           <p>The moast amazing Irish Coffee at Prithvi Theatre</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Prithvi%20Theatre.jpg" data-lightbox="roadtrip" data-title="Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/Prithvi%20Theatre.jpg"></a>
                           <p>Prithvi Theatre</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/MumbaiCover.jpg" data-lightbox="roadtrip" data-title="Brilliant View of Marine Drive"><img src="../images/Akanksha_Mumbai_Images/Mumbai%20Cover.jpg"></a>
                           <p>Brilliant View of Marine Drive</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg" data-lightbox="roadtrip" data-title="Canvas Laugh Factory for stand-up comedy enthusiasts"><img src="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg"></a>
                           <p>Canvas Laugh Factory for stand-up comedy enthusiasts</p>
                       </div>
                        
                       
                        
                    </section>
                    
                    
                    </div>