<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Mumbai International Airport, called Chatrapati Shivaji International Airport is one of the largest airports of the country. Regular flights &acirc;&#128;&#147; both international and domestic &acirc;&#128;&#147; ply from the city. The airport is around 30 Kms from the main city towards the north. Since the city has traffic issues, it is always safe to take some buffer time while travelling to or from the airport. Cabs and taxis are easily available from the airport to the city.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Mumbai&acirc;&#128;&#153;s bus station called Mumbai Central is from where most of the buses to other cities in Maharashtra are connected. There is never an issue of frequency or availability of buses from the city if booked in advance.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                      Mumbai has a very well established and well connected train network with other Indian cities. Infact, most of the connecting trains to other cities in the state go via Mumbai itself.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Mumbai is perfectly connected by roads to rest of India. Driving down to Mumbai is never an issue. However, traffic within the city is a little bit on the extreme side. The common cities from where people drive down to Mumbai include Pune (160 Kms), Nashik (200 Kms) and Aurangabad (400 Kms). Mumbai also has small hill stations located around which are popularly visited on weekends or long drives, such has Lonavala, Khandala, Mahabaleshwar, etc.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>