<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <h3 class="attraction-sub-heading">Being a pillion rider has its own benefits! One should never underestimate the thrill in sitting at the back, and not riding the bike. You can close your eyes and feel the cool breeze, you and turn back and stare a bit more at the lovely magical views on the way, you can wave, you can spread your arms and embrace the wind and of course be of help to the rider by guiding him through the route. Its entails fun, adventure and a very important element - Trust, in your partner who rides the beast! 
Read through Meenakshi's Travel Story to see the world from a pillion rider's eyes.                    
                </li>
</ul>
</div>