<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/39/Pic 4.jpg" data-lightbox="roadtrip" data-title="Travelling in Rajasthan" id="pic1"><img src="../images/39/Pic 4.jpg" id="pic1"></a>
            
                <p>Travelling in Rajasthan</p>
            </div><div class="pin">
            <a href="../images/39/Pic 10.jpg" data-lightbox="roadtrip" data-title="The first cartoon by Ashok Adepal" id="pic2"><img src="../images/39/Pic 10.jpg" id="pic2"></a>
            
                <p>The first cartoon by Ashok Adepal</p>
            </div><div class="pin">
            <a href="../images/39/Pic 2.jpg" data-lightbox="roadtrip" data-title="Sometimes Green Bullet need a push as well" id="pic3"><img src="../images/39/Pic 2.jpg" id="pic3"></a>
            
                <p>Sometimes Green Bullet need a push as well</p>
            </div><div class="pin">
            <a href="../images/39/Pic 6.jpg" data-lightbox="roadtrip" data-title="Preparing for the travel to south" id="pic4"><img src="../images/39/Pic 6.jpg" id="pic4"></a>
            
                <p>Preparing for the travel to south</p>
            </div><div class="pin">
            <a href="../images/39/Pic 9.jpg" data-lightbox="roadtrip" data-title="The beginning of journey was not easy" id="pic5"><img src="../images/39/Pic 9.jpg" id="pic5"></a>
            
                <p>The beginning of journey was not easy</p>
            </div><div class="pin">
            <a href="../images/39/Pic 7.jpg" data-lightbox="roadtrip" data-title="Another day in our lives" id="pic6"><img src="../images/39/Pic 7.jpg" id="pic6"></a>
            
                <p>Another day in our lives</p>
            </div><div class="pin">
            <a href="../images/39/Pic 5.jpg" data-lightbox="roadtrip" data-title="The bike painted on the wall was our high point" id="pic7"><img src="../images/39/Pic 5.jpg" id="pic7"></a>
            
                <p>The bike painted on the wall was our high point</p>
            </div><div class="pin">
            <a href="../images/39/Pic 1.jpg" data-lightbox="roadtrip" data-title="On the bullet, little help from Meenakshi" id="pic8"><img src="../images/39/Pic 1.jpg" id="pic8"></a>
            
                <p>On the bullet, little help from Meenakshi</p>
            </div><div class="pin">
            <a href="../images/39/Pic 3.jpg" data-lightbox="roadtrip" data-title="Green Bullet and Jey and Meenakshi in background" id="pic9"><img src="../images/39/Pic 3.jpg" id="pic9"></a>
            
                <p>Green Bullet and Jey and Meenakshi in background</p>
            </div><div class="pin">
            <a href="../images/39/Pic 8.jpg" data-lightbox="roadtrip" data-title="One of those intimate moments" id="pic10"><img src="../images/39/Pic 8.jpg" id="pic10"></a>
            
                <p>One of those intimate moments</p>
            </div>
                       
                    </section>
                    
                    
</div>