<div class="reach-by">
                    
                    It's always better to do complete research on the distance and routes before you start off the journey. Also, you don't need to own a bike. Many tourist spots in India have bike renting facilities. Just board the flight or catch the train/bus to the city close to your destination and rent a bike for rest of the journey! 
                    
                    
                </div>