<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    
                    If you're on a long ride, keep taking breaks in between to relax your body. There are multiple motels and budget hotels on all major Indian highways to accommodate you for some rest.
                    
                    
                    </div>
                    
                    
                </div>