<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">Travelling, that now seems an integral part of my life, was something that I hardly enjoyed till I met Jey. I was an absolute misfit for any kinds of travel as within minutes of starting the journey, I would dose off. No matter how fascinating the view, how bumpy the ride, how torturous the weather and how the seating was, I would instantly slip into hibernation mode.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">My father relentlessly coaxed me to look out and stay awake by bombarding me with interesting historical facts about the places but all in vain. Now five years in the company of Jey and Green Bullet, I can&rsquo;t really recall why and how I started enjoying the journeys. I don&rsquo;t exactly know when I learnt the art of dreaming with eyes open.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 1.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Sitting on the back seat of my darling Green Bullet and in the company of Jey, I often live a dreamy life. I imagine running across the lush green and golden fields, rocky hills, sandy beaches, exuberant forests while Jey is fully (hopefully) focusing on road. Enjoying the light and shadow game of sun and clouds, observing the images and patterns they form, clicking photographs of human-like-feature formation of hills and weaving stories about their creation is my favourite job as a pillion rider.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Since we travel long distances quite frequently, before we start our journey, we both experience anxieties concerning different issues. While Jey would worry about the traffic, road condition, and time duration, I worry about the weather, food and comfort during our long road journeys. Sitting behind is quite relaxing than driving. I feel it is true even when someone loves riding because the rider can&rsquo;t really enjoy the scenery (fully as they pass by quickly and riders can&rsquo;t and must not turn back to adore them), the momentary magical instances, and camouflaged treasures of nature. Besides enjoying the nature, I, as the pillion rider, have the luxury to wander away in my imaginary world (of course with eyes open) as often as I wish, unlike the rider who has to be fully alert for any surprise on road.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 2.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Also, in our case, I take the privilege of waving off to the children and people cheering to us on stranger roads. Waving hands to the people, showing victory signs to other riders and blowing kisses to kids is something that Jey misses on to. It is elating to see the excitement of school going children dressed in uniform shouting to attract our attention. Those smiles and cheers and at times ugly remarks, not just energise us but also break the monotony of the roads.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">If I am giving an impression that being a pillion rider on long road journeys is all fun, then I must confess it is not so.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">As a pillion rider and an obsessively concerned wife, I have to ensure a number of things for safety measures during the journeys. On the roads I ensure that we both stay hydrated, energized, comfortable and alert. As the hours pass and sun rises higher, cold water is my first safety measure.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 3.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">In all weathers, cold water not just hydrates us, it also forces Jey to stop at regular intervals to pee. These short breaks are critical for the long run for us as well as for the Green Bullet. While we stretch our limbs, straiten our backs, Bullet cools down to be ready for the newer roads. Also these short breaks give us a chance to connect to the local area, talk to the people and make necessary re-arrangements and refills for the rest of the journey.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Another, my personal favorite, safety trick up my sleeves to keep my companion energized and alert is citrus fruits. Citrus nature is a necessary condition for me to carry a fruit on our journeys. Jey has a high metabolic rate, that means he is like those supermodels who are blessed with slim frame regardless of their diet. People of this category, eat little, eat frequently and digest quickly, so they need to eat more often than the people with moderate or low metabolic rate.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 4.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Besides the cold water and citrus fruit tricks, as a pillion rider, I have to be in absolute synchronization with Jey. Reading face or body language is not a tough task if it is not from behind. Sitting behind Jey, it is difficult to read and immediately and appropriately reacting to restlessness of Jey; a scratch here, an itching there, a strained shoulder muscle, a slight pain in the lower back, a flying face covering, all unsaid troubles ought to be attended unasked.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">During out travels I have to rely heavily on my intuitions about the comforts and discomforts of Jey because there are times when we can hardly hear each other. By attending to these things, I ensure that our travels be comfortable as well as our stays.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">While reading a sign of discomfort is important, to be able to sense torpor is crucial. Often an arid region, a sunny afternoon, post-lunch rides, monotonous stretch, empty road sides and warm weather makes us feel low. Feeling bored and tired, we stop talking to each other. It is during these times of our journeys when our body and minds are close to hibernation mode, any surprise on road could prove fatal. And then I have to be my wild self. I (with enormous efforts which is difficult to fathom) start singing cheap popular songs often enacted by Govinda; lyrics that lighten our moods and tickles our imaginations. These songs are the best way to stay awake, alert and &lsquo;up&rsquo;, and to be able to enjoy every bit of our long road journeys.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 5.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">I personally feel that having a female (or minor) as a pillion rider is very strenuous for a male rider in comparison to having an adult male. The reason being that a male rider (in a patriarchal society) innately considers himself responsible for the safety and security of the female/ minor pillion rider. However in our case, I ensure that being a companion of the life journey of Jey, I should also be an equally responsible companion on our road journeys.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">There have been quite a few instances when our Bullet broke down on the way, we ran short of petrol or lost our way. Those were the moments when Jey gets very tense and I, despite being a xenophobic (I suffer from strange attacks of palpitation and perspiration when I am alone in an unfamiliar place or among unfamiliar faces) I try to brave my fears of foreign elements.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 6.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Jey has to ensure the safety of the Bullet and his wife and also reach a help as soon as possible. In these cases we push and pull our Bullet on rough and unknown roads to the nearest service stations, in one case the nearest service station was over a kilometer away. As happened in Goa in 2014, our Bullet broke and showing a rare sense of humor and optimism, I stated thanking god for not getting us stranded in a worst place or condition. Such words, however illogical in the given circumstances, give us courage to face troubles with zeal. I started pushing the Bullet from behind while Jey was pulling and steering it forward. After a kilometers push to the nearest service station we nearly collapsed in the after-noon humid heat of Goa. It was a test of my endurance and optimism but I felt incredibly good for not being a burden on Jey.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The same year there was another similar incident when we ran short of petrol. We were in the outskirts of Banglore, stuck in heavy highway traffic with enormous trucks and buses honking crazily from all sides. We could not stop for there was no way we could stop amidst such crazy traffic and there was no escape route to leave the highway and pull over on the sides because the highway lane was fenced with over three feet high concrete dividers. But somehow I managed by jumping the concrete dividers and buying petrol on the roadside.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 7.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">However besides the safety measures and worries there is another aspect of our journey that as a female pillion rider I would like to share.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">On the way back from Pahalgam (Kashmir) to New Delhi, we got stuck on a 12 km long traffic jam near Jawahar Tunnel. On a sunny afternoon we tried making our way through the snake like lines of buses, trucks and innumerable vehicles on a &lsquo;high&rsquo; highway. Many men, women and children looked curiously at two people with green helmets on green Bullet, red wind cheaters and blue dungarees. Many inquired from Jey about the purpose and duration of our journey and cheered us until I took off my helmet and face covering.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Within seconds the reactions and gestures of people changed. Women started talking loud and pin-pointing at me for other to not-miss-the spectacle and men began sharing their concern about dangers of travelling on a bike with a lady. Many, out of sympathy, advised Jey to opt for safer mode of transport for my safety. Initially I felt a little awkward but decided to enjoy the attention of the people. I started smiling back at men and women and youngsters alike who were staring at my hair pleated in two braids falling to my thighs and vermilion mark on my head. Perhaps it was due to the fact that Jey was with a Lady pillion rider, few men came forward relieving me of pushing the bike and ensured that we clear pass the traffic jam by making way for us. I very much loved the attention and concern both.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 8.jpg"></p><br>

<p class="MsoNormal">Besides these there is a fun part that tickles me even now. There have been instances when I needed to pee and we were in the middle of nowhere. Raised up in a big home with four toilets, I ran from one to another whenever I felt the need to do so. A rural fantasy of peeing or poo in the open never really suited my asocial nature. But on our journey from Hampi to Banglore, on a lush green stretch with sea on one side and forest on other, I felt an uncontrollable urge to pee.</p><br>
 <p><img class="center-align-full-row" src="../images/39/Pic 9.jpg"></p><br>

<p class="MsoNormal">We found no house for over a couple of kilometers and finally Jey advised me to take refuge in the greenery of forest. For the first time, I had no other option but to try this new thing in my life. Every time I found a dense enough bush to squat, I realized there were colonies of ants or termites. Running from one place to another, I was losing control over my bowl. Completely unnerved and vexed, I finally stopped looking for a bush and sat at a non-grassy patch of soil to pee. Unbuttoning my dungaree and quivering with the thought of being seen, I relieved myself.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Just as I was to stand up, I realized there was a mongoose staring at me. A chill ran up my spine and I screamed as if I saw a lion and ran to Jey who was waiting for me near the Bullet. I narrated all that I suffered looking for an appropriate spot to pee and he went crazy laughing for a long time.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">I was totally embarrassed but a little more experienced. I love these journeys because the travels teach us as much as the stays with the strangers who become our families.</p><br>
 <p><img class="center-align-full-row" src=" ../images/39/Pic 10.jpg"></p><br>

<p><b><i>This blog has been compiled by Meenakshi & Jey. Please visit their blog to read the original extract <a href="http://artologue.in/2015/03/01/world-through-pillion-riders-eyes/"> here</a></i></b></p>
<br>

                    
                       
                    </div>