<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Viewpoint.jpg"> <h5 class="attraction-sub-heading"><b>Beautiful viewpoints from top of the hills</b></h5>Anathagiri offers a lot many view-points owing to the natural beauty of the place and the lovely landscapes. There are no specific names given to these viewpoints since the tourism development of this place is almost non-existent but you&acirc;&#128;&#153;d find small ledges and structures created for people to sit and cherish such breathtakingly beautiful views.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Antha Padmanabhaswamy Temple</b></h5>This is the only touristy attraction of the place which is a little away from the hills and invites many devotees &acirc;&#128;&#147; both localites and tourists. There is a main temple structure where devotees go and pray inside. The highlights of the temple are 2 big idols of Lord Hanuman and Garuda at the entrance of the temple.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Nagasamundaram%20Lake.JPG"> <h5 class="attraction-sub-heading"><b>Nagasamundram Lake</b></h5>
                    The Kotepalli Reservoir is around 20 Km from Anathagiri Hills. The lake is mainly knows has Nagasamundram Lake. Since it isn&acirc;&#128;&#153;t very commercial, the lake has clear blue waters and offers a beautiful soothing view to the visitors. During the monsoons, the lake gets completely full and hence seems like a huge and clear mirror reflecting the blue skies with white puffy clouds. 
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Haritha%20Property.jpg"><h5 class="attraction-sub-heading"><b>Haritha Valley Resort</b></h5> Haritha Valley Resort an Ananthagiri is the best option for people to stay or have meals during their visit to the place. It is owned and maintained by the Telangana State government. The resort has a decently spacious property with pocket friendly rates &acirc;&#128;&#147; both with respect to rooms and food. It also has a huge garden which offers lovely scenic views of the Ananthagiri hills.

    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Driveway.jpg"><h5 class="attraction-sub-heading"><b>Chevella Road</b></h5>The drive from Hyderabad to Anathagiri Hills or vice versa is through Chevella Road. The condition of the roads is excellent. No bumpy rides. It&acirc;&#128;&#153;s a smooth and wide road with lush green forests on the side which give a mesmerizing view in cloudy drizzly skies. The coffee plantations welcome you on the way on both sides waving the rich light green branches glistening in the light shower.
                </li>
</ul>

                </div>