<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Best time to visit Ananthagiri Hills is anytime between September to January. The beauty of the place enhances during the monsoon month of September. However, October to January would be slightly chilly and perfect to enjoy a weekend away from the city.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                22-28 degree C
                <br>Humidity 64%
                    
            </div>        
                    </li>
        
        </ul>
        </div>