<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Driveway.jpg" data-lightbox="roadtrip" data-title="Beautiful driveway to Ananthagiri amidst coffee platations"><img src="../images/Ananthagiri_images/Driveway.jpg" id="pic1"></a>
                           <p>Beautiful driveway to Ananthagiri amidst coffee platations</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg" data-lightbox="roadtrip" data-title="Beautiful Anantha Padmanabhaswamy Temple at Ananthagiri"><img src="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg" id="pic2"></a>
                           <p>Beautiful Anantha Padmanabhaswamy Temple at Ananthagiri</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Ananthagiri_images/Hanumal%20Idol%20at%20Anantha%20Padmanabhaswamy%20Temple.jpg" data-lightbox="roadtrip" data-title="Lord Hanuman Idol at Anantha Padmanabhaswamy Temple"><img src="../images/Ananthagiri_images/Hanumal%20Idol%20at%20Anantha%20Padmanabhaswamy%20Temple.jpg" id="pic2"></a>
                           <p>Lord Hanuman Idol at Anantha Padmanabhaswamy Temple</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha.JPG" data-lightbox="roadtrip" data-title="The well-known Haritha Valley resort"><img src="../images/Ananthagiri_images/Haritha.JPG" id="pic4"></a>
                           <p>The well-known Haritha Valley resort</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha%20Property.jpg" data-lightbox="roadtrip" data-title="The beautiful Haritha Property with scenic surroundings"><img src="../images/Ananthagiri_images/Haritha%20Property.jpg" id="pic6"></a>
                           <p>The beautiful Haritha Property with scenic surroundings</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha%20Property2.jpg" data-lightbox="roadtrip" data-title="View of the Haritha Property"><img src="../images/Ananthagiri_images/Haritha%20Property2.jpg" id="pic7"></a>
                           <p>View of the Haritha Property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Landscape.jpg" data-lightbox="roadtrip" data-title="View of the valley riding across the village"><img src="../images/Ananthagiri_images/Landscape.jpg"></a>
                           <p>View of the valley riding across the village</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Tress%20and%20skies.jpg" data-lightbox="roadtrip" data-title="Amidst jade green tress and blue skies"><img src="../images/Ananthagiri_images/Tress%20and%20skies.jpg"></a>
                           <p>Amidst jade green tress and blue skies</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Valley%20View.jpg" data-lightbox="roadtrip" data-title="Stupendously serene view from top of Ananthgiri Hills"><img src="../images/Ananthagiri_images/Valley%20View.jpg"></a>
                           <p>Stupendously serene view from top of Ananthgiri Hills</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/View%20of%20the%20valley%20in%20sunshine.jpg" data-lightbox="roadtrip" data-title="Ananthagiri Valley view in sunshine"><img src="../images/Ananthagiri_images/View%20of%20the%20valley%20in%20sunshine.jpg"></a>
                           <p>Ananthagiri Valley view in sunshine</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Viewpoint.jpg" data-lightbox="roadtrip" data-title="View offerred by another viewpoint at the top"><img src="../images/Ananthagiri_images/Viewpoint.jpg"></a>
                           <p>View offerred by another viewpoint at the top</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Viewpoint2.jpg" data-lightbox="roadtrip" data-title="Ananthagiri valley view in monsoons"><img src="../images/Ananthagiri_images/Viewpoint2.jpg"></a>
                           <p>Ananthagiri valley view in monsoons</p>
                       </div>
                       
                    </section>
                    
                    
                    </div>