<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Ananthagiri_images/anathgiri_haritha.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Haritha Resort </div>
                        
                        Cost : 1750-3000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    </div>
                    
                    
                </div>