<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Anathagiri Hills is located around 80 Km from Hyderabad. Although it isn&acirc;&#128;&#153;t very far from Hyderabad, the destination is not one of the most popular places around Hyderabad. And that&acirc;&#128;&#153;s the whole beauty of the place. It&acirc;&#128;&#153;s not very known, commercial or crowded. It is in fact a very small place located at Vikarabad, Ranga Reddy District in Telangana. </p> <br>   
<p><img class="left-align" src="../images/Ananthagiri_images/Udupi.jpg"></p>            

<p>Barney loves riding as much as he loves his bike. He had heard of this destination from other biking enthusiasts in our college. Back then in ISB when we weren&acirc;&#128;&#153;t seeing each other officially, one fine day we decided to go for a road trip. That was when we planned to bunk our classes on a weekday and leave for Ananthagiri. Barney called to wake me up at 7 AM. He asked if we should go since it was cloudy and we&acirc;&#128;&#153;d have to cover a long distance on the bike. We were both apprehensive in the beginning but decided to give it a shot. And there we were &acirc;&#128;&#147; leaving college at 7:30 AM. We stopped at Udupi, a small joint close to our college to have coffee to keep us up since the night before we slept at 4 AM. Both of us didn&acirc;&#128;&#153;t know the route. However, Google Navigation came to our rescue almost every time we stepped out of college to go anywhere. And of course, this time too, it worked like a wonder!</p>
<br>
            
                        <p><img class="right-align" src="../images/Ananthagiri_images/Driveway.jpg"></p>
<p>The road from Hyderabad to Ananthagiri once you reach outside the main city is nothing less than breathtakingly beautiful. It had started drizzling slightly just 45 minutes after we started the ride. Thankfully Barney was wearing a jacket &acirc;&#128;&#147; which actually helped both of us. I put my hands in his side pockets and was sorted! :)</p>
<br>
            <p>The condition of the roads is excellent. No bumpy rides. It&acirc;&#128;&#153;s a smooth and wide road with lush green forests on the side which give a mesmerizing view in cloudy drizzly skies. The coffee plantations welcome you on the way on both sides waving the rich light green branches glistening in the light shower. I don&acirc;&#128;&#153;t remember even a single moment when I could take my eyes off the beautiful view being offered to our eyes!</p>
<br>
                    <img class="left-align" src="../images/Ananthagiri_images/Tress%20and%20skies.jpg">   
                
<p>Google navigated us perfectly well. We reached the location almost in 1.5-2 hours. However, once we reached, it had started raining a little heavily. We spotted two small dhabas and planned to stop there before we could go further. We were hungry and thought we could eat something but the dhaba had very limited options. We decided on a cup of tea each and left as soon as rain became lighter. It had almost stopped but the weather was dewy and slightly cold, which is actually a perfect weather to visit the place!<br><br>
       
   <img class="right-align" src="../images/Ananthagiri_images/Viewpoint.jpg">
</p>
<p>We asked the dhaba walas where to go and he recommended that we should go ahead towards a view point area. We found a nice view point and stopped the bike. There was a ledge kind of structure built across which we could see the view of the entire valley. Brilliant greens combined with blue skies. By the way, Hyderabad has some of the most beautiful skies in the world! And sitting on the ledge, we could see the view of dewy sky and deep green valleys. We sat and spoke for some time after which a few localites came to the same place. Since we were enjoying our conversation in peace, we planned to go to another view point. We then took the bike a little head to a point where there were deep green valleys on both sides of the road. We parked there, trekked a little down and sat there. We sat and spoke for a long time till a cop found us. I am sure you know how cops react when they see a couple sitting at a romantic location, even though they&acirc;&#128;&#153;re sitting at a good distance from each other, peacefully chatting and enjoying the view. We were ordered to get up and leave right away. So we did. </p>
<br>

     
<img class="left-align" src="../images/Ananthagiri_images/Haritha.JPG">
<p>Both of us were quite hungry and we planned to stop by the one and only resort out there to have some food. It&acirc;&#128;&#153;s called the Haritha Resort and is ran and maintained by the Telangana State government. The resort isn&acirc;&#128;&#153;t expensive at all both with respect to room rates and food. Many people come to Ananthgiri from Hyderabad for a weekend retreat and stay at this resort. We didn&acirc;&#128;&#153;t have many options to order from. We had poori and bhaji, which was in fact good. Or maybe we were just too hungry. After enjoying a long awaited meal, we left to see the dam across the village which was supposed to be a little farther into the district.</p>
<br>

                    <img class="right-align" src="../images/Ananthagiri_images/Landscape.jpg">
                    <p>Bike ride towards the dam was a long one. In the insides of the area, our phones weren&acirc;&#128;&#153;t catching internet singles perfectly well due to which we couldn&acirc;&#128;&#153;t use Navigation. We kept asking the way enroute from localites. We chatted all along enjoying the beautiful view and lovely weather. Ultimately, it turned so that we didn&acirc;&#128;&#153;t reach any dam since it was further down the road. We had to head back since it was getting late and we wanted to reach back college before it got dark since we didn&acirc;&#128;&#153;t know the routes.</p>
<br>

<p>We headed back to Haritha resort where we enjoyed a leisurely lunch of simple homemade sort of food and then left for Hyderabad. Google directed us well all across. Once we were just about to enter the main city, we stopped by another restaurant to have tea. Barney had ridden the bike for 6 hours already and of course he needed a break. It was a long long journey for him on his Unicorn Dazzler which is a sports bike and not a cruise bike. Although he is very fond of long rides, this one was about covering a very long distance in a very short while without many breaks. After a few minutes, we started off our ride back to Gachibowli again and by 6 PM we were inside college.</p>
<br>

<p>Although this was a day trip, the experience has been unforgettable. The whole day was well spent full of mesmerizing views, lovely weather to give us company and conversations &acirc;&#128;&#147; some silly and some serious. Barney woke up to hurting thighs and calves next morning. But he told me later that the trip was worth the pain :)</p>
<br><br>


                    
                       
                    </div>