<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction kandy.jpg"> <h5 class="attraction-sub-heading"><b>Kandy</b></h5>This large city in Central Sri Lanka is set on a plateau bordered by mountains of tea plantations and rainforests. The Kandy Lake is a beautiful artificial lake perfect for a peaceful leisurely stroll. Other attractions are The Kandy Botanical Gardens near the Mahaweli River and the Kandy Tea Museums. The city also has many important religious places, the most famous of them being the Temple of Sacred Tooth Relic which houses the most revered tooth of Buddha. It also has the royal palace of the old kingdom of Kandy.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction nuwara eliya.jpg"><h5 class="attraction-sub-heading"><b>Nuwara Eliya (The city of Light)</b></h5>The coolest area in Sri Lanka, Nuwara Eliya is also the most important location for tea production. The city comes alive especially during the month of April, the season of flowers, go cart races, pony races and auto rally. This city is also known as the Little England, due to its colonial style buildings still retaining their old charm with the English-style lawns and gardens. The golf course, Victoria Park, trout streams and boating or fishing on Lake Gregory are other attractions, not to forget the well-visited tourist attraction at World's End, a sheer cliff with a 3444 foot drop.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction negombo.jpg"> <h5 class="attraction-sub-heading"><b>Negombo</b></h5>
                   Negombo is a beach town located close to the Bandaranaike Airport where you can find beaches, fish markets, forts, churches and a friendly locals. The beaches might be busy with the fishermen but there are quiet stretches of the beach, where you can relax. Water sports and diving are popular, owing to well-preserved coral reefs. The 50 years old Kudapaduwa shipwreck serves as an artificial reef for a large variety of fishes. Morawala, Angurukaramulla Tempe, Beach Park and Dutch canals are other attractions.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/Sri-Lanka-WEB-242-794x532.jpg"><h5 class="attraction-sub-heading"><b>Elephant Orphanage, Pinnawala</b></h5>The elephant orphanage in Pinnawala was created to protect the baby elephants abandoned by their mothers. You will be impressed by the elephants taking their daily bath. You also get the opportunity to bottle feed a baby elephant for Rs 350!

</li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction Pidurutalagala.jpg"><h5 class="attraction-sub-heading"><b>Pidurutalagala Peak</b></h5>Mountain gaps, rugged terrain, soaring peaks and gushing rivers all make trekking an adrenaline pumping adventure in Sri Lanka. The Pidurutalagala is the highest peak in Sri Lanka. Since it is a high security zone, you might need clearance for entering it. Journey to the peak is through the mountain forest which has rich wildlife, so it’s always safer to travel in a jeep. Once atop, the view is stunning with the lowlands stretching ahead of you with such glory.

</li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction adams peak.jpg"><h5 class="attraction-sub-heading"><b>Adam's Peak</b></h5>Adam’s peak or Sri Pada is the destination a Sri Lankan tourist should never ever miss. Reasons for this is not just the aesthetics, it has also very much to do with the Sri Lankan culture. This is a peak considered sacred by three religions- the Buddhists, Hindus and the Muslims. According to Sri Lankan faith, clouds of yellow butterflies annually appear to the eye of faith. The trek up the peak is calm, serene with many wonders along the way. The sunrise is an absolute marvel, creating the famous spectacle of the Shadow of the Peak. Another spectacle called the Spectre of the Brocken is observed during the non-pilgrim months when the clouds appear to be stacked vertically than horizontally.

</li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction waterfall.jpg"><h5 class="attraction-sub-heading"><b>Waterfall Chasing</b></h5>Sri Lanka is home to more than 100 waterfalls, most of them hidden deep in forests, inaccessible by humans. But among those that are accessible, there are a few stunning ones. Dunhinda Waterfalls lets you take a dip in its relaxing waters surrounded by the misty spray that falls down along the cool stones. Devon falls and St.Claire’s falls are also good choices. Once you feel more adventurous, head to Bambarakanda Waterfalls, the tallest waterfall in Sri Lanka.

</li>

<li class="vertical-image-list">
                        <img class="left-align" src="http://images.huffingtonpost.com/2014-10-01-ChaayaBluTrincomaleeBeach1-thumb.jpg"><h5 class="attraction-sub-heading"><b>Uppuveli Beach</b></h5>This sleepy and undeveloped beach is the perfect getaway for couples looking for a peaceful retreat. You’ll be surprised to find a calmer atmosphere that instils some sort of intimacy. There is an abundance of tasty seafood with a distinctly local charm.

</li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/67/attraction sigiria.jpg"><h5 class="attraction-sub-heading"><b>Sigiriya</b></h5>When in Sigiriya, be prepared with your trekking shoes. All the climbs have stairs and no real trekking takes place. But that is the fun of the entire climb. There is no risk associated, but with each step, the view becomes greater and greater. A lion sculptured entrance has been designed and the detailed work on the rocks is something that’s rarely seen anywhere across the world. But of the whole lion, only its foot remains and if that in itself fascinates, then imagine it in its heyday. Going into the locale, the water gardens, the lakes, the boulder gardens and the terrace gardens await. They have exemplified the skilled workmanship of the architects. Another main attraction as you go ahead is the mirror walls. In an old scripture, it has been rumoured that the king wanted a huge mirror, so the architects went out and polished the rocks in such a way that it could reflect the image of a person looking at it. It now has poems and inscriptions, not by the architects but by the historic visitors that were taken aback by this phenomenal architectural wonder.

</li>

</ul>
</div>