<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>Amaya Hills</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our journey from the Pinnawala elephant orphanage took us via the Colombo to Kandy Road, a snaky sort of road which winds its way through tropical rain forest dotted with numerous villages and small towns. As many of these are located close to the highway, it felt like we were being given a glimpse into rural Sri Lankan life.&nbsp; It was getting dark and by this time, exhaustion had begun to set in after the long flight and equally long drive from Colombo. We were glad when Jai delivered us to the Amaya Hills Hotel for the night.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We arranged a pick up time with Jai for the next morning and headed to our room where management had laid out some treats to welcome us. As the last orange and red rays of the sun finally disappeared from sight, we enjoyed a terrace dinner with a view of the forest canopy and music from a Bruno Mars tribute act playing accompaniments on a traditional stringed instrument. As he warbled along to Oasis&rsquo;s Wonderwall, we wondered what magical adventures awaited us in this oasis of a country over the next few days.</p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-33.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-36.jpg"></p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-32.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>The Last King and the Buddha</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our exploration of Kandy began with a healthy Amaya Hills breakfast, serving everything from continental European dishes to traditional Sri Lankan curries with a generous dose of aromatic spices. Jai arrived on time (as he did throughout the trip) and we headed into town to visit the Temple of the Sacred Tooth Relic. Descending Amaya Hills into Kandy city centre, the temperatures hit the high twenties (Celsius).</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The night before, Jai had briefed us on appropriate dress codes and customs (see HDYTI tip below) and so we wore just enough clothing to respect local Buddhist traditions but left enough room to enjoy the light breeze blowing in from the picturesque Lake Kandy adjacent to the temple.</p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-99.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The temple itself is an artistic statement in the heart of Kandy and is a part of a larger complex which also includes the royal palace of the old Kingdom of Kandy and the National Museum of Kandy. As well as being an important religious symbol, the Sacred Relic of the tooth of Buddha, in ancient times, was considered a symbol of authority. It was said that whoever possessed the relic enjoyed absolute power; power which was sadly lost to the British in the 19th century resulting in the demise of the kingdom. Now, the tooth relic is kept behind a red curtain and surrounded by elephant tusks. It is publicly displayed once every five years and celebrated annually in a carnival like procession said to attract visitors from all over the world.</p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-272.jpg"></p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-270.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The combination of lotus flower sellers, the endless conveyor belt of tourists and lines of eager school children out on day expeditions created a heady mix. We did feel some sympathy for the regular worshipers who were clearly outnumbered by everyone else. We wondered what the Buddha thought of the commercialisation of his place of worship. The bees attracted by the lotus flowers didn&rsquo;t seem to mind all the attention though as they buzzed around lazily in the morning sun gathering their nectar.</p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-92.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-89.jpg"></p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-271 (1).jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: When visiting Buddhist places of worship, it is considered taboo to expose shoulders and to wear clothing which exposes the knees. Men are advised to remove hats and everyone must remove their shoes before entry. It is also considered disrespectful to take pictures with your back turned to objects of worship. Be warned oh thee selfie takers!</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>&lsquo;Eye&rsquo; Kandy &ndash; Precious stones and precious blooms</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We took a short walk by Lake Kandy and passed the historic Queen Hotel, a stark reminder of the city&rsquo;s colonial past; its white facade reflecting the morning sunshine, creating a stunning contrast against the deep blue skies. Across from a busy intersection just opposite the Temple of the Tooth Relic stands the murky Lake Kandy, a man-made body of water built as a vanity project by the Last King of Kandy; much to the consternation of his nobles.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Although we didn&rsquo;t have time, a walk around Lake Kandy should be well worth the 30 minutes you&rsquo;ll spend doing this.</em></p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-98.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/69/Sri-Lanka-WEB-2151.jpg"></p><br>

<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">Our next destination was the Kandy Botanical Gardens. Before then however, Jai had a surprise stop along the way for us. He drove us to the E. W Balasuriya Gem Mine, a privately owned precious stone manufacturer and retailer. They offer private tours of their facility including a short presentation describing traditional gem mining techniques.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our guide explained that Sri Lanka is a country that literally sits on an abundance of precious stones such as moonstone, topaz, white/star/blue sapphire, amethyst, citrine, peridot, zircon, tourmaline, aquamarine and cats eyes. Some of Sri Lanka&rsquo;s deposits are considered the best quality stones in the world. The government continues to encourage primitive gem mining methods for fear that mechanised processes could harm the environment. As we had not planned this trip to include a precious stone shopping expedition, we took a VERY quick look at the showroom and said our goodbyes.</p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-108.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: If you are looking to invest in precious stones, purchase wedding jewellry or simply invest in some intricately crafted hand-made jewellery, then Sri Lanka is the place to go to pick up some incredible bargains.</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We arrived at the Royal Botanical Gardens in Peradeniya, a few miles west of Kandy, in the hot afternoon sun. The gardens were initially built as a retreat for Kandyan royalty and were once reserved for the higher echelons of society. Now open to the public, this place is a photographer&rsquo;s paradise. As well as housing some rare plant species and giant trees, it also shares space with the Mahaweli River, considered to be the longest river in Sri Lanka. Unfortunately, we had very little time left to spend at the gardens and so Jai took us on a whirlwind tour of the grounds while impressing us with his botanical knowledge. This unassuming Sri Lankan man was turning out to be quite a revelation!</p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-221.jpg"></p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-222.jpg"></p>
<br><p><img class="center-align" src="../images/69/Sri-Lanka-WEB-220.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: If you&rsquo;re planning to spend a few days in Kandy, then be sure to budget at least three hours for a visit to the gardens. If travelling with kids, be sure to include a visit to the gardens on your itinerary. However do not try to visit the Pinnawala elephant orphanage and the gardens on the same day. The kids might struggle with the distances!</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p>&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Entry to the gardens as at February 2015 costs Rs 1100 per adult and Rs 550 per child for non-residents. Like most public attractions in Sri Lanka, there are different rates for the locals and for tourists/non-residents.</em></p>

<br><p><b><i>This extract has been compiled by Omo & Eulanda. Please visit their blogpage to read the original extract <a href="http://heydipyourtoesin.com/sri-lanka-amaya-hills-and-lots-of-eye-kandy/"> here</a></i></b></p><br>

                    
                       
                    </div>