<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/62/img_7654.jpg"> <h5 class="attraction-sub-heading"><b>Kaas Plateau</b></h5>The Kaas Plateau is for those who can’t make it to the Valley of flowers in Uttarakhand. The plateau flaunts variety of multi-colored folwers. The seasonal flowers are spread over vast expanse of a few kilometers. It really is an unforgettable experience to see a carpet of over 850 varieties of blooming flowers. Roaming hand in hand with your other half through the flowers might sound bollywood-ish but really isnt an amazing and ultra-romantic experience.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/62/waterfall.jpg"><h5 class="attraction-sub-heading"><b>Thoseghar Waterfalls</b></h5>Thoseghar Waterfalls is an incredibly pictographic waterfall located near the Satara city in Maharashtra. The waterfall is at a mere distance of around 20 km from Satara and at the commencement of the Konkan Region. Thoseghar Waterfalls includes a series of small and big beautiful falls, some of which are 15-20 metres in height. This place is a heaven for those who are nature lovers and enjoy pleasant & soothing climate, especially during rainy seasons.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/62/Fort1.jpg"> <h5 class="attraction-sub-heading"><b>Pratapgarh Fort</b></h5>
                   It was constructed by Chhtrapati Shivaji Maharaj and flaunts some of the most amazing views of the green valleys of Mahabaleshwar. The fort also houses the very old Bhavani Temple and a huge statue of Shivaji which is witnessed after a climb of a total of 450 steps. It’s not just the fort which looks amazing, but also the route to the fort, which has beautiful views of the Sahyadris all along. 
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/62/ganesh.jpg"><h5 class="attraction-sub-heading"><b>Dholya Ganpati</b></h5>About 35 kilometers from Satara City, along the banks of River Krishna lay the spectacular temples of Wai. It is also known as Dakshin Kashi as it shares certain attributes with the holy shrine of Varanasi (Kashi). It is most significantly known for the temple of Mahaganapati or Dholya Ganapati. Built by Shri Ganpatrao Bhikaji Raste in 1792, the temple of Dholya Ganptai is always swarming with devotees.
The shrine has stunning detailed carvings of Lord Ganpati, Lord Shiva and Goddess Parvati on the exterior with a spire which is about 24 meters high and on the inside the magnificent and elegant idol of Ganapati. The name of Dholya Ganapati is derived from the idol’s amazing structure; it is shaped from a black rock which was acquired from Karnataka.

</li>
</ul>
</div>