<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/62/waterfall.jpg" data-lightbox="roadtrip" data-title="" id="pic1"><img src="../images/62/waterfall.jpg" id="pic1"></a>
            
            </div><div class="pin">
            <a href="../images/62/Fort1.jpg" data-lightbox="roadtrip" data-title="" id="pic2"><img src="../images/62/Fort1.jpg" id="pic2"></a>
            
            </div><div class="pin">
            <a href="../images/62/hotel.jpg" data-lightbox="roadtrip" data-title="" id="pic3"><img src="../images/62/hotel.jpg" id="pic3"></a>
            
            </div><div class="pin">
            <a href="../images/62/Cover.jpg" data-lightbox="roadtrip" data-title="" id="pic4"><img src="../images/62/Cover.jpg" id="pic4"></a>
            
            </div><div class="pin">
            <a href="../images/62/img_76382.jpg" data-lightbox="roadtrip" data-title="" id="pic5"><img src="../images/62/img_76382.jpg" id="pic5"></a>
            
            </div><div class="pin">
            <a href="../images/62/ganesh.jpg" data-lightbox="roadtrip" data-title="" id="pic6"><img src="../images/62/ganesh.jpg" id="pic6"></a>
            
            </div><div class="pin">
            <a href="../images/62/334394_2313876923029_502439048_o.jpg" data-lightbox="roadtrip" data-title="" id="pic7"><img src="../images/62/334394_2313876923029_502439048_o.jpg" id="pic7"></a>
            
            </div><div class="pin">
            <a href="../images/62/img_7654.jpg" data-lightbox="roadtrip" data-title="" id="pic8"><img src="../images/62/img_7654.jpg" id="pic8"></a>
            
            </div>
                       
                    </section>
                    
                    
</div>