<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        There is no direct flight to Kaas. But Satara being just 30km away is the landing point of all the visitors to the flower valley. The nearest airport t is Pune. Mumbai is the second nearest airport, around 3-3.5 hours away from Kaas.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                       Satara is well connected to the major cities like Mumbai, Pune and Bangalore. Trains and sleeper buses easily available from these. Kaas is 24 kms from Satara and can be reached by local buses - state run and private.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Mumbai to Satara is around 8 hours through Train, and Pune to Satara is around 3.5 hours. The drive from Satara to Kaas is a short one and can be completed easily.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Drive from Pune/ Mumbai to Kaas is beautiful. A well connected and smooth four-lane highway connects Pune to Satara. You could even drive down to Mahabaleshwar which falls on the same highway. The 3 hour drive to Satara from Pune can be made easily in one's own car while enjoying the greenery of the valleys across Western Ghats. 
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>