<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="http://img2.holidayiq.com/photos/43/439712-pictures321445938180-jpg-images-property-resortimg-267x201-1445938180.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Kaas Holiday Resort</div>
                        
                        Cost : 3,000-5,000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
    </div>
                    
                    
                </div>