<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/65/sicily-beach.jpg"> <h5 class="attraction-sub-heading"><b>San Lorenzo Beach</b></h5>The Caribbean like feel of the beach make it one of the better beaches in Italy. Turquoise colored water and the soft sand bed are reminders of the other side of perpetual beauty Sicily has on offer.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/65/sicily-noto.jpg"><h5 class="attraction-sub-heading"><b>Noto</b></h5>An hour’s drive east from Ragusa marks the arrival of Noto, a town which suffered a fate similar to that of Ragusa’s during the 1693 earthquake. The town has since foreseen a massive shift, with the presence of some gifted architects and intellectuals transforming the small town into a well-planned city worthy of being recognized as a UNESCO heritage site. A swarm of churches and piazzas line this old city squirming with renaissance buffs.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/65/sicily-wave.jpg"> <h5 class="attraction-sub-heading"><b>Lonian Sea</b></h5>
                   The pale blue waters of the Ionian have served as a source of deep introspection and personal fulfillment for people in need of some. Many of the romantic poems and plays have been written by literary geniuses staring across these hallowed waters. 
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/65/sicily-syracuse-bay.jpg"><h5 class="attraction-sub-heading"><b>Syracuse</b></h5>At the south-east corner of Sicily lies Syracuse, the birth place of one of the more illustrious engineers of history, Archimedes. Syracuse, another picturesque destination in Sicily is home to many Greek and Roman monuments like The Temple of Apollo and the Roman Amphitheater. Many of the piazzas in the city like many other in Sicily were renovated in baroque-style after the earthquake in 1693.

</li>
</ul>
</div>