<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Due to its proximity to the equator, Sicily is best avoided during the summers. April to early June and late September to October are the best times to visit Sicily. June might be cumbersome due to vacation time there. September and October remain the safer options.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                7-17 degree C
                <br>Humidity 77%
                    
            </div>        
                    </li>
        
        </ul>
        </div>