<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        Palermo, Catania and Trapani are the three cities having fully functional airports in Sicily. Connecting flights from Rome, Naples or Milan are catered at these airports. 
                            </div>
                    </li>
                    
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Trains to Sicily are available from all major stations in Italy. Since a bridge between Sicily and the mainland hasn’t been constructed yet, travel through this mode provides a unique opportunity to be in a train boarding a ferry.
                        </div>
                    </li>
                    
        
                    
                
                </ul>
                    
                    
                </div>