<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>DAY FIVE: Fields of Bounty, A Swim in the Sea, Kilometer Zero, and a Herculean Effort</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">A bright Mediterranean sun greeted us this morning, which was perfect because today&rsquo;s ride had a stop at the beach planned. Once again we wound our way through the agricultural fields of southern Sicily, but this time we encountered zucchini, citrus, cacti, and artichokes growing alongside the olive trees.</p>
<br><p><img class="center-align" src="../images/65/sicily-farm.jpg"></p><br>

<p class="MsoNormal">One thing we have noticed all across the island are towns with names that are familiar to most all Americans. Not only were many of the cities in the new world named after places here in the old country, such as Syracuse, but many towns here have famous people with the same name.</p>
<br><p><img class="center-align" src="../images/65/sicily-pachino.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Today&rsquo;s offering was, Pachino, as in Al, as in &ldquo;Say hello to my little friend.&rdquo;</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">At one point we pedaled past a group of farmers taking a break in their field, and Veronica asked if she could take their picture.</p>
<br><p><img class="center-align" src="../images/65/sicily-cheers.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">They not only happily agreed, but they generously offered her a sip of whatever homemade libation it was that they were drinking. She declined, but then lamented not tasting it for the next several miles.</p>
<br><p><img class="center-align" src="../images/65/sicily-beach.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our first stop of the day washed that notion right out of her mind though, because a dip in the Ionian Sea had to be better than some questionable home brew. The beach at San Lorenzo was near perfect, with wonderfully soft sand leading into crystal clear water.</p>
<br><p><img class="center-align" src="../images/65/sicily-happy.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We splashed around for about an hour before heading over to Marzamemi for lunch.</p>
<br><p><img class="center-align" src="../images/65/sicily-tonno.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The town was originally built around an old tonnara, which is a tuna processing facility.</p>
<br><p><img class="center-align" src="../images/65/sicily-marzamemi.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The old factory, fisherman homes and plaza have been lovingly refurbished and Marzamemi remains a quaint fishing village with a Spanish feel.</p>
<br><p><img class="center-align" src="../images/65/sicily-wharf.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The Restaurant Liccamuciula, on the Piazza Regina Margherita, set up a buffet of local -- or as our Italian friends say, Kilometer Zero -- specialties for us, naturally featuring tuna, but also including cheeses, tomatoes, salami, mackerel, and of course, red and white wine.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Because, as they proclaim in these parts, &ldquo;a meal without wine is called breakfast.&rdquo;</p>
<br><p><img class="center-align" src="../images/65/sicily-zero.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">In the evening we took the bus to nearby Noto, another of the many UNESCO World Heritage Sites we have visited on the tour. According to legend, this is where Daedalus dropped in after his flight over the Ionian Sea, and Hercules after his seventh task. For many centuries the city was important enough to have a third of the island under its jurisdiction as the Valle di Noto, a name that still retains some use for the region today.</p>
<br><p><img class="center-align" src="../images/65/sicily-noto.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">But the massive earthquake of 1693 struck and destroyed the city, so what we visited is a new version built about five miles away from the original. Massive baroque structures were constructed along a boulevard in the mid-nineteenth century in an effort to recreate the grandeur of the ancient city.</p>
<br><p><img class="center-align" src="../images/65/sicily-noto-church.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We would have to say that they were quite successful.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>DAY SIX: The Big Eat</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Today's ride focused on Sicily's farmlands and the wonderful food she produces; the fifty-nine kilometers we covered tops our daily distance for the entire tour. Happily, we got to start by being bussed a few miles uphill, so that gravity could have her way with us.</p>
<br><p><img class="center-align" src="../images/65/sicily-cows.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">To keep our energy up, everyday Marco and Edoardo surprise us with tempting Sicilian treats laid out somewhere along the way. At some unexpected spot as we come around a turn(and it's always a surprise) a table magically appears filled with cheeses, nuts, olives, cookies, and fresh local fruits.</p>
<br><p><img class="center-align" src="../images/65/sicily-bike.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">A favorite, and something we had never seen before, is an apple and persimmon hybrid called caco mela. Mela, being the Italian word for apple, and caco for persimmon.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our lunch stop was at a donkey milk farm that has also become an animal rescue sanctuary - as well as a fantastic restaurant serving organic specialties grown right on the premises.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After walking around to meet all of the critters, including the cutest baby donkey ever...</p>
<br><p><img class="center-align" src="../images/65/sicily-donkey.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">...we went inside for an amazing meal.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The idea was to let us sample a myriad of delicacies, several salamis, cheeses, peppers, panella, and assorted vegetables were served first on what we have come to recognize as a Sicilian Plate...</p>
<br><p><img class="center-align" src="../images/65/sicily-plate.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Next came babbaluci, snails that are similar to escargot but smaller, and prepared with celery, parsley, garlic lightly saut&eacute;ed in olive oil...</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">and rollatini and fresh ricotta&hellip;</p>
<br><p><img class="center-align" src="../images/65/sicily-rolls.jpg"></p>
<br><p><img class="center-align" src="../images/65/sicily-ricotta.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">This was followed by a tasting sample of three pasta dishes...</p>
<br><p><img class="center-align" src="../images/65/sicily-pasta.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">...but the true star of the show -- as far as we were concerned -- were the beignets brought out for dessert.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">These light, fluffy pastries were filled with the best chocolate cr&egrave;me ever to come anywhere near our taste buds! We were forced to double check to see if St. Peter had just let us through the pearly gates.</p>
<br><p><img class="center-align" src="../images/65/sicily-beignets.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Here's where Veronica bailed and didn't come along for the afternoon's ride. She caught the van with Edoardo, hit our hotel for the night, and opted for a massage instead.</p>
<br><p><img class="center-align" src="../images/65/sicily-bye.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>The gang bids Veronica a big ciao! So long suckers - she didn't regret the massage one bit! ;)</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">At the end of the day's long road, we settled in for a well-deserved rest before a relaxing evening at the Hotel Borgo Pantano's restaurant. As with all of our accommodations, the setting was stunning and the service impeccable.</p>
<br><p><img class="center-align" src="../images/65/sicily-hotel.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">At dinner we discovered another classic traditional Sicilian dish, arancino.&nbsp; Made with risotto filled with rag&ugrave;, beef, and mozzarella, it's shaped into a ball, then deep-fried to a golden brown.</p>
<br><p><img class="center-align" src="../images/65/sicily-ball.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">They are thought to date back about a thousand years to when the Arabs ruled the island, and are especially popular in Palermo.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After the huge lunch we had, we had vowed to never eat again. But we discovered there is always room for arancino!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>DAY SEVEN: Eying the Ionian Sea, Catching Waves, Snow?!, and Walking on Water</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">While this was not the last day of our tour, it was the last day we would be on our bikes, and seemed as if they saved the best for last. After a short ride to the coast, we spent the rest of the day riding along the shore of the Ionian Sea.</p>
<br><p><img class="center-align" src="../images/65/sicily-wave.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The rocky coastline was so scenic that we found ourselves stopping every few hundred meters to snap more photos. By the time we made it to our first actual scheduled stop, we had already paused at least four or five times.</p>
<br><p><img class="center-align" src="../images/65/sicily-rocks.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">When we stopped at the little park where we had a snack break, our original plan was to take one last dip in the Mediterranean, but last night's thunderstorms had stirred up the seas to where that was not looking like such a good idea. Maybe if we kept our helmets on we could... no, never mind.</p>
<br><p><img class="center-align" src="../images/65/sicily-splash.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We also noticed that what was rain here on the coast fell as snow -- and quite a lot of it -- up on Mount Etna.</p>
<br><p><img class="center-align" src="../images/65/sicily-snow.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We rode on from our photo ops until we made it across the peninsula that forms the southern edge of the Gulf of Siracusa, this revealed fantastic views of the city from across the bay. The old city, located on the island of Ortigia, was stunning as it stood out against the blue water.</p>
<br><p><img class="center-align" src="../images/65/sicily-syracuse-bay.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Along this shore Marco and Edoardo set up an outstanding picnic lunch for us and we gazed over at the city that we will be visiting tomorrow while enjoying our repast.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After lunch, we had a choice to ride about 10K to our hotel and enjoy the amenities, or ride triple that. We decided, along with most of our group, to hit Hotel Borgo Pantano's fabulous pool.</p>
<br><p><img class="center-align" src="../images/65/sicily-miracle.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>The pool felt so miraculous, Veronica actually walked on water!</em></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After a presentation about Syracuse before dinner, we started making our plans for tomorrow's visit. The city has so much history and so many landmarks to see that no doubt it will be a full and memorable day.</p>
<br><p><img class="center-align" src="../images/65/sicily-four.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our last big event as a group was tonight's farewell dinner. We were all exhilarated to have experienced so much together, but also sad to see it ending. Of course, the good food and company made us feel better... and we still have one more big day ahead.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>DAY EIGHT: Storming Syracuse, Greek and Roman Treasures, and More Old, Old Stuff</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">No biking today, but we still had plenty to see and do - in fact so much that we could barely fit it all into just one day. The city of Siracusa, -- Syracuse to us -- is Sicily's fourth largest in population, but certainly tops when it comes to incredible places to visit.</p>
<br><p><img class="center-align" src="../images/65/sicily-syracuse-hotel.jpg"></p>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>The view from our balcony at the Livingstone Hotel with waves crashing against the seawall</em></p>
<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal">We started by walking (yes it sounds crazy after nearly 150 miles on bikes but we still had to get some exercise in somehow) a few kilometers from the fabulous Livingston Hotel on Ortigia island to the Neapolis Archaeological Park on the mainland. The park contains several of Sicily's most famous historic sites.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Before reaching the park we found another important site along the way. The Temple of Apollo dates all the way back to the sixth century B.C., making it the oldest Greek temple on Sicily. Now the ruins stand surrounded by city, but with a little imagination we could almost see the toga wearing worshipers among the columns.</p>
<br><p><img class="center-align" src="../images/65/sicily-apollo.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We walked another kilometer or so and began our exploration of Neapolis at the Roman Amphitheatre, built nearly two thousand years in the time of Nero. Although much of the stone was taken away over the years and used on other buildings, at one time this looked much like the famous colosseum in Rome.&nbsp; It was used in the same way, for gladiators and spectacular shows.</p>
<br><p><img class="center-align" src="../images/65/sicily-roman.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Next we climbed to the Greek Theatre, which was built some five centuries before the time of Christ and is one of the largest ever made by the ancient Greeks. Again much of the structure has succumbed to the ravages of time, but enough remains intact that it is still used for performances on a regular basis.</p>
<br><p><img class="center-align" src="../images/65/sicily-greek.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Near the theater is an ancient quarry known as the Latomia del Paradiso. As stone was cut away for construction projects, caves were cut into the rock walls. Many of these were used as prisons, with the most famous being the Ear of Dionysius.</p>
<br><p><img class="center-align" src="../images/65/sicily-ear.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">This enormous cavern stands 76 feet high and 214 feet deep, but only 25 feet wide. The name may come from the shape but, having heard the acoustics from the inside, we think that it has more to do with the amazing sound qualities of the cave.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our trek made us ready for a nap, so we took a taxi back to our hotel, and in the evening headed back out again. Walking along the sea wall of the harbor (with huge waves crashing against the city) gave us a great view of the Castello Maniace on the tip of the island. The fortress was built in 1232 by the Emperor Frederick II, but the name comes from the original name fort that was built here in 1038 by the Greek general George Maniakes.</p>
<br><p><img class="center-align" src="../images/65/sicily-castle.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We walked on and passed the Fonte Aretusa, that strangely produces freshwater only a few meters from the seashore, on our way to the main plaza of Siracusa, the Piazza del Duomo.</p>
<br><p><img class="center-align" src="../images/65/sicily-duomo.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The cathedral that dominates the square was built by bishop Zosimo in the 7th century on top of the Temple of Athena that had stood on the spot since the 5th century BC. As we walked around the left side we found columns from the original temple that have been incorporated into the walls of the church.</p>
<br><p><img class="center-align" src="../images/65/sicily-temple.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We couldn't help but notice that, unlike most piazzas, this one features two churches. On the far end of the plaza stands the Church of Santa Luc&igrave;a alla Bad&igrave;a.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">This, as with so many structures in Sicily, was constructed in the Baroque style after the 1693 earthquake. Santa Lucia is the patron saint of Siracusa, and the church is home to the masterpiece The Burial of St. Lucy by Caravaggio.</p>
<br><p><img class="center-align" src="../images/65/sicily-plaza.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Even though we had our farewell dinner last night, our entire group got together for an impromptu last wine and snack session in the evening, proving that none of us wanted to let this fantastic experience end.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Time to Reflect</strong></p>
<br><p><img class="center-align" src="../images/65/sicily-boardwalk.jpg"></p><br>

<p class="MsoNormal"><strong>&nbsp;</strong></p>
<p class="MsoNormal">This being our first bicycle adventure, we entered into it with quite a few questions about how things worked. We also spoke with the other newbies in our group about how the experience differed from their preconceived notions.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We thought we'd write out a little Q &amp; A (GypsyNester style) to answer some FAQs:</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Loaded Q 1:</strong> I'm a casual biker. Am I going to be able to keep up?</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Veronica:</strong> So are we! There were two times that I felt like I was going to fail. There was one fairly steep, but short, hill near the beginning when I wasn't used to the bike (the ones we have strapped to the back of our RV are basically toddler's tricycles compared to the ones that VBT provided), and I dropped gears way too frantically. Once I realized that each tick of a gear actually did something (where our home bikes seem to randomly do whatever they feel like!), I managed quite well.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The other moment of concern was a long climb out of a canyon. I could have bailed without a problem, because the van was there with me, but I soldiered through (and felt damn good about myself at the top, I must say).</p>
<br><p><img class="center-align" src="../images/65/sicily-bikes.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Loaded Q 2:</strong> I'd like to follow up, if that's okay Veronica. By "keeping up," I meant that there has to be people in better shape than I on these adventures. Aren't they going to be royally pissed off if I am constantly holding them back?</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Veronica:</strong> OH, I see what you meant. There really is no "keeping up." David and I were both under the misconception before we started that we were going to ride in a group with a bunch of sculpted-calfed, riding Adonises. Not so. Riding ability varied wildly.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">There is no pack. We met up with "the pack" after breakfast every morning and our guides walked us through the route step by step, provided a map, and VERY detailed directions (they even provided highlighters so we could highlight any tricky stuff).</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After that, we were free to head out on our ride whenever we wanted, with whomever we wanted, and at the pace we wanted. We stopped to take photos, lollygagged at the beautiful views, and stopped for gelato or a granita whenever we wanted. Most of the time, we'd meet up in a cool place for a tour, or lunch - or not. It's very loose and personalized.</p>
<br><p><img class="center-align" src="../images/65/sicily-rail.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Loaded Q 3:</strong> But David, surely your ego prodded you to want to race, or at least not be in last place, right?</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>David:</strong> Yeah, I'm not gonna lie, I'm very competitive by nature, BUT we were very lucky to have a guy with us who has done many tours all over the world - and has also done some competitions. He and his wife kicked butt. So once I realized there was no way I could "win," I relaxed and enjoyed the scenery even more... as long as I finished in front of Veronica.</p>
<br><p><img class="center-align" src="../images/65/sicily-trees.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Loaded Q 4:</strong> Okay, so you're not in a pack. Then surely you got lost.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>David:</strong> We were told up front that there is no such thing as lost. Our guides called it discovering new places. The directions are so detailed with landmarks, road signs and such, that we would have to work pretty hard to be lost -- er, discovering -- for too long. Our guides took turns -- one would be biking and the other in the support van -- each day and they somehow kept tabs on all of us. They seemed to magically appear out of thin air when there was a tricky turn or a flat tire. They claimed not to have secretly put tracking microchips in us, but we're pretty sure they were lying!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Loaded Q 5:</strong> Please don't take this the wrong way, but you HAD to be the oldest people in the pack.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><strong>Veronica:</strong> Nope, not by a long shot. We were kind of in the middle. We had two women treating themselves to a birthday adventure - one turned 50 and the other 70! Both very inspirational - each did the extended rides every day. I bailed out a few times, once for a massage at the resort where we were spending the night, and the other time because, well, I just didn't feel like riding any more that day. I never was the only one opting for the van, and certainly no one ever mocked me for it (except myself - and David's few private jabs). It worked well, David could be all gung-ho, and I could enjoy the journey on my own terms - but most of the time we stuck together.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal"><em>A big thank you to VBT Bicycling and Walking Vacations for providing this adventure where we can tour AND eat all the delicious food we want without worrying about the calorie count! As always, all opinions are our own.</em></p>

<p><b><i>This extract has been compiled by David &Veronica. Please visit their blogpage to read the original extract <a href="http://www.gypsynester.com/sicilia.htm"> here</a></i></b></p>

                    
                       
                    </div>