<h3 class = "center-align-place">Leh to Pangong Tso- The last and the most relaxed part of our trip in 2015</h3><br>
<h4 class = "center-align-place"><i>By<a href="http://www.aworldofcolors.blogspot.in/2015/10/ride-to-khardung-la-one-of-worlds.html"> Archana Natrajan</a></i></h4>
<hr>

