<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/46/800px-Stirlingcastle.jpg"> <h5 class="attraction-sub-heading"><b>Stirling Castle</b></h5>There’s plenty to do in and around the Stirling area. The focal point of the downtown region is Stirling Castle, overlooking the town from its impressive spot atop a rocky hillside. As you explore downtown it’s easy enough to make your way to the castle. Just keep heading uphill! Before entering you’ll be treated to terrific views of the surrounding countryside, especially looking north towards the Wallace Monument. Stirling Castle is well worth a visit. It is considerably cheaper than the entrance fee for Edinburgh Castle, and many say it is the better option. <br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/46/IMG_2300 (1).jpg"><h5 class="attraction-sub-heading"><b>The Wallace Monument</b></h5>Once you’ve seen the Wallace Monument from afar, you’ll definitely be intrigued and want to see it up close. The monument, though built within the last century, is gothic and impressive. Take a local bus to the university area or hire a cab. Just down from the uni, a few side streets bring you to the Wallace Monument visitor center, Where you can ride a shuttle up to the monument itself, or choose to hike a short but steep path through the wood. The view overlooking Stirling town from outside the monument pretty incredible but it’s definitely worth paying a few pounds it costs to climb inside the monument itself. the monument is filled with historic information, media, and and at the very top, a striking open vantage point.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/46/5850622_univ.jpg"> <h5 class="attraction-sub-heading"><b>The University of Stirling</b></h5>
                 The University of Stirling is a beautiful campus that is definitely worth a visit. a stroll through the grounds brings you along shady paths to a modest castle, a breathtaking loch Filled with swans, and an abundance of hopping bunnies all around. In the distance you’ll see Dumyat, a rocky mountain that towers above the campus. If you have time, stop at the university’s Macrobert Arts Centre. You can grab a bite to eat and stay for a film or catch a live production.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="http://www.walkhighlands.co.uk/fife-stirling/3_18/3_18_2l.JPG"><h5 class="attraction-sub-heading"><b>The Darn Walk</b></h5>Stretching from Bridge of Allan to the nearby town of Dunblane is the Darn Walk. This wooded path is said to have been around since Roman times. The walk is just over 4km in length, and takes about an hour or so to complete. Nathan and I took much longer to do this walk, as we had to stop and snap photos every few minutes. The path winds around gently bubbling streams, austere stone walls, and amidst tall trees. But the gem of the Darn Walk may be the cave found halfway along the route. This cave is easy to notice, and is allegedly the spot where Robert Louis Stevenson played as a child during the summers of his youth. Many suspect the cave is part of Stevenson’s inspiration for the novel Treasure Island.

</li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/46/IMG_2296 dumyat.jpg"><h5 class="attraction-sub-heading"><b>Dumyat</b></h5>Do you want a slightly challenging but rewarding hike? Dumyat is the highest place in the area, and a popular hiking spot for many. Nathan & I hiked it in 2013 on Easter Sunday, and it was quite busy with families, couples, and hikers of all ages. It takes approximately 2 hours to complete this hike, starting down behind the university.
                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/46/Bridge_of_Allan_in_2004_-_geograph.org_.uk_-_253851.jpg"><h5 class="attraction-sub-heading"><b>Bridge of Allan</b></h5>Just next to Stirling is the quaint town of Bridge of Allan. This is where I lived during my time at the uni. This sleepy and sweet town is certainly not packed with action, but it is a great choice for a bite to eat, a stop at a pub, or a day of window-shopping. Bridge of Allan is also a nice area for walking around the very Scottish looking neighborhoods. Did I mention Stirling is a great area for walking??


                    
                </li>

<li class="vertical-image-list">
                        <img class="left-align" src="../images/46/6523387_orig church.jpg"><h5 class="attraction-sub-heading"><b>Church of the Holy Rude</b></h5>You shouldn’t leave Stirling without stopping by the Church of the Holy Rude, just down the way from Stirling Castle. The church is open to the public, and it suggested that you leave a small donation, but the interior is well worth it. Cavernous and ancient, the church is the second oldest building in Stirling. For the history buffs, you’ll love to know that in 1567, James VI was crowned king of Scotland in this spot. Be sure to walk around the graveyard surrounding the church as well. It is well maintained and on a misty day is an especially mysterious and awe-inspiring spot.
                    
                </li>
</ul>
</div>