<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        We would be wrong if we recommend you one particular season to visit Stirling. The beauty of the place is ever green, for even with its fallen leaves it never ceases to amaze you. Summer, months from June to August are filled with tourists. This comes with the price of jam-packed hotels and crowd. Autumn in Scotland is filled with pristine beauty. This time of the year is windy and a slightly dewy, but arguably best time for a couple who is visiting this place more for natural experience.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                -2 - 2 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>