<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        Getting there by air is easy. There are frequent flights from London to Edinburgh and Glasgow. You can get on buses which provides 24 hour service from the both airports. Special train services are also there from Glasgow Prestwick airport.
                            </div>
                    </li>
                   
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       You could easily find trains linking Stirling with Edinburgh and Glasgow which take less than an hour from both destinations. Go through train schedules from travelinescotland.com.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD </div>
                       Stirling is a medieval town in Scotland, easily connected with most of the major cities, linked to Scotland’s motorway and trunk road network including the M9/A9 to Edinburgh, Perth and Inverness, and the M80 to Glasgow. Situated 26 miles from Glasgow and 36 miles from the capitol city Edinburgh, you can easily rent a car and enjoy the swift ride through the Scotland’s greenery.   
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>