<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/46/Broad_St_Stirling_Scotland.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Royal Hotel</div>
                        
                        Cost : Rs. 4.500 - 7,500 <br>
                            
                        </div>
                    </li>
                        
                </ul>
    </div>
                    
                    
                </div>