<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">Often referred to as &ldquo;Scotland&rsquo;s heart&rdquo; or &ldquo;the gateway to the Scottish Highlands&rdquo;, Stirling is a wonderful place nestled midway between Glasgow and Edinburgh. In 2012, I attended the University of Stirling for my master&rsquo;s degree. The year I spent there was absolutely incredible, not only because I was receiving a fantastic education and meeting people from all over the world, but for no other reason than that I was in Scotland.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">While the bigger, more famous cities get considerably more tourism, Stirling is a somewhat lesser-known, but equally wonderful stop on any trip in the enchanting country of Scotland. Living there for a year gave me insight into what visitors should be sure not to miss, do, see, and eat when passing through Stirling.</p>

                    
                       
                    </div>