#pics {
  /* Prevent vertical gaps */
  
   
  -webkit-column-count: 3;
  -webkit-column-gap:   5px;
  -moz-column-count:    3;
  -moz-column-gap:      5px;
  column-count:         3;
  column-gap:           5px;  
}



.pin {
	display: inline-block;
	background: #FEFEFE;
	
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
    margin-bottom: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pin img {
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}

.pin p {
	color: #333;
	margin: 0;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal1 {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
    
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.modal1:target {
  opacity: 1;
  pointer-events: auto;
}

.modal1 > div {
  -webkit-animation: minimise 500ms linear;
}

.modal1:target > div {
  -webkit-animation-name: bounce;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale3d(0.1,0.1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
  55% {
    -webkit-transform: scale3d(1.08,1.08,1);
    box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  75% {
    -webkit-transform: scale3d(0.95,0.95,1);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  100% {
    -webkit-transform: scale3d(1,1,1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.9);
  }
}

@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

