// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-new-container {
  margin: auto;
  width: 80%;
}

.session-new-social-login {
  margin: auto;
}

.session-new-page.banner {
  font-size: x-large;
  font-weight: bold;
}

.social-login.facebook {
}

.submit.btn.btn-primary {
  margin-top: 10px;
}
