<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal">Well it has been a week travelling through India, so far there are soooo many forts and soooo many different kinds of curry.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Two things I did not like about the forts and monuments, 1- they charge you about 200 times the price of a local&hellip;. thats just ridiculous, and then they charge you to bring a camera in at some monuments and free at others. Personally I do not really enjoy the forts, I feel like if you&rsquo;ve seen the coolest fort you&rsquo;ve seen them all. However, if you are really into the history and all the different battles that took place at the forts by all means go check them all out. Our driver took us to all the forts then he eventually realized we weren&rsquo;t into the forts and slowly took us to other tourist attractions.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Jaipur has been my favourite city so far in Rajasthan, we were brought to a monkey temple where we got our first glance of real culture and religion, locals gathered from all over to shower in the holy water, wash their clothes, pray and worship. It was an amazing thing to see, and there were just a bunch of monkeys roaming around chilling with the locals. If you are ever in Jaipur make sure you check this out.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">I got to try Punjabi Thali here and even got a pair of yoga/fun pants tailor made.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Jaipur has been good.</p><br>
<p><img class="center-align" src="../images/35/img_0366.jpg"></p><br>
<p><img class="center-align" src="../images/35/img_0336.jpg"></p>

<p class="MsoNormal">Travelling through India you do not see a lot of backpackers, you mostly see big tour groups from Europe filled with seniors.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Arriving in Jodphur we met a couple from the UK that gave us a little glimpse of their life story which was refreshing. Tony and Claire from England and Ireland both graduated from university and have always wanted to travel once they finished school, but they fell into the constant routine of work and paying bills and debt. Tony is a tax advisor and Claire is a speech and language therapist, they both have been working for 5-6 years and are engaged. They woke up one morning and decided they wanted to travel and get out of the routine of continuously working and saving and working. They began saving for a couple of years and used the money they had saved up for their wedding to go travel instead. They have been through South East Asia for the last 5 months and now are travelling in India and Nepal. They will continue to travel till Christmas when they will return home, visit their families, and then start travelling in South America.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Talking to them was nice because I got to see that there are people out there who are able to break out of their constant routine and actually go do something for themselves and do something they have always dreamed about. Tony and Claire did get lucky though, they have a friend renting their house for a year and they have worked long enough that they could take a gap year off work to travel and still come home with jobs waiting for them.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">November 11 was Diwali, a Hindu festival with lights, sweets and prayers. It is particularly associated with Lakshmi, the goddess of prosperity, and marks the beginning of the financial year in India.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Not sure what to say about Diwali, I did not get to see the festivities of Diwali in a big city but that is fine with me, maybe next time I will experience it with an Indian family so I get the full experience. Aman, Nav, Dill.. someone&hellip; However, I was able to go on a camel safari and sleep in the desert and see the sunrise the next morning. (To Be Honest&hellip; too much pollution in the air the sunrise looked like the sunset). WELLL.. it was still cool to experience. There were 5 other individuals celebrating Diwali with us in the desert. For me experiencing a holiday in a different country across the world was enough.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Almost forgot to mention there was a couple out in the desert with us that plan to travel India for 6 months and this is their 2nd 6 month travel period. Every year they travel the world for 6 months, last year was New Zealand and this year it is India. The amazing thing about this couple is that they are 67!! just shows you that you are never too old to travel.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">Tomorrow I adventure back towards Delhi and embark on my next adventure which is the Indian train system. I will be training up to Amritsar..</p><br>

<p><img class="center-align" src="../images/35/img_0295.jpg"></p><br>
<p><img class="center-align" src="../images/35/Cover edited.jpg"></p><br>

<p><b><i>This blog has been compiled by Joesef. Please visit his blog to read the original extract <a href="https://joesefsworld.wordpress.com/2015/11/12/agra-jaipur-jaisalmer/"> here</a></i></b></p>
<br>
                    
                       
                    </div>