<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Charles_Manali_Images/Hadimba%20Temple.jpg"> <h5 class="attraction-sub-heading"><b>Hadimba Temple</b></h5>Hadimba Temple was constructed back in 16th century for worshipping Hadimba Devi, wife of Bhim from Mahabharata. The temple is built from stone and wood and is visited by many tourists owing to the location of the temple. Nested in think forest of cedar trees, the temple has a unique serene aura. Don&acirc;&#128;&#153;t forget to click a picture or two with the fluffy bunnies popularly found at this location as pets of the localites.<br>
                        
                    </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Charles_Manali_Images/Solang%20Valley.jpg"><h5 class="attraction-sub-heading"><b>Solang Valley</b></h5>The drive upto Solang Valley is a paradise for nature lovers. The lovely view of the valleys and forest along with fragrance of pure mountain air will bring you two a perfect mental equilibrium. Solang Valley is a huge meadow like area with a carpet of sparkling green grass, very popular for adventure sports. You could catch up on ATV rides, paragliding, etc. The place is also known for small roadside food shacks.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Charles_Manali_Images/Rohtang%20Pass.jpg"> <h5 class="attraction-sub-heading"><b>Rohtang Pass</b></h5>
                  Around 50 Kms further ahead of Manali, Rohtang Pass has an altitude of more than 10,000 Ft. Even during summer seasons, the place is primarily covered in snow. It&acirc;&#128;&#153;s a beautiful spot to get some amazing shots of the sparking white Mountains. Don&acirc;&#128;&#153;t forget to cover yourself up properly before driving up to this place and catch up on some hot ginger tea while you snuggle with each other or try Yak rides.
    
                     </li>
<li class="vertical-image-list">
                    <img class="left-align" src="../images/Charles_Manali_Images/Prayer%20Wheels%20at%20the%20Tibetan%20Monastery.jpg"><b>Tibetan Buddhist Monasteries</b><br>
                   Manali has some of the very peaceful and beautiful Buddhist monasteries. Somehow, all the monasteries have one thing common &acirc;&#128;&#147; the absolute calmness you experience when you enter the place and listen to the musical drums while the monks toll the bells and hum the prayers. Popular ones in Manali include Manali Gompa, The Himalayan Nyingamapa Gompa and Gadhan Thekchoking Gompa.
                    
                </li>
</ul>
</div>