<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      If you like snowfall and getting cosy in super chilly weather, winter is the best time for you. October end to February is when Manali has plenty of snowfall. You could enjoy the winter with lovely bon fires at night and spending time playing in the snow or skiing in the day time. Summer months are very popular too (March to June). This is a good time for adventure activities at Manali. However, monsoons (July to September) should be avoided since landslides in monsoons are quite common around the region.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                13 - -3 degree C
                <br>Humidity 56%
                    
            </div>        
                    </li>
        
        </ul>
        </div>