<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Charles_Manali_Images/Beas%20River.jpg" data-lightbox="roadtrip" data-title="View of the Beas River"><img src="../images/Charles_Manali_Images/Beas%20River.jpg" id="pic2"></a>
                           <p>"View of the Beas River"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Charles_Manali_Images/Enroute%20at%20one%20of%20the%20restaurants.jpg" data-lightbox="roadtrip" data-title="Think Cedar tree forest enroute Manali"><img src="../images/Charles_Manali_Images/Enroute%20at%20one%20of%20the%20restaurants.jpg" id="pic4"></a>
                           <p>Think Cedar tree forest enroute Manali</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Charles_Manali_Images/Enroute%20Rohtang%2011,200%20Ft%20high.jpg" data-lightbox="roadtrip" data-title="Enroute Solang Valley"><img src="../images/Charles_Manali_Images/Enroute%20Rohtang%2011,200%20Ft%20high.jpg" id="pic7"></a>
                           <p>Enroute Solang Valley</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Charles_Manali_Images/Hadimba%20Temple.jpg" data-lightbox="roadtrip" data-title="Hadimba Temple nestled in the mountains"><img src="../images/Charles_Manali_Images/Hadimba%20Temple.jpg"></a>
                           <p>Hadimba Temple nestled in the mountains</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Charles_Manali_Images/Just%20before%20getting%20back%20from%20Manali.jpg" data-lightbox="roadtrip" data-title="Lovely view of the valley amidst clouds and fog"><img src="../images/Charles_Manali_Images/Just%20before%20getting%20back%20from%20Manali.jpg"></a>
                           <p>Lovely view of the valley amidst clouds and fog</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Manali%20Museum.jpg" data-lightbox="roadtrip" data-title="Pictures at the Manali Museum near Hadimba Temple"><img src="../images/Charles_Manali_Images/Manali%20Museum.jpg"></a>
                           <p>Pictures at the Manali Museum near Hadimba Temple</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Nature%20at%20it's%20best.jpg" data-lightbox="roadtrip" data-title="Nature at it's best"><img src="../images/Charles_Manali_Images/Nature%20at%20it's%20best.jpg"></a>
                           <p>Nature at it's best</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Prayer%20Wheels%20at%20the%20Tibetan%20Monastery.jpg" data-lightbox="roadtrip" data-title="Prayers wheels at a Tibetan Monastery"><img src="../images/Charles_Manali_Images/Prayer%20Wheels%20at%20the%20Tibetan%20Monastery.jpg"></a>
                           <p>Prayers wheels at a Tibetan Monastery</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Rohtang%20Pass.jpg" data-lightbox="roadtrip" data-title="Rohtang Pass covered in white sparkling snow"><img src="../images/Charles_Manali_Images/Rohtang%20Pass.jpg"></a>
                           <p>Rohtang Pass covered in white sparkling snow</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Rope-way.jpg" data-lightbox="roadtrip" data-title="Ropeway near Solang"><img src="../images/Charles_Manali_Images/Rope-way.jpg"></a>
                           <p>Ropeway near Solang</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/Solang%20Valley.jpg" data-lightbox="roadtrip" data-title="Solang Valley"><img src="../images/Charles_Manali_Images/Solang%20Valley.jpg"></a>
                           <p>Solang Valley</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Charles_Manali_Images/The%20beautiful%20valleys%20alongside.jpg" data-lightbox="roadtrip" data-title="Lovely drive way to and from Manali"><img src="../images/Charles_Manali_Images/The%20beautiful%20valleys%20alongside.jpg"></a>
                           <p>Lovely drive way to and from Manali</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>