<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   The closest airport to Manali is Bhuntar, which is around 50 Kms away. Flights from Delhi and Chandigarh are available to Bhuntar. However, this isn&acirc;&#128;&#153;t the best way to come since the flights are not non-stop and take a lot of time to get to Bhuntar. Taxis are available outside the airport which could be taken to reach Manali.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                    This is the most preferable route to get to Manali owing to its well-connected road network. Regular and frequent buses ply from neighbouring cities to Manali. Buses could be boarded from Delhi, Udaipur, and Chandigarh or even from other hill stations such as Shimla, Dalhousie, Dharamshala, etc. Manali is around 600 Kms from Delhi and 300 Kms from Chandigarh.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       This is again a preferred route to reach Manali. Jogindernagar railway station is the closest one to Manali (150 Kms) which connects to all major neighbouring cities such as Delhi, Chandigarh, Ambala and more. Taxis and buses are available from the train station to Manali quite easily and at a reasonable cost.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Many couples ride upto Manali in their own or rented vehicles. It&acirc;&#128;&#153;s a beautiful drive with lovely view of the valleys and sweet taste of the mountain air. It&acirc;&#128;&#153;s one of the most popular driving destinations from Delhi. Since the drive is long, you could go at your own pace with several stops in between. The route that can be taken from Delhi is via NH1 before you hit NH21 to Manali.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>