<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Charles_Manali_Images/Hotel.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Manali Inn</div>
                        
                        Cost : 3850-10,000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>