<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        The only way to enter Sri Lanka is through the Bandaranaike International Airport in Colombo. Flights are available from cities throughout Europe, Japan, the Middle East, Southeast Asia, China, India, and Pakistan, along with flights to the nearby destinations such as Chennai, Trivandrum, Mumbai, Delhi, Cochin, Bangalore and the Maldives. However, most of the airlines flying between Europe and Sri Lanka are from Arab countries - Kuwait Airways, Emirates, Royal Jordanian and Qatar Airways. Singapore Airlines, Cathay Pacific, Thai Airways, Malaysia Airlines and Sri Lankan Airlines operate several flights connecting Sri Lanka to other parts of Asia.<br>
Once you are in Sri Lanka, the preferred way of travel is by road. 
                            </div>
                    </li>
                    
                    
               
                
                </ul>
                    
                    
                </div>