<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="http://www.srijourneys.com/wp-content/uploads/2011/07/Amaya-Hill-2.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Amaya Hills, kandy</div>
                        
                        Cost : Rs. 12,000-17,000 <br>
                            
                        </div>
                    </li>


<li>
                        <div class="col-md-4">
                            <img src="http://www.staffordbungalow.com/gallery/images/abouttheproperty/about-property1.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Stafford Bungalow, Nuwara Eliya</div>
                        
                        Cost : Rs. 15,000-22,000 <br>
                            
                        </div>
                    </li>


<li>
                        <div class="col-md-4">
                            <img src="http://images.hotel-rates.com/hotels/5000000/4040000/4031700/4031684/4031684_18_b.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Hotel Jetwing Blue, Negombo</div>
                        
                        Cost : Rs. 5,000-20,000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
    </div>
                    
                    
                </div>