<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p class="MsoNormal"><strong>Ayubowan: May you have a long life&hellip;without projectiles!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Neither of us had previously travelled this far east. As we took off on a Sri Lankan Airlines flight from London Heathrow, I remembered that feeling when as children we enthusiastically launched paper airplanes into the sky and waited with bated breath to see how far they would go and where they would ultimately land. Only this time we were in a real plane, in an overnight flight, heading 10 hours towards South Asia and with childlike innocence, having absolutely no clue what we would find at the other end.</p>
<br><p><img class="center-align-full-row" src="../images/67/London-to-Sri-Lanka-794x296.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&ldquo;Ayubowan!&rdquo;, the pretty cabin crew manager greeted us, placing her hands together as if in prayer and giving us an ever so slight nod of the head and a warm smile. The traditional Sinhalese greeting (roughly translated means: &lsquo;may you have a long life&rsquo;) was one we would hear many more times over the next one week from almost everyone we met.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The flight itself was uneventful until mid-flight when we (within minutes of each other), both had a bone jarring experience. Some hapless passenger had secretly defaced one of the Economy class toilets with projectile-like poo. Imagine this: You&rsquo;re on a sleeper flight (long haul); you wake up to go and relieve yourself. You unlatch your seat belt, stumble through the dark cabin interior, carefully avoiding legs, headphones, plastic cups and babies only to open the toilet door and be rudely awakened from your sleep-induced walk by a gory sight. This one was similar to the aftermath of a fight scene in a Quentin Tarantino movie (go figure). We&rsquo;re still wondering how this passenger managed to achieve this gravity defying feat (presumably while the rest of us were asleep). We also wonder why the cabin crew didn&rsquo;t simply decommission the toilet. Perhaps they were in shock as much as the rest of us were. This was one of those moments when one is harshly reminded that there is a difference between turning left (business class) and turning right (cattle class) when you board a plane!</p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-275-794x446.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Regardless of the awkward Tarantino moment, we were very excited about arriving in Sri Lanka. Shaped like a tear drop, this cricket mad, island nation has shed its fair share of tears. However, in the past decade, it has made a strong recovery from devastating tsunamis and a protracted civil war to become one of the major holiday destinations of choice in the South Asian region. Following a mid-day arrival at Colombo&rsquo;s Bandaranaike International Airport, a small, neat and efficiently run operation, we were received by Jai, our local guide and driver.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: We experienced very smooth immigration processing. No hassle. No crowds. Each visitor receives a &lsquo;free&rsquo; mobile SIM card which is valid for 30 days and comes preloaded with 50 Sri Lankan Rupees (Rs). We hardly used the credit but it felt good to be presented with such a useful gift immediately on arrival.</em></p>
<p class="MsoNormal"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </em></p>
<p class="MsoNormal"><em>HDYTI Tip: We used mostly cash while travelling Sri Lanka. It makes sense to change your spending money at the airport. We found that the exchange rates offered there were much better than what we found anywhere else. The currency itself is a work of art!</em></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-31-794x446.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-273-794x446.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-274-794x446.jpg"></p><br>

<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal"><strong>It&rsquo;s an elephant&rsquo;s life</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Our hotel in Kandy, the ancient capital of Sri Lanka, two and a half hours drive from Colombo and our final destination for the day would have to wait. We had arrived with enough time to squeeze in a visit to the elephant orphanage at Pinnawala; reputed to have the largest herd of captive elephants in the world.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The elephant is one of the iconic symbols associated with Sri Lanka. Twice a day, the animals are led from the orphanage to the adjacent Maha Oya River for a drink, bath and recreation. Not a bad life if you&rsquo;re an elephant. We reached Pinnawala just in time to witness the second migration and watched in awe as these mighty beasts drank and showered each other in the 30C afternoon heat before being led back to the orphanage as the sun began to dip for their evening eat-all-you-can dinner. For obvious reasons, tourists are not allowed to get too close to the animals. We walked behind the herd and felt a tinge of sadness to see these creatures restricted from roaming freely in their natural habitat.</p>
<br><p><img class="center-align" src="../images/67/Sri-Lanka-WEB-240.jpg"></p>
<br><p><img class="center-align" src="../images/67/Sri-Lanka-WEB-239.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-242-794x532.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-241-794x532.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Elephants in Sri Lanka have not always had an easy life. Unlike their African cousins, there are fewer elephants with tusks in Sri Lanka and so they aren&rsquo;t hunted for ivory as such. However, without the important conservation work being done by the orphanage, these wild and orphaned elephants, mostly abandoned by their mothers at birth, would likely die due to injuries, disease, deforestation and urban development. As we journeyed to Amaya Hills, Jai, our guide, told us the story of Major Thomas William Rogers, an 18th century elephant hunter credited with the killing for sport of over 1,600 elephants; wretched feats that he proudly recorded in his diaries. According to local legend, Rogers was killed by lightning. After burial, his grave was reportedly struck twice more by lightning (seemingly for good measure). Moral of the story: Don&rsquo;t mess with the big guys!</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Visiting the orphanage is a great activity for kids. Also, there are several locally produced goods on sale (elephant dung paper, saris, buffalo hide bags etc.) on sale at Pinnawala. In most places we visited, you are allowed to haggle so don&rsquo;t ever pay the asking price! Note that at many tourist attractions in Sri Lanka, the entry prices for locals differ from the rates charged to tourists.</em></p>
<br><p><img class="center-align" src="../images/67/Sri-Lanka-WEB-4.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-2-794x446.jpg"></p><br>

<p class="MsoNormal"><em>&nbsp;</em></p>
<p class="MsoNormal"><strong>Lagos driving in Sri Lanka!!</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Although there are rail networks connecting major cities, to really appreciate Sri Lanka&rsquo;s natural beauty, we preferred to travel by road&hellip;and there was plenty of it (HDYTI Tip: If travelling with small children, factor in time spent in the car). We must have covered over 200 miles during the entire trip and spent almost 15 &lsquo;Sri Lankan road hours&rsquo; doing so. Except for patches under construction or renovation, we mostly found Sri Lanka&rsquo;s roads to be smooth and well maintained. I have driven in Lagos, Nigeria where driving can sometimes be like riding go-karts. However, I found that driving in Sri Lanka requires experience and nerves of steel. Single carriageways force vehicular speeds down to approximately 40 mph and in some places, this is even further reduced to 10 mph due to intricate road loop backs and hairpin bends as you navigate the hills. Overtaking can be a dangerous affair (if not perfectly timed) and is a constant test of nerves due to competition from cars, lorries, motorcycles, bicycles, auto rickshaws (&lsquo;Bajaj&rsquo;/tuk-tuk), mass transit buses and the odd elephant or troop of monkeys. This is what constitutes &lsquo;Sri Lankan road hours&rsquo;. In built up cities, be careful on pedestrian crossings as vehicles don&rsquo;t typically stop for anyone. &ldquo;My Lagos people would fit in nicely here&rdquo;, I mused as we drove from Pinnawala up into Amaya Hills,.</p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-80-794x529.jpg"></p>
<br><p><img class="center-align-full-row" src="../images/67/Sri-Lanka-WEB-140-794x529.jpg"></p><br>

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal"><em>HDYTI Tip: Needless to say, we hired a driver (fixed daily rate agreed in advance) for the duration of our stay. Jai, our driver and guide knows the Sri Lankan road network like the back of his hands and we found him to be a very careful driver. Get in touch with us for an introduction if you&rsquo;re planning a trip and need a local guide. You&rsquo;ll love Jai!</em></p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">Note: The only thing we would have done differently on the first day of our Sri Lankan itinerary would be to start with the beach (e.g., Negombo) and then hit the road the next day. After a 10 hour flight (in economy class), relaxing by the pool and doing nothing for the rest of the day would have been a great idea!</p><br>

<p><b><i>This extract has been compiled by Omo & Eulanda. Please visit their blogpage to read the original extract <a href="http://heydipyourtoesin.com/sri-lanka-the-undiscovered-south-asian-bride/"> here</a></i></b></p><br>
                       
                    </div>