<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       
                       <div class="pin">
            <a href="../images/34/K-A-and-A-posing-for-selfies.jpg" data-lightbox="roadtrip" data-title="Katherine, Andrew and Adrienne posing for selfies with the fans" id="pic1"><img src="../images/34/K-A-and-A-posing-for-selfies.jpg" id="pic1"></a>
            
                <p>Katherine, Andrew and Adrienne posing for selfies with the fans</p>
            </div><div class="pin">
            <a href="../images/34/Norburlingka-art.jpg" data-lightbox="roadtrip" data-title="Tibetan art at The Norburlingka Institute in Dharamsala, the guy had stated painting this in June and we took this pic in October!" id="pic2"><img src="../images/34/Norburlingka-art.jpg" id="pic2"></a>
            
                <p>Tibetan art at The Norburlingka Institute in Dharamsala, the guy had stated painting this in June and we took this pic in October!</p>
            </div><div class="pin">
            <a href="../images/34/Katherine-and-david-at-waterfall.jpg" data-lightbox="roadtrip" data-title="At Bagsu waterfall near Mcleod Ganj" id="pic3"><img src="../images/34/Katherine-and-david-at-waterfall.jpg" id="pic3"></a>
            
                <p>At Bagsu waterfall near Mcleod Ganj</p>
            </div><div class="pin">
            <a href="../images/34/David-and-Miss-U-Tendulkar.jpg" data-lightbox="roadtrip" data-title="David and Miss U Tendulkar, India’s unofficial mascot." id="pic4"><img src="../images/34/David-and-Miss-U-Tendulkar.jpg" id="pic4"></a>
            
                <p>David and Miss U Tendulkar, India’s unofficial mascot.</p>
            </div><div class="pin">
            <a href="../images/34/Dharamsala-sunset.jpg" data-lightbox="roadtrip" data-title="A Dharamsala sunset" id="pic5"><img src="../images/34/Dharamsala-sunset.jpg" id="pic5"></a>
            
                <p>A Dharamsala sunset</p>
            </div><div class="pin">
            <a href="../images/34/Artist-shows-us-his-half-finsihed-bhudda-at-norbulingka-institute.jpg" data-lightbox="roadtrip" data-title="Artist showing us his half finished Bhudda painting at The Norbulingka Institute" id="pic6"><img src="../images/34/Artist-shows-us-his-half-finsihed-bhudda-at-norbulingka-institute.jpg" id="pic6"></a>
            
                <p>Artist showing us his half finished Bhudda painting at The Norbulingka Institute</p>
            </div><div class="pin">
            <a href="../images/34/4m-high-budda-at-norbulingka-institute-temple.jpg" data-lightbox="roadtrip" data-title="4m high Budda at The Norbulingka Institute." id="pic7"><img src="../images/34/4m-high-budda-at-norbulingka-institute-temple.jpg" id="pic7"></a>
            
                <p>4m high Budda at The Norbulingka Institute.</p>
            </div><div class="pin">
            <a href="../images/34/Cricket-stadium-warm-up.jpg" data-lightbox="roadtrip" data-title="Dharamsala Cricket Stadium during the warm up." id="pic8"><img src="../images/34/Cricket-stadium-warm-up.jpg" id="pic8"></a>
            
                <p>Dharamsala Cricket Stadium during the warm up.</p>
            </div>
                       
                    </section>
                    
                    
</div>