<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                 Gaggal Airpot at Dharamshala is around 13 Kms from the city which has connecting flights from any major city via Delhi. However, it might be good to consider flights till Delhi and then taking a cab/ bus from there. Some also prefer taking a flight to Amritsar (200 Kms) which has better connectivity from other major Indian cities compared to Gaggal Airport.
                            </div>
                    </li>
                    
    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                   Dharamshala is very well connected to other major Indian cities via bus. Both government run buses and private buses ply frequently to and from Dharamshala. Delhi to Dharamshala is the most common bus journey which takes around 9 hours (500 Kms). 
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                      Dharamshala is very well connected to other major Indian cities via bus. Both government run buses and private buses ply frequently to and from Dharamshala. Delhi to Dharamshala is the most common bus journey which takes around 9 hours (500 Kms).
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      Driving to Dharamshala could be one of the most amazing experiences if you love long drives. Distance from Delhi is around 500 Kms, hence taking breaks in between is a must. Other major cities from where driving to Dharamshala could be considered are Hoshiarpur (140 Kms), Amritsar or Jalandhar (200 Kms), Mandi (90 Kms).
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>