<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
<p><img class="center-align-full-row" src="../images/34/Dharamsala-sunset.jpg"></p><br> 
<p class="MsoNormal">We were planning to visit Dharamsala for two reasons. One it&rsquo;s the Dali Lama&rsquo;s home (well he lives in McLeod Ganj, but everyone says Dharamsala) and he was going to be in town for a three day talk. And two, seeing sport as we travel is quite high up on our agenda. The town was hosting the first cricket T20 game in a series where India play South Africa. So what better excuse to spend some time in the mountains again.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We&rsquo;d arrived a week before the game in the hope that we could meet the Dali Lama, but he cancelled on us so we were just left with the cricket. McLeod Ganj is a small tourist town just north of Dharamsala, where most visitors seem to reside because Dharamsala itself doesn&rsquo;t have much going for it. It became our new home for a week.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">For once there were tons of foreigners around too. We&rsquo;d see older hippies looking to &lsquo;find themselves&rsquo;, young Yogis qualifying for their yoga teacher training, Tibetans refugees running shops and restaurants and Monks continually spinning their prayer wheels as they walked to and from the monasteries. Everyone was at one with each other, no one looked at us like we were from another planet and it felt like we&rsquo;d escaped India for a moment.</p><br>
<p><img class="center-align" src="../images/34/4m-high-budda-at-norbulingka-institute-temple.jpg"></p><br> 
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The Green Hotel, was our home for the week and we loved it&rsquo;s cozy caf&eacute; downstairs with sofas and the outdoor terrace overlooking the mountainside. It almost felt like we were at home in our own lounge, we&rsquo;d got that comfortable by the end of the week.&nbsp; We&rsquo;d hang out in the caf&eacute; most mornings, chatting to fellow travellers, working on the blog and our social media while we ate breakfast and drank some ridiculously strong green tea. And what was most entertaining was watching the hotel manager, a small but authoritative and feisty Tibetan lady, boss around the group of young Indian lads working for her in the hotel and caf&eacute;. It really said a lot about the Tibetans who have come to India and made something of themselves.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Although at first we thought it might be hard to fill the time in Dharamsala, after a few days we were loving the place and not to mention the break from the gawking and staring. We&rsquo;d almost forgotten what it felt like to be in the hustle and bustle of an Indian city.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Famous for its yoga and meditation and feeling as though we too should find our zen, we took part in a few drop in Yoga and meditation sessions and were starting to feel very relaxed and at peace with ourselves. Finding places to do both yoga and meditation was easy as most places run drop in sessions but if you are looking to take it more seriously you might want to do some research before hand.</p><br>
<p><img class="center-align" src="../images/34/Katherine-and-david-at-waterfall.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Mcleod was the perfect place to meet some fellow travellers too, something we&rsquo;ve found surprisingly difficult in India. David has raved about all the people he&rsquo;s met during his past travels and I thought India would be the same, but we&rsquo;ve struggled, and those we have met tend to be on a different route/itinerary to us, and we were saying bye almost as soon as we&rsquo;ve said hi! But the beauty of social media is that it connects people, so in Dharamsala we&rsquo;re been lucky enough to meet some great people from the online world offline. Shout outs to fellow bloggers David from www.thatgaybackpacker.com and Adrienne and Andrew from www.aandataketheworld.com who we met via Instagram. American couple and seasoned travellers Adrienne and Andrew also wanted to watch the cricket so we planned to go to the game as a foursome.</p><br><br>
<p><img class="center-align-full-row" src="../images/34/Norburlingka-art.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">In the days running up to the game the four of us visited the Dali Lama temple, which isn&rsquo;t as impressive as you&rsquo;d imagine. The Norburlingka Institute where we were able to watch the Tibetans working on traditional handicrafts such as painting, metalwork and weaving. Took a short hike, even though we all hate hiking, to Bhagsu waterfall to chill on the rocks and take the piss out of the boys posing for selfies and looking uncomfortable in their boxers which were almost see through from the river water. And ate tons of great Tibetan food, including pork which we&rsquo;d seen in the menu for the first time since arriving in India.</p><br>
<p><img class="center-align-full-row" src="../images/34/Artist-shows-us-his-half-finsihed-bhudda-at-norbulingka-institute.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The cricket match was on a Friday night and by Thursday McLeod was starting to get pretty rowdy. All the hotels in town were said to be fully booked and we heard many taxi drivers had driven all the way from Delhi hoping to make some extra cash ferrying people to and from the stadium. The only trouble was the town was now filling up with locals so the staring was back.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">With match day was upon us and we headed down the most beautiful cricket stadium in the world. It was hours before the gates opened, but with only one narrow road from McLeod to the ground we knew the traffic was going to be a total nightmare. We&rsquo;d pre-booked a taxi only for it to get two flats and a blow out on the way down the hill. Not a great start to the day but hey we&rsquo;d left with plenty of time to get there so things could only get better.</p>
<p><img class="center-align-full-row" src="../images/34/K-A-and-A-posing-for-selfies.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">When we finally got to the vicinity of the stadium and the place was in a party mode, despite no alcohol being allowed inside. We&rsquo;d brought our own booze for journey and drank as we waited for the gates to open. We got into the spirit of things by getting our face painted with the Indian flag and purchasing headbands to show our support to the Indian team. And the locals seemed to love it and because everyone was so jovial, we didn&rsquo;t mind posing for the hundreds of selfies with them and no wonder we found ourselves in three Indian newspapers the next day.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">After queuing for what seemed like hours and then getting pissed at people for queue jumping, if you&rsquo;ve ever travelled to India you&rsquo;ll know how Indians like to be first for everything, it&rsquo;s like their life is a constant race that they have to win, we were in and managed to get some pretty good seats. They were first come first served so we were glad we&rsquo;d arrived early. A group of guys persuaded us to sit behind them, as they thought being near to the only foreigners at the game would give them a better chance of getting on the TV. We sat and watched the build up to the match, we have never seen teams playing a different sport in the warm up to the sport they were actually meant to be playing. But the cricket players were pretty awesome at keepy uppy and 5 a-side football.</p><br>
<p><img class="center-align-full-row" src="../images/34/Cricket-stadium-warm-up.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">The game started and India were to bat first. David is really into his cricket, after playing &nbsp;as a kid but I barely know the rules, nor did Adrienne or Andrew so it wasn&rsquo;t as much fun for us. Especially after the first innings! So we, like all the indian supporters, became more focused on getting onto the TV and thanks to the Tendulkar super fan (you know the guy, the one with no hair and paint all over him) who was in our stand, we achieved our mission. The second innings wasn&rsquo;t as exciting, the stadium almost fell silent as South Africa were hitting some majestic boundaries, and the away team started to run away with the score line while the Indian fans nervously watched on.</p><br>
<p><img class="center-align-full-row" src="../images/34/David-and-Miss-U-Tendulkar.jpg"></p><br> 

<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">We snook out early to avoid the chaotic traffic again and made it back to McLeod in time see the final minutes of the game on the TV. South Africa had won easily so we waited for the thousands of very disappointed Indian&rsquo;s to descend back to town where they&rsquo;d be spending the rest of the weekend.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">With a town that was full to capacity we thought a Saturday night party would be going off and the night at Mount View hotel would be a rip roaring affair, because it seemed like the only &lsquo;club&rsquo; in town. So we were gutted when the music stopped and the lights came up at 10.30pm. Maybe that was our sign to move on to a town a little less sleepy.</p>
<p class="MsoNormal">&nbsp;</p>
<p>&nbsp;</p>
<p class="MsoNormal">So we said our goodbyes to the Tibetans, the cool mountain air and our new friends and it would we hello to India again after one short(ish) bus ride to Amritsar.</p><br>

<p><b><i>This blog has been compiled by David & Katherine. Please visit their blog to read the original extract <a href="http://www.travelinthemix.com/dharamsala-our-holiday-from-india/"> here</a></i></b></p>
<br>

                    
                       
                    </div>