<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/Hyd%20char%20minar%20(1100%20x%20734).jpg"> <h5 class="attraction-sub-heading"><b>Char Minar</b></h5>Char Minar may seem like a one of the most clich&Atilde;&copy; and touristy destinations. However, this place would never disappoint you. If you&acirc;&#128;&#153;re a foodie, then best time to visit Char Minar is late night. The sheer variety of street food joints will amaze you. Chicken sticks, fried fish, Haleem, dosa at Bandi and Irani Chai at Nimrah Caf&Atilde;&copy; are must try. You shouldn&acirc;&#128;&#153;t miss the oldest biryani joint at Char Minar &acirc;&#128;&#147; Shah Ghouse. The hustle bustle and vibe of the entire place during Ramzan is worth witnessing. Char Minar is also popular for its huge &acirc;&#128;&#152;Bangle market&acirc;&#128;&#153; and shopping for Hyderabadi pearls.<br>
                        
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/gandipet-lake-route-map%20(700%20x%20490).jpg"><h5 class="attraction-sub-heading"><b>Osman Sagar lake</b></h5>It is one of the three lakes in the city, other two being Hussain Sagar and Himayat Sagar. It is mainly visited mainly by localities as a popular picnic spot. The lake was created artificially during the construction of a dam on Musi River. The place has many options: boating, entertainment parks nearby, guest houses nearby with amazing stay and food options. However, if you&acirc;&#128;&#153;re looking for a place to spend a short while in peaceful and serene environment, go to slightly publically inaccessible openings near the lake area. You won&acirc;&#128;&#153;t be disappointed.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/shutterstock_114661879%20edited.jpg"> <h5 class="attraction-sub-heading"><b>Golconda Fort</b></h5>
                  Golconda Fort is almost as clich&Atilde;&copy;d and touristy as Char Minar. However, one should visit the same just for the sheer beauty of the fort and the architectural intelligence with which it was built. The best time to visit the fort is in non-summer months. Take a shorter tour of the place which should take around 1 hour. Take help from an authorized guide to walk through the fort, the value of your visit will be multi-folded. You would be amazed by the intelligence with which some of the sports have bene built. Do attend the Sound and Light show in the evening which talks about the history of the fort.
    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/newimage.jpg"><h5 class="attraction-sub-heading"><b>Palm Exotica Resort, Shankarpalli</b></h5>The resort is located in Shankarpalli in the outskirts of the city around 30 Km from main Hyderabad. It is constructed on the highlands away from the hustle bustle of the city mainly to offer the localites a perfect peaceful weekend getaway. The resort has a huge area dedicated to open spaces, sports grounds and courts, adventure Sports Park, stay and dining spaces. You can choose from basic room options to luxury villas. We&acirc;&#128;&#153;d recommend you to choose one of the villas with a private pool attached. The rooms are comfortable and the food is good. The main highlight of the resort is the adventure sports packages which includes games such as go-carting, ATV ride, trickle automatic, land zorbing, and much more.


                    
                </li>
</ul>
</div>