<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Hyderabad has a great weather for most part of the year, especially in comparison to other major cities of India. Months from April-June are hot. However, July is beautiful with the onset of monsoons. The city comes to life in August and September with lush green open spaces studded with big Deccan boulders. Months from October to February are beautiful with very slight chill in the air in the evenings. Cool breeze through out the year is what makes Hyderabad weather absolutely beautiful.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                34-20 degree C
                <br>Humidity 61%
                    
            </div>        
                    </li>
        
        </ul>
        </div>