<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Hyd_Images/2.jpg" data-lightbox="roadtrip" data-title="Beautiful rooms of the Temple Tree Villa at Palm Exotica Resort Shankarpalli"><img src="../images/Hyd_Images/2.jpg" id="pic1"></a><br><br>
                           <p>Beautiful room at the Temple Tree Villa, Palm Exotica Resort, Shankarpalli</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/3.jpg" data-lightbox="roadtrip" data-title="The grand balcony with a private swimming pool and dining table"><img src="../images/Hyd_Images/3.jpg" id="pic2"></a>
                           <p>The grand balcony with a private swimming pool and dining table</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Hyd_Images/IMG_20150721_111544905%20(506%20x%20370).jpg" data-lightbox="roadtrip" data-title="Palm Exotica's beautiful and grand property"><img src="../images/Hyd_Images/IMG_20150721_111544905%20(506%20x%20370).jpg" id="pic2"></a>
                           <p>Palm Exotica's beautiful and grand property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/dirtcarts.jpg" data-lightbox="roadtrip" data-title="Adventure sports including dirt cart, ATV and several others at Palm Exotica"><img src="../images/Hyd_Images/dirtcarts.jpg" id="pic4"></a>
                           <p>Adventure sports including dirt cart, ATV and several others at Palm Exotica</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/Swimming.jpg" data-lightbox="roadtrip" data-title="View of the swimming pool under the shadow of a big Pumeria Tree"><img src="../images/Hyd_Images/Swimming.jpg" id="pic6"></a>
                           <p>View of the swimming pool under the shadow of a big Pumeria Tree</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/biryani.jpg" data-lightbox="roadtrip" data-title="The awesomest lip smacking chicken biryani at Paradise Restaurant"><img src="../images/Hyd_Images/biryani.jpg" id="pic7"></a>
                           <p>The awesomest lip smacking chicken biryani at Paradise Restaurant</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/Hyd%20char%20minar.jpg" data-lightbox="roadtrip" data-title="Char Minar famous for the adjoining Bangle market, Irani Chai and Shah Gouse Biryani"><img src="../images/Hyd_Images/Hyd%20char%20minar.jpg"></a>
                           <p>Char Minar famous for the adjoining Bangle market, Irani Chai and Shah Gouse Biryani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/newimage.jpg" data-lightbox="roadtrip" data-title="Palm Exotica resort's amazing property"><img src="../images/Hyd_Images/newimage.jpg"></a>
                           <p>Palm Exotica resort's amazing property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/isb%20road.JPG" data-lightbox="roadtrip" data-title="ISB Road inside the ISB campus offers the the most beautiful stroll"><img src="../images/Hyd_Images/isb%20road.JPG"></a>
                           <p>ISB Road inside the ISB campus offers the the most beautiful stroll</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/4%20seasons.jpg" data-lightbox="roadtrip" data-title="4 Seasons Restaurant at ToliChowki popular for its chicken biryani"><img src="../images/Hyd_Images/4%20seasons.jpg"></a>
                           <p>4 Seasons Restaurant at ToliChowki popular for its chicken biryani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/spot.jpg" data-lightbox="roadtrip" data-title="Beautiful spot discovered in the interriors of Osman Sagar Lake"><img src="../images/Hyd_Images/spot.jpg"></a>
                           <p>Beautiful spot discovered in the interriors of Osman Sagar Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/ISB%20SV.JPG" data-lightbox="roadtrip" data-title="ISB Hyderabad's lovely campus in the evening"><img src="../images/Hyd_Images/ISB%20SV.JPG"></a>
                           <p>ISB Hyderabad's lovely campus in the evening</p>
                       </div>
                
                        
                    </section>
                    
                    
                    </div>