<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                    Fligts to Hyderabad are readily available from any major Indian city. Hyderabad's Rajiv Gandi International Airport is infact one most well maintained Indian airports. It is located in Shamshabad, which is around 22 Km south of the main Hyderabad city.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Hyderabad is well connected from other nearby cities and towns through bus. Buses of Andhra Pradesh State Road Transportat Corporation (APSRTC) and other South Indian states operate to and from the city regularly.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Hyderabad has three Railway Stations - Hyderabad Deccan, Kachiguda and Secunderabad. All three are fully fucntional and are very well connected to other cities and towns.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Hyderabad is connected to other cities in the state and other South Indian states through a network of highways. Long drives from nearby cities such as Bangalore via Shamshabad &acirc;&#128;&#147; Kurnool - Gooty - Penukonda - Bagepalli - Chikballapur - Devanahalli is quite smooth and refreshing.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>