<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Resorts For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Hyd_Images/newimage%20-%20Copy.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Palm Exotica Resort, Shankarpalli</div>
                        
                        Cost : 7000-15000 <br>
                            
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Hyd_Images/golconda%20resort.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Golconda Resorts &amp; Spa, Gandipet</div>
                        
                        Cost : 4000-15000
                        </div>
                    </li>
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>