<div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>It&acirc;&#128;&#153;s for a special reason that Hyderabad is close to our hearts. After all, that&acirc;&#128;&#153;s there where our story began, full of adventures and excitement.
 </p>
<br>
<p>A city where we became section mates and eventually landed up in the same study group in college. It is where we started going to DLF every night for chai. It is where we developed silent likeness for each other which eventually took an intense form. It is where we escaped the college gossip about us through long bike rides to Osman Sagar Lake and countless dinners at Paradise. </p>
<br>
            <p>Hence, the first place which struck us both for Barney&acirc;&#128;&#153;s birthday celebration was of course, Hyderabad. There were a few resorts we&acirc;&#128;&#153;d heard of in Hyderabad but never visited since they were too expensive to be afforded by a college going non-earning couple. However, now since both of us were <i>apparently</i> settled, we thought of ticking the Resort Wish-list off our Hyderabadi bucket-list.</p>
<br>
            <p><b>Day-1</b></p>
            
                  
            <p>We took early morning flights from our respective cities and reached Hyderabad almost at the same time. Barney had left his bike with his cousin while leaving Hyderabad. Hence, the first thing we did was to pick his bike and go to out very first destination, our college. </p>
<br>
             <p><img class="left-align" src="../images/Hyd_Images/isb%20road.JPG"></p>     
            <p>Going back to ISB on the bike after a long time was overwhelming. Nostalgia gushed in, even more when the security guard gave us an &acirc;&#128;&#156;I-remember-you&acirc;&#128;&#157; smile. As we entered the ISB road, we cheered out loud. Beautiful weather, vast spreads of trees on both sides and smooth wide road &acirc;&#128;&#147; ISB is actually nothing less than a beautiful resort. Feeling of extreme wistfulness rushed through me as we crossed the Student Villages. Although I was extremely happy about being back to college, the nostalgia was overpowering! </p>
<br>
             <p><img class="right-align" src="../images/Hyd_Images/ISB%20SV.JPG"></p>
            <p>We walked to the atrium, which was one of my best spots at ISB. It&acirc;&#128;&#153;s a huge round pit with the academic center on top and stairways leading to each of the SVs from four sides. The atrium was designed in such a way that it was the most airy place on campus, without any artificial cooling whatsoever! We grabbed juice from Sipz &acirc;&#128;&#147; a small juice shop apparently started by one of the alumni and left the college.</p>
<br><br>
                    <img class="left-align" src="../images/Hyd_Images/biryani.jpg">   
                
<p>We had booked Ellaa Hotel for that day. It is at Hill Ridge which is just 10 minutes away from ISB. We dropped our stuff and went to Udupi at Indra Nagar to have breakfast. Decision for lunch place was a no-brainer. It had to be chicken biryani at Paradise. No biryani in the world beats Paradise biryani. Of course, I am not a biryani connoisseur but the fact that Barney is capable of having it for 3 meals for 5 days in a row bears testimony to my point.<br><br>
       
   <img class="right-align" src="../images/Hyd_Images/spot.jpg">
</p>
<p>Our next stop was Osman Sagar Lake. When in college, Barney discovered the &acirc;&#128;&#152;spot&acirc;&#128;&#153;. Biking near Osman Sagar once, he swayed away from the main road to one of the small kaccha lanes on the side and rode through the interiors of some barren land, eventually leading him to the boundary of Osman Sagar. And what a discovery that was! The Spot was beautiful, especially during the sun set. We used to go there often. No human figure around, amidst waters extending to horizon on front, and huge boulders among the greens on the back. Going back to the Spot was a much needed battery-recharge! We call it the recharge to come back to the perfect emotional equilibrium. </p>
<br>
            
              <p><b>Day-2</b></p>
           <img class="left-align" src="../images/Hyd_Images/4%20seasons.jpg">
<p>Next morning, after breakfast at Ellaa, we left on our bike ride. We planned to find another nice place for Biryani and since many had suggested Four Seasons, we planned to go there. Four Seasons is one of the most popular biryani places in Hyderabad, after Paradise of course. We enjoyed our chicken biryani there and left for the Hotel. We bought cake on the way back since it was Barney&acirc;&#128;&#153;s birthday next day and cake cutting at 12 had to be done without fail. We went to ISB one last time and then left for the Palm Exotica Resort at Shankarpalli &acirc;&#128;&#147; which is on the outskirts of the city. </p>
<br>
            <img class="right-align" src="../images/Hyd_Images/newimage.jpg">
            <p>Finally our fancy resort visit was coming closer! We booked a Meru since no other cab agreed to go that far. The place it around 40-45 KM from the main city. Although Google navigated us well, the whole drive was an adventure. The driver didn&acirc;&#128;&#153;t know the route; we of course didn&acirc;&#128;&#153;t know the route, and we were mainly dependant on Google to direct us through the small and unlit lanes through the interiors of random districts in Telangana. Barney tried to engage the driver in a friendly conversation through-out the way so that driver doesn&acirc;&#128;&#153;t get intimidated riding through the unknown lanes to an unknown location!</p>
<br>
            <p>We took a sigh of relief once we reached the resort. It really seemed away from humanity considering we could only see thick forest surrounding the whole region. However, the resort in itself was brilliant! We couldn&acirc;&#128;&#153;t help smile and exchange approving glances when we reached the place. It seemed like the place has been constructed to offer a nice weekend getaway to the people staying in the cities. The property is built in such a way that it has a huge area for recreational activities including cricket ground, tennis and squash courts and a huge driveway to the central reception which leads stay area at the back.</p>
<br>
        <img class="left-align" src="../images/Hyd_Images/2.jpg">    
            <p>Since it was Barney&acirc;&#128;&#153;s birthday, we had booked a villa with a private swimming pool, on his special demand. It was called &acirc;&#128;&#152;Temple Tree Villa&acirc;&#128;&#153;. The bell boy drove us to the room in the baggi. We exchanged big smiles as he gave us a quick walk-through of all the facilities inside the suite. The most fantastic part of the suite was the balcony with the swimming pool &acirc;&#128;&#147; Carpet of lush green grass with a fine wood dining table and lovely view of the tranquil pool by the side under the shadow of a big Plumeria tree. A few petals of bright white flowers had fallen on the water making the pool look even lovelier. Dim lights from the lamp-posts made it a perfect setting for enjoying a quiet dinner, of course along with our conversations.</p>
            <img class="right-align" src="../images/Hyd_Images/Wine.jpg">      
                <p>At 12, we had a perfect celebration as Barney cut the cake and we opened the bottle of white wine we had especially bought for this occasion. If you ask me one thing I&acirc;&#128;&#153;d like to change in the way we celebrated the happy day, I would say nothing. Nothing better than being in the company of the person you adore the most on special days.</p>
<br><br>
            
            <p><b>Day-3</b></p>
     
<img class="left-align" src="../images/Hyd_Images/Swimming.jpg">
<p>We woke up late and had buffet breakfast at the caf&Atilde;&copy;. We planned to spend the entire day lazing at the resort doing absolutely nothing physically or mentally draining. Barney carried his hard disk which has a good movie collection. We connected the same to the LED TV and enjoyed watching the movie in bed along with lunch ordered from the resort itself. Pool time came next. Although it wasn&acirc;&#128;&#153;t a very deep pool, it was big enough to fit both of us very conveniently. The water had been changed the same morning and was gleaming under the clear blue skies. We had a great time being the pool with company of a breezer or two we had carried especially to the place.</p>
    <p>We enjoyed a short stroll through the entire resort in the evening and watched another movie at night. Barney told me later that it was one of his best birthdays, and for me, one of my best trips! All smiles! 
</p>
<br><br>
               <p><b>Day-4</b></p>
            <img class="right-align" src="../images/Hyd_Images/dirtcarts.jpg">

<p>We had to go back to Hyderabad to catch flights to our respective cities. Before our check-out, we planned to catch-up on some recreational activities at Palm Exotica. They had a huge play area for adventure sports such as go-carting, rappelling, tri-cycle ride, archery, etc. among others. I am not a huge adventure sports fan. However, Barney got really excited on the idea of buying a package for the same. And to be honest, it turned out to be a great idea! We played 6 sports and it was totally worth it!</p>
<p>We took a cab back to Hyderabad and thought of having our last meal at Paradise itself. Yes, we never leave even a single opportunity of catching up on chicken biryani out there!</p>
<br>
<p>Ends to perfect holidays are always sad. We went to the airport and parted in the standard Barney style. We went to WH Smith and gifted a book to each other. It&acirc;&#128;&#153;s a lovely gesture and brings a smile while dealing with the parting. The plan was to complete the book till we meet next, which we knew would be very soon :)
</p>
<br>
            <p>P.S. We did finish our books. Not in the prescribed time, but later. But nevertheless, we ensure we keep our promises to each other :)</p>
<br><br>


                    
                       
                    </div>