<div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Ganesha%20Temple.jpg"> <h5 class="attraction-sub-heading"><b>Sasivekalu Ganesha Temple</b></h5>It is best to start the sight-seeing with this temple owing to Lord Ganesha being the lord of auspicious starts. The idol is 8 feet high and has a huge rotunda built around with large pillars. The idol is known to be sculpted out of a single rock. Since the temple lies on the slopes of Hemkuta hills, it makes it a perfect sunset spot. Interestingly, the name &acirc;&#128;&#156;Sasivekalu&acirc;&#128;&#157; comes from resemblance of Lord Ganesha&acirc;&#128;&#153;s stomach to mustard seeds.<br>
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Shivlinga.jpg"><h5 class="attraction-sub-heading"><b>Shivlinga</b></h5> The Shivlinga is a magnificent 3 meters high monolithic idol sculpted out of a single back stone. It is built right next to the Narsinhma idol in Hampi. A water channel is known to be created by the locals in the golden era of Hampi which brought water of river Ganges to the Shivlinga keeping the base of the lingam immersed in water throughout the year. The temple remains open for devotees all through.
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Shri%20Narasimha%20Stone%20stature%20with%20lower%20body%20of%20a%20human%20and%20face%20of%20a%20lion.jpg"> <h5 class="attraction-sub-heading"><b>Narsinhma Idol</b></h5>
                    The magnificent idol of Lord Vishnu in Narsinhma avatar is one of the most popular imagery associated with Hampi. The statue claimed to be carved out of a single granite rock has upper body of a lion including face and claws and lower body of a human. Even though the idol has withered away, it still captures the beholders owing to its splendour and grandiose.
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Vittalla%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Vijay Vittalla Temple</b></h5> It is the most visited tourist destination of Hampi. Before Hampi got invaded, a small township existed in the surrounding areas of the temple. The most known structure is that of a massive Stone Chariot. It has multiple small carvings of battle scenes. The temple complex inside has multiple smaller chambers with pillars etched with super fine detailed carvings. Owing to the visual brilliance of the place, some Bollywood movies have also been shot there.     
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"><h5 class="attraction-sub-heading"><b>Lotus Mahal</b></h5> Lotus Mahal is a beautiful structure built inside the Zenana enclosure for royal women. It was the summer retreat palace for the Queen and consists of beautiful carvings of birds, flowers and other such patterns. It&acirc;&#128;&#153;s the only structure which doesn&acirc;&#128;&#153;t seem as damaged as the others and is mainly known for its blended Hindu-Islamic architecture. Interestingly, the architecture of the Mahal is such that it remains fully ventilated and cool throughout the summer season.
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg"><h5 class="attraction-sub-heading"><b>Elephant Stable</b></h5> These remain one of the most iconic imagery for Hampi owing to the beauty and symmetry of the structure. The bed of green grass lies in the front which was mainly used as a ground for royal gatherings and celebrations. The stable, as the name suggests, housed massive royal elephants. It is a row of 11 chambers with beautiful dome structures on the top and detailed carvings on the sides.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Queen's%20Bath.jpg"><h5 class="attraction-sub-heading"><b>Queen's Bath</b></h5> The Queen&acirc;&#128;&#153;s bath, as the name suggests, was especially made for the royal women to enjoy their bath during the summer months. The main rectangular pool area is in the middle with depth of around 6 feet, surrounded by beautiful window like structures for women to idle around the pool. There are small canals jutting out of balconies to change the water regularly. It is interesting to see how royal women of Vijaynagar empire used to spend their time indulging in such leisure activities.
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Virupaksha%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Virupaksha Temple</b></h5> Virupaksha Temple is by far the most prominent tourist destination in Hampi. It&acirc;&#128;&#153;s main tower at the entrance, as high as 50 meters, is visible from very far away. It was a very simple structure when it was built first, however was expanded and brought to life during the Vijaynagar empire. The temple is dedicated to Lord Shiva and Goddess Pampa. One of the most interesting things to see is amazing application of physics &acirc;&#128;&#147; an inverted image of the tower visible from a small peephole. 
                    
                    </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg"><h5 class="attraction-sub-heading"><b>Monkey Temple</b></h5> On top of the Anjaneya hill on the other side of Tungabhadra River is located the famous Hanuman Temple. It is considered to be the birthplace of Lord Hanuman.  One needs to climb almost 700 stairs to reach the top, however the effort is totally worth it! The top point offers an absolutely breath-taking view of the whole town. Even better if you visit the same during sun set. Although the temple is small, the environment is extremely peaceful and serene. 
                    
                     </li>
<li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Mango%20Tree.jpg"><h5 class="attraction-sub-heading"><b>Mango Tree Restaurant</b></h5> One place you wouldn&acirc;&#128;&#153;t want to miss if you ever visit Hampi is The Mango Tree restaurant. The place has been there since a few years now. However, due to certain government restrictions, the restaurant had to shift to the interiors of Hampi. The place has a goan feel with floor cushions, jute mattresses laid out below. You could order from a wide range of food starting from yummy masala papad and strong ginger tea to baked pastas and sumptuous cheesy pizzas.
                </li>
</ul>
</div>