<div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Best time to visit Hampi is during winters (November to February). This time is when the it's pleasantly chilly. The days are pleasant at around 30 degrees and nights become chilly at around 10-12 degrees. 
Monsoons in Hampi are beautiful too (June to August). However, summers in Hampi are hot (March-May). The sun is scorching and maximum temperature goes beyond 40 degrees.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                32-23 degree C
                <br>Humidity 90%
                    
            </div>        
                    </li>
        
        </ul>
        </div>