<div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Hampi_images/Beautiful%20sceneries%20enrote%20Anjaneya%20Hill.jpg" data-lightbox="roadtrip" data-title="Beautiful sceneries enroute Anjaneya Hill"><img src="../images/Hampi_images/Beautiful%20sceneries%20enrote%20Anjaneya%20Hill.jpg" id="pic1"></a>
                           <p>Beautiful sceneries<br>enroute Anjaneya Hill</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Carvings%20on%20pillaers%20in%20Vittalla%20Temple.jpg" data-lightbox="roadtrip" data-title="Detailed carvings on pillars at&lt;br&gt; Vijay Vittalla Temple"><img src="../images/Hampi_images/Carvings%20on%20pillaers%20in%20Vittalla%20Temple.jpg" id="pic2"></a>
                           <p>Detailed carvings on pillars at<br> Vijay Vittalla Temple</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg" data-lightbox="roadtrip" data-title="Elephant Stable inside &lt;br&gt;the royal arena"><img src="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg" id="pic2"></a>
                           <p>Elephant Stable inside <br>the royal arena</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Fountain%20garden.JPG" data-lightbox="roadtrip" data-title="Tungabhadra Garden, a part of the dam popular for its Musical Fountain"><img src="../images/Hampi_images/Fountain%20garden.JPG" id="pic4"></a>
                           <p>Tungabhadra Garden, a part of the dam popular for its Musical Fountain</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Ganesha%20Temple.jpg" data-lightbox="roadtrip" data-title="Ganesha Temple with 8 feet high Ganesha idol"><img src="../images/Hampi_images/Ganesha%20Temple.jpg" id="pic6"></a>
                           <p>Ganesha Temple with 8 feet high Ganesha idol</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Krishna%20Market%20ruins.jpg" data-lightbox="roadtrip" data-title="Krishna Market ruins"><img src="../images/Hampi_images/Krishna%20Market%20ruins.jpg" id="pic7"></a>
                           <p>Krishna Market ruins</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg" data-lightbox="roadtrip" data-title="Lotus Mahal, place where Queens used to reside in summer months"><img src="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"></a>
                           <p>Lotus Mahal, place where Queens used to reside in summer months</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Mango%20Tree.jpg" data-lightbox="roadtrip" data-title="Mango Tree Restaurant popular not only for its food but for its feel"><img src="../images/Hampi_images/Mango%20Tree.jpg"></a>
                           <p>Mango Tree Restaurant popular not only for its food but for its feel</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg" data-lightbox="roadtrip" data-title="Monkey Temple on top of Anjaneya Hill"><img src="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg"></a>
                           <p>Monkey Temple<br>on top of Anjaneya Hill</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Queen's%20Bath.jpg" data-lightbox="roadtrip" data-title="Queen's bath for the royal women to enjoy during leisure time&lt;"><img src="../images/Hampi_images/Queen's%20Bath.jpg"></a>
                           <p>Queen's bath for the royal women to enjoy during leisure time</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg" data-lightbox="roadtrip" data-title="Round raft like stereotypical boats at Tungabhadra river crossing"><img src="../images/Hampi_images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg"></a>
                           <p>Round raft like stereotypical boats at Tungabhadra river crossing</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Virupaksha%20Temple.jpg" data-lightbox="roadtrip" data-title="Virupaksha Temple with tower rising upto 50 meters"><img src="../images/Hampi_images/Virupaksha%20Temple.jpg"></a>
                           <p>Virupaksha Temple with tower rising upto 50 meters</p>
                       </div>
                       
                    </section>
                    
                    
                    </div>