<div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        
                         The closest airport to Hampi is Bellary, around 60 km from Hampi. The closest international airport is Bengaluru, which is around 350 km away from Hampi. Taxis can be availed from both the airports.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                        Most of the buses for Hampi drop at Hospet if you are coming from cities such as Hyderabad. Hampi is well connected with the major cities through roads. It is a popular tourist spot and even private vehicles can be availed.
                        </div>
                    </li>
                    
                    
                    
                
                
                

                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        The closest railway station to Hampi is Hospet, around 13 km away. Trains from Bengalore, Hubli and many other places in Karnataka halt at the station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                        
                        You could even go to Hampi on your own vehicle or a hired cab if you stay in one of the nearby cities. The drive from Hyderabad would be around 8-10 hours including small stoppages in between. You could use two routes: <br>
1) Hyd-Raichur-Gangavati-Hampi<br>
2) Hyd-Kurnool-Gooty-Bellary-Hospet
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>