<div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Hampi_images/hampi_royalorchid.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Royal Orchid </div>
                        
                        Cost : 4000-6000 <br>
                            
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Hampi_images/hampi_heritageresort.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Heritage Resort </div>
                        
                        Cost : 7000-9000
                        </div>
                    </li>
                </ul>
                    
                    
                    
                    
                    
                    
                    </div>
                    
                </div>