<div role="tabpanel" class="tab-pane fade" id="travelstory">
            <p>We were to move to separate cities after college. The fact killed us. We had been together for a few months in college and now, on the brink of a long distance relationship, both of us were quite wary about how it will all work out. I was never in the mood of going back to home. When I mentioned this to Barney, in no time we decided. On our convocation day, we decided to go for a trip before moving to our hometowns.</p>
<br>
                    <img class="left-align" src="../images/Hampi_images/hampi_map.jpg">
                    
 <p>We took a bus from Hyderabad to Hampi. After an 8 hour journey, we reached Hospet at 4 in the morning. We had pre-requested the hotel for an early check-in. However, at the reception we were informed there wasn&acirc;&#128;&#153;t a room available till the actual check-in time. Both of us were slightly tired after the bus journey and having to give explanations to the hotel manager was quite a dampener. On top of that, we were given a suite but without AC. However, Royal Orchid made up for the slipup by shifting us to an AC suite at 10 AM and giving us free meals for the entire trip! </p>
<br>
            <p>We left for our ruins excursion at 2 PM It was scorching hot and we couldn&acirc;&#128;&#153;t have covered everything in one go. We carried the map of all places to visit which the hotel provided and marked the best places we wanted to visit. Once we reached, Barney negotiated with an auto guy to take us to all the major visiting points and wait for us while we explored the site. We also hired a guide who claimed to have an authorized license from the state government. And it turned out to be a great decision afterall!</p> <br>   
                       <div class="clearboth"> 
                           
                           <img class="center-align" src="../images/Hampi_images/Ganesha%20Temple.jpg">
                           <img class="center-align" src="../images/Hampi_images/Shivlinga.jpg"> 
            
            </div>
<p>We first visited Sasivekalu Ganesha with beautiful stone work and then moved to Shiv temple with the famous 3 Mts long Shivlinga. It&acirc;&#128;&#153;s said that the Shivlinga was carved out of one single stone and it always remains immersed in natural water all through the year.</p>
            <div class="clearboth">
                
                    <img class="center-align" src="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"> 
                
                     <img class="center-align" src="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg">
                
                </div>
<p>we then moved King&acirc;&#128;&#153;s palace which had gone underground. The Lotus Mahal and Queen&acirc;&#128;&#153;s Bath were two exquisitely wonderful monuments inside. There are interesting stories about what Queens did in their leisure time. Elephant Stable is another popular and beautiful edifice there.We clicked each other&acirc;&#128;&#153;s pictures and dragged our guide to click our couple-y pictures too!</p>
            <div class="clearboth"> 
       
   <img class="center-align" src="../images/Hampi_images/Virupaksha%20Temple.jpg">
   <img class="center-align" src="../images/Hampi_images/Stone%20chariot%20in%20Vittalla%20Temple.jpg">
            </div>
<p>Next, we moved to Vijay Vitthal Temple where we saw the huge stone chariot. The temple was in ruins, but detailed and beautifully etched small carvings on stone pillars were striking! Several Bollywood movies scenes and songs have been shot at the temple premises.</p>
            <p>I don&acirc;&#128;&#153;t remember properly but Barney cracked me up with some random jokes. He has a knack of adding random humour into any moment. Either he will start singing his own version of Old 90s Bollywood songs or he&acirc;&#128;&#153;ll just say something that could make anyone laugh out like a madman. The guide noticed that I&acirc;&#128;&#153;d been laughing like a mad person and commented - <i>&acirc;&#128;&#156;Sahab aapko bohot hasaate rehte hain!&acirc;&#128;&#157;.</i> I couldn&acirc;&#128;&#153;t agree more! :)</p>
<br>

     
<img class="left-align" src="../images/Hampi_images/Mango%20Tree.jpg">
<p>Our last historical destination for the day was Virupaksha temple &acirc;&#128;&#147; the most popular and recognized temple among the group of temples. They say people around Hampi, even big cities, believe that marrying at Virupaksha temple is auspicious and is considered to be complete.</p>
<br>


<p>After we ended the excursion, it was already around 6 PM. We then planned to sit for a bit at one of the most popular eateries at Hampi called &acirc;&#128;&#156;Mango Tree&acirc;&#128;&#157;. The place has a very goan feel to it with mattresses laid out on the floor along with floor tables and crowd mainly consisting of foreigners. The place serves awesome masala papad and ginger tea.The chillness in the whole ambiance and our silly conversations ensured we have a great time!</p>

<p>We took at auto back to the hotel, rested for a while before enjoying free dinner at the hotel premises, followed by a long walk around the hotel grounds. Day-1 well spent :)</p>
<br> <br>

<p><b>Day-2</b></p>
                    <img class="right-align" src="../images/Hampi_images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg">
<p>We thought of exploring the other side of Tungabhadra River the next day.</p>
                    <p>We left the hotel around 12 PM to the ghat from where boats leave at a regular intervals from one point to another. These boats are shared ones and help the tourists go from the south side to the north side of Hampi through crossing the river. However jazzy though it may sound, the boat ride is only 5 minutes long. If you seek more adventure, you could even take one of those small raft like boats called Coracle.</p>
<br>

<p>Once we reached the other side, we planned to get an activa on rent to go uphill to the Hanuman temple. Activa ride a lone hillside with lush green fields on one side, giant Deccan rocks on the other, and bright blue skies &acirc;&#128;&#147; what else does anyone need after all? Nothing at all! It was ultimate bliss!</p>
<br>
        <img class="left-align" src="../images/Hampi_images/image15-57.jpg">

<p>We rented the active for 300 bucks including 1 litre petrol (or so he claimed). We actually needed stop at one of the small shops in between to get half a litre of petrol filled over and above that since it didn&acirc;&#128;&#153;t seem he gave us the vehicle with complete fuel. Before riding up to the temple, we planned to stop by to grab a quick bite. We explored a few cafeterias on the roadside but most of them seemed to the shut due to the odd timing. Untimately, we landed at Funky Monkey restaurant.</p>
<br>
                    <img class="right-align" src="../images/Hampi_images/Stupendous%20view%20of%20Hampi%20from%20Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg">

                    <p>We sat there and talked &acirc;&#128;&#147; random conversations about us, what would happen to us going forward its. They were all going pretty well with the whole atmosphere of the place. After chilling there for an hour or so, we finally started our active ride to the temple. The surroundings are breathtakingly beautiful! We crossed sun kissed green fields with long light green grass. The Deccan by the other side gave a perfect contrasting shade to the picturesque surroundings. Cool breeze touching our faces during the ride on the sunny afternoon was a special add on to the overall experience.</p>
<br>
    <p>The Monkey Temple has around 700 stairs. We parked the active and started climbing the stairs. The temple lies on top of the Anjaneya Hill, which is claimed to be the birthplace of Lord Hanuman. It&acirc;&#128;&#153;s a little bit of an effort to climb up due to the elevation. However, the climb is worth the effort! Once we reached the top, a stupendous view of complete Hampi awaited us. The temple is small yet beautiful and serene.</p>
<br>
                    <img class="left-align" src="../images/Hampi_images/Fountain%20garden.JPG">
                    <p>We returned the bike and went back to the river crossing area. We took the last boat at 6 PM and went to the other side. We took an auto to Tungabhadra garden which is famous for its musical fountain. It had already started getting a little dark and that&acirc;&#128;&#153;s actually the best time to enjoy the place. The garden is huge divided into various sections. The fountain started playing at around 7. A bunch of school kids had come there for a picnic. Although the fountain not super spectacular, the excitement with which the school kids enjoyed the performance was worth a sight! </p>
<br>
                    <p>We went back to the hotel, grabbed quick dinner and left for our bus. The two day journey was sadly coming to an end. We weren&acirc;&#128;&#153;t sure when we&acirc;&#128;&#153;d meet next. On the bus back to Hyderabad, I just recalled our whole ISB journey and how our equation evolved in a few months, for good. Maybe it was too fast, but it was all very honest and genuine :)</p>
<br><br>

                    
                       
                    </div>