<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Ananthagiri</h4>


            <div>
            Ananthagiri Hills is located around 10Km from a small district called Vikarabad in Telangana. It is a perfect weekend gateaway for people staying in nearby cities such as Hyderabad and Vizag. Infact, it is even ideal for a day trip or a long drive from nearby cities. Owing to the scenic beauty and soothing environment of the place, you will feel immensely at peace among the think green forest and coffee plantations and amazing panoramic views from the hills.
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        
                        The closest airport to Ananthagiri Hills is Hyderabad. After which you could take a rented vehicle to Ananthagiri Hills which is 80 Km from the city.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                        Local buses are available to Vikarabad district which is 10 Km from Anathagiri Hills. However, this is not the best option to visit the place since the timing and frequency of the buses would not be easily available.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        The closest railway station to Hampi is Hospet, around 13 km away. Trains from Bengalore, Hubli and many other places in Karnataka halt at the station.Ananthagiri does not have a railway station. The closest station is Araku Valley which is around 20 Km from Anathagiri.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       This is the best route to take if you're travelling to Anathagiri Hills from closeby cities. You could take your own vehicle - both car and two wheelers would be great. Else, you could take a rented vehicle. The drive from Hyderabad to Anathagiri is around 80 Km and is covered in around 2 hours via the Chevella Road.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Best time to visit Ananthagiri Hills is anytime between September to January. The beauty of the place enhances during the monsoon month of September. However, October to January would be slightly chilly and perfect to enjoy a weekend away from the city.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                22-28 degree C
                <br>Humidity 64%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Anathagiri Hills is located around 80 Km from Hyderabad. Although it isn’t very far from Hyderabad, the destination is not one of the most popular places around Hyderabad. And that’s the whole beauty of the place. It’s not very known, commercial or crowded. It is in fact a very small place located at Vikarabad, Ranga Reddy District in Telangana. </p> <br>   
<p><img class="left-align" src="../images/Ananthagiri_images/Udupi.jpg"></p>            

<p>Barney loves riding as much as he loves his bike. He had heard of this destination from other biking enthusiasts in our college. Back then in ISB when we weren’t seeing each other officially, one fine day we decided to go for a road trip. That was when we planned to bunk our classes on a weekday and leave for Ananthagiri. Barney called to wake me up at 7 AM. He asked if we should go since it was cloudy and we’d have to cover a long distance on the bike. We were both apprehensive in the beginning but decided to give it a shot. And there we were – leaving college at 7:30 AM. We stopped at Udupi, a small joint close to our college to have coffee to keep us up since the night before we slept at 4 AM. Both of us didn’t know the route. However, Google Navigation came to our rescue almost every time we stepped out of college to go anywhere. And of course, this time too, it worked like a wonder!</p><br>
            
                        <p><img class="right-align" src="../images/Ananthagiri_images/Driveway.jpg"></p>
<p>The road from Hyderabad to Ananthagiri once you reach outside the main city is nothing less than breathtakingly beautiful. It had started drizzling slightly just 45 minutes after we started the ride. Thankfully Barney was wearing a jacket – which actually helped both of us. I put my hands in his side pockets and was sorted! :)</p><br>
            <p>The condition of the roads is excellent. No bumpy rides. It’s a smooth and wide road with lush green forests on the side which give a mesmerizing view in cloudy drizzly skies. The coffee plantations welcome you on the way on both sides waving the rich light green branches glistening in the light shower. I don’t remember even a single moment when I could take my eyes off the beautiful view being offered to our eyes!</p><br>
                    <img class="left-align" src="../images/Ananthagiri_images/Tress%20and%20skies.jpg">   
                
<p>Google navigated us perfectly well. We reached the location almost in 1.5-2 hours. However, once we reached, it had started raining a little heavily. We spotted two small dhabas and planned to stop there before we could go further. We were hungry and thought we could eat something but the dhaba had very limited options. We decided on a cup of tea each and left as soon as rain became lighter. It had almost stopped but the weather was dewy and slightly cold, which is actually a perfect weather to visit the place!<br><br>
       
   <img class="right-align" src="../images/Ananthagiri_images/Viewpoint.jpg">
<p>We asked the dhaba walas where to go and he recommended that we should go ahead towards a view point area. We found a nice view point and stopped the bike. There was a ledge kind of structure built across which we could see the view of the entire valley. Brilliant greens combined with blue skies. By the way, Hyderabad has some of the most beautiful skies in the world! And sitting on the ledge, we could see the view of dewy sky and deep green valleys. We sat and spoke for some time after which a few localites came to the same place. Since we were enjoying our conversation in peace, we planned to go to another view point. We then took the bike a little head to a point where there were deep green valleys on both sides of the road. We parked there, trekked a little down and sat there. We sat and spoke for a long time till a cop found us. I am sure you know how cops react when they see a couple sitting at a romantic location, even though they’re sitting at a good distance from each other, peacefully chatting and enjoying the view. We were ordered to get up and leave right away. So we did. </p><br>

     
<img class="left-align" src="../images/Ananthagiri_images/Haritha.JPG">
<p>Both of us were quite hungry and we planned to stop by the one and only resort out there to have some food. It’s called the Haritha Resort and is ran and maintained by the Telangana State government. The resort isn’t expensive at all both with respect to room rates and food. Many people come to Ananthgiri from Hyderabad for a weekend retreat and stay at this resort. We didn’t have many options to order from. We had poori and bhaji, which was in fact good. Or maybe we were just too hungry. After enjoying a long awaited meal, we left to see the dam across the village which was supposed to be a little farther into the district.</p><br>

                    <img class="right-align" src="../images/Ananthagiri_images/Landscape.jpg">
                    <p>Bike ride towards the dam was a long one. In the insides of the area, our phones weren’t catching internet singles perfectly well due to which we couldn’t use Navigation. We kept asking the way enroute from localites. We chatted all along enjoying the beautiful view and lovely weather. Ultimately, it turned so that we didn’t reach any dam since it was further down the road. We had to head back since it was getting late and we wanted to reach back college before it got dark since we didn’t know the routes.</p><br>

<p>We headed back to Haritha resort where we enjoyed a leisurely lunch of simple homemade sort of food and then left for Hyderabad. Google directed us well all across. Once we were just about to enter the main city, we stopped by another restaurant to have tea. Barney had ridden the bike for 6 hours already and of course he needed a break. It was a long long journey for him on his Unicorn Dazzler which is a sports bike and not a cruise bike. Although he is very fond of long rides, this one was about covering a very long distance in a very short while without many breaks. After a few minutes, we started off our ride back to Gachibowli again and by 6 PM we were inside college.</p><br>

<p>Although this was a day trip, the experience has been unforgettable. The whole day was well spent full of mesmerizing views, lovely weather to give us company and conversations – some silly and some serious. Barney woke up to hurting thighs and calves next morning. But he told me later that the trip was worth the pain :)</p><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Viewpoint.jpg"> <h5 class="attraction-sub-heading"><b>Beautiful viewpoints from top of the hills</b></h5>Anathagiri offers a lot many view-points owing to the natural beauty of the place and the lovely landscapes. There are no specific names given to these viewpoints since the tourism development of this place is almost non-existent but you’d find small ledges and structures created for people to sit and cherish such breathtakingly beautiful views.<br>
                        
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Antha Padmanabhaswamy Temple</b></h5>This is the only touristy attraction of the place which is a little away from the hills and invites many devotees – both localites and tourists. There is a main temple structure where devotees go and pray inside. The highlights of the temple are 2 big idols of Lord Hanuman and Garuda at the entrance of the temple.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Nagasamundaram%20Lake.JPG"> <h5 class="attraction-sub-heading"><b>Nagasamundram Lake</b></h5>
                    The Kotepalli Reservoir is around 20 Km from Anathagiri Hills. The lake is mainly knows has Nagasamundram Lake. Since it isn’t very commercial, the lake has clear blue waters and offers a beautiful soothing view to the visitors. During the monsoons, the lake gets completely full and hence seems like a huge and clear mirror reflecting the blue skies with white puffy clouds. 
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Haritha%20Property.jpg"><h5 class="attraction-sub-heading"><b>Haritha Valley Resort</b></h5> Haritha Valley Resort an Ananthagiri is the best option for people to stay or have meals during their visit to the place. It is owned and maintained by the Telangana State government. The resort has a decently spacious property with pocket friendly rates – both with respect to rooms and food. It also has a huge garden which offers lovely scenic views of the Ananthagiri hills.

    
                     </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Ananthagiri_images/Driveway.jpg"><h5 class="attraction-sub-heading"><b>Chevella Road</b></h5>The drive from Hyderabad to Anathagiri Hills or vice versa is through Chevella Road. The condition of the roads is excellent. No bumpy rides. It’s a smooth and wide road with lush green forests on the side which give a mesmerizing view in cloudy drizzly skies. The coffee plantations welcome you on the way on both sides waving the rich light green branches glistening in the light shower.
                </ul>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Driveway.jpg" data-lightbox="roadtrip" data-title="Beautiful driveway to Ananthagiri amidst coffee platations"><img src="../images/Ananthagiri_images/Driveway.jpg" id="pic1"></a>
                           <p>Beautiful driveway to Ananthagiri amidst coffee platations</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg" data-lightbox="roadtrip" data-title="Beautiful Anantha Padmanabhaswamy Temple at Ananthagiri"><img src="../images/Ananthagiri_images/Ananta%20Padmanabhaswamy%20Temple.jpg" id="pic2"></a>
                           <p>Beautiful Anantha Padmanabhaswamy Temple at Ananthagiri</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Ananthagiri_images/Hanumal%20Idol%20at%20Anantha%20Padmanabhaswamy%20Temple.jpg" data-lightbox="roadtrip" data-title="Lord Hanuman Idol at Anantha Padmanabhaswamy Temple"><img src="../images/Ananthagiri_images/Hanumal%20Idol%20at%20Anantha%20Padmanabhaswamy%20Temple.jpg" id="pic2"></a>
                           <p>Lord Hanuman Idol at Anantha Padmanabhaswamy Temple</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha.JPG" data-lightbox="roadtrip" data-title="The well-known Haritha Valley resort"><img src="../images/Ananthagiri_images/Haritha.JPG" id="pic4"></a>
                           <p>The well-known Haritha Valley resort</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha%20Property.jpg" data-lightbox="roadtrip" data-title="The beautiful Haritha Property with scenic surroundings"><img src="../images/Ananthagiri_images/Haritha%20Property.jpg" id="pic6"></a>
                           <p>The beautiful Haritha Property with scenic surroundings</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Haritha%20Property2.jpg" data-lightbox="roadtrip" data-title="View of the Haritha Property"><img src="../images/Ananthagiri_images/Haritha%20Property2.jpg" id="pic7"></a>
                           <p>View of the Haritha Property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Landscape.jpg" data-lightbox="roadtrip" data-title="View of the valley riding across the village"><img src="../images/Ananthagiri_images/Landscape.jpg"></a>
                           <p>View of the valley riding across the village</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Tress%20and%20skies.jpg" data-lightbox="roadtrip" data-title="Amidst jade green tress and blue skies"><img src="../images/Ananthagiri_images/Tress%20and%20skies.jpg"></a>
                           <p>Amidst jade green tress and blue skies</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Valley%20View.jpg" data-lightbox="roadtrip" data-title="Stupendously serene view from top of Ananthgiri Hills"><img src="../images/Ananthagiri_images/Valley%20View.jpg"></a>
                           <p>Stupendously serene view from top of Ananthgiri Hills</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/View%20of%20the%20valley%20in%20sunshine.jpg" data-lightbox="roadtrip" data-title="Ananthagiri Valley view in sunshine"><img src="../images/Ananthagiri_images/View%20of%20the%20valley%20in%20sunshine.jpg"></a>
                           <p>Ananthagiri Valley view in sunshine</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Viewpoint.jpg" data-lightbox="roadtrip" data-title="View offerred by another viewpoint at the top"><img src="../images/Ananthagiri_images/Viewpoint.jpg"></a>
                           <p>View offerred by another viewpoint at the top</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Ananthagiri_images/Viewpoint2.jpg" data-lightbox="roadtrip" data-title="Ananthagiri valley view in monsoons"><img src="../images/Ananthagiri_images/Viewpoint2.jpg"></a>
                           <p>Ananthagiri valley view in monsoons</p>
                       </div>
                       
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Ananthagiri_images/anathgiri_haritha.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Haritha Resort </div>
                        
                        Cost : 1750-3000 <br>
                            
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>