
    <div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Hampi</h4>


            <div>
            Hampi is one of the most popular tourist destination in Karnataka, and certainly one of the best for people staying in closeby cities such as Hyderabad and Bangalore. It lies within the ruins of the ancient Vijaynagar empire. It is also a UNESCO recognized World Heritage Site. Hampi would definitely capture the tourists in a special kind of magic owing not only to its historical richness but also the beaty of the entire place. Typical big boulders of the Deccan combined with the sparkling green palm and banana platations across the banks of Tungabhadra would make anyone spellbound. Hampi has many interesting stories to narrate of the royal regins through the remains of beautiful structures and monuments that once embellished the city.
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                        
                         The closest airport to Hampi is Bellary, around 60 km from Hampi. The closest international airport is Bengaluru, which is around 350 km away from Hampi. Taxis can be availed from both the airports.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                        Most of the buses for Hampi drop at Hospet if you are coming from cities such as Hyderabad. Hampi is well connected with the major cities through roads. It is a popular tourist spot and even private vehicles can be availed.
                        </div>
                    </li>
                    
                    
                    
                
                
                

                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        The closest railway station to Hampi is Hospet, around 13 km away. Trains from Bengalore, Hubli and many other places in Karnataka halt at the station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                        
                        You could even go to Hampi on your own vehicle or a hired cab if you stay in one of the nearby cities. The drive from Hyderabad would be around 8-10 hours including small stoppages in between. You could use two routes: <br>
1) Hyd-Raichur-Gangavati-Hampi<br>
2) Hyd-Kurnool-Gooty-Bellary-Hospet
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Best time to visit Hampi is during winters (November to February). This time is when the it's pleasantly chilly. The days are pleasant at around 30 degrees and nights become chilly at around 10-12 degrees. 
Monsoons in Hampi are beautiful too (June to August). However, summers in Hampi are hot (March-May). The sun is scorching and maximum temperature goes beyond 40 degrees.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                32-23 degree C
                <br>Humidity 90%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
            <p>We were to move to separate cities after college. The fact killed us. We had been together for a few months in college and now, on the brink of a long distance relationship, both of us were quite wary about how it will all work out. I was never in the mood of going back to home. When I mentioned this to Barney, in no time we decided. On our convocation day, we decided to go for a trip before moving to our hometowns.</p><br>
                    <img class="left-align" src="../images/Hampi_/images/hampi_map.jpg">
                    
 <p>We took a bus from Hyderabad to Hampi. After an 8 hour journey, we reached Hospet at 4 in the morning. We had pre-requested the hotel for an early check-in. However, at the reception we were informed there wasn’t a room available till the actual check-in time. Both of us were slightly tired after the bus journey and having to give explanations to the hotel manager was quite a dampener. On top of that, we were given a suite but without AC. However, Royal Orchid made up for the slipup by shifting us to an AC suite at 10 AM and giving us free meals for the entire trip! </p><br>
            <p>We left for our ruins excursion at 2 PM It was scorching hot and we couldn’t have covered everything in one go. We carried the map of all places to visit which the hotel provided and marked the best places we wanted to visit. Once we reached, Barney negotiated with an auto guy to take us to all the major visiting points and wait for us while we explored the site. We also hired a guide who claimed to have an authorized license from the state government. And it turned out to be a great decision afterall!</p> <br>   
                       <div class="clearboth"> 
                           
                           <img class="center-align" src="../images/Hampi_/images/Ganesha%20Temple.jpg">
                           <img class="center-align" src="../images/Hampi_/images/Shivlinga.jpg"> 
            
            </div>
<p>We first visited Sasivekalu Ganesha with beautiful stone work and then moved to Shiv temple with the famous 3 Mts long Shivlinga. It’s said that the Shivlinga was carved out of one single stone and it always remains immersed in natural water all through the year.</p>
            <div class="clearboth">
                
                    <img class="center-align" src="../images/Hampi_/images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"> 
                
                     <img class="center-align" src="../images/Hampi_/images/Elephant%20Stables%20in%20royal%20empire.jpg">
                
                </div>
<p>we then moved King’s palace which had gone underground. The Lotus Mahal and Queen’s Bath were two exquisitely wonderful monuments inside. There are interesting stories about what Queens did in their leisure time. Elephant Stable is another popular and beautiful edifice there.We clicked each other’s pictures and dragged our guide to click our couple-y pictures too!</p>
            <div class="clearboth"> 
       
   <img class="center-align" src="../images/Hampi_/images/Virupaksha%20Temple.jpg">
   <img class="center-align" src="../images/Hampi_/images/Stone%20chariot%20in%20Vittalla%20Temple.jpg">
            </div>
<p>Next, we moved to Vijay Vitthal Temple where we saw the huge stone chariot. The temple was in ruins, but detailed and beautifully etched small carvings on stone pillars were striking! Several Bollywood movies scenes and songs have been shot at the temple premises.</p>
            <p>I don’t remember properly but Barney cracked me up with some random jokes. He has a knack of adding random humour into any moment. Either he will start singing his own version of Old 90s Bollywood songs or he’ll just say something that could make anyone laugh out like a madman. The guide noticed that I’d been laughing like a mad person and commented - <i>“Sahab aapko bohot hasaate rehte hain!”.</i> I couldn’t agree more! :)</p><br>

     
<img class="left-align" src="../images/Hampi_images/Mango%20Tree.jpg">
<p>Our last historical destination for the day was Virupaksha temple – the most popular and recognized temple among the group of temples. They say people around Hampi, even big cities, believe that marrying at Virupaksha temple is auspicious and is considered to be complete.</p><br>


<p>After we ended the excursion, it was already around 6 PM. We then planned to sit for a bit at one of the most popular eateries at Hampi called “Mango Tree”. The place has a very goan feel to it with mattresses laid out on the floor along with floor tables and crowd mainly consisting of foreigners. The place serves awesome masala papad and ginger tea.The chillness in the whole ambiance and our silly conversations ensured we have a great time!</p>

<p>We took at auto back to the hotel, rested for a while before enjoying free dinner at the hotel premises, followed by a long walk around the hotel grounds. Day-1 well spent :)</p><br> <br>

<p><b>Day-2</b></p>
                    <img class="right-align" src="../images/Hampi_/images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg">
<p>We thought of exploring the other side of Tungabhadra River the next day.</p>
                    <p>We left the hotel around 12 PM to the ghat from where boats leave at a regular intervals from one point to another. These boats are shared ones and help the tourists go from the south side to the north side of Hampi through crossing the river. However jazzy though it may sound, the boat ride is only 5 minutes long. If you seek more adventure, you could even take one of those small raft like boats called Coracle.</p><br>

<p>Once we reached the other side, we planned to get an activa on rent to go uphill to the Hanuman temple. Activa ride a lone hillside with lush green fields on one side, giant Deccan rocks on the other, and bright blue skies – what else does anyone need after all? Nothing at all! It was ultimate bliss!</p><br>
        <img class="left-align" src="../images/Hampi_images/image15-57.jpg">

<p>We rented the active for 300 bucks including 1 litre petrol (or so he claimed). We actually needed stop at one of the small shops in between to get half a litre of petrol filled over and above that since it didn’t seem he gave us the vehicle with complete fuel. Before riding up to the temple, we planned to stop by to grab a quick bite. We explored a few cafeterias on the roadside but most of them seemed to the shut due to the odd timing. Untimately, we landed at Funky Monkey restaurant.</p><br>
                    <img class="right-align" src="../images/Hampi_images/Stupendous%20view%20of%20Hampi%20from%20Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg">

                    <p>We sat there and talked – random conversations about us, what would happen to us going forward its. They were all going pretty well with the whole atmosphere of the place. After chilling there for an hour or so, we finally started our active ride to the temple. The surroundings are breathtakingly beautiful! We crossed sun kissed green fields with long light green grass. The Deccan by the other side gave a perfect contrasting shade to the picturesque surroundings. Cool breeze touching our faces during the ride on the sunny afternoon was a special add on to the overall experience.</p><br>
    <p>The Monkey Temple has around 700 stairs. We parked the active and started climbing the stairs. The temple lies on top of the Anjaneya Hill, which is claimed to be the birthplace of Lord Hanuman. It’s a little bit of an effort to climb up due to the elevation. However, the climb is worth the effort! Once we reached the top, a stupendous view of complete Hampi awaited us. The temple is small yet beautiful and serene.</p><br>
                    <img class="left-align" src="../images/Hampi_images/Fountain%20garden.JPG">
                    <p>We returned the bike and went back to the river crossing area. We took the last boat at 6 PM and went to the other side. We took an auto to Tungabhadra garden which is famous for its musical fountain. It had already started getting a little dark and that’s actually the best time to enjoy the place. The garden is huge divided into various sections. The fountain started playing at around 7. A bunch of school kids had come there for a picnic. Although the fountain not super spectacular, the excitement with which the school kids enjoyed the performance was worth a sight! </p><br>
                    <p>We went back to the hotel, grabbed quick dinner and left for our bus. The two day journey was sadly coming to an end. We weren’t sure when we’d meet next. On the bus back to Hyderabad, I just recalled our whole ISB journey and how our equation evolved in a few months, for good. Maybe it was too fast, but it was all very honest and genuine :)</p><br><br>

                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Ganesha%20Temple.jpg"> <h5 class="attraction-sub-heading"><b>Sasivekalu Ganesha Temple</b></h5>It is best to start the sight-seeing with this temple owing to Lord Ganesha being the lord of auspicious starts. The idol is 8 feet high and has a huge rotunda built around with large pillars. The idol is known to be sculpted out of a single rock. Since the temple lies on the slopes of Hemkuta hills, it makes it a perfect sunset spot. Interestingly, the name “Sasivekalu” comes from resemblance of Lord Ganesha’s stomach to mustard seeds.<br>
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_/images/Shivlinga.jpg"><h5 class="attraction-sub-heading"><b>Shivlinga</b></h5> The Shivlinga is a magnificent 3 meters high monolithic idol sculpted out of a single back stone. It is built right next to the Narsinhma idol in Hampi. A water channel is known to be created by the locals in the golden era of Hampi which brought water of river Ganges to the Shivlinga keeping the base of the lingam immersed in water throughout the year. The temple remains open for devotees all through.
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Shri%20Narasimha%20Stone%20stature%20with%20lower%20body%20of%20a%20human%20and%20face%20of%20a%20lion.jpg"> <h5 class="attraction-sub-heading"><b>Narsinhma Idol</b></h5>
                    The magnificent idol of Lord Vishnu in Narsinhma avatar is one of the most popular imagery associated with Hampi. The statue claimed to be carved out of a single granite rock has upper body of a lion including face and claws and lower body of a human. Even though the idol has withered away, it still captures the beholders owing to its splendour and grandiose.
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Vittalla%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Vijay Vittalla Temple</b></h5> It is the most visited tourist destination of Hampi. Before Hampi got invaded, a small township existed in the surrounding areas of the temple. The most known structure is that of a massive Stone Chariot. It has multiple small carvings of battle scenes. The temple complex inside has multiple smaller chambers with pillars etched with super fine detailed carvings. Owing to the visual brilliance of the place, some Bollywood movies have also been shot there.     
                     </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"><h5 class="attraction-sub-heading"><b>Lotus Mahal</b></h5> Lotus Mahal is a beautiful structure built inside the Zenana enclosure for royal women. It was the summer retreat palace for the Queen and consists of beautiful carvings of birds, flowers and other such patterns. It’s the only structure which doesn’t seem as damaged as the others and is mainly known for its blended Hindu-Islamic architecture. Interestingly, the architecture of the Mahal is such that it remains fully ventilated and cool throughout the summer season.
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg"><h5 class="attraction-sub-heading"><b>Elephant Stable</b></h5> These remain one of the most iconic imagery for Hampi owing to the beauty and symmetry of the structure. The bed of green grass lies in the front which was mainly used as a ground for royal gatherings and celebrations. The stable, as the name suggests, housed massive royal elephants. It is a row of 11 chambers with beautiful dome structures on the top and detailed carvings on the sides.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Queen's%20Bath.jpg"><h5 class="attraction-sub-heading"><b>Queen's Bath</b></h5> The Queen’s bath, as the name suggests, was especially made for the royal women to enjoy their bath during the summer months. The main rectangular pool area is in the middle with depth of around 6 feet, surrounded by beautiful window like structures for women to idle around the pool. There are small canals jutting out of balconies to change the water regularly. It is interesting to see how royal women of Vijaynagar empire used to spend their time indulging in such leisure activities.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Virupaksha%20Temple.jpg"><h5 class="attraction-sub-heading"><b>Virupaksha Temple</b></h5> Virupaksha Temple is by far the most prominent tourist destination in Hampi. It’s main tower at the entrance, as high as 50 meters, is visible from very far away. It was a very simple structure when it was built first, however was expanded and brought to life during the Vijaynagar empire. The temple is dedicated to Lord Shiva and Goddess Pampa. One of the most interesting things to see is amazing application of physics – an inverted image of the tower visible from a small peephole. 
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg"><h5 class="attraction-sub-heading"><b>Monkey Temple</b></h5> On top of the Anjaneya hill on the other side of Tungabhadra River is located the famous Hanuman Temple. It is considered to be the birthplace of Lord Hanuman.  One needs to climb almost 700 stairs to reach the top, however the effort is totally worth it! The top point offers an absolutely breath-taking view of the whole town. Even better if you visit the same during sun set. Although the temple is small, the environment is extremely peaceful and serene. 
                    
                     </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hampi_images/Mango%20Tree.jpg"><h5 class="attraction-sub-heading"><b>Mango Tree Restaurant</b></h5> One place you wouldn’t want to miss if you ever visit Hampi is The Mango Tree restaurant. The place has been there since a few years now. However, due to certain government restrictions, the restaurant had to shift to the interiors of Hampi. The place has a goan feel with floor cushions, jute mattresses laid out below. You could order from a wide range of food starting from yummy masala papad and strong ginger tea to baked pastas and sumptuous cheesy pizzas.
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Hampi_images/Beautiful%20sceneries%20enrote%20Anjaneya%20Hill.jpg" data-lightbox="roadtrip" data-title="Beautiful sceneries enroute Anjaneya Hill"><img src="../images/Hampi_images/Beautiful%20sceneries%20enrote%20Anjaneya%20Hill.jpg" id="pic1"></a>
                           <p>Beautiful sceneries<br>enroute Anjaneya Hill</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Carvings%20on%20pillaers%20in%20Vittalla%20Temple.jpg" data-lightbox="roadtrip" data-title="Detailed carvings on pillars at<br> Vijay Vittalla Temple"><img src="../images/Hampi_images/Carvings%20on%20pillaers%20in%20Vittalla%20Temple.jpg" id="pic2"></a>
                           <p>Detailed carvings on pillars at<br> Vijay Vittalla Temple</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg" data-lightbox="roadtrip" data-title="Elephant Stable inside <br>the royal arena"><img src="../images/Hampi_images/Elephant%20Stables%20in%20royal%20empire.jpg" id="pic2"></a>
                           <p>Elephant Stable inside <br>the royal arena</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Fountain%20garden.JPG" data-lightbox="roadtrip" data-title="Tungabhadra Garden, a part of the dam popular for its Musical Fountain"><img src="../images/Hampi_images/Fountain%20garden.JPG" id="pic4"></a>
                           <p>Tungabhadra Garden, a part of the dam popular for its Musical Fountain</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Ganesha%20Temple.jpg" data-lightbox="roadtrip" data-title="Ganesha Temple with 8 feet high Ganesha idol"><img src="../images/Hampi_images/Ganesha%20Temple.jpg" id="pic6"></a>
                           <p>Ganesha Temple with 8 feet high Ganesha idol</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Krishna%20Market%20ruins.jpg" data-lightbox="roadtrip" data-title="Krishna Market ruins"><img src="../images/Hampi_images/Krishna%20Market%20ruins.jpg" id="pic7"></a>
                           <p>Krishna Market ruins</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg" data-lightbox="roadtrip" data-title="Lotus Mahal, place where Queens used to reside in summer months"><img src="../images/Hampi_images/Lotus%20Mahal%20-%20place%20where%20the%20Queen%20used%20to%20reside%20for%20her%20leisure%20time.jpg"></a>
                           <p>Lotus Mahal, place where Queens used to reside in summer months</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Mango%20Tree.jpg" data-lightbox="roadtrip" data-title="Mango Tree Restaurant popular not only for its food but for its feel"><img src="../images/Hampi_images/Mango%20Tree.jpg"></a>
                           <p>Mango Tree Restaurant popular not only for its food but for its feel</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg" data-lightbox="roadtrip" data-title="Monkey Temple on top of Anjaneya Hill"><img src="../images/Hampi_images/Monkey%20Temple%20on%20top%20of%20Anjaneya%20Hill.jpg"></a>
                           <p>Monkey Temple<br>on top of Anjaneya Hill</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Queen's%20Bath.jpg" data-lightbox="roadtrip" data-title="Queen's bath for the royal women to enjoy during leisure time<"><img src="../images/Hampi_images/Queen's%20Bath.jpg"></a>
                           <p>Queen's bath for the royal women to enjoy during leisure time</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg" data-lightbox="roadtrip" data-title="Round raft like stereotypical boats at Tungabhadra river crossing"><img src="../images/Hampi_images/Round%20stereotypic%20boats%20at%20Tungabhadra%20river%20crossing.jpg"></a>
                           <p>Round raft like stereotypical boats at Tungabhadra river crossing</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hampi_images/Virupaksha%20Temple.jpg" data-lightbox="roadtrip" data-title="Virupaksha Temple with tower rising upto 50 meters"><img src="../images/Hampi_images/Virupaksha%20Temple.jpg"></a>
                           <p>Virupaksha Temple with tower rising upto 50 meters</p>
                       </div>
                       
                    </section>
                    
                    
                    </div>
                    
                    
                    
                    
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                    <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Hampi_images/hampi_royalorchid.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Royal Orchid </div>
                        
                        Cost : 4000-6000 <br>
                            
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Hampi_images/hampi_heritageresort.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Heritage Resort </div>
                        
                        Cost : 7000-9000
                        </div>
                    </li>
                </ul>
                    
                    
                    
                    
                    
                    
                    </div>
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>

    