<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Hyderabad</h4>


            <div>
            Although Hyderabad is a major tier-1 city in India, it is one of the most peaceful, green and friendly cities to stay in. It may not seem to be the perfect Holiday destination, but for people who have stayed here for even a short duration, it will be one of the best places to go back to. City life apart, Hyderabad has many beautiful spots including Lakes, historical monuments and some of the most beautiful resorts in the outskrits, which could make your trip to the city worthwhile. On top of that, Hyderabad is known to have an amazing food cluture and is home to the most amazing eat-out joints not to mention, the special Hyderabadi biryani. The city's weather, for most part of the year, acts as perfect icing on the cake!

 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                    Fligts to Hyderabad are readily available from any major Indian city. Hyderabad's Rajiv Gandi International Airport is infact one most well maintained Indian airports. It is located in Shamshabad, which is around 22 Km south of the main Hyderabad city.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Hyderabad is well connected from other nearby cities and towns through bus. Buses of Andhra Pradesh State Road Transportat Corporation (APSRTC) and other South Indian states operate to and from the city regularly.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Hyderabad has three Railway Stations - Hyderabad Deccan, Kachiguda and Secunderabad. All three are fully fucntional and are very well connected to other cities and towns.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Hyderabad is connected to other cities in the state and other South Indian states through a network of highways. Long drives from nearby cities such as Bangalore via Shamshabad – Kurnool - Gooty - Penukonda - Bagepalli - Chikballapur - Devanahalli is quite smooth and refreshing.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Hyderabad has a great weather for most part of the year, especially in comparison to other major cities of India. Months from April-June are hot. However, July is beautiful with the onset of monsoons. The city comes to life in August and September with lush green open spaces studded with big Deccan boulders. Months from October to February are beautiful with very slight chill in the air in the evenings. Cool breeze through out the year is what makes Hyderabad weather absolutely beautiful.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                34-20 degree C
                <br>Humidity 61%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>It’s for a special reason that Hyderabad is close to our hearts. After all, that’s there where our story began, full of adventures and excitement.
 </p><br>
<p>A city where we became section mates and eventually landed up in the same study group in college. It is where we started going to DLF every night for chai. It is where we developed silent likeness for each other which eventually took an intense form. It is where we escaped the college gossip about us through long bike rides to Osman Sagar Lake and countless dinners at Paradise. </p><br>
            <p>Hence, the first place which struck us both for Barney’s birthday celebration was of course, Hyderabad. There were a few resorts we’d heard of in Hyderabad but never visited since they were too expensive to be afforded by a college going non-earning couple. However, now since both of us were <i>apparently</i> settled, we thought of ticking the Resort Wish-list off our Hyderabadi bucket-list.</p><br>
            <p><b>Day-1</b></p>
            
                  
            <p>We took early morning flights from our respective cities and reached Hyderabad almost at the same time. Barney had left his bike with his cousin while leaving Hyderabad. Hence, the first thing we did was to pick his bike and go to out very first destination, our college. </p><br>
             <p><img class="left-align" src="../images/Hyd_Images/isb%20road.JPG"></p>     
            <p>Going back to ISB on the bike after a long time was overwhelming. Nostalgia gushed in, even more when the security guard gave us an “I-remember-you” smile. As we entered the ISB road, we cheered out loud. Beautiful weather, vast spreads of trees on both sides and smooth wide road – ISB is actually nothing less than a beautiful resort. Feeling of extreme wistfulness rushed through me as we crossed the Student Villages. Although I was extremely happy about being back to college, the nostalgia was overpowering! </p><br>
             <p><img class="right-align" src="../images/Hyd_Images/ISB%20SV.JPG"></p>
            <p>We walked to the atrium, which was one of my best spots at ISB. It’s a huge round pit with the academic center on top and stairways leading to each of the SVs from four sides. The atrium was designed in such a way that it was the most airy place on campus, without any artificial cooling whatsoever! We grabbed juice from Sipz – a small juice shop apparently started by one of the alumni and left the college.</p><br><br>
                    <img class="left-align" src="../images/Hyd_Images/biryani.jpg">   
                
<p>We had booked Ellaa Hotel for that day. It is at Hill Ridge which is just 10 minutes away from ISB. We dropped our stuff and went to Udupi at Indra Nagar to have breakfast. Decision for lunch place was a no-brainer. It had to be chicken biryani at Paradise. No biryani in the world beats Paradise biryani. Of course, I am not a biryani connoisseur but the fact that Barney is capable of having it for 3 meals for 5 days in a row bears testimony to my point.<br><br>
       
   <img class="right-align" src="../images/Hyd_Images/spot.jpg">
<p>Our next stop was Osman Sagar Lake. When in college, Barney discovered the ‘spot’. Biking near Osman Sagar once, he swayed away from the main road to one of the small kaccha lanes on the side and rode through the interiors of some barren land, eventually leading him to the boundary of Osman Sagar. And what a discovery that was! The Spot was beautiful, especially during the sun set. We used to go there often. No human figure around, amidst waters extending to horizon on front, and huge boulders among the greens on the back. Going back to the Spot was a much needed battery-recharge! We call it the recharge to come back to the perfect emotional equilibrium. </p><br>
            
              <p><b>Day-2</b></p>
           <img class="left-align" src="../images/Hyd_Images/4%20seasons.jpg">
<p>Next morning, after breakfast at Ellaa, we left on our bike ride. We planned to find another nice place for Biryani and since many had suggested Four Seasons, we planned to go there. Four Seasons is one of the most popular biryani places in Hyderabad, after Paradise of course. We enjoyed our chicken biryani there and left for the Hotel. We bought cake on the way back since it was Barney’s birthday next day and cake cutting at 12 had to be done without fail. We went to ISB one last time and then left for the Palm Exotica Resort at Shankarpalli – which is on the outskirts of the city. </p><br>
            <img class="right-align" src="../images/Hyd_Images/newimage.jpg">
            <p>Finally our fancy resort visit was coming closer! We booked a Meru since no other cab agreed to go that far. The place it around 40-45 KM from the main city. Although Google navigated us well, the whole drive was an adventure. The driver didn’t know the route; we of course didn’t know the route, and we were mainly dependant on Google to direct us through the small and unlit lanes through the interiors of random districts in Telangana. Barney tried to engage the driver in a friendly conversation through-out the way so that driver doesn’t get intimidated riding through the unknown lanes to an unknown location!</p><br>
            <p>We took a sigh of relief once we reached the resort. It really seemed away from humanity considering we could only see thick forest surrounding the whole region. However, the resort in itself was brilliant! We couldn’t help smile and exchange approving glances when we reached the place. It seemed like the place has been constructed to offer a nice weekend getaway to the people staying in the cities. The property is built in such a way that it has a huge area for recreational activities including cricket ground, tennis and squash courts and a huge driveway to the central reception which leads stay area at the back.</p><br>
        <img class="left-align" src="../images/Hyd_Images/2.jpg">    
            <p>Since it was Barney’s birthday, we had booked a villa with a private swimming pool, on his special demand. It was called ‘Temple Tree Villa’. The bell boy drove us to the room in the baggi. We exchanged big smiles as he gave us a quick walk-through of all the facilities inside the suite. The most fantastic part of the suite was the balcony with the swimming pool – Carpet of lush green grass with a fine wood dining table and lovely view of the tranquil pool by the side under the shadow of a big Plumeria tree. A few petals of bright white flowers had fallen on the water making the pool look even lovelier. Dim lights from the lamp-posts made it a perfect setting for enjoying a quiet dinner, of course along with our conversations.</p>
            <img class="right-align" src="../images/Hyd_Images/Wine.jpg">      
                <p>At 12, we had a perfect celebration as Barney cut the cake and we opened the bottle of white wine we had especially bought for this occasion. If you ask me one thing I’d like to change in the way we celebrated the happy day, I would say nothing. Nothing better than being in the company of the person you adore the most on special days.</p><br><br>
            
            <p><b>Day-3</b></p>
     
<img class="left-align" src="../images/Hyd_Images/Swimming.jpg">
<p>We woke up late and had buffet breakfast at the café. We planned to spend the entire day lazing at the resort doing absolutely nothing physically or mentally draining. Barney carried his hard disk which has a good movie collection. We connected the same to the LED TV and enjoyed watching the movie in bed along with lunch ordered from the resort itself. Pool time came next. Although it wasn’t a very deep pool, it was big enough to fit both of us very conveniently. The water had been changed the same morning and was gleaming under the clear blue skies. We had a great time being the pool with company of a breezer or two we had carried especially to the place.</p>
    <p>We enjoyed a short stroll through the entire resort in the evening and watched another movie at night. Barney told me later that it was one of his best birthdays, and for me, one of my best trips! All smiles! 
</p><br><br>
               <p><b>Day-4</b></p>
            <img class="right-align" src="../images/Hyd_Images/dirtcarts.jpg">

<p>We had to go back to Hyderabad to catch flights to our respective cities. Before our check-out, we planned to catch-up on some recreational activities at Palm Exotica. They had a huge play area for adventure sports such as go-carting, rappelling, tri-cycle ride, archery, etc. among others. I am not a huge adventure sports fan. However, Barney got really excited on the idea of buying a package for the same. And to be honest, it turned out to be a great idea! We played 6 sports and it was totally worth it!</p>
<p>We took a cab back to Hyderabad and thought of having our last meal at Paradise itself. Yes, we never leave even a single opportunity of catching up on chicken biryani out there!</p><br>
<p>Ends to perfect holidays are always sad. We went to the airport and parted in the standard Barney style. We went to WH Smith and gifted a book to each other. It’s a lovely gesture and brings a smile while dealing with the parting. The plan was to complete the book till we meet next, which we knew would be very soon :)
</p><br>
            <p>P.S. We did finish our books. Not in the prescribed time, but later. But nevertheless, we ensure we keep our promises to each other :)</p><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/Hyd%20char%20minar%20(1100%20x%20734).jpg"> <h5 class="attraction-sub-heading"><b>Char Minar</b></h5>Char Minar may seem like a one of the most cliché and touristy destinations. However, this place would never disappoint you. If you’re a foodie, then best time to visit Char Minar is late night. The sheer variety of street food joints will amaze you. Chicken sticks, fried fish, Haleem, dosa at Bandi and Irani Chai at Nimrah Café are must try. You shouldn’t miss the oldest biryani joint at Char Minar – Shah Ghouse. The hustle bustle and vibe of the entire place during Ramzan is worth witnessing. Char Minar is also popular for its huge ‘Bangle market’ and shopping for Hyderabadi pearls.<br>
                        
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/gandipet-lake-route-map%20(700%20x%20490).jpg"><h5 class="attraction-sub-heading"><b>Osman Sagar lake</b></h5>It is one of the three lakes in the city, other two being Hussain Sagar and Himayat Sagar. It is mainly visited mainly by localities as a popular picnic spot. The lake was created artificially during the construction of a dam on Musi River. The place has many options: boating, entertainment parks nearby, guest houses nearby with amazing stay and food options. However, if you’re looking for a place to spend a short while in peaceful and serene environment, go to slightly publically inaccessible openings near the lake area. You won’t be disappointed.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/shutterstock_114661879%20edited.jpg"> <h5 class="attraction-sub-heading"><b>Golconda Fort</b></h5>
                  Golconda Fort is almost as clichéd and touristy as Char Minar. However, one should visit the same just for the sheer beauty of the fort and the architectural intelligence with which it was built. The best time to visit the fort is in non-summer months. Take a shorter tour of the place which should take around 1 hour. Take help from an authorized guide to walk through the fort, the value of your visit will be multi-folded. You would be amazed by the intelligence with which some of the sports have bene built. Do attend the Sound and Light show in the evening which talks about the history of the fort.
    
                     </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hyd_Images/newimage.jpg"><h5 class="attraction-sub-heading"><b>Palm Exotica Resort, Shankarpalli</b></h5>The resort is located in Shankarpalli in the outskirts of the city around 30 Km from main Hyderabad. It is constructed on the highlands away from the hustle bustle of the city mainly to offer the localites a perfect peaceful weekend getaway. The resort has a huge area dedicated to open spaces, sports grounds and courts, adventure Sports Park, stay and dining spaces. You can choose from basic room options to luxury villas. We’d recommend you to choose one of the villas with a private pool attached. The rooms are comfortable and the food is good. The main highlight of the resort is the adventure sports packages which includes games such as go-carting, ATV ride, trickle automatic, land zorbing, and much more.


                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Hyd_Images/2.jpg" data-lightbox="roadtrip" data-title="Beautiful rooms of the Temple Tree Villa at Palm Exotica Resort Shankarpalli"><img src="../images/Hyd_Images/2.jpg" id="pic1"></a><br><br>
                           <p>Beautiful room at the Temple Tree Villa, Palm Exotica Resort, Shankarpalli</p>
                       </div>
                       
                            
                                
                            
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/3.jpg" data-lightbox="roadtrip" data-title="The grand balcony with a private swimming pool and dining table"><img src="../images/Hyd_Images/3.jpg" id="pic2"></a>
                           <p>The grand balcony with a private swimming pool and dining table</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Hyd_Images/IMG_20150721_111544905%20(506%20x%20370).jpg" data-lightbox="roadtrip" data-title="Palm Exotica's beautiful and grand property"><img src="../images/Hyd_Images/IMG_20150721_111544905%20(506%20x%20370).jpg" id="pic2"></a>
                           <p>Palm Exotica's beautiful and grand property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/dirtcarts.jpg" data-lightbox="roadtrip" data-title="Adventure sports including dirt cart, ATV and several others at Palm Exotica"><img src="../images/Hyd_Images/dirtcarts.jpg" id="pic4"></a>
                           <p>Adventure sports including dirt cart, ATV and several others at Palm Exotica</p>
                       </div>
                       
                      
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/Swimming.jpg" data-lightbox="roadtrip" data-title="View of the swimming pool under the shadow of a big Pumeria Tree"><img src="../images/Hyd_Images/Swimming.jpg" id="pic6"></a>
                           <p>View of the swimming pool under the shadow of a big Pumeria Tree</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/biryani.jpg" data-lightbox="roadtrip" data-title="The awesomest lip smacking chicken biryani at Paradise Restaurant"><img src="../images/Hyd_Images/biryani.jpg" id="pic7"></a>
                           <p>The awesomest lip smacking chicken biryani at Paradise Restaurant</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/Hyd%20char%20minar.jpg" data-lightbox="roadtrip" data-title="Char Minar famous for the adjoining Bangle market, Irani Chai and Shah Gouse Biryani"><img src="../images/Hyd_Images/Hyd%20char%20minar.jpg"></a>
                           <p>Char Minar famous for the adjoining Bangle market, Irani Chai and Shah Gouse Biryani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/newimage.jpg" data-lightbox="roadtrip" data-title="Palm Exotica resort's amazing property"><img src="../images/Hyd_Images/newimage.jpg"></a>
                           <p>Palm Exotica resort's amazing property</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/isb%20road.JPG" data-lightbox="roadtrip" data-title="ISB Road inside the ISB campus offers the the most beautiful stroll"><img src="../images/Hyd_Images/isb%20road.JPG"></a>
                           <p>ISB Road inside the ISB campus offers the the most beautiful stroll</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/4%20seasons.jpg" data-lightbox="roadtrip" data-title="4 Seasons Restaurant at ToliChowki popular for its chicken biryani"><img src="../images/Hyd_Images/4%20seasons.jpg"></a>
                           <p>4 Seasons Restaurant at ToliChowki popular for its chicken biryani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/spot.jpg" data-lightbox="roadtrip" data-title="Beautiful spot discovered in the interriors of Osman Sagar Lake"><img src="../images/Hyd_Images/spot.jpg"></a>
                           <p>Beautiful spot discovered in the interriors of Osman Sagar Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hyd_Images/ISB%20SV.JPG" data-lightbox="roadtrip" data-title="ISB Hyderabad's lovely campus in the evening"><img src="../images/Hyd_Images/ISB%20SV.JPG"></a>
                           <p>ISB Hyderabad's lovely campus in the evening</p>
                       </div>
                
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Resorts For Couples </div>
                    
                    <ul>
                
                    
                    
                    <li>
                        <div class="col-md-4">
                            <img src="../images/Hyd_Images/newimage%20-%20Copy.jpg" class="icon-left-align">

                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Palm Exotica Resort, Shankarpalli</div>
                        
                        Cost : 7000-15000 <br>
                            
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Hyd_Images/golconda%20resort.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Golconda Resorts & Spa, Gandipet</div>
                        
                        Cost : 4000-15000
                        </div>
                    </li>
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>