<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Jaipur</h4>


            <div>
            About Jaipur
Very popularly known as the Pink City of India, will surely make you fall in love and see everything around through pink rose coloured glasses. Jaipur is one city which has a rich royal history, many kings and queens and their multiple generations resided in lovely palaces and forts which still look as majestic and beautiful as they were and have a rich history associated with them. Not to forget the vibrant and colourful vibe of the city with respect to its handicrafts culture, the zest with which the festivals are celebrated there and of course, a very rich food culture with the Rajasthani Thali and Dal Baati dominating the whole list. The beauty of the place will surly enthral you and give you two a perfect destination for a weekend get away from nearby cities, such as Delhi.

 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Jaipur has an international airport with direct flights from a few cities in the Middle East. The airport is located around 10 Kms from the main city. However, connecting flights via Delhi are the most popular. Flights from other major cities in India are easily available to and from Jaipur.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses to Jaipur are easily available from  major Indian cities. Delhi is the most common boarding point for buses to Jaipur. Government state run buses from Rajasthan State Road Transport Corporation ply very frequently from Delhi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                    Jaipur has a well-connected railway network and is connected to mall major cities in India. Multiple options are available, especially from Delhi and other neighbouring cities. In fact, a special luxury train called “Palace on Wheels” runs especially between Delhi and Jaipur. Although its expensive, it’s worth it to take the same considering you’re travelling with your special someone.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      Drives to Jaipur from Delhi and other nearby cities are quite popular, especially in good weather. Jaipur is well connected through an established road network. Routes could be taken going via National Highways 8, 11 or 12, which connect straight to Jaipur. Lovely view of the Aravalis on the way would offer quite a ride!
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      The best time to visit Jaipur is during winters. The weather is cool all through the day and night and might get chilly if you visit during Dec-Feb. It’s a great time to enjoy sight-seeing during the day and snuggle up cozily during the night. Even monsoon months (July-Sep) are great if you both enjoy the rains. You’d see the city in its real form with waters reflecting the pinks. Summer in Jaipur is hot and should be avoided.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                17-30 degree C
                <br>Humidity 45%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Rajasthan, India’s western frontier holds many tourist attractions in its fold. Jaipur, Jodhpur, Ajmer, Udaipur, and Pushkar being a few from the elite list. No wonder it is among one the states with highest influx of foreign travellers.</p><br>

            <p>The common thread among all these places is the subtle glimpse in the grandeur past of these places. Love is in the air and hence it makes them an ideal destination for all love birds to flock through. My fiancé, Srishti and I were sure that a visit to Rajasthan beckons for
us to spend some quality time together, more specifcally Jaipur.</p><br>
             <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Mansingh%20hotel.jpg"></p><br>
            
            <p><b>Day-1</b></p>
            <p>The first leg of visit was a short 2 day stay in Jaipur which turned out to be our short exposure to the city’s glorious past. Our stay was arranged at Hotel Man Singh which is suitably located in the city. The room was comfortable with a courteous staff.
</p><br>
<p>Jaipur is famous for its forts and palaces and it would have been a crime to miss witnessing these monuments. We hired a Cab and went straight away to Amber Fort. Some of the scenes of the Bollywood movie Jodha Akbar were shot at Amber fort and a first look at the fort justifies the
selection. The guided tour took around 90 minutes and we traversed through the Diwan-e-Aam, Diwan-e-Khas, its beautiful courtyards. Glass engravings have been used beautifully. In certain sections of the palace, beautiful wall art is still present telling its own stories.</p><br>
            <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg"></p><br>
            
            <p>It was then followed by a visit to the Nahargarh Fort. It stands tall overlooking the city of Jaipur. I am sure a view of the city from the fort in the night would have been beautiful but unfortunately we were a bit short on time. Srishti was elated as this was her first visit to any old fort.
</p><br>
             <p><img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"></p><br>
<p>We had our dinner at Chokhi dhani in the evening. For those who haven’t experienced this before, this is a must while your stay at
Jaipur.</p><br>      
            
            <p><b>Day-2</b></p>
<p>TThe second day started with a a visit to Jal Mahal. A treat to the eyes, it is situated bang in the middle of the Man Sagar Lake in
Jaipur. We didn’t go inside the same and spend some time at the banks of the lake itself. After that we went to The famous Hawa Mahal. I had
read about this from my childhood in various text books, and was quite excited at this opportunity. The first looks of the palace though
disappointed. I had imagined a more grand structure but the actual structure was nowhere close to my imaginations. We spend around 30 mins at Hawa Mahal and most of the time was spend in taking a few selfies of ours.</p><br>
             <img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/Hawa%20Mahal.jpg"><br><br>
            <img class="center-align-full-row" src="../images/Gaurav_Jaipur_images/jalmahal.jpg"><br><br>
<p>After this we went to the Albert Hall Museum. The museum is spread over two floors and holds some very old artefacts pertaining to the
history of Rajasthan. For those who find visiting museums mundane may skip this. We even went to Jal Mahal, which was a beautiful experience in itself. Its a fort situation in middle of a lake which offers a beatiful view.</p><br>
            <p> We could not cover places like Jantar Mantar, Jaigarh Fort due to paucity of time. However this trip to Jaipur was a refreshing experience as it is different from the run of the mill beach destinations, hill stations.</p><br><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg"> <h5 class="attraction-sub-heading"><b>Amber Fort</b></h5>Also called Amer Fort owing to its location in Amer, which is around 10 Kms from main Jaipur city. One of the most acclaimed forts in our country, the beautiful structure was built by Raja Moan Singh in sixteenth century. Built in red sandstone and marble, the fort looks grand and majestic with a perfect blend of Hindu-Muslim architecture. The fort is very intelligently constructed with the main entrance facing the east from where a magnificent view of the sunrise can be observed. Take a walk through various sections including Sheesh Mahal, Sila Devi Temple etc. will leave you both mesmerized and lost in the history. Do not miss the elephant ride upto the fort. Crossing through the lovely views of the fields and forests on the foothills of Aravalis on the elephant together will sure give you a beautiful experience.<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"><h5 class="attraction-sub-heading"><b>Nahargarh Fort</b></b></h5>This fort served as a summer retreat fort the royalty. Since its structured around 600 ft above the main Jaipur city, the fort offers an amazing view of the city from the top. If you’re the romantic type (we believe we all are to certain extent), wait till the dusk and see get a birds eye view of the Jaipur city with lights shimmering and glittering while you two could canoodle amidst the lovely ambiance! The place has dine-out options, main one called Padao, where you two could enjoy a nice meal with drinks.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Gaurav_Jaipur_images/Jal%20Mahal.jpg"> <h5 class="attraction-sub-heading"><b>Jal Mahal</b></h5>
                 Yet another beautiful monument in Jaipur is Jal Mahal, located around 5 Kms before Amer. It’s a beautiful palace constructed in middle of Man Sagar Lake. The fort is apparently five storeys but only one floor lies above water, the rest being submerged. The top floor flaunts a lovely garden where you could take a short stroll. The best time to visit Jal Mahal is Dusk during sunset when the lovely orangish yellow hues of the sky get resonated by the waters giving a lovely and mesmerizing view!
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg" <h5 class="attractions-sub-heading"><b>Chokhi Dhani</b></h5><br>
                   If by any chance you skip visitng Jaipur during festive celebrations, worry not because this place celebrates the vibrant and colourful culture of the city day in and day out, every day. A five star rated hotel built in a form of a local Jaipur village is sure to give you an amazing experience of the city – be it the food or the folk dances, the festivities and celebration. From puppet shows to folk dances, Choki Dhani is sure to enthral you with a vivid colourful vibe of the city. Do not miss having the special Rajasthani Thali rich with local flavours and variety. Or ever better, plan your stay at this place and we’re sure you both will love it!</p>


                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg" data-lightbox="roadtrip" data-title="The beautiful Amer Fort made in sandstone and marble"><img src="../images/Gaurav_Jaipur_images/Amer%20Fort.jpg" id="pic2"></a>
                           <p>The beautiful Amer Fort made in sandstone and marble</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Chokhi%20Dhani%20Thali.jpg" data-lightbox="roadtrip" data-title="Chokhi Dhani"><img src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani%20Thali.jpg" id="pic4"></a>
                           <p>Chokhi Dhani</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg" data-lightbox="roadtrip" data-title="The Special Rajasthani Thali at Chokhi Dhani"><img src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani.jpg" id="pic7"></a>
                           <p>The Special Rajasthani Thali at Chokhi Dhani</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/elephant.jpg" data-lightbox="roadtrip" data-title="Elephant Ride at Amer Fort"><img src="../images/Gaurav_Jaipur_images/elephant.jpg"></a>
                           <p>elephant Ride at Amer Fort</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/jalmahal.jpg" data-lightbox="roadtrip" data-title="Evening view of the beautiful Jal Mahal"><img src="../images/Gaurav_Jaipur_images/jalmahal.jpg"></a>
                           <p>Evening view of the beautiful Jal Mahal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg" data-lightbox="roadtrip" data-title="Nahargarh Fort"><img src="../images/Gaurav_Jaipur_images/Nahargarh%20Fort.jpg"></a>
                           <p>Nahargarh Fort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Gaurav_Jaipur_images/View%20from%20Nahargarh%20Fort.jpg" data-lightbox="roadtrip" data-title="Birds eye view of Jaipur City from Nahargarh Fort"><img src="../images/Gaurav_Jaipur_images/View%20from%20Nahargarh%20Fort.jpg"></a>
                           <p>Birds eye view of Jaipur City from Nahargarh Fort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg" data-lightbox="roadtrip" data-title="Hawa Mahal"><img src="../images/Gaurav_Jaipur_images/Hawa%20Mahal.jpg"></a>
                           <p>Hawa Mahal</p>
                       </div>
                        
                       
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Gaurav_Jaipur_images/Chokhi%20Dhani%20stay.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Chokhi Dhani Resort</div>
                        
                        Cost : 7,500-10,000
                        </div>
                    </li>
                        
                          <li>
                        <div class="col-md-4">

                            <img src="../images/Gaurav_Jaipur_images/Mansingh%20hotel%20stay.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Hotel Mansingh Jaipur</div>
                        
                        Cost : 4,000-5,000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>