<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Kanha National Park</h4>


            <div>
            Kanha’s enthralling beauty is known to have inspired Rudyard Kipling and featured as the backdrop of the famous ‘The Jungle Book’. Sprawling over 2,000 square kilometres (940 sq km of core zone and 1,067 sq km of buffer zone) and home to nearly 98 tigers, it is one of the few forests to be blessed with lush vegetation through the year (unlike the dry deciduous forests of Ranthambore). The winding earthy mud trails of the verdant forest are lined by the fragrant sal and bamboo trees which make up over 65% of the landscape. The rest comprises vast golden grass meadows, swamp lakes (Tals) and the occasional streams – the cool paths of which make for the tiger’s favourite hangout spot in the summer.
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   You could fly to Jabalpur and then drive down to Kanha. Direct flights from Mumbai and Delhi are available with one flight per day. The benefit of going via Jabalpur is that you can visit the Dhuandhar falls and Bhedaghat there. 
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     The closest cities to Kanha where buses could reach are Jabalpur (176 Kms) and Gondia (200 Kms). Buses could be taken from major cities to these places after which a cab would have to be taken to reach Kanha National Park. Other nearby cities include Bilaspur (245 Kms), Nagpur (270 Kms) and Raipur (350 Kms).
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                      Vidharbha Express super-fast express train runs a daily service from Mumbai CST to Gondhia. Departure time: 7:30 pm, reaches Gondhia by 11 am. From Gondhia, you could travel in cabs. If possible, you could ask the hotel/ resort to arrange a cab for you. It a 3 hour long drive covering 110 km.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Driving to Kanha from one of the nearby cities in Madhya Pradesh should be okay. However, taking a ride in the summer season might not be the best idea. The cities from where the drive could be started are Raipur, Jabapur or Nagpur. Usually people drive down to Kanha from Indore via Jabalpur via NH12.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       The peak safari season falls in summers and winters and the park is open from 16th October to 30th June, and closed in the monsoons. Since the safaris are done in open jeeps, monsoons make it impossible to have a good experience. The National Park is mostly closed during the monsoon months.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                30-19 degree C
                <br>Humidity 84%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>We had a rather enterprising forest guide Naresh, who in an attempt to explain the forest geography, made this rather creative sketch while we had stopped for breakfast during our safari. A clearer map of the sketch is shown adjacently.</p><br>

                          <p><img class="center-align-full-row" src="../images/Neha_Kanha_Images/kanha-map.jpg"></p><br>
            <p>Kanha is divided into three main zones – Kanha, Kisli and Mukki, and can be accessed from the gates of that area. Recently, a fourth gate entering the Sarahi zone in the north of the forest has been opened up. The light green area is the core zone and the darker shade represents the buffer zone where the villages and resorts are located. Only part of the core zone (left of the red line)  is accessible to the general public for the safari, thereby reducing the chances of spotting a tiger by that much more.</p><br>
           
            <p><b>The Safari Routine</b></p><br>
            <p>The morning alarm wakes you at 4:45 am to freshen up (don’t bother bathing, as you will get dirty on the safari) and assemble at the reception where tea/coffee awaits. Once you’ve packed yourself in the open air jeeps that seat about 7 people (including the driver), you set off at about 5:15 am to enter the core area through one of the gates. You reach the gate, thinking you are the probably the first ones to reach, but there is a beeline of jeeps waiting to be cleared by the forest officials.</p><br>
             <p><img class="center-align" src="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg"></p><br>
            
            <p>Kanha reserve is much stricter that the others for following the rules of the safari – which means an identity check of who is travelling, allocating of the zones to your particular jeep and penalizing those for violating the zones /timings of the safari. A guide will hop on to your jeep and sit in his allocated seat (at the back). Having a guide on each safari is a great thing as they have a trained eye for spotting camouflaged animals/birds, spotting pug marks and a keen ear to identify alarm calls – possibly the only two tools available to zero in on the tigers possible location. Of course they also know the forest landscape well and know which watering hole is the tiger’s favourite, in case you catch a glimpse, quenching his/her thirst.</p><br>
                    <img class="center-align-full-row" src="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg"><br><br>    
<p>Tigers normally hunt at dawn and tend to wander about freely before the sun comes out, which is when they retreat to the cool shady spots. Hence the importance of a morning safari which lasts till 11 am. At around 10 am we park at a forest establishment in the core zone for breakfast. The afternoon routine is the same except you start at 3 pm after lunch and hope to catch the beauty of the setting sun on the forest horizon. Of course you must exit before 6:30 pm which is the perfect time to sip on some chai at a local tea stall and share stories about the respective safaris.</p><br>
            <p><img class="center-align-full-row" src="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg"></p><br>
            <p><b>Our Experience</b> </p><br>         
<p>I’m a fan of first rain showers, but not when I’m on a Tiger safari. It was a sultry day in Kanha, but the rain gods decided to show up and spoil our party, sending any hope of seeing tigers to take cover deep inside the forest. On the upside however, we saw dancing peacocks in the beautiful rainy milieu of the forest combined with the sweet scent of wet soil mixed with the fragrance of the sal – a real welcome treat. After two safaris, we had become sort of experts at tracking the tiger through the alarm calls and pug marks, but it remained shy. We could tell from a distance whether the approaching jeep had a sighting and many times, hand gestures and raised eyebrows replaced questions.</p><br>
            <p>But it wasn’t until the third safari in the Kanha zone, when within a matter of seconds, as we followed the alarm calls, 15 jeeps had stopped in a line whispering loudly amidst the sound of camera clicks akin to paparazzi attack, pointing to an area about 20 yards away – a 2 year old male tiger, having a little afternoon siesta somewhat like a little kitten. He raises his head to see what the commotion is all about through one open eye, turns around, stops midway with all four paws in the air for a few seconds, turns again and goes back to sleep.</p><br>
             <img class="center-align-full-row" src="../images/Neha_Kanha_Images/Sleeping%20positions%20of%20the%20mighty%20cat.jpg"><br><br>
<p>Somewhere through the silent noises, we could hear our heartbeats loud and clear. The jinx was finally broken, and when the other jeeps asked us “Tiger dikha kya?” our jubilant voices could finally exclaim “Haan! Dikh gaya”</p><br>
            
            <p><b><i>This is an extract from Neha's personal travel blog, "The Wanderer's Ways". To further read her interesting account on Kanha, please visit her blog page<a href=https://thewanderersways.wordpress.com/2014/05/31/kanha-national-park-tiger-game-reserve/#more-66> here</a></i></b></p><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Kanha_Images/Sleeping%20positions%20of%20the%20mighty%20cat.jpg"> <h5 class="attraction-sub-heading"><b>Tiger Spotting</b></h5>William Blake certainly asked all the right questions in his poem ‘The Tyger’ as he wrote about the creation of one of the most gorgeous creatures of the animal kingdom – The Tiger. Seeing this magnificent creature in flesh and blood is an experience unlike any other. Whether it is while walking around in a slow graceful gait marking its territory, or sitting in the cool shade unaffected by the veering eyes and the numerous clicking camera lenses, or during the cold blooded hunt for its prey; heck, even while it is sleeping! – finding a tiger in the wild feels as rewarding as can be.<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg"><h5 class="attraction-sub-heading"><b>Barasingha Deer</b></b></h5>Kanha is also the only forest in India which is home to the Barasingha deer. Recognizable by it’s majestic antlers, it has typically 6 tines on one side, thereby making it 12 (bara) tined (singha). Also known as a swamp deer or hard swamp deer, it can graze by sticking its head underwater for up to 10 to 15 min. Villages situated in the core zone were evacuated to create a natural habitat for the precious Barasingha which was on the verge of extinction.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Kanha_Images/Indian%20bison%20(Gaurs)%20grazing,%20a%20rhesus%20macaque%20and%20a%20peacock,%20langurs%20perched%20on%20a%20fallen%20branch,%20snake%20spotting.jpg"> <h5 class="attraction-sub-heading"><b>Rich Wildlife</b></h5>
                  Kanha boasts of a rich variety of wildlife such as langurs, leopards, spotted deer, sambar dear, bears, bisons, sloth bear, peacocks and numerous other birds. In the picture you'll see Indian bison (Gaurs) grazing, a rhesus macaque and a peacock, langurs perched on a fallen branch, spotted snakes.
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Kanha_Images/Wooly%20necked%20stork,%20golden%20oriole,%20black%20drongo,%20bluejay.jpg" <h5 class="attractions-sub-heading"><b>Bird Spotting</b></h5><br>
                   Kanah is also a known destination for bird spotting and nature walks. In the picture you see Wooly Necked Stork, Golden Oriole, Black Drongo and Bluejay.

                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg" data-lightbox="roadtrip" data-title="Beauty in symmetry. The rare Barasingha deer"><img src="../images/Neha_Kanha_Images/Beauty%20in%20symmetry.%20The%20rare%20Barasingha%20deer.jpg" id="pic2"></a>
                           <p>Beauty in symmetry. The rare Barasingha deer</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Kanha%20Cover.jpg" data-lightbox="roadtrip" data-title="The think forest wuth towering Sal trees"><img src="../images/Neha_Kanha_Images/Kanha%20Cover.jpg" id="pic4"></a>
                           <p>The think forest wuth towering Sal trees</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Langur%20perched%20on%20%E2%80%98Fire%20of%20the%20Forest%E2%80%99%20tree.jpg" data-lightbox="roadtrip" data-title="Langur perched on ‘Fire of the Forest’ tree"><img src="../images/Neha_Kanha_Images/Langur%20perched%20on%20%E2%80%98Fire%20of%20the%20Forest%E2%80%99%20tree.jpg" id="pic7"></a>
                           <p>Langur perched on ‘Fire of the Forest’ tree</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg" data-lightbox="roadtrip" data-title="Safari jeeps waiting to enter the park"><img src="../images/Neha_Kanha_Images/Safari%20jeeps%20waiting%20to%20enter%20the%20park.jpg"></a>
                           <p>Safari jeeps waiting to enter the park</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Sunrise%20over%20the%20Kanha%20forest%20meadows.jpg" data-lightbox="roadtrip" data-title="Sunrise over the Kanha forest meadows"><img src="../images/Neha_Kanha_Images/Sunrise%20over%20the%20Kanha%20forest%20meadows.jpg"></a>
                           <p>Sunrise over the Kanha forest meadows</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg" data-lightbox="roadtrip" data-title="Tiger pug marks"><img src="../images/Neha_Kanha_Images/Tiger%20pug%20marks.jpg"></a>
                           <p>Tiger pug marks</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg" data-lightbox="roadtrip" data-title="Views from the safari jeep"><img src="../images/Neha_Kanha_Images/Views%20from%20the%20safari%20jeep.jpg"></a>
                           <p>Views from the safari jeep</p>
                       </div>
                        
                        
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20Taj%20Banjaar%20Tola.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Taj Banjaar Tola</div>
                        
                        Cost : 20,000-35,000
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20The%20Baagh.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Baagh Retreat</div>
                        
                        Cost : 5,500-10,000
                        </div>
                    </li>
                        
                         <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Kanha_Images/Stay%20-%20Baghira.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Baghira Log Huts</div>
                        
                        Cost : 5,500-8,000
                        </div>
                    </li>
                        
                </ul>
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>