<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Kodaikanal</h4>


            <div>
            Resting in the gentle laps of the Palani hills of the Dundiagal district, Tamilnadu, Kodaikanal is a Kaleidoscope of Nature. Kodaikanal in Tamil means ‘The Gift of the Forest’ and if you visit this beautiful Hill station, you will know why. This rich tapestry of nature offers a rare glimpse of nature in all its pristine glory, and maybe that’s why it is referred to as the “Princess of Hill Stations.”<br>
                Tt was established in 1845, as a refuge from the summer heat of southern India. At an altitude of around 7200 feet above sea level, the magic of Kodaikanal lies in its pristine nature, vintage charm and breathtaking natural scenery that mesmerizes anyone who visits the place, nature lover or not. This charming town is the perfect destination for a romantic getaway, any time of the year. 

 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   The nearest airport is Madurai, around 120 Kms away. It takes 3 hours to reach Kodaikanal if you take a bus, which are quite frequent. If you don’t have a flight to Madurai, then you can fly to Coimbatore which is around 150 Kms away. Coimbatore is well connected to all major Indian cities.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Frequent buses are available from nearby cities such as Chennai, Pondicherry and Coimbatore and Madurai. Kodaikanal is well connected via motorable roads on which many private and state run buses ply.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       The closest station to Kodaikanal is the one on Kodai Road. It is around 100 Kms away from Kodaikanal. Taxis are easily available from the railway station.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       You can always make it a road trip and enjoy the drive to Kodai. A long drive, but it would be a great way to start a weekend getaway if you both enjoy driving. The drive from Chennai is 439 Kms and from Bangalore its 310 Kms. Kodaikanal is one of the most popular road trip destinations from Madurai considering it’s only a 3-3.5 hours drive.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        Kodaikanal has a year-round pleasant weather being a hill station. However, the peak season is from November to January. The minimum temperatures go down to 8-10 degrees hence making the environment perfect for a nice romantic trip! If you’re in mood for a quiet trip then January should be avoided since it’s very commonly visited at the time of Pongal celebrations.<br>
                    March to May are summer months. Temperatures range from 34-20 degrees. It’s a pleasant weather to enjoy the outdoors. Monsoons in Kodai are beautiful too (June to Sep). The rich flora comes alive during this time and pure fragrant air makes the whole ambiance lovely!
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                11-20 degree C
                <br>Humidity 88%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
            <p><b>Take the Coaker’s Walk!</b></p>
<p>Remember those long winding walks that you two used to take some time back, but lost its attraction in the hustle bustle of everyday? Well, it’s time to bring back some old memories with the Coaker’s Walk! A kilometer long pathway along the edge of a steep slope, it offers breathtaking views of Dolphin’s Nose, Pambar River, and even the city of Madurai. It opens 7 am onwards, so try and get there early to catch the sunrise together! It’s one of the most beautiful experiences to enjoy a romantic walk amidst lovely orange shades in the sky. Might sound cliché, but totally worth it! :)</p><br>
                          <p><img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg"></p><br>
            <p><b>Chocolate in the Market</b></p>
            <p>A trip is never complete without some local shopping and Kodaikanal doesn’t disappoint. If you are lovers of chocolate (Duh! Who isn’t?), then you are going to have a chance to enjoy some amazing homemade chocolate, something that is unique to Kodai. Buy a slab, find a bench and enjoy it together! Chocolate & romance always go together :)</p>
            <p>You can also buy some glass made goods & also some wooden goods in Kodai.</p><br>
             <p><img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg"></p><br>
            
            <p><b>Want to impress with some flowers? Bryant Park is your place.</b></p>
            <p>If you love flowers, well this is your paradise. Here, there is a special section of roses, where you can find approximately 740 of its varieties. Boasting of over 325 species of trees, cactuses and shrubs, this park appears like a gorgeous rainbow when all its flowers bloom. This botanical park is located near a lake and is famous for its annual Horticulture Show.</p><br>
            
             <p><b>Who doesn’t like Waterfalls?</b></p>
<p>Kodaikanal has earned quite a reputation for its ethereal waterfalls like the Bear Shola Falls, Silver Cascade, Glen Falls, and Fairy Falls. The many waterfalls in Kodaikanal make a great romantic outing and discovering all of them is more than just a day's job!</p><br>
             <img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"><br><br>
            
            <p><b>The Kodai Lake</b></p>
            <p>It is the most popular place in Kodaikanal. A star shaped lake where you can enjoy the evening with pedal bots, row boats or just cycle around the lake on a bicycle (you will have a lot of fun cycling in Kodaikanal).  Rent out a row boat or a pedal boat and just spend the evening lazily just enjoying each other’s company enveloped in the pristine beauty of nature together.</p><br>
           <img class="center-align-full-row" src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg"> <br> <br>
    <p>These are just a few of the amazing places you can enjoy in Kodaikanal together. You can explore the mysterious Devil’s Kitchen, hike the Dolphin’s nose, trek the 80 mile round trekking route of kodai, experience history in the Dolem’s cave and many more, Kodaikanal is ready to leave you & your loved one spell bound! </p><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg"> <h5 class="attraction-sub-heading"><b>Bryant Park</b></h5>If you love flowers, well this is your paradise. Here, there is a special section of roses, where you can find approximately 740 of its varieties. Boasting of over 325 species of trees, cactuses and shrubs, this park appears like a gorgeous rainbow when all its flowers bloom. This botanical park is located near a lake and is famous for its annual Horticulture Show.<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg"><h5 class="attraction-sub-heading"><b>Coaker's Walk</b></b></h5>A kilometer long pathway along the edge of a steep slope, it offers breathtaking views of Dolphin’s Nose, Pambar River, and even the city of Madurai. It opens 7 am onwards, so try and get there early to catch the sunrise together! It’s one of the most beautiful experiences to enjoy a romantic walk amidst lovely orange shades in the sky. Might sound cliché, but totally worth it!
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"> <h5 class="attraction-sub-heading"><b>Waterfalls at Kodai</b></h5>
                  Kodaikanal has earned quite a reputation for its ethereal waterfalls like the Bear Shola Falls, Silver Cascade, Glen Falls, and Fairy Falls. The many waterfalls in Kodaikanal make a great romantic outing and discovering all of them is more than just a day's job!
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg"> <h5 class="attraction-sub-heading"><b>The Kodai Lake</b></h5>
                   It is the most popular place in Kodaikanal. A star shaped lake where you can enjoy the evening with pedal bots, row boats or just cycle around the lake on a bicycle (you will have a lot of fun cycling in Kodaikanal).  Rent out a row boat or a pedal boat and just spend the evening lazily just enjoying each other’s company enveloped in the pristine beauty of nature together.

                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg" data-lightbox="roadtrip" data-title="Bryant Park gleaming in midst of lovely flowers all over"><img src="../images/Moheth_Kodaikanal_Images/bryant%20park.jpg" id="pic1"></a>
                           <p>Bryant Park gleaming in midst of lovely flowers all over</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg" data-lightbox="roadtrip" data-title="Coaker's Walkway at sunrise"><img src="../images/Moheth_Kodaikanal_Images/Coaker's%20walk.jpg" id="pic2"></a>
                           <p>Coaker's Walkway at sunrise</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg" data-lightbox="roadtrip" data-title="Delicious homemade chocolates at Kodai"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20chocolates.jpg" id="pic2"></a>
                           <p>"Delicious homemade chocolates at Kodai"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg" data-lightbox="roadtrip" data-title="Cobwebs of branches glistening on surface of lovely Kodai Lake"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20lake.jpg" id="pic4"></a>
                           <p>Cobwebs of branches glistening on surface of lovely Kodai Lake</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/kodai%20mountain%20view.jpg" data-lightbox="roadtrip" data-title="The majestic Kodai Mountain view"><img src="../images/Moheth_Kodaikanal_Images/kodai%20mountain%20view.jpg" id="pic7"></a>
                           <p>The majestic Kodai Mountain view</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/Kodai%20village%20view.jpg" data-lightbox="roadtrip" data-title="Kodai Village view"><img src="../images/Moheth_Kodaikanal_Images/Kodai%20village%20view.jpg"></a>
                           <p>Kodai Village view</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg" data-lightbox="roadtrip" data-title="Waterfalls at Kodaikanal"><img src="../images/Moheth_Kodaikanal_Images/kodai%20waterfall.jpg"></a>
                           <p>Waterfalls at Kodaikanal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/terraced%20fields%20at%20kodai.jpg" data-lightbox="roadtrip" data-title="Terraced fields at Kodaikanal"><img src="../images/Moheth_Kodaikanal_Images/terraced%20fields%20at%20kodai.jpg"></a>
                           <p>Terraced fields at Kodaikanal</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Moheth_Kodaikanal_Images/twilight%20view%20of%20kodai%20lake.jpg" data-lightbox="roadtrip" data-title="Twilight view of the Kodai Lake"><img src="../images/Moheth_Kodaikanal_Images/twilight%20view%20of%20kodai%20lake.jpg"></a>
                           <p>Twilight view of the Kodai Lake</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Moheth_Kodaikanal_Images/Fern%20Creek%20Stay.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        The Fern Creek</div>
                        
                        Cost : 8000-10000
                        </div>
                    </li>
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Moheth_Kodaikanal_Images/le-poshe-by-sparsa.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Le-Poshe by Sparsa</div>
                        
                        Cost : 6000-8000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>