<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Lansdowne</h4>


            <div>
            Lansdowne is one of the quietest and non-commercial hill stations of India located in Uttarakhand. It is mainly visited by people from nearby cities who drive down to the place for a short weekend getaway. Lansdowne got its name from Lord Lansdowne who was the Viceroy of India during the British rule. It’s a small pretty town with amazing view of the Shivalik Hills.

 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                    Jolly Grant Airport in Dehradun is around 150 Kms from Lansdowne. Flights from Delhi to Dehradun are available on a daily basis. A cab or rented vehicle can be taken from Dehradun to Landsdowne.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      Lansdowne has a well-connected road network from nearby cities. Buses to Kotdwar, Pauri and Dugadda are easily available from Delhi and other nearby cities. All these destinations are between 40 to 60 Kms from Lansdowne which can be covered through a taxi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Lansdowne doesn’t have its own railway station. However, Kotdwar station is around 40 Kms away. Kotdwar is a well-connected with most of the cities of India. Taxis are easily available from the railway station to Landsdowne.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       This is the most preferred and fun way to reach Lansdowne. It is around 250 Kms from Delhi and is reachable within a 5-6 hour drive. The most preferred route is via NH119 going via Meerut, Mawana, Ramjat and Meerapur. Another popular route is via Binjor, Kotdwar, Dogadda to Lansdowne.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        TCompletely depends on your taste as to when to visit Lansdowne. The weather is awesome for most part of the year. If you like respite from Delhi summers, April-June would be the best months to take a break in the pleasant weather. Monsoons (from July-Sep) are beautiful too since the think green trees shine and make everything look lovely around. For people who enjoy the chilly weather, Oct-March would be the best time to visit. The temperatures go down to even 0 during winter months with snowfall.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                22-10 degree C
                <br>Humidity 75%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Delhi is a perfect place to plan a weekend getaway due to its proximity to some of the awesomest hill stations up in the North. However, finding a perfect soothing place is always a task. It was only a few months after our marriage that I and my dear hubby, Kunal, decided to take a break. We had been thinking of a weekend holiday and a road trip was long overdue. So, one fine weekend we spontaneously planned to explore the Mother Nature in the arms of Lansdowne.
 </p><br>
<p>It hadn’t been very long since we went for our Honeymoon to Mauritius and hence we thought of inviting our couple friends too. We proposed this idea to Kunal and Garmia, who too got married recently. They gladly agreed and the plan took off!</p><br>
                          <p><img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg"></p><br>
            <p>We took our own car and started off early morning at 6 AM from Delhi. We picked up our friends at Rithala metro station, Rohini from where we hit the Outer Ring Road straight towards the Jahangir Puri Industrial Area. The beautiful journey began with an early morning super smooth long drive.</p><br>
             <img class="center-align" src="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG">
           <img class="center-align" src="../images/Neha_Lansdowne_Images/cheetal%20grand%202.jpg"> <br><br>     
            <p>We were chit-chatting and munching the yummy cheese sandwiches I had made early morning. We played the classic antakshari, sang songs, chatted and even took a nap! Then came our first halt at Cheetal Grand Muzaffar Nagar at around 9 AM, where we freshened up and had breakfast. After the halt, we swapped the driving seats so that no one gets drained out by the time we reach.</p><br>
             <p><img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/gulab%20jamun.jpg"></p><br>
            <p>On our way to Lansdowne, we had to cross Bijnor, one of the busiest cornets of UP. It’s a huge task in itself to cross that area owing to the poor condition of roads and pathetic traffic management. However, once we crossed that area, we picked up speed back again! We reached Nagina which is famous for its mouthwatering Gulab Jamuns. We stopped by to relish them even though we weren’t really hungry! Couldn’t miss them!</p><br>
                    <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg"><br><br>    
<p>After a while came Kotdwar from where we actually started getting the hill-station-like feel. The purity in the air, beautiful smell of mountains and view of the deep brown hills on the side makes you feel that you’re in the other side of the world altogether! I am personally a nature lover and more of a “Beach person”, but going back to mountains is something I always cherish. And this time, in the company of Kunal, it was even more special :)</p><br>
<p>Kotdwar to Lansdowne is just 40 Kms but the hilly roads with steep turns take took us around an hour to reach.  Since it was a super spontaneous plan, we hadn’t booked the hotel and thought of doing it on the spot. The first one we saw was The Garhwali Inn. But it did not attract us much. It had a lonely ambience and was situated in an isolated corner with nothing was around it. We then went inside towards the Lansdowne market with typical mall-road feel.</p><br>
             <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Check.jpg"><br><br>
<p>We then checked out the Fairydale Resort built inside an ancient hill house with wooden flooring. It had small rooms but had a nice peaceful ambiance. The best thing about the resort was it didn’t seem commercial money making place at all and had only booking on the spot option. It was a lovely view from the windows. We all found the place really nice and checked in the resort around noon time. We relaxed in our cosy rooms for a while and thought of taking the meal plan along with room rent. The resort had a small in-house kitchen and they cooked on demand as per guests’ requests. We got ready and had a nice homely meal in the dining area. What could be more perfect then savouring home-like Rajma Chawal in a peaceful area surrounded by hills and trees with the perfect mountain smell?</p><br>
    <img class="center-align" src="../images/Neha_Lansdowne_Images/Lake%202.jpg">
           <img class="center-align" src="../images/Neha_Lansdowne_Images/Lake%204.jpg"> <br><br>  
    <p>We left the resort and first went to Bhullatal Lake. It’s a beautiful lake surrounded by hills and evening is a perfect time to visit the place. We enjoyed independent boat ride and clicked lots of pictures! Kunal is not much of a pictures person. So he is the one who becomes the photographer between both of us.</p><br>
           <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg"><br><br>
<p>There was a small play area for children with colourful swings. Garima and I are both crazy about swings and planned to explore the garden. The four of us then went to small roadside open restaurant, more like a kiosk, where we sat in the misty mountainy evening! We had a great time among our gossips, leg-pulling, laughter, silly jokes over our perfect snack – Maggie. We came back to the resort at night and had dinner there itself. Nothing better than having romantic conversations in the balcony of a cosy room with slight chill in the air and amazing coffee to give us company!</p><br>
            <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/View%20point.jpg"><br><br>
            <p>The government has been engaged in regular checking and maintenance of the caves and hence we noticed a few artificially constructed structures inside the caves. Since it’s one of the most popular destinations at Lonavala, the place was slightly crowded.</p><br>
           <img class="center-align-full-row" src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG"><br><br>
            <p>On our way back from there, we visited St. Mary’s Church. It’s known for its soothing and peaceful ambiance. And when we went there, it really stood up to what we had expected. Its Victorian make makes it look amazingly beautiful and gives the Church a vintage feel. On top of that, the interior of the Church is serene and calm and makes one forget everything. We even watched a short film which portrayed Lansdowne’s history.</p><br>
            <img class="center-align" src="../images/Neha_Lansdowne_Images/couple.jpg"> 
            <img class="center-align" src="../images/Neha_Lansdowne_Images/lake%203.jpg"<br> <br>
                <p>The end to our trip had just come. We started off our drive to Delhi around 3 PM. We also stopped and visited Tarkeshwar Temple and Santoshi Mata Temple enroute. We reached back comfortably at night around 10 PM. It was a short, yet one of the most wonderful weekend trips I’ve had with Kunal!</p><br><br><br>
            


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg"> <h5 class="attraction-sub-heading"><b>Bhullatal Lake</b></h5>This is an artificial lake dedicated to the youth of Garhwal Rifles who helped in construction of the lake. One of the most scenic and lovely places in Lansdowne where you could spend some quiet time with your loved one enjoying the boat ride or taking a stroll through the lush green gardens. There are small kiosk like open cafes where you could relish light snacks or sip hot coffee while you enjoying long conversations.<br>
                        
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/View%20point.jpg"><h5 class="attraction-sub-heading"><b>Tip N Top Viewpoint</b></h5>One of the most mesmerising viewpoints in Lansdowne, Tip N Top will give you a majestic panoramic view of the Himalayas and some parts of Shivalik. It’s located high up in the ridge area and is one of the most popular destinations for people visiting Lansdowne. You could cherish the breathtakingly amazing view of the sunset with your special someone and spend a great time among the lovely view of the mountains.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg"> <h5 class="attraction-sub-heading"><b>Tarkeshwar Mahadev Temple</b></h5>
                  This is a temple located amidst deep woods and think forests on the way back from Lansdowne, around 40 Kms away. The temple has quiet and soothing surroundings and hence one of the perfect places to visit away from the crowd. There is a short walk in the woods of around 1 Km to the temple from the parking area. It could be a great excursion from Lansdowne especially if you’re on a bike with your loved one. The road is smooth and curvy with view of the lovely green valleys on the side.
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG" <h5 class="attractions-sub-heading"><b>St. Mary's Church</b></h5><br>
                    Built by Colonel Hume during the British Rule, St. Mary’s Church has a Victorian feel to it. It’s vintage architecture and serene interiors would calm you down instantly. The Church also showcases a video show on the rich history of Lansdown hill city and is a must watch when you visit the place.

                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg" data-lightbox="roadtrip" data-title="Bhullatal Lake"><img src="../images/Neha_Lansdowne_Images/Bhullar_Lake_2.jpg" id="pic1"></a>
                           <p>Bhullatal Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG" data-lightbox="roadtrip" data-title="Cheetal Grand, the popular stop-point midway"><img src="../images/Neha_Lansdowne_Images/cheetal%20grand.JPG" id="pic2"></a>
                           <p>Cheetal Grand, the popular stop-point midway</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg" data-lightbox="roadtrip" data-title="Long drive in the midst of think green forests and mountains"><img src="../images/Neha_Lansdowne_Images/hill%20roadsite.jpg" id="pic2"></a>
                           <p>"Long drive in the midst of think green forests and mountains</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG" data-lightbox="roadtrip" data-title="St. Mary's Church"><img src="../images/Neha_Lansdowne_Images/StMaryLansdowne.JPG" id="pic4"></a>
                           <p>St. Mary's Church</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg" data-lightbox="roadtrip" data-title="Sunrise on Delhi roads enroute Lansdowne"><img src="../images/Neha_Lansdowne_Images/Sunrise%20delhi%20road.jpg" id="pic7"></a>
                           <p>Sunrise on Delhi roads enroute Lansdowne</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/View%20point.jpg" data-lightbox="roadtrip" data-title="Tip N Top Viewpoint at Lansdowne"><img src="../images/Neha_Lansdowne_Images/View%20point.jpg"></a>
                           <p>Tip N Top Viewpoint at Lansdowne</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg" data-lightbox="roadtrip" data-title="Tarakeshwar Temple"><img src="../images/Neha_Lansdowne_Images/tarakeshwar_temple_picture.jpg"></a>
                           <p>Tarakeshwar Temple</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Neha_Lansdowne_Images/fairydale-lansdowne.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Fairydale Resort, Lansdowne</div>
                        
                        Cost : 2500-4500
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>