<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Leh-Ladakh</h4>


            <div>
            Leh district is at about an altitude of 9500-11,500 ft. The mountain ranges in Ladakh extend into the Great Himalayan region. This place has a mixture of the Indo-Tibetian-Buddhist culture.  The region is lapped in the snow- covered fringes of the Himalayas. Being a major settlement along the ‘ Silk Route’, Leh was chosen as the commercial capital.
This region shares its borders with Tibet which is in the east, valley of Kashmir, Jammu and Baltiyul regions to its west, Lahaul and Spiti region in the south and the Karakoram region in the north. Kargil is around 213 km from Leh.
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Leh airport is a military airport with stricter checking and security. The flights are available from major Indian cities. However, regular flights are available only from Delhi, Srinagar and Jammu. Most of the flights from other cities are connecting via Delhi. Cabs are available from Leh airport easily. 
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                    Buses could be taken to Leh via Srinagar or via Manali. The route via Srinagar is through the Srinagar-Leh highway and via Manai is through Manali-Leh highway. These are open only from June to October end. Buses are also available from Jammu. Either ways, the ride to Leh is quite adventurous and full of picturesque views all along the way. The ride is long and might take upto 2-4 days from Delhi.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                     The nearest railway station from Leh is Kalka from where cabs could be taken to Manali going through Shimla. Pathankot and Chandigarh are stations which come next. However, bus ride from these stations to Leh can take as long as two-three days and isn’t the best way to reach Leh. 
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      If you’re a duo who loves adventure, hit the road and ride to Leh. Rent a motorbike or if you have a cruiser of your own, nothing like it! Even a jeep/SUV is quite popular when it comes to riding in Leh. Driving to Leh and within Leh is a thrilling experience and you’ll love if you’re an adventure couple. The route you could take is either via Jammu or via Keylong and Sarchu after reaching Manali.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                      March end to June is the best time to visit Leh for people who prefer to have smooth bike rides in pleasant weather. The temperatures are comfortable. However, for adventure seekers and snowfall lovers, November to February is good. If you’re a trekking couple, try the Chadar trek between January to March. July and August are monsoon months and should be avoided. 
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>

                8 - -2 degree C
                <br>Humidity 27%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>We were a group of six- Three couples who travelled to Ladakh in mid July 2015 from Bangalore. We took a flight from Bangalore to Delhi and from Delhi we took a flight to Leh, Ladakh. Indigo and Go Air flights gave us reasonable rates for travelling to Leh and back. We booked our tickets four months in advance. We had to halt in Delhi airport overnight in order to take the early morning flight to Leh, the next day. Apparently flights do not land in Leh after 2:00 PM.  It was a self-planned trip with detailed inputs from Yd, who had been on a bike trip to Leh from Delhi in 2012. 
</p><br>
            <p> We had a fixed yet tentative itinerary which helped in covering decent number of the places in Ladakh.  I say tentative because when in Ladakh nothing can be predicted. It is always better to have back up plans and also one should have the presence of mind to change the trip itinerary ad hoc depending on the weather conditions. July mid is considered as an ideal month for travelling to Ladakh but despite taking enough precautions and planning well we had to face the unexpected too.  Well, how can one not expect adventure in Ladakh?</p><br>
            
            <p>Only after visiting Ladakh I realized why Yd keeps telling me that if given a chance he would love to travel to Ladakh every year. Every trip experience will be different and the place is certainly magical. One week is not enough to explore the entire region. Some places are totally at the mercy of nature and also being preserved by the locals and the travellers who want Ladakh to remain as surreal as ever. Although over the last 2 years, travellers, bike riders and trekkers have increased, which is good for the Ladakh and J&K Tourism but hoping they do not destroy the beauty of the place.
</p><br>
             <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg"></p><br>
             <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg"></p><br>
            
            <p>Our accommodation in Leh was booked at Hotel Druk, Fort Road. We were allotted 3 rooms in the first floor. It is a family run hotel and maintained very well. The rooms were neat and clean with hot water facility, clean washroom and also clean rugs. You won’t find fans or air conditioners in many hotels here because it is not required. The sun shines bright but the breeze is cool. The nights can become pretty cold. The hotel staffs-Dawa’s family members were very friendly and helpful. Whatever we asked they were always ready to provide us. They serve tea, breakfast, dinner and lunch with prior information. The menu comprised of dal – chawal (the staple food for the vegetarians there), roti-sabzi, pickle and papad. There are many restaurants available for good food in Leh but we preferred having dinner in our hotel most of the time. Mainly because it rained in the evening and also we were too tired to travel anywhere after a day’s travel.</p><br>
               
<p>We rented out bikes from Apex Adventure Tours . They have their rental shop with a garage in the Leh market. Their contact is available online. We had to pay an advance amount to book the bikes for rent before 15 days of our travel. On the first day they gave us Royal Enfield 350 cc Bullet since the 500 cc Thunderbirds were undergoing maintenance. These bikes were enough for travelling around in Leh. They give helmets and also saddle bags. Saddles bags are at an extra cost. For long distance travel saddle bags are really important because the pillion rider cannot carry a heavy backpack for a long time.</p><br>
            
            <p>We bought the Leh district’s and Ladakh’s map in order to get a clear picture of the route.  Our first meal in Ladakh was at the World Garden Cafe. The ambiance was good and everything that we ordered was really tasty.</p><br>
            
                  <p>We had just enough time to visit the Shanti Stupa on day 1. It was getting cloudy and we could expect a heavy rainfall any time. It was sunny in some areas while there were also areas with dark clouds ready for a downpour.</p><br>

<p>The first bike ride in Leh to Shanti Stupa was a great way to begin our journey. This was built based on a Japanese order and was inaugurated by Dalai Lama - A stupa that was built as a symbol of world peace. The view from the stupa is really exotic. It is just about 3-4 kms from Fort Road. I wish we could have visited the Shanti Stupa at night to view it decorated with lights. The pictures I have seen are really beautiful. </p><br>
            
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/View%20of%20Shanti%20Stupa%20from%20the%20Changspa%20Road.jpg"></p><br>
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg"></p><br>
            <p><img class="center-align-full-row" src="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg"></p><br>
            
            
<p>The ride gave us the first taste of being free. It took us one day to absorb into the beauty of the place. Since we saw dark clouds hovering around in some areas we left early from there. The evening was quite relaxed. While Saveen and Yd waited for almost an hour to withdraw money at the ATM and Viren and Spiti went in search for buying raincoat, Deepa and I spent time shopping for earrings at the local market. The collection of stone and beaded jewellery was extremely good. We bargained and got a decent deal for few of them. I  was so engrossed in shopping for the stone jewellery that I did not have time to click a picture of the colourful market. We later headed to a shop to buy Pashmina and Ladakhi woollen shawl. </p><br>
<p>After the mini shopping  spree we had coffee and snacks in one of the restaurants in Leh market. We bought the Buddhist colourful prayer flags for the three bikes from a shop there. Later, we collected the 500cc Thunderbirds from Apex adventure. Yd, Saveen and Viren were too excited to ride on their 500cc’s. We took our helmets and saddle bags and left before it started raining. Savy-Deepa, Yd and I reached but Viren and Spiti had not reached yet. Suddenly, Yd got a call from Viren saying that his bike had some starting trouble so he was stuck there. (Only Airtel/Vodafone post-paid or only BSNL network works there). There are also many no network zones. So it is better to keep the family members informed about our whereabouts whenever network is available.)</p><br>
 
    <p>The problem in Viren’s bike was rectified by the mechanic but this minor incident was just the introduction to bike related problems in our trip. I guess every biker would be able to relate to these situations.  After dinner we packed ourselves up to take a good nap and be prepared for the next day’s journey to Lamayuru. Dawa suggested us to start early the next day and come back to Leh on the same day so that we could have the day after dedicated for white water rafting in the Zanskar River. However, our plan was to stay back at Lamayuru and try river rafting on our way back to Leh. I had booked Hotel Niranjana in Lamayuru as a backup option if we were planning to stay back for the night. We had not paid an advance so if at all we had to stay back we had a hotel accommodation fixed for us.</p><br>
            
             <p>It took a long time for me to understand the routes, directions and the locations of the places were going to visit. Generally, when it comes to travelling to new destinations I do a lot of research about the place but with the Ladakh trip I did not get into the details. I had left everything to Yd for a change. I just did a rough check of the places around on the map to have a fair idea about our destinations. I think I wanted to be surprised. I now feel that I did the right thing by not having any expectations about the trip because I got more than what I could have even imagined.</p><br>
            
            <p><b><i>This extract covered only Day-1 of Archana's trip to Ladakh picked from her personal travel blog - "My Colorful Life". To continue reading the interesting account on her adventures and experiences, please visit her blog page <a href="http://aworldofcolors.blogspot.in/search?q=ladakh&max-results=20&by-date=true"> here</a></i></b></p><br>

                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg"> <h5 class="attraction-sub-heading"><b>Shanti Stupa</b></h5>The first bike ride in Leh to Shanti Stupa would be a great way to begin your journey. This was built based on a Japanese order and was inaugurated by Dalai Lama - A stupa that was built as a symbol of world peace. The view from the stupa is really exotic. It is just about 3-4 kms from Fort Road. View of the stupa at night, decorated with lights is known to be extremely beautiful.<br>
                        
                    </li>
                    <li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Hall%20of%20Fame%20Memorial.jpg"><h5 class="attraction-sub-heading"><b>Hall of Fame Memorial</b></b></h5> It is a museum constructed and maintained by the Indian Army in the memory of the soldiers who had lost their lives in wars after Independence in 1947. The momorial has the names of the war heroes engraved on the granite wall. The ground floor has a model of the Ladakh region just opposite to the entrance. They have also exhibited photos depicting the beautiful regions of Ladakh and Zanskar Valley, information on the brave soldiers who fought for us, the arms and ammunition used during the Kargil war.
                    
                    </li>
        <li class="vertical-image-list">
            <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Sangam%20Point%20-%20Confluence%20of%20the%20Zanskar%20River%20and%20Indus%20River.jpg"> <h5 class="attraction-sub-heading"><b>Confluence of the Indus and Zanskar Rivers</b></h5>Confluence of The confluence of the two rivers is a point near a place called Nimu. One could spend some time to capture the view of the Sangam point. The colour difference in both the rivers could be observed easily mainly because of the amount of silt/mud they are carrying. The Zanskar river is a little muddy which gives it a reddish tinge while the Indus is slightly clearer and gives a greenish appearance.
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/A%20part%20of%20the%20Lamayuru%20monastery%20captured%20from%20the%20hotel's%20terrace.jpg" <h5 class="attractions-sub-heading"><b>Lamyuru Monastery</b></h5><br>
                   The most important place to visit in Lamayuru is the Lamyuru/Yuru Monastery. It is surrounded by moonland and is also at a great height. We can view the meandering roads and the moonland from here. The monastery closes by 6:00 PM in the evening. The place has an amazing peaceful aura around it and offers some of the most amazing views form the top.

        </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Alchi%20Monastery.jpg" <h5 class="attractions-sub-heading"><b>Alchi Chhoskor Monastery</b></h5><br>
                   Alchi Monastery or Alchi Gompa is a Buddhist monastery which is a part of the Alchi Chhoskhor  Temples Leh, Ladakh. Chos-khor means a monastic complex.  There are different settlements of the monasteries. This is also one of the ancient monasteries in Ladakh. Alchi is one of them and is managed by the Likir Monastery. The entry ticket holds good for visiting both the monasteries. The first entrance of the temple complex was very small but once we entered we were surprised to see a tall Buddha statue which could have dated back from the 11th or 12th century. There were old and new paintings on the wall. There was also a prayer hall where one old Buddhist monk was chanting prayers and playing a huge skull drum- A Buddhist sacred instrument.
        
        </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Prayer%20Wheels%20in%20Alchi%20Monastery.jpg" <h5 class="attractions-sub-heading"><b>The Prayer Wheels</b></h5><br>
                  The prayer wheels at Alchi Monastery are built around a small peaceful area.  The serenity one experiences at the Alchi Temple complex sitting outside with ones eyes closed is unmatched. One would hear only hear the musical drums' sounds, smell the fragrance of the incense sticks and hear the chirping of birds and sound of the Indus river flowing. It considered auspicious to turn all the prayer wheels after completing your prayers.
    
     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Buddha%20Statue%20at%20Likir%20Monastry.jpg" <h5 class="attractions-sub-heading"><b>Likir Monastery</b></h5><br>
                  Likir is another prominent moasntery in the region. There is a huge 23 m statue of Maitreya in a seated position. Maitreya is regarded as a future of Buddha. There is a climb up through narrow steep steps to reach upto Likir Monastery complex. They have different paintings depicting Buddhism. There seems to be a great mixture of Hindu culture in Buddhism. One could see the image of Lord Ganesha, Goddess Kali and also Lord Shiva in some of the paintings. The temple tops also have a ‘Gopuram’ like structure in some places; some have a dragon like appearance depicting the Chinese culture. Everything seemed to be merged into one culture called Buddhism which talks about peace.

 </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Archana_Leh-Ladhak_Images/Breathtaking%20view%20of%20the%20Tso%20Moriri.jpg" <h5 class="attractions-sub-heading"><b>Tso Moriri Lake</b></h5><br>
                  It is a lake in Ladhak which is known to be the largest of the high altitude lakes within India and Ladhak. The lake is filled by springs and melted snow from the neighbouring mountains. The lake is known for its beautiful view and lovely peaceful surroundings. More than just the lake, it is the drive to the place through Karzok which is extremely beautiful with view of snow-capped mountains and lovely valleys.
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg" data-lightbox="roadtrip" data-title="View from the flight while landing in Leh"><img src="../images/Archana_Leh-Ladhak_Images/View%20from%20the%20flight%20while%20landing%20in%20Leh.jpg" id="pic2"></a>
                           <p>View from the flight while landing in Leh</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg" data-lightbox="roadtrip" data-title="The snow capped mountains as seen while landing"><img src="../images/Archana_Leh-Ladhak_Images/The%20snow%20capped%20mountains%20as%20seen%20while%20landing.jpg" id="pic4"></a>
                           <p>The snow capped mountains as seen while landing</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/A%20part%20of%20the%20Lamayuru%20monastery%20captured%20from%20the%20hotel's%20terrace.jpg" data-lightbox="roadtrip" data-title="A part of the Lamayuru monastery captured from the hotel's terrace"><img src="../images/Archana_Leh-Ladhak_Images/A%20part%20of%20the%20Lamayuru%20monastery%20captured%20from%20the%20hotel's%20terrace.jpg" id="pic7"></a>
                           <p>A part of the Lamayuru monastery captured from the hotel's terrace</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Alchi%20Monastery.jpg" data-lightbox="roadtrip" data-title="Alchi Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Alchi%20Monastery.jpg"></a>
                           <p>Alchi Monastery</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Bike%20ride%20from%20Alchi%20to%20Likir.jpg" data-lightbox="roadtrip" data-title="Bike ride from Alchi to Likir"><img src="../images/Archana_Leh-Ladhak_Images/Bike%20ride%20from%20Alchi%20to%20Likir.jpg"></a>
                           <p>Bike ride from Alchi to Likir</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Breathtaking%20view%20of%20the%20Tso%20Moriri.jpg" data-lightbox="roadtrip" data-title="Breathtaking view of the Tso Moriri"><img src="../images/Archana_Leh-Ladhak_Images/Breathtaking%20view%20of%20the%20Tso%20Moriri.jpg"></a>
                           <p>Breathtaking view of the Tso Moriri</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Buddha%20Statue%20at%20Likir%20Monastry.jpg" data-lightbox="roadtrip" data-title="Buddha Statue at Likir Monastry"><img src="../images/Archana_Leh-Ladhak_Images/Buddha%20Statue%20at%20Likir%20Monastry.jpg"></a>
                           <p>Buddha Statue at Likir Monastry</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg" data-lightbox="roadtrip" data-title="Experience the peace at the Shanti Stupa"><img src="../images/Archana_Leh-Ladhak_Images/Experience%20the%20peace%20at%20the%20Shanti%20Stupa.jpg"></a>
                           <p>Experience the peace at the Shanti Stupa</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Hall%20of%20Fame%20Memorial.jpg" data-lightbox="roadtrip" data-title="Hall of Fame Memorial"><img src="../images/Archana_Leh-Ladhak_Images/Hall%20of%20Fame%20Memorial.jpg"></a>
                           <p>Hall of Fame Memorial</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Just%20after%20Snowfall.jpg" data-lightbox="roadtrip" data-title="View just after snowfall"><img src="../images/Archana_Leh-Ladhak_Images/Just%20after%20Snowfall.jpg"></a>
                           <p>View just after snowfall</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lamayuru%20to%20Alchi%20route.jpg" data-lightbox="roadtrip" data-title="Lamayuru to Alchi route"><img src="../images/Archana_Leh-Ladhak_Images/Lamayuru%20to%20Alchi%20route.jpg"></a>
                           <p>Lamayuru to Alchi route</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lone%20Horse%20Trotting.jpg" data-lightbox="roadtrip" data-title="Lone Horse Trotting viewed on way to Tso Moriri"><img src="../images/Archana_Leh-Ladhak_Images/Lone%20Horse%20Trotting.jpg"></a>
                           <p>Lone Horse Trotting viewed on way to Tso Moriri</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg" data-lightbox="roadtrip" data-title="Lord Buddha's statue at Shanti Stupa"><img src="../images/Archana_Leh-Ladhak_Images/Lord%20Buddha's%20statue%20at%20Shanti%20Stupa.jpg"></a>
                           <p>Lord Buddha's statue at Shanti Stupa</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Pic%20of%20the%20two.JPG" data-lightbox="roadtrip" data-title="Taking a break after long bike ride"><img src="../images/Archana_Leh-Ladhak_Images/Pic%20of%20the%20two.JPG"></a>
                           <p>Taking a break after long bike ride</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Prayer%20Wheels%20in%20Alchi%20Monastery.jpg" data-lightbox="roadtrip" data-title="Prayer Wheels in Alchi Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Prayer%20Wheels%20in%20Alchi%20Monastery.jpg"></a>
                           <p>Prayer Wheels in Alchi Monastery</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Sangam%20Point%20-%20Confluence%20of%20the%20Zanskar%20River%20and%20Indus%20River.jpg" data-lightbox="roadtrip" data-title="Sangam Point - Confluence of the Zanskar River and Indus River"><img src="../images/Archana_Leh-Ladhak_Images/Sangam%20Point%20-%20Confluence%20of%20the%20Zanskar%20River%20and%20Indus%20River.jpg"></a>
                           <p>Sangam Point - Confluence of the Zanskar River and Indus River</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20flags%20and%20the%20snow.jpg" data-lightbox="roadtrip" data-title="The flags and the snow"><img src="../images/Archana_Leh-Ladhak_Images/The%20flags%20and%20the%20snow.jpg"></a>
                           <p>The flags and the snow</p>
                       </div>
                        
                         <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/The%20Proud%20Bikers.jpg" data-lightbox="roadtrip" data-title="The proud bikers"><img src="../images/Archana_Leh-Ladhak_Images/The%20Proud%20Bikers.jpg"></a>
                           <p>The proud bikers</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Thiksey%20Monastery.jpg" data-lightbox="roadtrip" data-title="Thiksey Monastery"><img src="../images/Archana_Leh-Ladhak_Images/Thiksey%20Monastery.jpg"></a>
                           <p>Thiksey Monastery</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Archana_Leh-Ladhak_Images/Us%20at%20Khardungla%20Top.jpg" data-lightbox="roadtrip" data-title="Us at Khardungla Top"><img src="../images/Archana_Leh-Ladhak_Images/Us%20at%20Khardungla%20Top.jpg"></a>
                           <p>Us at Khardungla Top</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Archana_Leh-Ladhak_Images/Hotel%20Druk,%20Fort%20Road.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Hotel Druk, Fort Road</div>
                        
                        Cost : 3500-8000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>