<h3 class = "center-align-place">Romance in the Monsoon Capital - Lonavala-Khandala</h3><br>
                <h4 class = "center-align-place"><i>- By Barney and Betty</i></h4>
                
                <hr>