<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Mumbai</h4>


            <div>
            Metro City – check, Most populated Indian city – check, Financial capital of India – check. Why would you then call Mumbai a holiday destination for couples? Agree. It may not be a perfect holiday destination. But for people who’ve stayed here long enough would understand what the Mumbai feel does to someone. Yes, it’s crowded and in fact dirty, but it has a beautiful vintage charm and a distinctive arty feel, which no other India city has. Yes, might seem oxymoronic, because it really is. Even though the city is crowded with people, there are things there that have a magnetic pull and would make any couple overwhelmed in romance. Amazing places to eat out, Sea link road, the lively Juhu beach, rich culture of theatre and love for Bollywood, historical monuments and of course the Marine Drive. The city has a lot to offer – so couples, do not underestimate aamchi Mumbai! :)
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Mumbai International Airport, called Chatrapati Shivaji International Airport is one of the largest airports of the country. Regular flights – both international and domestic – ply from the city. The airport is around 30 Kms from the main city towards the north. Since the city has traffic issues, it is always safe to take some buffer time while travelling to or from the airport. Cabs and taxis are easily available from the airport to the city.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Mumbai’s bus station called Mumbai Central is from where most of the buses to other cities in Maharashtra are connected. There is never an issue of frequency or availability of buses from the city if booked in advance.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                      Mumbai has a very well established and well connected train network with other Indian cities. Infact, most of the connecting trains to other cities in the state go via Mumbai itself.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       Mumbai is perfectly connected by roads to rest of India. Driving down to Mumbai is never an issue. However, traffic within the city is a little bit on the extreme side. The common cities from where people drive down to Mumbai include Pune (160 Kms), Nashik (200 Kms) and Aurangabad (400 Kms). Mumbai also has small hill stations located around which are popularly visited on weekends or long drives, such has Lonavala, Khandala, Mahabaleshwar, etc.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       It is best to visit Mumbai during winter months – from November to February. The weather remains pleasant with temperature doing down to a minimum of 9-10 degrees. Mumbai doesn’t get colder than that. Day time remains peasant too. However, summer months are usually bad considering high levels of heat and humidity witnessed by Mumbai from late March to May. June to September are monsoon months. Although Mumbai monsoons are considered to be ultra-romantic, you won’t like them if you’re not rain loving couple. Mumbai rains are very unpredictable and continue for a long time. However, if you love rains, nothing better getting drenched while having a gola at Juhu Chowpaty beach.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                26-36 degree C
                <br>Humidity 54%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>I was always longing to go to Bombay after reading and hearing so much about a Delhite being in Bombay (Grade 9 inter school competition trip doesn’t count). And since he hailed from the city, it was the perfect reason for a visit now.</p><br>
            <p>And so it was planned under the garb of a work trip every time but with the real agenda of spending time together and discovering Bombay (long distance is tough you see, sigh). Of course there was a checklist and we still have it; we try to cross as much as possible with each of my Mumbai trips now (Yes, I do visit often). We have done a lot of things which even he hadn’t done before having lived in the city for so long! So this is an amalgamation of us discovering Bombay and the best of our moments. Read on…</p><br>

            <p>For starters, I love the name Bombay - the name itself has a vintage charm and makes you go back in time (no, don’t imagine those black and white movies). And he would make it a point to call it out and say Mumbai, not for being righteous but for the fear of being overheard by locals (read Shiv Sena). All those noob to the distinction - the city has been named after the patron deity Mumbaidevi, and has always been referred as “Mumbai” by locals with Bombay believed to being the colonial corrupted version of it. In 1995, officially Bombay became Mumbai. Nevertheless, I’m yet to learn to call it Mumbai.</p><br>
             <p><img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/Mumbai%20Cover.jpg"></p><br>
            
            <p>Prithvi Theatre was the top one on my list, so we booked a convenient time after work hours for our first live show together. The show was “Madbeth”, a one hour and one-man effort. While sipping the Irish coffee at the Prithvi Café, we both wondered how this guy will pull off a show all by himself for an hour (Don’t miss the coffee, all you coffee lovers). We realized it was too late and entry to the theatre had begun already, so we rushed to join the queue to get good seats. We enjoyed the play thoroughly often times rolling over each other laughing. It was tragic yet humorous, and the improvisations gave a new angle each time to what was an attempted satire on Macbeth. The protagonist often referred to his pranks in the play as “premiere” in a certain funny tone, and it has since then become our internal joke each time we attempt a prank.</p><br>
                    <img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/Prithvi%20Theatre.jpg"><br><br>    
             <img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/prithvi%20theatre%20irish%20coffe.jpg"><br><br>    
<p>Stand-up is his thing and he would even love to do it on stage rather than just watching it. So we planned to catch up on a stand-up show. Bombay has a pretty strong comedy scene, I gathered. The show was packed, no doubt as he had chosen a day when they had the best performers in the city - Gursimran Khamba (now with AIB), Neeti Palta, Daniel Fernandez and a few open mics. This was a two-hour show at Canvas Laugh Club, Palladium Mall, Lower Parel. We settled in with our drinks and laughed on. Those were the days when stand-up was new to India (or you can say, to me). He could see I was getting worked up on one or the other racist or fascist jokes they were cracking (which in my defense were a bit extreme) - he held my hand each of those times and laughed even harder. We were in this wonderful process of discovering each other’s quirks – his hearty laugh on each of those boundless jokes and at the same time the uncomfortable look on my face.</p><br>
            <p><img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg"></p><br>
            
            <p>Both of us love the seaside. How can anyone be in Bombay and not love the seaside? Although, I would admit all these beachside boulevards have over enthusiastic couples and Indian audience is yet to get comfortable with all this (hence the moral policing). Nevertheless, we all love the boulevards (and love to get uncomfortable, I think). Bandstand is different from Marine Drive and Juhu beach. It comes across as the ocean behind your house with famous celeb bungalows all across. It reminded us of Charlie Sheen’s Malibu town beach-house in Two and a Half Men and we often discussed when would we have one of our own. Bandstand was often our post dinner ritual. We used to go there for a walk. We usually would take a break to sit, sip coffee and chat and then walk again. Bandstand has a somewhat philosophical vibe to it. We always used to ponder over deeper questions, pushing each other to go beyond the known horizons and then would continue discussing anything under the sun until we established that we both agreed to disagree (like always). At other times, we simply loved the serenity while staring at the endless sea and just cogitating without any reason, letting thousands of thoughts cross our minds.</p><br>
             <p><img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/juhu.jpg"></p><br>
<p>Juhu is another famous spot although a clichéd one. We visited it many a times. As for Juhu Chaupati, well, it never sleeps, really! It was difficult, however, to take a nice clean and calm walk on the beach. We were looking for a clean stretch each time without bumping into dubious dealers if we go too far from the main area. Our friends had particularly pushed us to visit it again for the moonlight and the beautiful beachside but sadly, when we went again it was all stinky and filthy. We are still looking for that nice clean spot on the Juhu beach that we can enjoy, so it is until next time!</p><br>            
<p>The next day, I had an early morning flight to catch to work and we just had a few hours to spend together. So we decided to go to Marine Drive. It was the end of a long weekend and  was midnight already but Marine Drive was as lively as it would be at any other time during the day. It was bustling with hawkers - chai walas, coffee walas, candies, ice cream stands and most of all — tons of families, college students, groups of friends and couples. All these people were brought together by their simple love for the cool sea breeze which just wouldn’t stop! It was indeed the perfect place for a conversation. And we had a lot of catching up to do – starting from sharing our school to college stories to discussing the latest movie we saw and the Chinese food we just had. I was a little cautious as moral policing is quite pervasive in Bombay. So we maintained our distance and took a walk to the other side after every few minutes.</p><br>
             <img class="center-align-full-row" src="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg"><br><br>
<p>Time passed quickly and hours seemed like minutes before it was already time for my flight and he dropped me to the airport. With too much caffeine in my system (thanks to the wonderful coffee by the hawkers at Marine drive), I was sure shot to think about him in plane and screw up my day at work.</p><br>
            <p>We love Bombay – the city never sleeps and has an amazing night life and a safe one (that’s a treasure for a Delhiite). Next on our list we have Bandra Fort, Carter Road, finding the clean stretch on Juhu Beach, and more clichés like Water Kingdom, Gateway of India, shopping on Linking road, Colaba, a dozen other eating joints! </p><br><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Akanksha_Mumbai_Images/Gateway%20edited.jpg"> <h5 class="attraction-sub-heading"><b>The Gateway of India</b></h5>As cliché though it may sound, Gateway of India is one of the most beautiful monuments in India. Not just owing to its beautiful structure, but also because of location and feel of the place. Constructed during the British rule in India, the monument has a very colonial feel. With Arabian see at the back, the monument faces the renowned Taj Hotel. Bring your spouse during the sunrise and you both are sure to fall in love with the view. The beautiful colossal structure amidst hundreds of pigeons feeding on the grain kept regularly by the local Mumbaikars every morning and lovely orangish-yellow sea at the back. 6 AM is the best time to visit the monument and sit by the sea and take a stroll through the walkway since it’s peaceful and not too crowded.<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg"><h5 class="attraction-sub-heading"><b>Marine Drive</b></b></h5>Whatever has been written or talked about Marine Drive so far is certainly not enough, because with some places, you fall short of words to describe what being there would actually feel like. Being in Mumbai, one is sure to get sick of the traffic jams and frantic city life. However, a visit to Marine drive away from the crowded Central Mumbai to spend some quality time with your special someone is sure to calm you down. Marine Drive is a 3 Km long stretch from Nariman Point, the southern tip of Mumbai to Malabar hills, where it merges into Chowpaty beach. It’s a C Shaped promenade and people come and sit facing the sea extending to the horizon. The place is always bustling with hawkers - chai walas, coffee walas, candies, ice cream stands and most of all — tons of families, college students, groups of friends and couples. All of these people brought together by their plain and simple love for the cool sea breeze which wouldn’t stop! At night, Marine Drive is called the “Queen’s Necklace” because the promenade arranged with streetlights looks like a string of jewels when viewed from a distance.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Akanksha_Mumbai_Images/Banda%20Worli%20Sea%20Link.jpg"> <h5 class="attraction-sub-heading"><b>Bandra-Worli Sea Link</b></h5>
                  Not a destination as such, but something you wouldn’t want to miss driving on while you’re with your special someone in Mumbai. The bridge connecting Bandra to Worli was constructed recently in 2009 and hence a perfect example of the blend of modern technology with picturesque beauty. It’s the first cable bridge connecting roads over the sea. Although the drive won’t be too long, but it offers a lovely view on a nice breezy evening. A must-check-out road when you’re both out on a drive or a bike ride!
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Akanksha_Mumbai_Images/Eat%20outs.jpg" <h5 class="attractions-sub-heading"><b>Eat Outs spread across the city</b></h5><br>
                   There is no dearth of awesome eating and hanging out joints in Bombay, Some of Akanksha’s favourites (and definitely the not to miss ones) are mentioned here.</p>
<p>1.	Bombay Salad Co, Linking Road – Small place, could be difficult to find. Especially for vegans who just can’t get over their love for salads and juices. They’re all organic and are fetched fresh from the farm every day.</p>
<p>2.	Eddie’s, Pali Hill – Go for Sangria Pitcher!</p>
<p>3.	Hard Rock Café, Lokhandwala – Do we need say more?</p>
<p>4.	Quench, Reclamation – You’d love the food! Go for anything!</p>
<p>5.	Candies, Reclamation – Best snack and breakfast place. Go for Pali Hill outlet, its grander!</p>
<p>6.	Silver Beach Café, Juhu – Go for Spark Fizz, an amazing blend of sparkling wine and lemon juice</p>
<p>7.	5 Spice, Hill Road – Although it’s a family restaurant, but it serves the best Chinese you would ever have in Mumbai</p>
<p>8.	Theobroma, Linking Road – Favorites are walnut brownies and dense loafs</p>


                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Akanksha_Mumbai_Images/juhu.jpg" data-lightbox="roadtrip" data-title="Lovely view of Juhu Beach during sunset"><img src="../images/Akanksha_Mumbai_Images/juhu.jpg" id="pic2"></a>
                           <p>Lovely view of Juhu Beach during sunset</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Marine%20drive%20day.jpg" data-lightbox="roadtrip" data-title="Speding dayout at Marine Drive"><img src="../images/Akanksha_Mumbai_Images/Marine%20drive%20day.jpg" id="pic4"></a>
                           <p>Speding dayout at Marine Drive</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg" data-lightbox="roadtrip" data-title="Nightview of Marine Drive during the night amidst buzzing citylights"><img src="../images/Akanksha_Mumbai_Images/Marine%20drive.jpg" id="pic7"></a>
                           <p>Nightview of Marine Drive during the night amidst buzzing citylights</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Prithvi%20cafe.jpg" data-lightbox="roadtrip" data-title="Cafe at Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/Prithvi%20cafe.jpg"></a>
                           <p>Cafe at Prithvi Theatre</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/prithvi%20theatre%20irish%20coffe.jpg" data-lightbox="roadtrip" data-title="The moast amazing Irish Coffee at Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/prithvi%20theatre%20irish%20coffe.jpg"></a>
                           <p>The moast amazing Irish Coffee at Prithvi Theatre</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/Prithvi%20Theatre.jpg" data-lightbox="roadtrip" data-title="Prithvi Theatre"><img src="../images/Akanksha_Mumbai_Images/Prithvi%20Theatre.jpg"></a>
                           <p>Prithvi Theatre</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/MumbaiCover.jpg" data-lightbox="roadtrip" data-title="Brilliant View of Marine Drive"><img src="../images/Akanksha_Mumbai_Images/Mumbai%20Cover.jpg"></a>
                           <p>Brilliant View of Marine Drive</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg" data-lightbox="roadtrip" data-title="Canvas Laugh Factory for stand-up comedy enthusiasts"><img src="../images/Akanksha_Mumbai_Images/canvas%20laungh%20factory.jpg"></a>
                           <p>Canvas Laugh Factory for stand-up comedy enthusiasts</p>
                       </div>
                        
                       
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Akanksha_Mumbai_Images/Hotel-The-Orchid-Mumbai.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Hotel The Orchid, Mumbai</div>
                        
                        Cost : 5000-8000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>