<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Mysore</h4>


            <div>
            Mysore is a well-known city located in Karnataka prominent for its rich culture, art and heritage. The city is majorly famous as the capital city of the Royal Kingdom for almost six centuries. Mysore is generally visited by people from neighboring cities in Karnataka such as Bangalore who come here for a weekend getaway and long drives. Owing to the beautiful Royal Palace, the temples and other historically significant structures present here, the city is even called the Cultural Capital of Southern India.
 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                  Mysore’s Mandakalli airport is a domestic one and is not connected to all major cities in India. The best way to reach Mysore through air is via Bangalore. Flights to Bangalore are very frequent and easily available after which a connecting flight to Mysore could be taken or a taxi/ cab could be hired from Bangalore to Mysore.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                     Buses to Mysore from nearby cities such as Bangalore (150 Kms), Coonoor (150 Kms), Coimbatore (200 Kms) and Mangalore (250 Kms) are easily available. Both staterun and private buses are available. Drive to Mysore is a good one considering the road network around the city is well established.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                       Mysore has a train station of its own which is connected to major cities nearby. Most of the major trains stop at Mysore including Shatabdi Exp, Sharavathi Exp, Mysore Exp and Chamundi Exp. Cabs are easily available out the railway station to the city.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                      This is one of the most preferred and popular means to come to Mysore. Since Mysore is located at a convenient distance from major nearby cities, you could easily drive down in your own or rented vehicle while enjoying the long drive, especially if the weather is good. Many couples come to Mysore for a weekend getaway from nearby cities, mainly Bangalore which is only 150 Kms away. The drive is lovely and takes around 3 hours one way through NH 275.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                       Cities around Bangalore in South Karnataka mostly enjoy good weather all through the year. The temperatures mostly remain comfortable and pleasant. However, the best time to visit Mysore is September end to February. The day time remains pleasant and the night are slightly chilly with temperatures going down to 12 degrees. In fact visiting during the Navratras and Dussehra in October-November could be the best since Mysore has a special ambiance of festivities and celebration during that time.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                17-23 degree C
                <br>Humidity 90%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>There was a time, when one could be happy with just the weather, the mouth-watering & well-priced south indian breakfast and the rocking evenings at the breweries, pubs and discs at Bangalore.</p><br>
            <p>But now, travelling for more than 5-7 kms to visit a new eatery/ pub is an absolute no-no, given the traffic conditions. So what do we do if we don't want to go for yet another movie or visit a new brewery on this weekend??!!</p><br>
            <p>Life is outside!! Staying at Bangalore, you have plethora of options for one or two day get aways. The roads are in a good shape- just apt for a short road trip.</p><br>
            <p>One such Sat morning, fed up of the mundane weekends, we decided to get out of Bangalore. Getting back by monday- early morning was an obvious criterion in deciding the destination considering it had to be a weekend only trip and we had to get back to work on Monday.</p>
            <p>Let's go to Mysore! Why Mysore?? 3 hours happy drive, not very crowded, beautiful resorts and some nice places to visit.</p><br>
            <p><b>Day-1</b></p>
            <p>Mysore is approximately 140-150 km from Bangalore. Getting out from Bangalore to the Mysore road can be a little messy sometimes due to traffic. En-route, we stopped at Kamat for a quick snack. Kamath Lokaruchi is a famous eating joint on Bangalore - Mysore highway. We tried the authentic thali served on banana leaves and it was superb!</p><br>
             <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/Kamat.jpg"></p><br><br>
            
            <p>We reached Mysore by 4pm. We booked our stay at the Windflower Resorts and Spa. After a long drive, when you check into a hotel/ resort- that's the time when you are scanning it against your criteria/ expectation- this place seemed to be an instant reward. A nice, light fragrance filled the reception area- the surrounding area comprised of duplex houses on either side of rectangular water channel.</p><br>
                    <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Resort.jpg"><br><br>    
<p>A personal staircase led to our room on the first floor. The balcony opened to the pond- A set of comfortable chairs with a small table- just perfect for an evening with some light music with drinks. We decided to have a lazy day- so we went for swimming, booked the spa (availed discounts) and had an evening at the balcony- as we imagined on entering the room.</p><br>
            <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/resort%20pond.jpg"></p><br><br>
            <p><b>Day-2</b></p>
            <p>This day was our activity day!</p>
<p>After the breakfast at the resort, we decided to visit the Mysore zoo during the day. It's in the city itself and witnesses many tourists on a daily basis. It is also popular among the locals as a picnic spot. The zoo actually has many rare animal species and we enjoy strolling through the walk way in plesant weather! There is a small snacks corner in the end where we relaxed and grabbed a quick bite.</p><br>
      <p><img class="center-align-full-row" src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"></p><br><br>
            <p>After the zoo, we went for a quick visit to Lake Karanji which is very close to the zoo and is managed by the zoo authority itself. It's a beatiful spot to relax away from the hustle-bustle and enjoy some nice conversations.</p><br>
             <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Karanji%20Lake.jpg"><br><br>
<p>In the evening, we went to the famous and opulant Mysore Palace. Its huge and majestic dominating the Mysore skyline. The interriors are as beautiful and lavish as the exterriors. We also took a walk in the beautifully maintained garden area outside. The palace is open for visitors on all days between 10 AM and 5:30 PM. Although it's lit up on Sunday evenings, it is beautiful to see it getting lit in just a stroke. One can either read about the history online or hire a guide to know the background.</p><br>
 <img class="center-align-full-row" src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg"><br><br>
    <p>Overall it was a super fun day. We retired at the open restaurant at the resort with light live music, breezy evening and candle light dinner to top it all! The food and ambiance of the place was perfect - just what we needed!</p><br>
            <p>We checked out early morning at around 530 and were back by 8am-just in time for office. Believe it or not- there were no monday morning blues- on the contrary I was fully geared up...! Looking forward to yet another unplanned weekend- out of bangalore!</p><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg"> <h5 class="attraction-sub-heading"><b>Mysore Palace</b></h5>The most popular attraction of Mysore city is the Royal Mysore Palace. It is known to be one of the biggest and most beautiful palaces of India. Designed by the British architect Henry Irwin, the palace has a blend of Hindu, Islamic and Gothic style of architecture. It’s a three storey building with a tower which goes as high as five storeys. The palace flaunts intricately carved mahogany ceilings, beautiful marble flooring, luxuriously designed gold and silver plated door and furniture and a kaleidoscope of beautiful paintings and portraits. The Palace is now converted into a museum and is open for visits throughout the year. During Sundays, public holidays and on the occasion of Dussehra, the Palace is illuminated with more than 98000 electric bulbs for one hour in the evening and looks amazingly majestic and beautiful.<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg"><h5 class="attraction-sub-heading"><b>Chamundi Hills</b/b></h5>Located around 12 Kms from Mysore, Chamundi Hills is majorly known for its temple Chamundeshwari Temple. There is a stairway of around 1000 steps up to the hill where the temple is located. The temple has many structures which are of significant historical importance. It has a giant structure of Nandi – the bull known to the vehicle of Lord Shiva which is around 5m tall and is known to be carved out of a single granite rock.
                    
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"><h5 class="attraction-sub-heading"><b>Mysore Zoo</b></b></h5>Located in the heart of the city is the Mysore Zoo which is very popular among the localites unlike zoos of many other cities. This owing to a wide variety of rare animal species found at the zoo. It’s spread across a huge area and has animals such as Zebras, Giraffes, Gorillas, Tigers and many rare bird species too. The zoo offers a buggy service and even has small snacks and souvenir counters. Karanji Lake which is again a beautiful spot is located near the zoo itself and witnesses some rare migratory birds during the season.
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Hina_Mysore_Images/Brindavan%20garden.jpg"> <h5 class="attraction-sub-heading"><b>Brindavan Gardens</b></h5>
                  Brindavan Gardens are located around 20 Kms from the Mysore city. It is built near river Cauvery and attracts a lot of tourists and localites as a famous picnic spot. The garden flaunts some of the most exquisite arrangement of unique flowers and topiaries. The garden also has beautiful fountains and also presents a musical show in the evenings – a lovely harmony of water with music and lights.
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Hina_Mysore_Images/Mysore%20pak.jpg" <h5 class="attractions-sub-heading"><b>Mysore Pak</b></h5><br>
                   How can you Mysore trip be complete without tasting Mysore Pak? Let your diet plan alone for a while and savor this mouth-watering sweet dish when you’re in Mysore. Prepared in pure ghee, sugar, gram flour and cardamom, this sweet is widely enjoyed by the localites and is even available in other cities as a popular sweet.

                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                       <a href="../images/Hina_Mysore_Images/Mysore%20Palace.jpg" data-lightbox="roadtrip" data-title="The famous Mysore Palace"><img src="../images/Hina_Mysore_Images/Mysore%20Palace.jpg" id="pic2"></a>
                           <p>"The famous Mysore Palace"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Brindavan%20garden.jpg" data-lightbox="roadtrip" data-title="Lovely musical fountains at Brindavan Gardens"><img src="../images/Hina_Mysore_Images/Brindavan%20garden.jpg" id="pic4"></a>
                           <p>Lovely musical fountains at Brindavan Gardens</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg" data-lightbox="roadtrip" data-title="Chamundeshwari Temple"><img src="../images/Hina_Mysore_Images/Chamundi%20hills%20temple.jpg" id="pic7"></a>
                           <p>Chamundeshwari Temple</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Karanji%20Lake.jpg" data-lightbox="roadtrip" data-title="Karanji Lake"><img src="../images/Hina_Mysore_Images/Karanji%20Lake.jpg"></a>
                           <p>Karanji Lake</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Hina_Mysore_Images/marigold.jpg" data-lightbox="roadtrip" data-title="The lovely marigold farms on way to Mysore"><img src="../images/Hina_Mysore_Images/marigold.jpg"></a>
                           <p>The lovely marigold farms on way to Mysore</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Mysore%20pak.jpg" data-lightbox="roadtrip" data-title="Mysore Pak"><img src="../images/Hina_Mysore_Images/Mysore%20pak.jpg"></a>
                           <p>Mysore Pak</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Mysore%20zoo.jpg" data-lightbox="roadtrip" data-title="Tigers resting at Mysore Zoo"><img src="../images/Hina_Mysore_Images/Mysore%20zoo.jpg"></a>
                           <p>Tigers resting at Mysore Zoo</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Nandi.jpg" data-lightbox="roadtrip" data-title="Nandi - vehicle of Lord Shiva at Chamundeshwari Temple"><img src="../images/Hina_Mysore_Images/Nandi.jpg"></a>
                           <p>Nandi - vehicle of Lord Shiva at Chamundeshwari Temple</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Hina_Mysore_Images/Palace%20evening.jpg" data-lightbox="roadtrip" data-title="Mysore Place on a Sunday Evening"><img src="../images/Hina_Mysore_Images/Palace%20evening.jpg"></a>
                           <p>Mysore Place on a Sunday Evening</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Hina_Mysore_Images/Resort.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Windflower Resort, Mysore</div>
                        
                        Cost : 6500-9000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>