<div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="tab-content blog-text">
            
        <div role="tabpanel" class="tab-pane fade in active" id="about">
    <h4 class="about-sub-heading"> About Palampur</h4>


            <div>
            Palampur is a small green hill city located in Kangra Valley in Himachal Pradesh. Huge spreads of tea gardens and pine trees make it one of the most picturesque hill stations of India. It is much less commercial and less populated compared to nearby hill stations Dharamshala and Mcleodganj, and hence is perfect for a quiet and relaxing holiday in the midst of slow clad mountains and shimmering rich green flora.

 </div>

            
            <hr>
            
            <div class="parent-null">
                <h4 class="about-sub-heading"> How To Reach</h4>
                
                <div class="reach-by">
                    
                    <ul>
                
                    <li>
                        <div class="col-md-2">
                        <img src="../images/icon/Plane.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading"> BY AIR: </div>
                        
                   Gaggal Airport at Dharamshala is the closest airport, around 40 Kms from Palampur. The drive is beautiful with the view of lovely tea gardens. Taxis and cabs are easily available from the airport.
                            </div>
                    </li>
                    
                    <li>
                        <div class="col-md-2">
                            <img src="../images/icon/Bus.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-10">
                        <div class="travel-by-heading">  
                        
                        BY BUS: </div>
                        
                      State run buses operated by Himachal Pradesh State Road Transport Corporation (HPSRTC) ply regularly from nearby cities. Delhi to Palampur is around 480 Kms and buses take 8-10 hours to reach.
                        </div>
                    </li>
                    
                
                    <li>
                        <div class="col-md-2"> <img src="../images/icon/Train.jpg" class="icon-left-align"> </div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">
                        
                        BY TRAIN: </div>
                        
                        Although Palampur has its own railway station, it not very well connected to other cities. Pathankot is the well-connected closest train station to Palampur, around 120 Kms away. Taxis are available from Pathankot to Palampur easily and the 3-4 hour drive is enchanting. You would not get disappointed with the lovely views the driveway has to offer.
                        </div>
                    </li>
                    
                    <li>
                        
                        <div class="col-md-2"><img src="../images/icon/Car.jpg" class="icon-left-align"></div>
                        
                        <div class="col-md-10">
                    <div class="travel-by-heading">  
                        
                        BY ROAD - OWN VEHICLE: </div>
                       If you’re planning a road trip from Delhi, you could take Delhi-Panipat-Karnal-Ambala route which would lead you straight to Banur Road, after which you can take a right and hit Palampur via Nangal-Kangra-Nagarkota. The drive would be long and hence you could take a few leisurely breaks in between.
                            </div>
                    </li>
                    
                
                </ul>
                    
                    
                </div>
            
            </div>
        <hr>
        <h4 class="about-sub-heading"> Best Time To Go </h4>
        
        <div class="best-time">
        <ul>
        
            <li>
                <div class="col-md-2"><img src="../images/icon/Calendar.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        BEST TIME TO GO: </div>
                        If you’re a snowfall couple, Palampur could be a small pretty hill station to cherish that. The temperatures in winters (November-February) go down to subzero levels and you could have lovely view of the snowclad Dhauladhar range. Other months are nice to visit too, with temperatures remaining comfortably within 8 degrees to 30 degrees.
            </div>
            
            </li>
            
            <li>
                
                <div class="col-md-2"><img src="../images/icon/Weather.jpg" class="icon-left-align"></div>
                
                <div class="col-md-10">
                <div class="travel-by-heading">  
                        
                        WEATHER: </div>
                        
                        
                         
            
                
                11-23 degree C
                <br>Humidity 36%
                    
            </div>        
                    </li>
        
        </ul>
        </div>
        
        
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="travelstory">
                                        
 <p>Long weekend!!! Long Weekend!!! Buzzing around the corridors of our office, me and my husband decided to make a short trip to Palampur, in the lap of Kangra valley in Himachal.</p><br>
<p>We took a night train from Delhi to Pathankot and reached Pathankot Cantt at 6:30 in the morning. From there we headed to Palampur via taxi. The 4 hour long drive was extremely scenic with tea gardens, green meadows all around, little streams flowing across, pine trees standing tall and Dhauladhar Range enclosing the valley.</p><br>
                          <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg"></p><br>
            <p>We finally we reached our destination Taragarh palace in Palampur. Taragarh palace is beautiful heritage resort in the midst of forest acquired by royal family of Jammu and Kashmir.</p><br>
             <img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/Taragarh.jpg"> <br><br>
            <p><b>Day-1</b></p>
            <p>The day went by pretty much relaxing and catching up with each other after our busy schedules in Delhi. We went for short nature walk in the nearby area. In the evening we went to Kaya-Kalp Naturopathy Center to take a relaxing massage followed by Shirodhara session. The session was extremely rejuvenating for both of us! Must needed relaxation together :)</p><br>
             <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/Nature%20walk.jpg"></p><br>
            
            <p><b>Day-2</b></p>
            <p>After a heavy breakfast at the resort, we took off to Baijnath Temple. It’s an ancient temple built during the time of Pandavas about 5000 years ago. A small trail downhill leads to a rivulet where devotes usually take a bath before to go the sacred temple. The temple in itself has a very serene atmosphere.</p><br>
                    <img class="center-align" src="../images/Surbhi_Palampur_Images/Temple.jpg">
            <img class="center-align" src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"><br><br>    
<p>While coming back suddenly we saw a group of paragliders who told us that a world cup tournament for paragliding was going to take place at Bir so they were all practicing. Astounding things happen at all beautiful places around the world! We ended our day with a late evening romantic nature trail around the resort!!! It was lovely spending time together and relaxing the lap of nature.</p><br>
            <p><img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg"></p><br>
            
             <p><b>Day-3</b></p><br>
<p>We woke up and saw snow clad mountains shimmering in the sun. We learnt that it had snowed heavily up there on the mountains last night. Locals told us that during winters and spring Dhauladhar Range looks spectacular and are also known as ‘Silver Mountains’. We were lucky to have a glimpse of the same.</p><br>
             <img class="center-align-full-row" src="../images/Surbhi_Palampur_Images/dhauladhar.jpg"><br><br>
<p>Then we headed to Shoba Singh Art Gallery. Shobha Singh is renowned Indian artist highly acclaimed for his painting ‘Sohini Mahiwal’ who spent his life at Andretta, near Palampur. Many of his art pieces have been displayed at his cozy home at Andretta.</p><br>
    <img class="center-align" src="../images/Surbhi_Palampur_Images/Sohni_mahiwal_1.jpg">
           <img class="center-align" src="../images/Surbhi_Palampur_Images/neugal.jpg"> <br><br>  
    <p>After lunch, we went to Neugal Cafe’ in Palampur. The café is really known for its food and ambiance. However, it turned out to be a big disappointment. The café was in a really shabby condition and looked dark and dull.</p><br>
            <p>Finally at 4 PM, we headed to Pathankot to catch our train to Delhi. For me the drive back was one of the high points …listening to soft music and gazing at the marvel of nature. It was an absolutely beautiful and a much needed break for us from work and everything else!</pr><br><br>


                    </p>
                       
                    </div>



                
                <div role="tabpanel" class="tab-pane fade" id="attractions">
                    
                    
                <ul>
                    <li class="vertical-image-list">
                        <img class="left-align" src="../images/Surbhi_Palampur_Images/gardens.jpg"> <h5 class="attraction-sub-heading"><b>Baijnath Temple</b></h5>One of the main attractions around the region, Baijnath temple is around 15 Kms from Palampur. It is an ancient temple dedicated to lord Shiva. It’s not just the temple that’s beautiful but the surroundings too. It has a lovely garden like area with lush green grass shimmering in the winter season. The drive to the temple is also lovely with picturesque views to behold!<br>
                        
                    </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Surbhi_Palampur_Images/tea%20gardens%20attarctions.jpg"><h5 class="attraction-sub-heading"><b>Tea Gardens</b></b></h5>Palampur is called the tea-capital of North India for a reason. It has a wide spread of such gardens could be viewed in and around the hill city. A short stroll through the gardens with a view of snow clad Dhauladhar range in the background could be the highest point of your trip to Palampur. The beauty of the shimmering green blanket of leaves with a few orange trees sprinkled across the area is breathtaking!
                    
                    </li><li class="vertical-image-list">
                        <img class="left-align" src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"> <h5 class="attraction-sub-heading"><b>Paplung Sherabling Monastry</b></h5>
                  It’s a beautiful monastery with 8 stupas with larger than life sized Buddha statues. Around 700 monks stay and study there. The monastery is beautifully made with Tibetan architecture and has a soothing and calming atmosphere.
    
                     </li><li class="vertical-image-list">
                    <img class="left-align" src="../images/Surbhi_Palampur_Images/Sohni_mahiwal_1.jpg" <h5 class="attractions-sub-heading"><b>Shoba Singh Art Gallery</b></h5><br>
                   Shobha Singh is renowned Indian artist highly acclaimed for his painting ‘Sohini Mahiwal’ who spent his life at Andretta, near Palampur. Many of his art pieces have been displayed at his cozy home at Andretta.

                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="photogallery">
                    
                    
                    <section id="pics">
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/dhauladhar.jpg" data-lightbox="roadtrip" data-title="Glimpse of snow capped Dhauladhar range"><img src="../images/Surbhi_Palampur_Images/dhauladhar.jpg" id="pic1"></a>
                           <p>Glimpse of snow capped Dhauladhar range</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/drive.jpg" data-lightbox="roadtrip" data-title="Beautiful driveway from Pathankot to Palampur"><img src="../images/Surbhi_Palampur_Images/drive.jpg" id="pic2"></a>
                           <p>Beautiful driveway from Pathankot to Palampur</p>
                       </div>
                       
                       
                    
                       <div class="pin">
                       <a href="../images/Surbhi_Palampur_Images/Temple.jpg" data-lightbox="roadtrip" data-title="Baijnath Temple"><img src="../images/Surbhi_Palampur_Images/Temple.jpg" id="pic2"></a>
                           <p>"Baijnath Temple"</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/gardens.jpg" data-lightbox="roadtrip" data-title="Lush green gardens surrounding Baijnath Temple"><img src="../images/Surbhi_Palampur_Images/gardens.jpg" id="pic4"></a>
                           <p>Lush green gardens surrounding Baijnath Temple</p>
                    
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg" data-lightbox="roadtrip" data-title="Lovely gardens at Taragarh Resort under sweet winter sunlight"><img src="../images/Surbhi_Palampur_Images/hotel%20gardens.jpg" id="pic7"></a>
                           <p>Lovely gardens at Taragarh Resort under sweet winter sunlight</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/Nature%20walk.jpg" data-lightbox="roadtrip" data-title="Nature walks at Palampur"><img src="../images/Surbhi_Palampur_Images/Nature%20walk.jpg"></a>
                           <p>Nature Walks at Palampur</p>
                       </div>
                       
                       <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/Taragarh.jpg" data-lightbox="roadtrip" data-title="Taragarh Resort"><img src="../images/Surbhi_Palampur_Images/Taragarh.jpg"></a>
                           <p>Taragarh Resort</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg" data-lightbox="roadtrip" data-title="Beautiful Tea gardens at Palampur"><img src="../images/Surbhi_Palampur_Images/tea%20gerdens%20use.jpg"></a>
                           <p>Beautiful Tea gardens at Palampur</p>
                       </div>
                        
                        <div class="pin">
                           <a href="../images/Surbhi_Palampur_Images/The%20Buddha.jpg" data-lightbox="roadtrip" data-title="The huge Buddha statue at Paplung Sherabling Monastry"><img src="../images/Surbhi_Palampur_Images/The%20Buddha.jpg"></a>
                           <p>The huge Buddha statue at Paplung Sherabling Monastry</p>
                       </div>
                        
                    </section>
                    
                    
                    </div>
                <div role="tabpanel" class="tab-pane fade" id="stay">
                    
                             <div class="hotels">
                        
                        <div class="stay-heading"> Our Curated Listing Of Hotels For Couples </div>
                    
                    <ul>
                
                    
                        
                        <li>
                        <div class="col-md-4">

                            <img src="../images/Surbhi_Palampur_Images/Taragarh%20stay%20section.jpg" class="icon-left-align">
                        </div>
                        
                        <div class="col-md-8">
                        <div class="hotel-heading">  
                        
                        Taragarh Heritage Resort, Palampur</div>
                        
                        Cost : 7000-9000
                        </div>
                    </li>
                        
                </ul>
                    
                    
                    
                    
                    
                    
    </div>
                    
                    
                </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>