<div class="banner">
            <%= render "/ct_controller/topnav" %>
		
			<div class="banner-bottom left-right-margin">
			    
                <%= render get_place_title_url(params) %>
                						
            </div>
</div>

<div class="parent-null">
<!--    <div class="col-md-3"></div>-->
    <div class="center-text">
        <div class="page-menu">
  <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation"><a href="#travelstory" aria-controls="profile" role="tab" data-toggle="tab">Travel Story</a></li>
                <li role="presentation"><a href="#attractions" aria-controls="messages" role="tab" data-toggle="tab">Attractions</a></li>
                <li role="presentation"><a href="#photogallery" aria-controls="settings" role="tab" data-toggle="tab">Photo Gallery</a></li>
                <li role="presentation"><a href="#stay" aria-controls="settings" role="tab" data-toggle="tab">Stay</a></li>
            </ul>
        </div>
    </div>
</div>



<%= render get_place_url(params) %>