<div class="banner">
            <div class="collapse navbar-collapse main-top">
                <nav class="navbar remove-margin">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/index.html"><img class="logo-ct"  src="/images/CT-Logo-2heart.png" />   </a>
                        </div>

                        <ul class="nav navbar-nav">
                                <li><a href="./about.html">About Us</a></li>
                                <li><a href="./share.html">Share Your Trip</a></li>
                                <li><a href="./contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
		
			<div class="banner-bottom left-right-margin">
			    
                <h3 class = "center-align-place"><%= @placeHeading %></h3>
                <hr>						
            </div>
</div>

<div class="parent-null">
<!--    <div class="col-md-3"></div>-->
    <div class="center-text">
        <div class="page-menu">
  <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation"><a href="#travelstory" aria-controls="profile" role="tab" data-toggle="tab">Travel Story</a></li>
                <li role="presentation"><a href="#attractions" aria-controls="messages" role="tab" data-toggle="tab">Attractions</a></li>
                <li role="presentation"><a href="#photogallery" aria-controls="settings" role="tab" data-toggle="tab">Photo Gallery</a></li>
                <li role="presentation"><a href="#stay" aria-controls="settings" role="tab" data-toggle="tab">Stay</a></li>
            </ul>
        </div>
    </div>
</div>



<%= render getPlaceUrl(params) %>